<p><img src="/static/images/articles/aws-security-group-ip/ssh-ec2.png" alt="Connexion ssh à une instance EC2" width="100%"/></p>
<h2 id="introduction" class="mt-5"><span>Introduction </span><a class="icon-link icon-link-hover text-secondary" href="#introduction">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>Lorsqu&rsquo;on expose publiquement des <strong>ressources AWS</strong> (comme une instance EC2), les <a href="https://docs.aws.amazon.com/fr_fr/vpc/latest/userguide/vpc-security-groups.html">groupes de sécurité</a> permettent d&rsquo;en contrôler le trafic entrant et sortant.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-security-group.png" alt="Groupes de sécurité AWS" width="100%" style="max-width: 600px;"/></p>

<p>C&rsquo;est en particulier nécessaire pour contrôler les <strong>connexions SSH entrantes</strong> si on expose une instance EC2 (donc une VM) sur laquelle peut par exemple
tourner un site web.</p>

<p>En effet, même si l&rsquo;accès à l&rsquo;instance est déjà contrôlé par les <a href="https://docs.aws.amazon.com/fr_fr/AWSEC2/latest/UserGuide/ec2-key-pairs.html">key pairs</a>,
cela reste une <strong>très mauvaise pratique</strong> que d&rsquo;<strong>exposer trop largement</strong> voire au web tout entier un accès ssh à celle-ci.</p>

<blockquote>
<p>L&rsquo;actualité récente a offert une piqûre de rappel à ce sujet avec la <a href="https://gist.github.com/thesamesam/223949d5a074ebc3dce9ee78baad9e27">faille <em>backdoor</em> de la bibliothèque <code>xz-utils</code></a> qui a bien montré qu&rsquo;on ne pouvait uniquement se reposer sur ssh pour sécuriser l&rsquo;accès à une ressource.</p>
</blockquote>

<p>La solution logique si on travaille seul sur cette ressource AWS est de n&rsquo;y autoriser l&rsquo;accès SSH que pour l&rsquo;<strong>adresse IP publique de son PC</strong>.
Cependant, cette IP peut être amenée à constamment changer (redémarrage du routeur, utilisation du PC en différents endroits).</p>

<p>C&rsquo;est pourquoi nous allons voir dans cet article comment <strong>mettre à jour dynamiquement</strong> cette <strong>adresse IP</strong> à l&rsquo;aide d&rsquo;un script <strong>Powershell</strong>
que l&rsquo;on pourra ordonnancer sur son PC Windows.</p>
<h2 id="cas-d-utilisation" class="mt-5"><span>Cas d&rsquo;utilisation </span><a class="icon-link icon-link-hover text-secondary" href="#cas-d-utilisation">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>Nous allons étudier le cas suivant :</p>

<ul>
<li><a href="https://docs.aws.amazon.com/fr_fr/AWSEC2/latest/UserGuide/concepts.html">Instance AWS EC2</a> Linux disposant d&rsquo;une <strong>IP publique</strong> (avec <a href="https://docs.aws.amazon.com/fr_fr/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html">Elastic IP</a>)</li>
<li>Exposer les <strong>ports 80 et 443</strong> (http et https) de l&rsquo;instance à tout le web</li>
<li>Exposer le <strong>port ssh 22</strong> uniquement au PC de l&rsquo;utilisateur</li>
<li><strong>Modifier dynamiquement</strong> l&rsquo;IP définie dans la configuration de l&rsquo;instance AWS EC2 pour l&rsquo;accès ssh lorsque l&rsquo;utilisateur ouvra sa <strong>session Windows</strong></li>
</ul>

<p>Nous allons donc voir comment utiliser les <a href="https://docs.aws.amazon.com/fr_fr/powershell/latest/userguide/pstools-welcome.html">outils AWS pour Powershell</a> qui permettent d&rsquo;effectuer des tâches d&rsquo;administration sur des ressources AWS, dont les instances EC2.</p>

<p>Dans notre cas, nous devrons travailler avec les <a href="https://docs.aws.amazon.com/fr_fr/vpc/latest/userguide/vpc-security-groups.html">groupes de sécurité</a> qui permettent de contrôler les flux entrants et sortants vers notre instance EC2.</p>

<p>Il faudra donc créer un <strong>script Powershell</strong> qui modifiera la règle de sécurité du <strong>port ssh 22</strong> pour le groupe de sécurité auquel est rattaché notre instance EC2, et le <strong>planifier</strong> pour qu&rsquo;il s&rsquo;exécute lorsque l&rsquo;utilisateur ouvre sa session Windows.</p>

<p>Nous ne reviendrons pas ici sur la création de l&rsquo;instance EC2 ni sur celle du groupe de sécurité. Nous considérons donc ce dernier créé avec des <strong>règles entrantes</strong> comme ci-dessous.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-security-group-2.png" alt="Règles entrantes du groupe de sécurité" width="100%" style="max-width: 850px;"/></p>
<h2 id="creation-de-l-utilisateur-iam" class="mt-5"><span>Création de l&rsquo;utilisateur IAM </span><a class="icon-link icon-link-hover text-secondary" href="#creation-de-l-utilisateur-iam">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>Le script aura besoin d&rsquo;un accès au compte AWS utilisé pour gérer l&rsquo;instance EC2, avec les droits suffisants pour effectuer des modifications sur les groupes de sécurité. Ceci est assuré par l&rsquo;interface <a href="https://docs.aws.amazon.com/fr_fr/IAM/latest/UserGuide/introduction.html">IAM</a> (Identity and Acess Management) de ce compte.</p>

<blockquote>
<p>Nous n&rsquo;utiliserons pas ici la fonctionnalité <a href="https://docs.aws.amazon.com/fr_fr/singlesignon/latest/userguide/what-is.html">IAM Identity Center</a> qui s&rsquo;adresse à des utilisateurs humains (activation par adresse e-mail, &hellip;).</p>
</blockquote>
<h3 class="fw-bold mt-4 mb-4" id="creation-du-groupe-d-utilisateurs"><span>Création du groupe d&rsquo;utilisateurs </span><a class="icon-link icon-link-hover text-secondary" href="#creation-du-groupe-d-utilisateurs">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Conformément aux bonnes pratiques d&rsquo;AWS, nous allons créer un <a href="https://docs.aws.amazon.com/fr_fr/IAM/latest/UserGuide/id_groups_create.html">groupe d&rsquo;utilisateurs</a> auquel nous allons accorder les droits suffisants plutôt que de les définir directement pour l&rsquo;utilisateur.</p>

<p>Ceci s&rsquo;effectue très simplement sur l&rsquo;interface IAM du compte AWS à partir du menu <code>Access management -&gt; User groups</code> disponible sur le panneau gauche de la page.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-user-group-1.png" alt="Création d'un groupe d'utilisateurs IAM'" width="100%" style="max-width: 750px;"/></p>

<p>Nous n&rsquo;allons qu&rsquo;indiquer le nom du groupe lors de sa création dans le menu suivant.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-user-group-2.png" alt="Menu de création d'un groupe d'utilisateurs'" width="100%" style="max-width: 750px;"/></p>

<p>Et voilà, le groupe créé apparaît dans la liste de la page <code>Access management -&gt; User groups</code>.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-user-group-3.png" alt="Liste des groupes d'utilisateurs'" width="100%" style="max-width: 750px;"/></p>
<h3 class="fw-bold mt-4 mb-4" id="ajout-d-une-politique-de-permissions-au-groupe"><span>Ajout d&rsquo;une politique de permissions au groupe </span><a class="icon-link icon-link-hover text-secondary" href="#ajout-d-une-politique-de-permissions-au-groupe">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Maintenant, nous allons accorder les droits suffisants au groupe créé afin de pouvoir effectuer les modifications de groupe de sécurité souhaitées.</p>

<p>Pour ce faire, il faut sélectionner le groupe dans la liste de la page <code>Access management -&gt; User groups</code>, choisir l&rsquo;onglet <code>Permissions</code> et cliquer sur <code>Create inline policy</code> dans le menu déroulant <code>Add permissions</code>.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-permissions-1.png" alt="Permissions du groupe'" width="100%" style="max-width: 750px;"/></p>

<p>Nous allons ajouter la politique de permissions suivante sous format json.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="nt">&#34;Version&#34;</span><span class="p">:</span> <span class="s2">&#34;2012-10-17&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">    <span class="nt">&#34;Statement&#34;</span><span class="p">:</span> <span class="p">[</span>
</span></span><span class="line"><span class="cl">        <span class="p">{</span>
</span></span><span class="line"><span class="cl">            <span class="nt">&#34;Effect&#34;</span><span class="p">:</span> <span class="s2">&#34;Allow&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">            <span class="nt">&#34;Action&#34;</span><span class="p">:</span> <span class="p">[</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:DescribeInstanceAttribute&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:DescribeInstanceStatus&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:DescribeInstances&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:DescribeNetworkAcls&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:DescribeSecurityGroups&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:DescribeSecurityGroupRules&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:ModifySecurityGroupRules&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:CreateSecurityGroup&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:DeleteSecurityGroup&#34;</span>
</span></span><span class="line"><span class="cl">            <span class="p">],</span>
</span></span><span class="line"><span class="cl">            <span class="nt">&#34;Resource&#34;</span><span class="p">:</span> <span class="s2">&#34;*&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="p">},</span>
</span></span><span class="line"><span class="cl">        <span class="p">{</span>
</span></span><span class="line"><span class="cl">            <span class="nt">&#34;Effect&#34;</span><span class="p">:</span> <span class="s2">&#34;Allow&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">            <span class="nt">&#34;Action&#34;</span><span class="p">:</span> <span class="p">[</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:RevokeSecurityGroupEgress&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:RevokeSecurityGroupIngress&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:AuthorizeSecurityGroupEgress&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:AuthorizeSecurityGroupIngress&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:UpdateSecurityGroupRuleDescriptionsEgress&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:UpdateSecurityGroupRuleDescriptionsIngress&#34;</span>
</span></span><span class="line"><span class="cl">            <span class="p">],</span>
</span></span><span class="line"><span class="cl">            <span class="nt">&#34;Resource&#34;</span><span class="p">:</span> <span class="s2">&#34;arn:aws:ec2:*:*:security-group/*&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="p">]</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span></code></pre>
<p>Nous utiliserons donc en particulier les droits <code>ec2:RevokeSecurityGroupIngress</code> et <code>ec2:AuthorizeSecurityGroupIngress</code> pour effectuer les modifications que l&rsquo;on souhaite dans les groupes de sécurité de l&rsquo;instance EC2 (disponibles dans la ressource <code>arn:aws:ec2:*:*:security-group/*</code>).</p>

<p>Enfin, la politique de permissions apparaît dans la définition du groupe d&rsquo;utilisateurs.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-permissions-2.png" alt="Permissions du groupe définies'" width="100%" style="max-width: 750px;"/></p>
<h3 class="fw-bold mt-4 mb-4" id="ajout-d-un-utilisateur-iam-dans-le-compte-aws"><span>Ajout d&rsquo;un utilisateur IAM dans le compte AWS </span><a class="icon-link icon-link-hover text-secondary" href="#ajout-d-un-utilisateur-iam-dans-le-compte-aws">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Nous pouvons enfin <a href="https://docs.aws.amazon.com/fr_fr/IAM/latest/UserGuide/id_users_create.html">créer un utilisateur IAM</a> qui disposera des droits souhaités.</p>

<p>Il suffit de se rendre dans le menu <code>Access management -&gt; Users</code> disponible sur le panneau gauche de l&rsquo;interface IAM, puis de créer l&rsquo;utilisateur à partir de cette page.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-user-1.png" alt="Création d'utilisateur IAM" width="100%" style="max-width: 750px;"/></p>

<p>Nous pourrons ensuite définir dans un premier temps son nom.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-user-2.png" alt="Création d'utilisateur IAM - étape 1" width="100%" style="max-width: 750px;"/></p>

<p>Et nous le rattacherons ensuite au groupe que nous avons créé pour qu&rsquo;il bénéficie des droits voulus.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-user-3.png" alt="Création d'utilisateur IAM - étape 2" width="100%" style="max-width: 750px;"/></p>

<p>Enfin, après avoir validé la dernière étape de vérification, nous allons pouvoir sélectionner l&rsquo;utilisateur et lui créer une <strong>clef d&rsquo;accès</strong> dans l&rsquo;onglet <code>Security credentials</code>.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-user-4.png" alt="Création d'utilisateur IAM - security credentials" width="100%" style="max-width: 850px;"/></p>

<p>Il faut dans un premier temps définir le cas d&rsquo;utilisation comme étant <code>Command Line Interface (CLI)</code> et <strong>cocher la case</strong> de confirmation en bas.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-user-5.png" alt="Création d'utilisateur IAM - access key" width="100%" style="max-width: 750px;"/></p>

<p>Enfin, nous obtenons dans l&rsquo;étape 3 la clef d&rsquo;accès et son mot de passe à <strong>enregistrer</strong> dans un endroit sécurisé pour être utilisée plus tard par le script.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-user-6.png" alt="Création d'utilisateur IAM - access key final" width="100%" style="max-width: 750px;"/></p>
<h3 class="fw-bold mt-4 mb-4" id="ajouter-la-clef-d-acces-dans-windows-credential-manager"><span>Ajouter la clef d&rsquo;accès dans Windows Credential Manager </span><a class="icon-link icon-link-hover text-secondary" href="#ajouter-la-clef-d-acces-dans-windows-credential-manager">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Nous allons stocker de façon sûre la clef d&rsquo;accès générée dans <a href="https://support.microsoft.com/fr-fr/windows/acc%C3%A8s-au-gestionnaire-d-informations-d-identification-1b5c916a-6a16-889f-8581-fc16e8165ac0">Windows Credential Manager</a> qui permettra aussi de la retrouver facilement dans le script Powershell.</p>

<p>Ceci s&rsquo;effectue très simplement dans Powershell après avoir installé le module <a href="https://github.com/echalone/PowerShell_Credential_Manager">Powershell Credential Manager</a>. Nous allons donner le nom de <code>aws-editor-key</code> à  l&rsquo;entrée du Windows Credential Manager correspondant à cette clef.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nb">Install-Module</span> <span class="n">CredentialManager</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Récupérer la clef précédente et son mot de pass</span>
</span></span><span class="line"><span class="cl"><span class="nv">$awsAccessKeyName</span> <span class="p">=</span> <span class="s2">&#34;XXXXXXXXXXXXX&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">$awsAccessKeyPass</span> <span class="p">=</span> <span class="s2">&#34;XXXXXXXXXXXXX&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nb">New-StoredCredential</span> <span class="n">-Target</span> <span class="s1">&#39;aws-editor-key&#39;</span> <span class="n">-Type</span> <span class="n">Generic</span> <span class="n">-UserName</span> <span class="nv">$awsAccessKeyName</span> <span class="n">-Password</span> <span class="nv">$awsAccessKeyPass</span> <span class="n">-Persist</span> <span class="s1">&#39;LocalMachine&#39;</span>
</span></span></code></pre><h2 id="automatisation-du-changement-de-l-ip" class="mt-5"><span>Automatisation du changement de l&rsquo;IP </span><a class="icon-link icon-link-hover text-secondary" href="#automatisation-du-changement-de-l-ip">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>Nous allons maintenant voir comment procéder au renouvellement automatique de l&rsquo;adresse IP définie dans la règle entrante ssh de l&rsquo;instance EC2.</p>
<h3 class="fw-bold mt-4 mb-4" id="script-powershell"><span>Script Powershell </span><a class="icon-link icon-link-hover text-secondary" href="#script-powershell">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Après avoir créé un utilisateur IAM disposant des droits suffisants pour <strong>modifier les groupes de sécurité</strong> de notre instance, nous pouvons donc produire un script Powershell qui permettra d&rsquo;automatiser le <strong>changement de l&rsquo;adresse</strong> IP autorisée à se connecter en ssh à l&rsquo;instance EC2.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c"># Dependencies : install the following PS modules</span>
</span></span><span class="line"><span class="cl"><span class="c"># Install-Module -Name AWS.Tools.Installer</span>
</span></span><span class="line"><span class="cl"><span class="c"># Install-AWSToolsModule AWS.Tools.EC2</span>
</span></span><span class="line"><span class="cl"><span class="c"># Install-Module -Name TUN.CredentialManager</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Prerequisites : </span>
</span></span><span class="line"><span class="cl"><span class="c"># - aws user credentials saved into Windows Credential Manager</span>
</span></span><span class="line"><span class="cl"><span class="c"># - on aws : usern rattached to policy with enough rights</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c">#############</span>
</span></span><span class="line"><span class="cl"><span class="c"># Variables #</span>
</span></span><span class="line"><span class="cl"><span class="c">#############</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># AWS configuration</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Regions can be an array (like @(&#34;eu-west-3&#34;, &#34;eu-west-1&#34;)) to match the security groups</span>
</span></span><span class="line"><span class="cl"><span class="c"># or a string to apply the value to all security groups</span>
</span></span><span class="line"><span class="cl"><span class="nv">$regions</span> <span class="p">=</span> <span class="s2">&#34;eu-west-3&#34;</span>
</span></span><span class="line"><span class="cl"><span class="c"># Security group names array</span>
</span></span><span class="line"><span class="cl"><span class="nv">$securityGroupNames</span> <span class="p">=</span> <span class="p">@(</span><span class="s2">&#34;launch-wizard-3&#34;</span><span class="p">)</span>
</span></span><span class="line"><span class="cl"><span class="c"># Aws profile name where credentials are stored</span>
</span></span><span class="line"><span class="cl"><span class="nv">$awsProfileName</span> <span class="p">=</span> <span class="s2">&#34;editor&#34;</span>
</span></span><span class="line"><span class="cl"><span class="c"># In case of other value for ssh port; otherwise, default value is 22</span>
</span></span><span class="line"><span class="cl"><span class="c"># $sshPorts = @(22, 22)</span>
</span></span><span class="line"><span class="cl"><span class="c"># Same for cidrMask with default value 32</span>
</span></span><span class="line"><span class="cl"><span class="c"># $cidrMasks = @(&#34;32&#34;, &#34;32&#34;)</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Windows Credential Manager target</span>
</span></span><span class="line"><span class="cl"><span class="nv">$wcmAwsTarget</span> <span class="p">=</span> <span class="s2">&#34;aws-editor-key&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c">##########</span>
</span></span><span class="line"><span class="cl"><span class="c"># Script #</span>
</span></span><span class="line"><span class="cl"><span class="c">##########</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Get current public IP address</span>
</span></span><span class="line"><span class="cl"><span class="nv">$ipAddress</span> <span class="p">=</span> <span class="p">(</span><span class="nb">Invoke-WebRequest</span> <span class="n">ifconfig</span><span class="p">.</span><span class="n">me</span><span class="p">/</span><span class="n">ip</span><span class="p">).</span><span class="n">Content</span><span class="p">.</span><span class="n">Trim</span><span class="p">()</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Set AWS credentials from profile, create profile if not done</span>
</span></span><span class="line"><span class="cl"><span class="nv">$credentials</span> <span class="p">=</span> <span class="p">(</span><span class="nb">Get-AWSCredential</span> <span class="n">-ProfileName</span> <span class="nv">$awsProfileName</span><span class="p">)</span>
</span></span><span class="line"><span class="cl"><span class="k">if</span> <span class="p">(!</span><span class="nv">$credentials</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="c"># AWS credentials from Windows Credential Manager</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$awsCredentials</span> <span class="p">=</span> <span class="nb">Get-StoredCredential</span> <span class="n">-Target</span> <span class="nv">$wcmAwsTarget</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$accessKeyId</span> <span class="p">=</span> <span class="nv">$awsCredentials</span><span class="p">.</span><span class="n">UserName</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$secretAccessKey</span> <span class="p">=</span> <span class="p">(</span><span class="nb">New-Object</span> <span class="n">PSCredential</span> <span class="n">0</span><span class="p">,</span> <span class="nv">$awsCredentials</span><span class="p">.</span><span class="n">Password</span><span class="p">).</span><span class="n">GetNetworkCredential</span><span class="p">().</span><span class="n">Password</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="nb">Set-AWSCredential</span> <span class="n">-StoreAs</span> <span class="nv">$awsProfileName</span> <span class="n">-AccessKey</span> <span class="nv">$accessKeyId</span> <span class="n">-SecretKey</span> <span class="nv">$secretAccessKey</span>
</span></span><span class="line"><span class="cl">    <span class="nb">Write-Output</span> <span class="s2">&#34;INFO - AWS credential profile &#39;$awsProfileName&#39; created&#34;</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="nb">Set-AWSCredential</span> <span class="n">-ProfileName</span> <span class="nv">$awsProfileName</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Set default region for all following commands if $regions is a string</span>
</span></span><span class="line"><span class="cl"><span class="k">if</span> <span class="p">(</span><span class="nv">$regions</span><span class="p">.</span><span class="n">GetType</span><span class="p">().</span><span class="n">Name</span> <span class="o">-eq</span> <span class="s2">&#34;String&#34;</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="nb">Set-DefaultAWSRegion</span> <span class="n">-Region</span> <span class="nv">$regions</span>
</span></span><span class="line"><span class="cl">    <span class="nb">Write-Output</span> <span class="s2">&#34;INFO - Region set to $regions for all security groups&#34;</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nv">$i</span> <span class="p">=</span> <span class="n">0</span>
</span></span><span class="line"><span class="cl"><span class="k">foreach</span> <span class="p">(</span><span class="nv">$securityGroupName</span> <span class="k">in</span> <span class="nv">$securityGroupNames</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="c"># Setting the region if $regions is an array</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="p">(</span><span class="nv">$regions</span><span class="p">.</span><span class="n">GetType</span><span class="p">().</span><span class="n">Name</span> <span class="o">-eq</span> <span class="s2">&#34;Object[]&#34;</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nb">Set-DefaultAWSRegion</span> <span class="n">-Region</span> <span class="nv">$regions</span><span class="p">[</span><span class="nv">$i</span><span class="p">]</span>
</span></span><span class="line"><span class="cl">        <span class="nb">Write-Output</span> <span class="s2">&#34;INFO - Region set to $regions[$i] for &#39;$securityGroupName&#39; security group&#34;</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">    
</span></span><span class="line"><span class="cl">    <span class="nv">$securityGroup</span> <span class="p">=</span> <span class="p">(</span><span class="nb">Get-EC2SecurityGroup</span> <span class="n">-GroupName</span> <span class="nv">$securityGroupName</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="p">(!$?)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nb">Write-Output</span> <span class="s2">&#34;ERROR - &#39;$securityGroupName&#39; security group is not available on the AWS instance&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="k">continue</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$securityGroupId</span> <span class="p">=</span> <span class="nv">$securityGroup</span><span class="p">.</span><span class="n">GroupId</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="c"># Setting ssh port and IP range CIDR mask</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="p">(</span><span class="nb">Test-Path</span> <span class="n">variable</span>:</span><span class="k">global:</span><span class="n">sshPorts</span><span class="p">)</span> <span class="p">{
</span></span><span class="line"><span class="cl">        <span class="nv">$sshPort</span> <span class="p">=</span> <span class="nv">$sshPorts</span><span class="p">[</span><span class="nv">$i</span><span class="p">]</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$sshPort</span> <span class="p">=</span> <span class="n">22</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="p">(</span><span class="nb">Test-Path</span> <span class="n">variable</span>:</span><span class="k">global:</span><span class="n">cidrMasks</span><span class="p">)</span> <span class="p">{
</span></span><span class="line"><span class="cl">        <span class="nv">$cidrMask</span> <span class="p">=</span> <span class="nv">$cidrMask</span><span class="p">[</span><span class="nv">$i</span><span class="p">]</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$cidrMask</span> <span class="p">=</span> <span class="n">32</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$newIpRange</span> <span class="p">=</span> <span class="s2">&#34;$ipAddress/$cidrMask&#34;</span>
</span></span><span class="line"><span class="cl">    <span class="nb">Write-Output</span> <span class="s2">&#34;INFO - Setting $newIpRange IP range for ssh, &#39;$securityGroupName&#39; security group&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="c"># Get security group IP range set for ssh inbound rule</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$securityGroupIpRange</span> <span class="p">=</span> <span class="p">(</span><span class="nv">$securityGroup</span><span class="p">.</span><span class="n">IpPermissions</span> <span class="p">|</span> <span class="nb">Where-Object</span> <span class="p">{</span> <span class="nv">$_</span><span class="p">.</span><span class="n">FromPort</span> <span class="o">-eq</span> <span class="nv">$sshPort</span> <span class="p">}</span> <span class="p">|</span> <span class="nb">Select-Object</span> <span class="n">-ExpandProperty</span> <span class="n">Ipv4Ranges</span><span class="p">).</span><span class="n">CidrIp</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="p">(</span><span class="nv">$newIpRange</span> <span class="o">-eq</span> <span class="nv">$securityGroupIpRange</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nb">Write-Output</span> <span class="s2">&#34;INFO - $newIpRange ssh IP range was already set. Nothing to do for &#39;$securityGroupName&#39; security group&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="k">continue</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="c"># Revoke current security group ingress rule for SSH</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$ipPermissionOld</span> <span class="p">=</span> <span class="nb">New-Object</span> <span class="n">Amazon</span><span class="p">.</span><span class="n">EC2</span><span class="p">.</span><span class="n">Model</span><span class="p">.</span><span class="n">IpPermission</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$ipPermissionOld</span><span class="p">.</span><span class="n">IpProtocol</span> <span class="p">=</span> <span class="s2">&#34;tcp&#34;</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$ipPermissionOld</span><span class="p">.</span><span class="n">FromPort</span> <span class="p">=</span> <span class="nv">$sshPort</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$ipPermissionOld</span><span class="p">.</span><span class="n">ToPort</span> <span class="p">=</span> <span class="nv">$sshPort</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$ipPermissionOld</span><span class="p">.</span><span class="n">IpRanges</span><span class="p">.</span><span class="n">Add</span><span class="p">(</span><span class="nv">$securityGroupIpRange</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="nb">Revoke-EC2SecurityGroupIngress</span> <span class="n">-GroupId</span> <span class="nv">$securityGroupId</span> <span class="n">-IpPermission</span> <span class="nv">$ipPermissionOld</span>
</span></span><span class="line"><span class="cl">    <span class="nb">Write-Output</span> <span class="s2">&#34;INFO - $securityGroupIpRange ssh IP range removed for &#39;$securityGroupName&#39; security group&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="c"># Add the security group ingress rule to allow SSH from current IP address</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$IpRange</span> <span class="p">=</span> <span class="nb">New-Object</span> <span class="n">-TypeName</span> <span class="n">Amazon</span><span class="p">.</span><span class="n">EC2</span><span class="p">.</span><span class="n">Model</span><span class="p">.</span><span class="n">IpRange</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$IpRange</span><span class="p">.</span><span class="n">CidrIp</span> <span class="p">=</span> <span class="nv">$newIpRange</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$IpRange</span><span class="p">.</span><span class="n">Description</span> <span class="p">=</span> <span class="s2">&#34;SSH from Home&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="nv">$ipPermission</span> <span class="p">=</span> <span class="nb">new-object</span> <span class="n">Amazon</span><span class="p">.</span><span class="n">EC2</span><span class="p">.</span><span class="n">Model</span><span class="p">.</span><span class="n">IpPermission</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$ipPermission</span><span class="p">.</span><span class="n">IpProtocol</span> <span class="p">=</span> <span class="s2">&#34;tcp&#34;</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$ipPermission</span><span class="p">.</span><span class="n">FromPort</span> <span class="p">=</span> <span class="nv">$sshPort</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$ipPermission</span><span class="p">.</span><span class="n">ToPort</span> <span class="p">=</span> <span class="nv">$sshPort</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$ipPermission</span><span class="p">.</span><span class="n">Ipv4Ranges</span> <span class="p">=</span> <span class="nv">$IpRange</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="nb">Grant-EC2SecurityGroupIngress</span> <span class="n">-GroupId</span> <span class="nv">$securityGroupId</span> <span class="n">-IpPermissions</span> <span class="nv">$ipPermission</span>
</span></span><span class="line"><span class="cl">    <span class="nb">Write-Output</span> <span class="s2">&#34;INFO - $newIpRange ssh IP range successfully set for &#39;$securityGroupName&#39; security group&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="p">(++</span><span class="nv">$i</span><span class="p">)</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span></code></pre>
<p>Quelques remarques sur le script :</p>

<ul>
<li><p>Les dépendances en modules Powershell sont : <code>AWS.Tools.Installer</code> puis <code>AWS.Tools.EC2</code>, et <code>TUN.CredentialManager</code> pour l&rsquo;accès à Windows Credential Manager.</p></li>

<li><p>Le script prend en charge <strong>plusieurs groupes de sécurité</strong> si besoin dans le tableau <code>$securityGroupNames</code></p></li>

<li><p>L&rsquo;utilisateur peut soit définir une <strong>région AWS</strong> unique dans la variable <code>$regions</code> pour tous les groupes de sécurité, soit les donner sous forme de tableau pour chacun des groupes définis dans <code>$securityGroupNames</code>.</p></li>

<li><p>Il est possible de définir pour chaque groupe de sécurité le <strong>port ssh</strong> ainsi que le <strong>masque CIDR</strong> de la plage d&rsquo;IP autorisée (tableaux <code>$sshPorts</code> et <code>$cidrMasks</code>), sinon les valeurs par défaut <code>22</code> et <code>32</code> seront respectivement appliquées. Pour les masques CIDR, cela n&rsquo;est pas pertinent de choisir une autre valeur puisqu&rsquo;on ne veut appliquer la règle qu&rsquo;à <strong>une seule IP</strong>, mais cela laisse la porte ouverte à des modifications pour l&rsquo;appliquer à une plage d&rsquo;IP.</p></li>

<li><p>On récupère l&rsquo;IP publique du PC avec la commande <code>(Invoke-WebRequest ifconfig.me/ip).Content.Trim()</code></p></li>

<li><p>Les identifiants de l&rsquo;utilisateur IAM sont récupérés de <strong>Windows Credential Manager</strong> puis appliqués à la configuration AWS en définissant un profil <code>$awsProfileName</code> avec la commande <code>Set-AWSCredential -ProfileName $awsProfileName</code>. De même, la région AWS est définie avec la commande <code>Set-DefaultAWSRegion -Region $region</code></p></li>

<li><p>Ensuite, dans la boucle sur les différents <strong>groupes de sécurité</strong>, on effectue les tâches suivantes :</p>

<ul>
<li>Comparaison de la nouvelle plage d&rsquo;IP avec celle récupérée d&rsquo;AWS</li>
<li>Si identique, on ne fait rien.</li>
<li>Si différente, on <strong>supprime la règle de sécurité ssh</strong> actuelle du groupe de sécurité, et on en <strong>crée une nouvelle</strong> à partir de l&rsquo;adresse IP du PC.</li>
</ul></li>
</ul>

<p>Et voilà ! Lorsque le script est exécuté vous pouvez ensuite si les changements ont bien été appliqués aux <strong>groupes de sécurité de l&rsquo;instance EC2</strong>.</p>
<h3 class="fw-bold mt-4 mb-4" id="ordonnancement-du-script"><span>Ordonnancement du script </span><a class="icon-link icon-link-hover text-secondary" href="#ordonnancement-du-script">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Maintenant, nous allons ordonnancer le lancement du script grâce au <strong>planificateur de tâches</strong> Windows.</p>

<p><img src="/static/images/articles/aws-security-group-ip/task-scheduler-1.png" alt="Planificateur de tâches" width="100%" style="max-width: 600px;"/></p>

<p>Il suffit de se rendre dans le menu <code>Action -&gt; Créer une tâche</code> tout d&rsquo;abord.</p>

<p><img src="/static/images/articles/aws-security-group-ip/task-scheduler-2.png" alt="Création d'un tâche" width="100%" style="max-width: 600px;"/></p>

<p>Après avoir rempli les champs de l&rsquo;onglet &ldquo;Général&rdquo; à sa convenance, on va définir les conditions de déclenchement du script dans l&rsquo;onglet <strong>&ldquo;Déclencheurs&rdquo;</strong> en cliquant sur <code>Nouveau</code>.</p>

<p><img src="/static/images/articles/aws-security-group-ip/task-scheduler-3.png" alt="Création d'un tâche" width="100%" style="max-width: 1000px;"/></p>

<p>Nous allons définir les champs :</p>

<ul>
<li><code>Lancer la tâche</code> avec la valeur <code>Au moment de la connexion à une session utilisateur</code></li>
<li><code>Connexion depuis l'ordinateur local</code> en-dessous</li>
</ul>

<p>De la sorte, nous nous assurons que le script est lancé à chaque fois que l&rsquo;on se connecte à sa session utilisateur, ce qui était notre objectif initial.</p>

<p>On peut également définir la politique d&rsquo;essais en cas d&rsquo;échec et d&rsquo;autres paramètres d&rsquo;exécution dans l&rsquo;onglet <code>Paramètres</code>.</p>

<p>On peut alors vérifier si le script s&rsquo;est bien exécuté en regardant le tableau des tâches planifiées.</p>

<p><img src="/static/images/articles/aws-security-group-ip/task-scheduler-4.png" alt="Tableau des tâches planifiées" width="100%" style="max-width: 1000px;"/></p>
