<p><img src="/static/images/articles/containerize-application/containers.png" alt="Conteneurisation" width="100%"/></p>
<h2 id="introduction" class="mt-5"><span>Introduction </span><a class="icon-link icon-link-hover text-secondary" href="#introduction">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>Ca y est ! Nous sommes au début d&rsquo;un projet et nous venons de parvenir à développer un programme qui fonctionne et répond aux exigences.
Parfait donc, <strong><em>il n&rsquo;y a plus qu&rsquo;à</em></strong> livrer en production&hellip;</p>

<p>Oui mais&hellip; des questions se posent immédiatement :</p>

<ul>
<li><p><strong>Compatibilité environnementale</strong> : est-ce que le programme fonctionne de la même manière dans différents environnements ? Par exemple, il pourrait marcher sur en développement, mais qu&rsquo;en est-il du serveur de production ? Des différences dans les configurations, les versions des dépendances ou même le système d&rsquo;exploitation peuvent provoquer des dysfonctionnements imprévus.</p></li>

<li><p><strong>Gestion des dépendances</strong> : comment allons-nous gérer les dépendances du programme ? Si le programme dépend de bibliothèques spécifiques, comment s&rsquo;assurer que ces bibliothèques seront disponibles et compatibles sur le serveur de production ?</p></li>

<li><p><strong>Portabilité</strong> : comment s&rsquo;assurer que notre application est facilement déployable sur différentes infrastructures, que ce soit en local, sur des serveurs sur site ou dans le cloud ?</p></li>

<li><p><strong>Isolation</strong> : comment garantir que notre programme ne causera pas de conflits avec d&rsquo;autres applications ou services sur le même serveur ? L&rsquo;isolation des environnements de runtime est cruciale pour éviter des problèmes d&rsquo;interférence.</p></li>

<li><p><strong>Scalabilité</strong> : notre programme est-il prêt à être mis à l&rsquo;échelle ? Si nous avons besoin de plus de puissance ou si nous devons gérer une augmentation du nombre d&rsquo;utilisateurs, comment allons-nous adapter notre déploiement ?</p></li>

<li><p><strong>Maintenance et mises à jour</strong> : comment allons-nous gérer les mises à jour du programme ? Est-il possible de mettre à jour ou de corriger notre application sans provoquer d&rsquo;interruptions de service ?</p></li>

<li><p><strong>Sécurité</strong> : quelles sont les implications de sécurité lors du déploiement de notre application ? Comment allons-nous protéger notre application contre les vulnérabilités, les accès non autorisés et autres menaces ?</p></li>
</ul>

<p>Pour répondre à ces questions et faciliter le déploiement de notre application, une solution efficace est la <strong>conteneurisation</strong>.</p>

<p><img src="/static/images/articles/containerize-application/virtual-machine-versus-container.png" alt="VM vs conteneur" width="100%" style="max-width: 636px;"/></p>

<p>La conteneurisation est une méthode qui permet d&rsquo;encapsuler une application et toutes ses dépendances dans un conteneur léger, portable et autosuffisant. Cette approche offre plusieurs avantages :</p>

<ul>
<li><strong>Uniformité</strong> : les conteneurs permettent de garantir que le programme fonctionne de la même manière, quel que soit l&rsquo;environnement, en encapsulant toutes les dépendances nécessaires.</li>
<li><strong>Isolation</strong> : chaque conteneur est isolé des autres, ce qui évite les conflits de dépendances et les interférences entre applications.</li>
<li><strong>Portabilité</strong> : les conteneurs peuvent être déployés facilement sur différentes plateformes, que ce soit sur des machines locales, des serveurs sur site ou dans le cloud.</li>
<li><strong>Scalabilité</strong> : les conteneurs peuvent être répliqués et orchestrés facilement pour répondre à des besoins de scalabilité.</li>
</ul>

<p>En adoptant la conteneurisation, nous pouvons rendre notre application plus <strong>robuste, flexible et facile à gérer</strong>. Dans les sections suivantes, nous allons partir du cas d&rsquo;étude de ce site web livré sous forme conteneurisée et proposer un processus de build automatisé dans Gitlab CI.</p>
<h2 id="cas-d-utilisation" class="mt-5"><span>Cas d&rsquo;utilisation </span><a class="icon-link icon-link-hover text-secondary" href="#cas-d-utilisation">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>Nous allons considérer le cas de ce site qui consiste en :</p>

<ul>
<li>un <strong>exécutable</strong> compilé en langage Go (back-end)</li>
<li>des <strong>fichiers statiques</strong> (pages HTML, scripts, CSS, médias) et <strong>dynamiques</strong> (templates HTML) diffusés par le serveur web</li>
<li>une <strong>base de données</strong> Sqlite contenant la définition des articles et des tags</li>
</ul>

<p>En raison de leur <strong>cycle de vie</strong> différent, nous avons choisi de séparer le site web à proprement parler des articles en deux projets Gitlab différents : <a href="https://gitlab.com/gazerad/website-core">Website Core</a> pour le <em>moteur</em> du site et <a href="https://gitlab.com/gazerad/website-data">Website Data</a> pour la gestion des articles ainsi que la base de données Sqlite.</p>

<p>Le site web ne servant que le protocole HTTP (pour conserver la simplicité du code), il sera amené à tourner derrière un proxy inversé qui gèrera la partie SSL avec les certificats.</p>

<p>Nous percevons ainsi tout l&rsquo;intérêt de la conteneurisation qui permet au proxy inversé et au site de communiquer dans un réseau étanche n&rsquo;exposant que le port 443 dédié aux communications https vers l&rsquo;extérieur.</p>

<p><img src="/static/images/articles/containerize-application/website-network.png" alt="VM vs conteneur" width="100%" style="max-width: 606px;"/></p>

<p>Il est de plus évident que les différents services de l&rsquo;application dans son ensemble (ici le proxy inversé et le site web) disposeront chacun de leur environnement en toute <strong>autonomie</strong>, sans conflit de dépendances.</p>

<p>Le défi de la conteneurisation que nous allons détailler consiste donc à :</p>

<ul>
<li>générer une image Docker sécurisée et la plus économe possible pour le site web</li>
<li>intégrer la génération de cette image et le déploiement du conteneur au processus CI/CD (ici avec Gitlab)</li>
</ul>
<h2 id="conteneuriser-l-application-avec-docker" class="mt-5"><span>Conteneuriser l&rsquo;application avec Docker </span><a class="icon-link icon-link-hover text-secondary" href="#conteneuriser-l-application-avec-docker">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>Nous considérons comme pré-requis l&rsquo;installation de <a href="https://docs.docker.com/engine/install/">Docker Engine</a> ou de <a href="https://docs.docker.com/desktop/">Docker Desktop</a> sur l&rsquo;environnement où l&rsquo;on développe le site web.</p>

<blockquote>
<p>Il existe des alternatives à Docker comme système d&rsquo;exécution de conteneurs : Podman, LXC, rkt, CRI-O, containerd qui peuvent présenter des caractéristiques plus adaptées à l&rsquo;application que l&rsquo;on souhaite conteneuriser.</p>
</blockquote>
<h3 class="fw-bold mt-4 mb-4" id="analyser-le-code-et-ses-dependances"><span>Analyser le code et ses dépendances </span><a class="icon-link icon-link-hover text-secondary" href="#analyser-le-code-et-ses-dependances">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>La première question à se poser est : de quoi mon application a-t-elle <strong>absolument</strong> besoin pour tourner ?</p>

<p>Le projet <a href="https://gitlab.com/gazerad/website-core">Website Core</a> consiste en un <strong>back-end</strong> développé en langage Go et des <strong>fichiers statiques ou dynamiques</strong> (i.e. au contenu édité par le programme Go). Le site web généré par le précédent projet devra servir des articles sous forme de pages HTML et une <strong>base de données Sqlite</strong> composée d&rsquo;un fichier provenant du projet <a href="https://gitlab.com/gazerad/website-data">Website Data</a>.</p>

<p>Nous pouvons déjà remarquer que :</p>

<ul>
<li>le langage Go est un langage compilé : il n&rsquo;y a nul besoin de déployer le code mais simplement l&rsquo;<strong>exécutable</strong> généré par la compilation.</li>
<li>pas besoin non plus des dépendances ayant permis cette compilation : il faut juste s&rsquo;assurer que l&rsquo;<strong>OS</strong> ayant été utilisé pour celle-ci et celui du conteneur dans lequel tournera l&rsquo;application sont identiques.</li>
<li>pour fonctionner, l&rsquo;application n&rsquo;a besoin que des fichiers statiques/dynamiques du projet <a href="https://gitlab.com/gazerad/website-core/-/tree/main/web?ref_type=heads">Website Core</a>. Les articles et la base de données peuvent lui être associés plus tard.</li>
</ul>
<h3 class="fw-bold mt-4 mb-4" id="determiner-les-donnees-persistantes"><span>Déterminer les données persistantes </span><a class="icon-link icon-link-hover text-secondary" href="#determiner-les-donnees-persistantes">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Comme nous venons de l&rsquo;aborder, il faut opérer une distinction entre ce qui constitue le <strong>coeur</strong> de l&rsquo;application assurant son fonctionnement essentiel qui constituera le conteneur lui-même, et les <strong>données</strong> devant être conservées et/ou modifiées de l&rsquo;extérieur (configuration, base ou fichiers de données).</p>

<p>La <a href="https://docs.docker.com/storage/storagedriver/#container-and-layers">documentation officielle</a> explique que le système de stockage Docker repose sur :</p>

<ul>
<li>des couches (layers) en écriture seule et persistantes qui contiennent l&rsquo;image</li>
<li>une couche en lecture-écriture pour chaque conteneur en cours d&rsquo;exécution</li>
</ul>

<p><img src="/static/images/articles/containerize-application/docker-layers.png" alt="VM vs conteneur" width="100%" style="max-width: 600px;"/></p>

<p>De la sorte, toutes les données modifiées dans un conteneur le sont dans la couche en lecture-écriture éphémère qui est donc supprimée lorsque le conteneur est arrêté.</p>

<p>Heureusement, Docker propose la notion de <a href="https://docs.docker.com/storage/">volume</a> qui permet de monter des répertoires/fichiers partagés entre le conteneur et son hôte afin de conserver des <strong>données persistantes ou modifiables de l&rsquo;extérieur</strong>. Ceci a aussi l&rsquo;avantage de <strong>limiter la taille</strong> de l&rsquo;image Docker en ne conservant que le nécessaire permettant d&rsquo;exécuter le conteneur correspondant.</p>

<blockquote>
<p>L&rsquo;utilisation du terme <em>volume</em> est un abus de langage qui regroupe des éléments différents adaptés à tel ou tel cas d&rsquo;utilisation: les <a href="https://docs.docker.com/storage/volumes/">volumes</a> eux-mêmes stockés sur l&rsquo;hôte dans un répertoire géré par Docker Engine dédiés aux données persistantes (base de données, &hellip;), les <a href="https://docs.docker.com/storage/bind-mounts/">bind mounts</a> qui montent un emplacement fichier/dossier défini par l&rsquo;utilisateur sur l&rsquo;hôte dans le conteneur (préférable si on souhaite modifier/lire aisément ces contenus) et les <a href="https://docs.docker.com/storage/tmpfs/">tmpfs mounts</a> qui créent un filesystem temporaire en mémoire pour permettre à des conteneurs de partager des données sans écriture disque, comme pour un système de cache.</p>
</blockquote>

<p>Pour notre cas, nous aurons besoin de stocker les données suivantes sur l&rsquo;hôte :</p>

<ul>
<li><strong>Base de données</strong> : il s&rsquo;agit ici d&rsquo;un fichier Sqlite stocké dans le projet <a href="https://gitlab.com/gazerad/website-data/-/tree/main/data/db">Website Data</a>. Comme il n&rsquo;est pas modifié par l&rsquo;application elle-même qui ne fait que des requêtes en lecture mais seulement livré à partir du projet Gitlab, il sera pertinent de mettre en place un <strong>bind mount</strong> afin de pouvoir accéder au fichier dans le conteneur et le remplacer.</li>
<li><strong>Articles</strong> : comme pour la base de données, il faut prévoir un <strong>bind mount</strong> afin de pouvoir régulièrement mettre à jour les <a href="https://gitlab.com/gazerad/website-data/-/tree/main/data/articles">articles</a> (pages HTML et images) sans livrer de nouvelle image Docker de l&rsquo;application.</li>
<li><strong>Logs</strong> : là aussi un <strong>bind mount</strong> s&rsquo;impose pour pouvoir directement lire les logs sans entrer dans le conteneur, et stocker l&rsquo;historique sur l&rsquo;hôte.</li>
</ul>
<h3 class="fw-bold mt-4 mb-4" id="creer-le-dockerfile"><span>Créer le Dockerfile </span><a class="icon-link icon-link-hover text-secondary" href="#creer-le-dockerfile">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Forts de toutes ces informations, nous allons maintenant pouvoir créer le <a href="https://docs.docker.com/reference/dockerfile/">Dockerfile</a> qui contient les instructions permettant de générer l&rsquo;image Docker de l&rsquo;application.</p>

<p>La première question à se poser et de déterminer de quelle <strong>image de base</strong> part-on pour initier notre environnement. Il paraît pertinent d&rsquo;utiliser l&rsquo;image <a href="https://hub.docker.com/_/alpine">Alpine Linux</a> pour sa légèreté (un peu plus de 3 Mb seulement en format compressé !) tout en fournissant les bibliothèques essentielles pour faire tourner une application.</p>

<blockquote>
<p>Attention ! L&rsquo;image Docker Alpine contient certaines <a href="https://dev.to/kakisoft/dockeralpine-why-you-should-avoid-alpine-linux-44he">limitations</a> qui peuvent poser des problèmes selon votre cas d&rsquo;utilisation. Au-delà du nombre limité de packages disponibles, il est par exemple impossible de créer des users faisant plus de 8 caractères.</p>
</blockquote>

<p>Nous pouvons donc proposer le Dockerfile suivant :</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c1"># Paramètres fournies lors du build avec une valeur par défaut</span>
</span></span><span class="line"><span class="cl">ARG <span class="nv">ALPINE_VERSION</span><span class="o">=</span>3.20.0
</span></span><span class="line"><span class="cl"><span class="c1"># Image de base utilisée pour générer la nôtre</span>
</span></span><span class="line"><span class="cl">FROM alpine:<span class="si">${</span><span class="nv">ALPINE_VERSION</span><span class="si">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Variables d&#39;environnement nécessitées par l&#39;application</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">SITE_PORT</span><span class="o">=</span><span class="m">8080</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">SITE_LANGUAGES</span><span class="o">=</span><span class="s2">&#34;fr,en&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">MYWEBSITE_PATH</span><span class="o">=</span><span class="s2">&#34;/srv/mywebsite&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">STATIC_ASSETS_PATH</span><span class="o">=</span><span class="s2">&#34;</span><span class="si">${</span><span class="nv">MYWEBSITE_PATH</span><span class="si">}</span><span class="s2">/web/static&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">TEMPLATES_PATH</span><span class="o">=</span><span class="s2">&#34;</span><span class="si">${</span><span class="nv">MYWEBSITE_PATH</span><span class="si">}</span><span class="s2">/web/template&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">DATA_PATH</span><span class="o">=</span><span class="s2">&#34;</span><span class="si">${</span><span class="nv">MYWEBSITE_PATH</span><span class="si">}</span><span class="s2">/data&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">DATABASE_NAME</span><span class="o">=</span><span class="s2">&#34;mywebsite.db&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">LOG_PATH</span><span class="o">=</span><span class="s2">&#34;/var/log/mywebsite&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">CONFIG_PATH</span><span class="o">=</span><span class="s2">&#34;/etc/mywebsite&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Fichiers/répertoires copiés de l&#39;hôte vers l&#39;image</span>
</span></span><span class="line"><span class="cl">ADD package.tgz /tmp
</span></span><span class="line"><span class="cl">COPY deployments/docker/entrypoint.sh /
</span></span><span class="line"><span class="cl">COPY deployments/docker/logrotate.d /tmp/logrotate.d/
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Commandes du build de l&#39;image</span>
</span></span><span class="line"><span class="cl">RUN <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Extraction et installation de l&#39;application</span>
</span></span><span class="line"><span class="cl">    <span class="c1"># On ne copie pas le répertoire package/data parce qu&#39;il sera rempli</span>
</span></span><span class="line"><span class="cl">    <span class="c1"># plus tard par un bind mount avec le package du projet website-data</span>
</span></span><span class="line"><span class="cl">    <span class="nb">cd</span> /tmp <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    mkdir -p <span class="si">${</span><span class="nv">MYWEBSITE_PATH</span><span class="si">}</span> <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    mv package/web <span class="si">${</span><span class="nv">MYWEBSITE_PATH</span><span class="si">}</span> <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    mv package/bin/mywebsite /usr/local/bin/ <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Création du lien symbolique ${STATIC_ASSETS_PATH}/images/articles</span>
</span></span><span class="line"><span class="cl">    <span class="c1"># vers ${DATA_PATH}/articles/images</span>
</span></span><span class="line"><span class="cl">    ln -sf <span class="si">${</span><span class="nv">DATA_PATH</span><span class="si">}</span>/articles/images <span class="si">${</span><span class="nv">STATIC_ASSETS_PATH</span><span class="si">}</span>/images/articles <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Donner les droits d&#39;exécution au script entrypoint.sh</span>
</span></span><span class="line"><span class="cl">    chmod +x /entrypoint.sh <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Créer le répertoire de log de l&#39;application</span>
</span></span><span class="line"><span class="cl">    mkdir -p <span class="si">${</span><span class="nv">LOG_PATH</span><span class="si">}</span> <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Installer curl pour le healthcheck</span>
</span></span><span class="line"><span class="cl">    apk update <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    apk --no-cache add curl <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Configurer la timezone du conteneur</span>
</span></span><span class="line"><span class="cl">    apk --no-cache add tzdata <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Installer et configurer logrotate</span>
</span></span><span class="line"><span class="cl">    apk --no-cache add logrotate <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    mkdir -p /etc/logrotate.d <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    mv /tmp/logrotate.d/* /etc/logrotate.d/ <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    logrotate -f /etc/logrotate.conf <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Purger le répertoire d&#39;installation</span>
</span></span><span class="line"><span class="cl">    rm -rf /tmp/*
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Exposer le port tcp que l&#39;application écoute</span>
</span></span><span class="line"><span class="cl">EXPOSE <span class="si">${</span><span class="nv">SITE_PORT</span><span class="si">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Script entrypoint qui sera exécuté lorsque</span>
</span></span><span class="line"><span class="cl"><span class="c1"># le conteneur sera créé</span>
</span></span><span class="line"><span class="cl">ENTRYPOINT <span class="o">[</span><span class="s2">&#34;/entrypoint.sh&#34;</span><span class="o">]</span>
</span></span></code></pre>
<p>Quelques remarques sur le contenu du Dockerfile :</p>

<ul>
<li>l&rsquo;argument <code>ALPINE_VERSION</code> peut être fourni de la sorte lors du build de l&rsquo;image, sinon il sera initialisé à la valeur indiquée dans sa déclaration : <code>docker build --build-arg ALPINE_VERSION=3.20.0 .</code></li>
<li>les variables d&rsquo;environnement <code>ENV</code> seront également disponibles dans le conteneur, et peuvent être surchargées à son lancement avec la commande <a href="https://docs.docker.com/reference/cli/docker/container/run/#env">docker run</a></li>
<li>la commande <code>ADD</code> a été choisie pour l&rsquo;archive <code>package.tgz</code> car elle en effectue automatiquement l&rsquo;<strong>extraction</strong> dans le répertoire cible; sinon il est recommandé d&rsquo;utiliser la commande <code>COPY</code> pour effectuer une copie.</li>
<li>le contenu de la commande <code>RUN</code> doit être indiqué sur une seule ligne, d&rsquo;où l&rsquo;utilisation de <code>&amp;&amp; \</code> à la fin de chaque ligne de code du Dockerfile</li>
<li>l&rsquo;application est lancée par le script <code>entrypoint.sh</code> dans la directive <code>ENTRYPOINT</code> qui spécifie une commande toujours exécutée au <strong>démarrage</strong> du conteneur. On aurait pu obtenir le même résultant avec la directive <code>CMD</code> qui spécifie des arguments fournis à l&rsquo;<code>ENTRYPOINT</code> (qui est <code>/bin/sh -c</code> par défaut).</li>
</ul>

<blockquote>
<p>La rédaction du Dockerfile doit suivre quelques <a href="https://docs.docker.com/develop/develop-images/guidelines/">bonnes pratiques</a>, dont la principale est de limiter le nombre de commandes <code>RUN</code> au strict nécessaire afin d&rsquo;éviter de créer trop de couches (layers) pour conserver une image légère.</p>
</blockquote>

<p>Un point doit toutefois attirer l&rsquo;attention : l&rsquo;utilisateur qui fera fonctionner l&rsquo;application à l&rsquo;intérieur du conteneur sera <code>root</code>, et ceci peut avoir des implications en terme de <a href="https://collabnix.com/running-docker-containers-as-root/">sécurité</a>. C&rsquo;est pourquoi nous allons voir comment modifier le Dockerfile afin que le conteneur soir exécuté avec un autre utilisateur.</p>

<blockquote>
<p>Dans le cas de notre application, exécuter le conteneur avec <code>root</code> ne pose pas de problème car nous utilisons <a href="https://docs.docker.com/engine/security/rootless/">Docker rootless</a> qui fait que le démon Docker est exécuté avec un utilsateur sans droits particuliers sur l&rsquo;hôte.</p>
</blockquote>

<p>Dockerfile avec utilisateur non-root :</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">ARG <span class="nv">ALPINE_VERSION</span><span class="o">=</span>3.20.0
</span></span><span class="line"><span class="cl">FROM alpine:<span class="si">${</span><span class="nv">ALPINE_VERSION</span><span class="si">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># User et group id de l&#39;utilisateur qui exécutera l&#39;application</span>
</span></span><span class="line"><span class="cl">ARG <span class="nv">USER_ID</span><span class="o">=</span><span class="m">1000</span>
</span></span><span class="line"><span class="cl">ARG <span class="nv">GROUP_ID</span><span class="o">=</span><span class="m">1000</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">COPY deployments/docker/logrotate.d /tmp/logrotate.d/
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">RUN <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Création de l&#39;utilisateur website et attribution de ses droits</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="o">[</span> <span class="si">${</span><span class="nv">USER_ID</span><span class="k">:-</span><span class="nv">0</span><span class="si">}</span> -ne <span class="m">0</span> <span class="o">]</span> <span class="o">&amp;&amp;</span> <span class="o">[</span> <span class="si">${</span><span class="nv">GROUP_ID</span><span class="k">:-</span><span class="nv">0</span><span class="si">}</span> -ne <span class="m">0</span> <span class="o">]</span><span class="p">;</span> <span class="k">then</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    addgroup -S -g <span class="nv">$GROUP_ID</span> website <span class="o">&amp;&amp;</span> adduser -S -s /bin/sh -u <span class="nv">$USER_ID</span> website -G website<span class="p">;</span> <span class="k">else</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    addgroup -S website <span class="o">&amp;&amp;</span> adduser -S -s /bin/sh website -G website<span class="p">;</span> <span class="k">fi</span> <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    mkdir -p /home/website/bin <span class="o">&amp;&amp;</span> chown -R website:website /home/website/bin <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Installer curl pour le healthcheck</span>
</span></span><span class="line"><span class="cl">    apk update <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    apk --no-cache add curl <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Configurer la timezone du conteneur</span>
</span></span><span class="line"><span class="cl">    apk --no-cache add tzdata <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Installer et configurer logrotate</span>
</span></span><span class="line"><span class="cl">    apk --no-cache add logrotate <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    mkdir -p /etc/logrotate.d <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    mv /tmp/logrotate.d/* /etc/logrotate.d/ <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    logrotate -f /etc/logrotate.conf <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Purger le répertoire d&#39;installation</span>
</span></span><span class="line"><span class="cl">    rm -rf /tmp/*
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Changement d&#39;utilisateur pour déployer l&#39;application</span>
</span></span><span class="line"><span class="cl"><span class="c1"># et la lancer dans le conteneur</span>
</span></span><span class="line"><span class="cl">USER website
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Variables d&#39;environnement de l&#39;utilisateur website</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">PATH</span><span class="o">=</span><span class="s2">&#34;</span><span class="si">${</span><span class="nv">PATH</span><span class="si">}</span><span class="s2">:/home/website/bin&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">SITE_PORT</span><span class="o">=</span><span class="m">8080</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">SITE_LANGUAGES</span><span class="o">=</span><span class="s2">&#34;fr,en&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">WEBSITE_SRV_PATH</span><span class="o">=</span><span class="s2">&#34;/home/website/srv&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">STATIC_ASSETS_PATH</span><span class="o">=</span><span class="s2">&#34;</span><span class="si">${</span><span class="nv">WEBSITE_SRV_PATH</span><span class="si">}</span><span class="s2">/web/static&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">TEMPLATES_PATH</span><span class="o">=</span><span class="s2">&#34;</span><span class="si">${</span><span class="nv">WEBSITE_SRV_PATH</span><span class="si">}</span><span class="s2">/web/template&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">DATA_PATH</span><span class="o">=</span><span class="s2">&#34;</span><span class="si">${</span><span class="nv">WEBSITE_SRV_PATH</span><span class="si">}</span><span class="s2">/data&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">DATABASE_NAME</span><span class="o">=</span><span class="s2">&#34;mywebsite.db&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">LOG_PATH</span><span class="o">=</span><span class="s2">&#34;</span><span class="si">${</span><span class="nv">WEBSITE_SRV_PATH</span><span class="si">}</span><span class="s2">/log&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">CONFIG_PATH</span><span class="o">=</span><span class="s2">&#34;</span><span class="si">${</span><span class="nv">WEBSITE_SRV_PATH</span><span class="si">}</span><span class="s2">/conf&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Définition du répertoire de base dans lequel seront</span>
</span></span><span class="line"><span class="cl"><span class="c1"># exécutées les commandes RUN</span>
</span></span><span class="line"><span class="cl">WORKDIR /home/website
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Copie en précisant l&#39;attribution de droits dans le conteneur</span>
</span></span><span class="line"><span class="cl">COPY --chown<span class="o">=</span>website:website package.tgz /home/website
</span></span><span class="line"><span class="cl">COPY --chown<span class="o">=</span>website:website --chmod<span class="o">=</span><span class="m">755</span> deployments/docker/entrypoint.sh /home/website/bin
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">RUN <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Extraction et installation de l&#39;application</span>
</span></span><span class="line"><span class="cl">    <span class="c1"># On ne copie pas le répertoire package/data parce qu&#39;il sera rempli</span>
</span></span><span class="line"><span class="cl">    <span class="c1"># plus tard par un bind mount avec le package du projet website-data</span>
</span></span><span class="line"><span class="cl">    tar xzf package.tgz <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    mkdir -p <span class="nv">$WEBSITE_SRV_PATH</span> <span class="o">&amp;&amp;</span> mv package/web <span class="nv">$WEBSITE_SRV_PATH</span> <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    mv package/bin/mywebsite ~/bin/ <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>     <span class="c1"># Création du lien symbolique ${STATIC_ASSETS_PATH}/images/articles</span>
</span></span><span class="line"><span class="cl">    <span class="c1"># vers ${DATA_PATH}/articles/images</span>
</span></span><span class="line"><span class="cl">    ln -sf <span class="si">${</span><span class="nv">DATA_PATH</span><span class="si">}</span>/articles/images <span class="si">${</span><span class="nv">STATIC_ASSETS_PATH</span><span class="si">}</span>/images/articles <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Créer le répertoire de log de l&#39;application</span>
</span></span><span class="line"><span class="cl">    mkdir -p <span class="si">${</span><span class="nv">LOG_PATH</span><span class="si">}</span> <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Purger le répertoire d&#39;installation</span>
</span></span><span class="line"><span class="cl">    rm -rf package*
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Script entrypoint qui sera exécuté lorsque</span>
</span></span><span class="line"><span class="cl"><span class="c1"># le conteneur sera créé</span>
</span></span><span class="line"><span class="cl">ENTRYPOINT <span class="o">[</span><span class="s2">&#34;entrypoint.sh&#34;</span><span class="o">]</span>
</span></span></code></pre>
<p>Quelques points à relever ;</p>

<ul>
<li><code>ARG USER_ID/GROUP_ID=1000</code> : on laisse la main à l&rsquo;utilisateur pour déterminer l&rsquo;<strong>user/group id</strong> de l&rsquo;utilisateur qui est créé (avec une valeur par défaut de <code>1000</code>). Il est en effet préférable que ces valeurs correspondant à celles de l&rsquo;utilisateur qui lancera le conteneur sur l&rsquo;hôte, notamment pour des raisons de <strong>droits</strong> sur les bind mounts.</li>
<li>Les variables d&rsquo;environnement ont logiquement été transférés à l&rsquo;utilisateur <code>website</code>.</li>
<li><code>COPY --chown=website:website --chmod=755 ...</code> : les commandes de copie doivent contenir l&rsquo;attribution des droits si on veut qu&rsquo;ils reviennent à un utilisateur autre que root, même après avoir indiqué <code>USER website</code>.</li>
</ul>

<p>Et voilà ! Nous sommes maintenant en mesure de tester l&rsquo;exécution de notre application dans un conteneur.</p>
<h3 class="fw-bold mt-4 mb-4" id="definir-le-script-entrypoint-sh"><span>Définir le script <code>entrypoint.sh</code> </span><a class="icon-link icon-link-hover text-secondary" href="#definir-le-script-entrypoint-sh">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Nous l&rsquo;avions défini dans notre Dockerfile avec la commande <code>ENTRYPOINT</code> qui l&rsquo;exécute au lancement du conteneur, nous allons maintenant voir le contenu du script <code>entrypoint.sh</code>.</p>

<p>Son objectif est de :</p>

<ul>
<li>lancer l&rsquo;application en tâche de fond</li>
<li>récupérer les sorties standard et erreur dans un fichier de log</li>
<li>transmettre le code de sortie de l&rsquo;application au conteneur</li>
</ul>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="cp">#!/bin/sh
</span></span></span><span class="line"><span class="cl"><span class="cp"></span><span class="nb">set</span> -e
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Attraper le signal SIGTERM et le transmettre au processus fils</span>
</span></span><span class="line"><span class="cl"><span class="nb">trap</span> <span class="s1">&#39;kill -TERM $PID&#39;</span> TERM
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Lancer l&#39;application Go en tâche de fond et récupérer le PID</span>
</span></span><span class="line"><span class="cl">mywebsite 2&gt;<span class="p">&amp;</span><span class="m">1</span> <span class="p">|</span> tee -a <span class="si">${</span><span class="nv">LOG_PATH</span><span class="si">}</span>/mywebsite.log <span class="p">&amp;</span>
</span></span><span class="line"><span class="cl"><span class="nv">PID</span><span class="o">=</span><span class="nv">$!</span>
</span></span><span class="line"><span class="cl"><span class="nb">wait</span> <span class="nv">$PID</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Sortir avec le même code d&#39;exécution que le processus fils</span>
</span></span><span class="line"><span class="cl"><span class="nb">exit</span> <span class="nv">$?</span>
</span></span></code></pre><h2 id="tester-le-build-et-l-execution-de-l-image-docker" class="mt-5"><span>Tester le build et l&rsquo;exécution de l&rsquo;image Docker </span><a class="icon-link icon-link-hover text-secondary" href="#tester-le-build-et-l-execution-de-l-image-docker">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2><h3 class="fw-bold mt-4 mb-4" id="generer-l-image-docker-et-executer-le-conteneur"><span>Générer l&rsquo;image Docker et exécuter le conteneur </span><a class="icon-link icon-link-hover text-secondary" href="#generer-l-image-docker-et-executer-le-conteneur">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>De façon générale, il est préférable de placer le Dockerfile à la <strong>racine</strong> du projet dont il doit assurer le build, de façon à avoir accès aux fichiers/dossiers qu&rsquo;il devra copier dans le conteneur.</p>

<p>En effet, il est impossible d&rsquo;indiquer un chemin de type <code>../target</code> ou absolu tel que <code>/path/to/target</code> dans les instructions <code>COPY</code> ou <code>ADD</code> du Dockerfile.</p>

<p>Dès lors que nous avons placé le Dockerfile à la racine du projet, nous pouvons lancer le build de l&rsquo;image de notre application :</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">$ docker build -t mywebsite .
</span></span></code></pre>
<ul>
<li><code>-t</code> indique le nom de l&rsquo;image avec lequel elle sera taggée (un tag <code>latest</code> lui sera attribué par défaut). Même si nous ne la publions pas encore, ce sera utile pour l&rsquo;identifier dans notre instance Docker</li>
<li><code>.</code> définit le contexte du build qui est donc le répertoire courant.</li>
</ul>

<p>Nous obtenons une sortie semblable à celle-ci :</p>

<p><img src="/static/images/articles/containerize-application/docker-build.png" alt="docker build" width="100%" style="max-width: 932px;"/></p>

<p>Si nous utilisons Docker Desktop, nous pouvoir apparaître l&rsquo;image dans la liste de celles disponibles dans l&rsquo;instance Docker :</p>

<p><img src="/static/images/articles/containerize-application/docker-desktop.png" alt="Docker Desktop" width="100%" style="max-width: 932px;"/></p>

<p>Nous pouvons maintenant lancer le conteneur avec la commande <code>docker run</code> :</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">$ docker run -d -p 8080:8080 --name mywebsite mywebsite:latest
</span></span></code></pre>
<ul>
<li><code>-d</code> : le conteneur est exécuté en mode <em>détaché</em>, cela signifie qu&rsquo;il tourne en tâche de fond et que l&rsquo;on peut utiliser le terminal</li>
<li><code>-p 8080:8080</code> : cette option associe le port 8080 de l&rsquo;hôte avec le port 8080 du conteneur, ce qui permet d&rsquo;accéder de l&rsquo;extérieur à l&rsquo;application tournant dans le conteneur</li>
<li><code>--name mywebsite</code> : nous attribuons ainsi un nom au conteneur afin de pouvoir l&rsquo;identifier plus facilement, sinon il reçoit un nom aléatoire.</li>
<li><code>mywebsite:latest</code> : il s&rsquo;agit du nom de l&rsquo;image précédemment générée et du tag qui lui a été attribué</li>
</ul>

<p>On peut alors accéder à l&rsquo;application en se connectant à l&rsquo;URL <code>http://localhost:8080</code> si on a lancé Docker sur la machine locale.</p>

<p><img src="/static/images/articles/containerize-application/docker-run.png" alt="Docker Desktop" width="100%" style="max-width: 756px;"/></p>

<p>Pour arrêter le conteneur puis le supprimer, il faut exécuter les deux commandes suivantes :</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">$ docker stop mywebsite
</span></span></code></pre><pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">$ docker rm mywebsite
</span></span></code></pre><h3 class="fw-bold mt-4 mb-4" id="creer-un-environnement-de-test-complet-avec-docker-compose"><span>Créer un environnement de test complet avec Docker Compose </span><a class="icon-link icon-link-hover text-secondary" href="#creer-un-environnement-de-test-complet-avec-docker-compose">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Le répertoire <a href="https://gitlab.com/gazerad/website-core/-/tree/main/deployments/docker/sample">sample</a> du projet Website Core propose un environnement de test où l&rsquo;application mywebsite est exécutée derrière un proxy inversé Nginx qui la sert sur l&rsquo;URL <code>https://mywebsite.perso.com</code> (à condition d&rsquo;avoir associé <code>mywebsite.perso.com</code> avec l&rsquo;IP du serveur correspondant dans son fichier <code>hosts</code>).</p>

<p>Le fichier <code>docker-compose.yml</code> correspondant assure le build de l&rsquo;image docker mywebsite à partir du contexte du répertoire racine du projet (défini de façon relative avec <code>../../..</code>) et le lancement du conteneur correspondant derrière le proxy inversé.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">services</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">mywebsite</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="c">#image: mywebsite:latest</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">build</span><span class="p">:</span><span class="w"> </span><span class="l">../../..</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">restart</span><span class="p">:</span><span class="w"> </span><span class="l">always</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">frontend</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">expose</span><span class="p">:</span><span class="w"> 
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;8080&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./mywebsite/log:/var/log/mywebsite</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./mywebsite/data:/srv/mywebsite/data:rw</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">reverse_proxy</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">nginx:1.26</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">reverse_proxy</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">restart</span><span class="p">:</span><span class="w"> </span><span class="l">always</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">frontend</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ports</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="m">80</span><span class="p">:</span><span class="m">80</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="m">443</span><span class="p">:</span><span class="m">443</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./nginx/conf/nginx.conf:/etc/nginx/conf.d/default.conf</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./nginx/certs/mywebsite.crt:/etc/ssl/certs/mywebsite.crt</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./nginx/certs/mywebsite.key:/etc/ssl/private/mywebsite.key</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./nginx/log:/var/log/nginx</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">frontend</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">driver</span><span class="p">:</span><span class="w"> </span><span class="l">bridge</span><span class="w">
</span></span></span></code></pre>
<p>Nous remarquons que nous avons introduit ici la notion de <strong>volume</strong> :</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./mywebsite/log:/var/log/mywebsite</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./mywebsite/data:/srv/mywebsite/data:rw</span><span class="w">
</span></span></span></code></pre>
<p>Définis de la sorte, en montant un répertoire de l&rsquo;hôte avec un à l&rsquo;intérieur du conteneur, il s&rsquo;agit en réalité de <strong>bind mounts</strong>, et ils correspondent aux répertoires identifiées dans la section <a href="#determiner-les-donnees-persistantes">Déterminer les données persistantes</a>.</p>

<p>On lance cet environnement se plaçant au niveau du fichier <code>docker-compose.yml</code> et en exécutant la commande suivante :</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">$ docker compose up -d
</span></span></code></pre>
<p>Et on l&rsquo;arrête comme ceci :</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">$ docker compose down
</span></span></code></pre><h2 id="integration-et-deploiement-continus-avec-gitlab-ci" class="mt-5"><span>Intégration et déploiement continus avec Gitlab CI </span><a class="icon-link icon-link-hover text-secondary" href="#integration-et-deploiement-continus-avec-gitlab-ci">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>L&rsquo;objet de cette section est de définir les jobs d&rsquo;une pipeline CI/CD Gitlab afin d&rsquo;effectuer les tâches suivantes :</p>

<ul>
<li>générer l&rsquo;image Docker de l&rsquo;application et la publier sur Docker Hub</li>
<li>déployer le conteneur correspondant sur nos environnements où fonnctionne l&rsquo;application</li>
</ul>

<blockquote>
<p>Gitlab propose un <a href="https://docs.gitlab.com/ee/user/packages/container_registry/">container registry</a> qui permet de publier des images Docker pour chaque projet. Nous ne l&rsquo;utilisons cependant pas ici puisque notre image doit être accessible hors du réseau privé sur lequel tourne notre instance Gitlab.</p>
</blockquote>
<h3 class="fw-bold mt-4 mb-4" id="generation-de-l-image-docker-et-publication-sur-docker-hub"><span>Génération de l&rsquo;image Docker et publication sur Docker Hub </span><a class="icon-link icon-link-hover text-secondary" href="#generation-de-l-image-docker-et-publication-sur-docker-hub">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Nous considérons ici que notre instance Gitlab exécute ses jobs avec un <a href="https://docs.gitlab.com/runner/executors/docker.html">runner Docker</a>, qui est généralement <a href="https://docs.gitlab.com/runner/executors/#selecting-the-executor">conseillé</a>.</p>

<p>Le défi ici consiste à pouvoir exécuter des commandes Docker (telles que <code>docker build</code> ou <code>docker push</code>) à l&rsquo;intérieur du conteneur dans lequel est exécuté le job.</p>

<p>Les premières <a href="https://docs.gitlab.com/ee/ci/docker/using_docker_build.html">options proposées</a> consistent à :</p>

<ul>
<li>Choisir finalement d&rsquo;exécuter le job avec un <a href="https://docs.gitlab.com/runner/executors/shell.html">runner shell</a>, ce qui nécessiterait de créer un runner supplémentaire.</li>
<li>Utiliser <a href="https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#use-docker-in-docker">Docker-in-Docker (dind)</a> mais cela nécessite une élévation de privilèges pour les conteneurs créés par les runners.</li>
<li>Utiliser le <a href="https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#use-docker-in-docker">socket binding</a> pour avoir accès au Docker daemon de l&rsquo;hôte à l&rsquo;intérieur des conteneurs.</li>
</ul>

<p>Hélas, chacune d&rsquo;entre elles introduit complexité, problématiques de sécurité et limitations; c&rsquo;est pourquoi nous allons choisir <a href="https://docs.gitlab.com/ee/ci/docker/using_kaniko.html">Kaniko</a> pour construire nos images Docker dans des jobs Gitlab CI.</p>

<p>De façon très simple (aucune configuration particulière du runner Gitlab n&rsquo;est requise), le job de build/publication de l&rsquo;image Docker se définit ainsi dans le fichier <a href="https://gitlab.com/gazerad/website-core/-/blob/main/.gitlab-ci.yml">.gitlab-ci.yml</a> du projet <a href="https://gitlab.com/gazerad/website-core/">Website Core</a> :</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">publish-docker</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">stage</span><span class="p">:</span><span class="w"> </span><span class="l">publish</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">image</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="l">gcr.io/kaniko-project/executor:$KANIKO_VERSION</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">entrypoint</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="s2">&#34;&#34;</span><span class="p">]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">rules</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">if</span><span class="p">:</span><span class="w"> </span><span class="l">$DEPLOY_MODE == &#34;Y&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">when</span><span class="p">:</span><span class="w"> </span><span class="l">never</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- !<span class="l">reference [.rules, tag_release_candidate]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- !<span class="l">reference [.rules, tag_release]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">if</span><span class="p">:</span><span class="w"> </span>!<span class="l">reference [.rules, latest]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">script</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">if [ X&#34;$CI_COMMIT_TAG&#34; == &#34;X&#34; ]; then IMAGE_TAG=&#34;latest&#34;; else IMAGE_TAG=$CI_COMMIT_TAG; fi</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">echo &#34;Info - the image will be pushed with &#39;$IMAGE_TAG&#39; tag&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="p">|-</span><span class="sd">
</span></span></span><span class="line"><span class="cl"><span class="sd">      echo &#34;
</span></span></span><span class="line"><span class="cl"><span class="sd">      {
</span></span></span><span class="line"><span class="cl"><span class="sd">        \&#34;auths\&#34;:{
</span></span></span><span class="line"><span class="cl"><span class="sd">          \&#34;${DOCKERHUB_REGISTRY}\&#34;:{
</span></span></span><span class="line"><span class="cl"><span class="sd">            \&#34;auth\&#34;:\&#34;$(printf &#34;%s:%s&#34; &#34;${DOCKERHUB_USER}&#34; &#34;${DOCKERHUB_PASSWORD}&#34; | base64 | tr -d &#39;\n&#39;)\&#34;
</span></span></span><span class="line"><span class="cl"><span class="sd">          }
</span></span></span><span class="line"><span class="cl"><span class="sd">        }
</span></span></span><span class="line"><span class="cl"><span class="sd">      }&#34; &gt; /kaniko/.docker/config.json</span><span class="w">      
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">/kaniko/executor</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>--<span class="l">context &#34;$CI_PROJECT_DIR&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>--<span class="l">build-arg ALPINE_VERSION=$ALPINE_VERSION</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>--<span class="l">dockerfile &#34;${CI_PROJECT_DIR}/Dockerfile&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>--<span class="l">destination &#34;${DOCKERHUB_USER}/mywebsite:${IMAGE_TAG}&#34;</span><span class="w">
</span></span></span></code></pre>
<p>Il suffit de définir les <a href="https://docs.gitlab.com/ee/ci/variables/">variables CI/CD</a> suivantes, soit dans le fichier <code>.gitlab-ci.yml</code> soit dans l&rsquo;UI Gitlab (au niveau projet/groupe/instance) :</p>

<ul>
<li><code>DOCKERHUB_REGISTRY</code> : l&rsquo;URL de publication des images sur Docker Hub. Il faut indiquer ici la valeur <code>https://index.docker.io/v1/</code> et non celle du dépôt sur lequel sera publié l&rsquo;image.</li>
<li><code>DOCKERHUB_USER</code> : le nom de compte utilisé pour publier l&rsquo;image sur Docker Hub</li>
<li><code>DOCKERHUB_PASSWORD</code> : le mot de passe correspondant</li>
</ul>

<p>Ces variables sont donc indiquées sous format <strong>json</strong> dans le fichier de configuration de Kaniko <code>/kaniko/.docker/config.json</code>.</p>

<p>La commande de build de l&rsquo;image reçoit ici les paramètres suivants :</p>

<ul>
<li><code>--context &quot;$CI_PROJECT_DIR&quot;</code> : le contexte semblable à celui de la commande <code>docker build</code> et qui correspond à la racine du projet où se trouve le Dockerfile</li>
<li><code>--build-arg ALPINE_VERSION=$ALPINE_VERSION</code> : les arguments qui viendront enrichir les variables définies par le mot-clef <code>ARG</code> dans le <a href="#creer-le-dockerfile">Dockerfile</a>.</li>
<li><code>--dockerfile &quot;${CI_PROJECT_DIR}/Dockerfile&quot;</code> : on définit précisément l&rsquo;emplacement du Dockerfile ici.</li>
<li><code>--destination &quot;${DOCKERHUB_USER}/mywebsite:${IMAGE_TAG}&quot;</code> : la destination de publication de l&rsquo;image Docker où sont indiqués le dépôt, le nom de l&rsquo;image et son tag.</li>
</ul>

<p>Nous obtenons alors la sortie suivante dans la log de la pipeline Gitlab :</p>

<p><img src="/static/images/articles/containerize-application/gitlab-publish.png" alt="Jobs de build sur Gitlab" width="100%" style="max-width: 924px;"/></p>

<p>L&rsquo;image Docker est bien générée est publiée dans le dépôt <a href="https://hub.docker.com/repository/docker/gazerad/mywebsite/general">gazerad/mywebsite</a> sur Docker Hub.</p>
<h3 class="fw-bold mt-4 mb-4" id="deploiement-du-conteneur-de-l-application"><span>Déploiement du conteneur de l&rsquo;application </span><a class="icon-link icon-link-hover text-secondary" href="#deploiement-du-conteneur-de-l-application">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Le déploiement de l&rsquo;application, basé sur Gitlab CI/Ansible/Docker, est détaillé dans l&rsquo;article <a href="https://gazerad.com/fr/article/deploiement-continu-avec-gitlab-et-ansible">Déploiement continu avec Gitlab et Ansible</a>.</p>

<p>En résumé, nous disposons dans la pipeline CI/CD d&rsquo;un job qui va exécuter un <strong>playbook Ansible</strong> assurant le déploiement et le lancement de l&rsquo;application ainsi que du proxy inversé qui lui est associé.</p>

<p>Nous allons nous focaliser ici sur le rôle Ansible <a href="https://gitlab.com/gazerad/website-core/-/tree/main/deployments/ansible/roles/application">application</a> des déploiements définis dans le projet Website Core.</p>

<p>Les <a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/roles/application/tasks/main.yml">tâches</a> du rôle consistent tout d&rsquo;abord, après avoir correctement configuré l&rsquo;environnement, à déployer le fichier Docker Compose où est défini le service qui exécutera l&rsquo;application :</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c"># roles/application/tasks/main.yml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span>- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="l">Deploy docker-compose file</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">template</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">src</span><span class="p">:</span><span class="w"> </span><span class="l">templates/docker-compose.yml.j2</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">dest</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;{{ application_dir }}/docker-compose.yml&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">mode</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;600&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">owner</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">group</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite</span><span class="w">
</span></span></span></code></pre>
<p>Le fichier <code>docker-compose.yml</code> est défini sous forme de <a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/roles/application/templates/docker-compose.yml.j2">template</a> contenant des variables enrichies par le playbook Ansible :</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c"># {{ ansible_managed | comment }}</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">services</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">mywebsite</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="c"># mywebsite_version variable is set from environment variable MYWEBSITE_VERSION</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">gazerad/mywebsite:{{ mywebsite_version }}</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">restart</span><span class="p">:</span><span class="w"> </span><span class="l">always</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">frontend</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">expose</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;8080&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;{{ mywebsite_dir }}/log:/var/log/mywebsite&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;{{ mywebsite_dir }}/data:/srv/mywebsite/data&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/etc/localtime:/etc/localtime:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">healthcheck</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">test</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="s2">&#34;CMD&#34;</span><span class="p">,</span><span class="w"> </span><span class="s2">&#34;curl&#34;</span><span class="p">,</span><span class="w"> </span><span class="s2">&#34;-f&#34;</span><span class="p">,</span><span class="w"> </span><span class="s2">&#34;http://localhost:8080/fr&#34;</span><span class="p">]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">interval</span><span class="p">:</span><span class="w"> </span><span class="l">30s</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">timeout</span><span class="p">:</span><span class="w"> </span><span class="l">10s</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">retries</span><span class="p">:</span><span class="w"> </span><span class="m">3</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">labels</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">autoheal</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">autoheal</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="c"># To restart the unhealthy containers with label &#39;autoheal: true&#39; defined</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="c"># https://github.com/willfarrell/docker-autoheal</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">willfarrell/autoheal:{{ versions.autoheal }}</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">autoheal</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">restart</span><span class="p">:</span><span class="w"> </span><span class="l">always</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">frontend</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># Still XDG_RUNTIME_DIR depends from the docker rootless user definition</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;{{ xdg_runtime_dir }}/docker.sock:/var/run/docker.sock:ro&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/etc/localtime:/etc/localtime:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">environment</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">AUTOHEAL_INTERVAL</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;30&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">AUTOHEAL_DEFAULT_STOP_TIMEOUT</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;10&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">AUTOHEAL_CONTAINER_LABEL</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;autoheal&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">CURL_TIMEOUT</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;10&#39;</span><span class="w">
</span></span></span></code></pre>
<p>Le service <code>autoheal</code>, facultatif dans l&rsquo;absolu, a pour objet d&rsquo;assurer une surveillance du service <code>mywebsite</code> de l&rsquo;application et son redémarrage sous les conditions définies dans sa section <code>environment</code>.</p>

<p>Ensuite, comme nous l&rsquo;avions identifié dans <a href="#analyser-le-code-et-ses-dependances">l&rsquo;analyse du contenu à déployer</a>, le rôle <em>application</em> <a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/roles/application/tasks/website_data.yml">importe des tâches</a> qui permettent de modifier le bind mount contenant la base de données et les articles en <strong>déployant le package</strong> du projet <a href="https://gitlab.com/gazerad/website-data">Website Data</a>.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c"># roles/application/tasks/main.yml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span>- <span class="nt">import_tasks</span><span class="p">:</span><span class="w"> </span><span class="l">website_data.yml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">tags</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">website-data</span><span class="w">
</span></span></span></code></pre><pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c"># roles/application/tasks/website_data.yml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span>- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="l">Set website data package version</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">set_fact</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">website_data_pkg_ref</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;{{ lookup(&#39;env&#39;, &#39;WEBSITE_DATA_PKG_REF&#39;) }}&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">become_user</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span>- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="l">Download and extract website data package to target</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">unarchive</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">src</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;{{ external_gitlab_api_v4_url }}/projects/{{ external_website_data_id }}/packages/generic/data/{{ website_data_pkg_ref }}/data.tgz&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">dest</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;{{ mywebsite_dir }}&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">remote_src</span><span class="p">:</span><span class="w"> </span><span class="kc">yes</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">become_user</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite</span><span class="w">
</span></span></span></code></pre>
<p>Enfin, les <a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/roles/reverse_proxy/handlers/main.yml">handlers</a> assurant le redémarrage de Docker Compose sont appelés à la fin des tâches du rôle <em>application</em> :</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c"># roles/application/tasks/main.yml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span>- <span class="nt">debug</span><span class="p">:</span><span class="w"> 
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">msg</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;Trigger docker compose stop&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">notify</span><span class="p">:</span><span class="w"> </span><span class="l">Stop docker compose</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">changed_when</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span>- <span class="nt">debug</span><span class="p">:</span><span class="w"> 
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">msg</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;Trigger docker compose start&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">notify</span><span class="p">:</span><span class="w"> </span><span class="l">Start docker compose</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">changed_when</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
</span></span></span></code></pre>