<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/hybrid-cloud.png" alt="Cloud hybride" width="100%"/></p>
<h2 id="introduction" class="mt-5"><span>Introduction </span><a class="icon-link icon-link-hover text-secondary" href="#introduction">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>Lorsqu&rsquo;on déploie une application (par exemple web et publique) sur une <strong>infrastructure privée</strong>, la question de la mise à échelle se pose immédiatement :
que va-t-on faire en cas de pic de charge ? Dimensionner de façon statique son infrastructure pour supporter la charge pose un problème de coût évident,
avec des ressources inutilisées/sous-utilisées l&rsquo;essentiel du temps.</p>

<p>Le <strong>cloud public</strong> offre la possibilité de mettre à disposition des ressources à la demande, permettant ainsi une <strong>mise à l&rsquo;échelle</strong> (<em>scalabilité</em>) élastique
de son infrastructure pour s&rsquo;adapter aux besoins de son application.</p>

<p>On peut toutefois rechigner à déplacer intégralement le déploiement de son application sur un cloud public : par exemple, si les pics de charge sont très occasionnels,
l&rsquo;infrastructure privée fait très correctement le travail la plupart du temps et pour un coût éventuellement moindre.
C&rsquo;est alors qu&rsquo;intervient la notion de <strong>cloud hybride</strong> : interfacer une infrastructure on-premise avec une infrastructure cloud publique seulement activée lors des
pics d&rsquo;activité de l&rsquo;application.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/hybrid-cloud-peak-load.png" alt="Cloud hybride - pic de charge" width="100%" style="max-width: 900px;"/></p>

<p>Nous allons voir dans cette suite d&rsquo;article comment détecter les pics d&rsquo;activité grâce à la <strong>supervision</strong>, puis déclencher la création de ressources sur le cloud <strong>Azure</strong>
associé à l&rsquo;infrastructure on premise dans un même <strong>VPN</strong>, avec une charge répartie grâce à un <strong>load balancer</strong>. Pour le premier de la série, c&rsquo;est la création de l&rsquo;infrastructure cloud hybride que nous allons détailler et la répartition de charge.</p>
<h2 id="cas-d-utilisation" class="mt-5"><span>Cas d&rsquo;utilisation </span><a class="icon-link icon-link-hover text-secondary" href="#cas-d-utilisation">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>Nous considérons ici le cas d&rsquo;une application web déployée sur une VM du réseau local. Nous allons choisir pour notre exemple la très simple application <code>crccheck/hello-world</code> disponible sur Docker Hub et qui n&rsquo;affiche qu&rsquo;une page à l&rsquo;URL racine, configurable de la sorte avec Docker Compose.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">service</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">application</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">crccheck/hello-world</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">application</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ports</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;80:8000&#34;</span><span class="w">
</span></span></span></code></pre>
<p>Voici ci-dessous l&rsquo;infrastructure locale initiale :</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/schema-initial.png" alt="Infrastructure initiale" width="100%" style="max-width: 450px;"/></p>

<p>Les utilisateurs sont dans le réseau privé puisque, pour des raisons de commodité, nous n&rsquo;avons pas exposé l&rsquo;application sur internet, mais cela pourrait tout à fait être le cas.</p>

<p>L&rsquo;objectif ici est de <strong>créer de une à deux VM</strong> au maximum sur le <strong>cloud Azure</strong> lorsqu&rsquo;on atteint un <strong>pic de charge</strong> sur la VM locale, et de répartir les connexions entrantes entre elles. Réciproquement, lorsque la charge redevient &ldquo;normale&rdquo;, les ressources créées sur Azure doivent être <strong>supprimées</strong> et les connexions redirigées vers la VM locale uniquement.</p>

<p>De la sorte, nous n&rsquo;utilisons de ressources sur le cloud que lorsque nous en avons besoin, ce qui constitue un des avantages de l&rsquo;implémentation d&rsquo;un <strong>cloud hybride</strong>.</p>

<p>Concernant l&rsquo;évaluation de la charge sur la VM locale, nous allons considérer <strong>l&rsquo;utilisation de CPU</strong> :</p>

<ul>
<li><strong>CPU &gt; 70%</strong> sur les 5 dernières minutes =&gt; création de VM Azure (jusqu&rsquo;à deux maximum)</li>
<li><strong>CPU &lt; 30%</strong> sur la dernière heure avec présence d&rsquo;au moins un <strong>pic &gt; 70%</strong> (par pas de 5 minutes) =&gt; suppression de VM Azure</li>
</ul>

<p>Nous allons donc voir comment implémenter une solution permettant de :</p>

<ul>
<li><strong>connecter</strong> les deux réseaux (privé et Azure)</li>
<li><strong>superviser</strong> les métriques système de la VM locale et détecter les pics de CPU</li>
<li><strong>mettre à l&rsquo;échelle</strong> en créant/supprimant automatiquement des ressources sur le cloud Azure</li>
<li><strong>répartir la charge</strong> grâce à l&rsquo;utilisation d&rsquo;un load balancer</li>
</ul>

<p>Dans cet article, nous allons décrire l&rsquo;architecture réseau permettant de satisfaire ces objectifs, l&rsquo;infrastructre Azure hybride associée au réseau initial et la répartition de charge entre les deux.</p>
<h2 id="architecture-reseau" class="mt-5"><span>Architecture réseau </span><a class="icon-link icon-link-hover text-secondary" href="#architecture-reseau">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>Une première solution consiste à créer un <a href="https://learn.microsoft.com/fr-fr/azure/virtual-network/virtual-networks-overview">réseau virtuel</a> Azure muni d&rsquo;une <a href="https://learn.microsoft.com/fr-fr/azure/virtual-network/ip-services/public-ip-addresses">adresse IP publique</a> qui lui servira de passerelle internet afin d&rsquo;être interconnecté au réseau privé.</p>

<p>Le trafic est réparti à l&rsquo;aide de deux <strong>load balancers</strong> : un dans le réseau privé qui route vers la VM locale ou la passerelle internet accédant à Azure, l&rsquo;autre dans le réseau virtuel Azure pour répartir la charge entre les VM créées.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/schema-internet.png" alt="Cloud hybride par internet" width="100%" style="max-width: 1200px;"/></p>

<p>Cette proposition est tout à fait fonctionnelle mais utiliser un lien internet peut être problématique, notamment à cause du non-chiffrement des données transférées. C&rsquo;est pour cela qu&rsquo;il est préférable de mettre en place un <strong>lien VPN</strong> entre les deux sites : les données sont <strong>chiffrées</strong> (par le biais d&rsquo;une clef partagée), les deux réseaux (privé et cloud) sont désormais unis donc il est possible d&rsquo;accéder aux VM Azure comme si elles étaient sur le réseau local. Il faut juste faire attention à ce que les plages d&rsquo;adresses IP du réseau local et du réseau Azure ne se chevauchent pas.</p>

<blockquote>
<p>Azure propose le service <a href="https://learn.microsoft.com/fr-fr/azure/expressroute/expressroute-introduction">ExpressRoute</a> pour gérer un lien VPN optimisé entre un réseau local et un réseau privé virtuel Azure. Celui-ci a bien sûr un coût : Metered Data (données mesurées avec frais de transfert) pour une bande passante de 200 Mbps en Europe coûte environ 500$ à 700$ par mois.
Unlimited Data (données illimitées) pour une bande passante de 500 Mbps en Europe coûte environ 2000$ à 3000$ par mois.</p>
</blockquote>

<p>Idéalement, il serait pertinent de mettre en place une <a href="https://learn.microsoft.com/fr-fr/azure/vpn-gateway/tutorial-site-to-site-portal">connexion VPN site à site (S2S)</a> si on souhaitait déployer un cloud hybride, de façon à se donner la possibilité d&rsquo;administrer ses VM locales de la même manière que les VM Azure grâce à <a href="https://learn.microsoft.com/fr-fr/azure/azure-arc/overview">Azure Arc</a>.</p>

<p>Nous obtiendrions alors l&rsquo;architecture suivante :</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/schema-vpn-s2s.png" alt="Cloud hybride par internet" width="100%" style="max-width: 1200px;"/></p>

<p>On peut remarquer que, puisque les deux réseaux ont directement accès l&rsquo;un à l&rsquo;autre, il n&rsquo;y a plus besoin que d&rsquo;un seul <strong>load balancer</strong>.</p>

<p>Celui-ci pourrait également être déplacé dans le réseau Azure, ce qui offrirait plus de souplesse puisqu&rsquo;il serait possible de modifier dynamiquement sa configuration lors de la création/suppression des VM.</p>

<p>Le désavantage dans notre cas serait d&rsquo;effectuer un <strong>aller-retour</strong> systématique entre les deux réseaux pour se connecter à l&rsquo;application lorsqu&rsquo;elle n&rsquo;est déployée que dans le réseau local (cas le plus courant, hors pic de charge).</p>

<p>Par ailleurs, les contraintes de notre environnement de test (mon réseau domestique) rendent impossible la création d&rsquo;une passerelle VPN exposant le réseau privé avec une adresse IP publique.</p>

<p>C&rsquo;est pour cela que dans la suite de l&rsquo;article, nous allons considérer une <a href="https://learn.microsoft.com/fr-fr/azure/vpn-gateway/vpn-gateway-howto-point-to-site-resource-manager-portal">connexion VPN point à site (P2S)</a>.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/schema-vpn.png" alt="Cloud hybride par internet" width="100%" style="max-width: 1200px;"/>
<img src="/static/images/articles/hybrid-cloud-azure-autoscale/schema-vpn-autoscale.png" alt="Cloud hybride par VPN" width="100%" style="max-width: 1200px;"/></p>

<p>Avec cette installation, il n&rsquo;est pas possible de déplacer le load balancer dans le réseau virtuel Azure puisqu&rsquo;il n&rsquo;a pas connaissance de l&rsquo;adresse IP de la VM locale pour rediriger le trafic vers elle.</p>

<p>Pour le reste, l&rsquo;architecture est semblable au cas S2S puisque le load balancer local aura un accès direct aux VM créées sur Azure.</p>

<p>Nous remarquons dans les deux cas la présence d&rsquo;une <strong>passerelle NAT</strong> dans le réseau Azure : celle-ci permet aux VM Azure d&rsquo;accéder à internet tout en se trouvant dans un sous-réseau strictement privé.</p>
<h2 id="creation-de-l-infrastructure-cloud-azure" class="mt-5"><span>Création de l&rsquo;infrastructure cloud Azure </span><a class="icon-link icon-link-hover text-secondary" href="#creation-de-l-infrastructure-cloud-azure">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2><h3 class="fw-bold mt-4 mb-4" id="creation-du-reseau-virtuel-cloud"><span>Création du réseau virtuel cloud </span><a class="icon-link icon-link-hover text-secondary" href="#creation-du-reseau-virtuel-cloud">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Pour rappel, voici l&rsquo;infrastructure réseau que nous avons précédemment définie pour notre cloud hybride :</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/schema-vpn-autoscale.png" alt="Cloud hybride par VPN" width="100%" style="max-width: 1200px;"/></p>

<p>La partie cloud de l&rsquo;infrastructure consiste donc en un <a href="https://learn.microsoft.com/fr-fr/azure/virtual-network/virtual-networks-overview">réseau virtuel Azure</a>
qui sera exposé avec une adresse IP publique pour pouvoir le relier à notre réseau local par l&rsquo;intermédiare d&rsquo;un lien VPN.</p>

<p>Si cela n&rsquo;est pas déjà fait, il faut <a href="https://www.acronis.com/fr-fr/blog/posts/create-microsoft-azure-account/">créer un compte Azure</a> éventuellement relié à
votre compte Windows 365.</p>

<p>Nous supposons aussi qu&rsquo;<a href="https://learn.microsoft.com/fr-fr/cli/azure/what-is-azure-cli">Azure CLI</a> est <a href="https://learn.microsoft.com/fr-fr/cli/azure/install-azure-cli">installé</a> afin de pouvoir exécuter des commandes d&rsquo;administration du réseau virtuel Azure.</p>

<p>Nous pouvons maintenant nous logger en ligne de commande à notre compte Azure. Il existe plusieurs <a href="https://learn.microsoft.com/fr-fr/cli/azure/authenticate-azure-cli">méthodes d&rsquo;authentification</a> qui nous seront proposées à l&rsquo;invite de la ligne de commande.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">az login
</span></span></code></pre>
<p>Nous supposons que nous exécutons les commandes dans un environnement Linux (éventuellement WSL ou Git Bash), et nous définissons au fur et à mesure les variables que nous utiliserons.</p>

<p>Afin de s&rsquo;assurer que nous sommes bien connectés à l&rsquo;abonnement que l&rsquo;on souhaite, nous pouvons lister les abonnements liés à notre compte et choisir celui qui convient.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">az account list --all
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Indiquer son id de souscription à Azure</span>
</span></span><span class="line"><span class="cl"><span class="nv">SUBSCR_ID</span><span class="o">=</span><span class="s2">&#34;xxxx-xxx-xxxx-xxxxxx-xxxxxxx&#34;</span> <span class="c1"># votre id de souscription Azure</span>
</span></span><span class="line"><span class="cl">az account <span class="nb">set</span> --subscription <span class="s2">&#34;</span><span class="nv">$SUBSCR_ID</span><span class="s2">&#34;</span>
</span></span></code></pre>
<p>Nous allons maintenant créer un <a href="https://learn.microsoft.com/fr-fr/azure/azure-resource-manager/management/manage-resource-groups-portal">groupe de ressources</a> qui
permettra d&rsquo;associer tous les éléments liés à notre infrastructure cloud. Nous lui attribuons ici la région <code>francecentral</code> mais il est tout à fait possible d&rsquo;en choisir une autre selon le besoin ainsi que les coûts et options proposées (qui peuvent donc différer d&rsquo;une région à une autre).</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nv">RESOURCE_GROUP</span><span class="o">=</span><span class="s2">&#34;TpCloudHybrideVPN&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">LOCATION</span><span class="o">=</span><span class="s2">&#34;francecentral&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Créer un groupe de ressources pour le VPN</span>
</span></span><span class="line"><span class="cl">az group create --name <span class="nv">$RESOURCE_GROUP</span> --location <span class="nv">$LOCATION</span>
</span></span></code></pre>
<p>Nous pouvons alors créer un <strong>réseau virtuel</strong> qui hébergera l&rsquo;ensemble de notre infrastructure cloud. Il faut lui associer une plage d&rsquo;adresse IP (ici <code>10.1.0.0/16</code>, soit toutes les adresses IP de <code>10.1.0.0</code> à <code>10.1.255.255</code>) et on peut déjà procéder à la création du <strong>sous-réseau</strong> &ldquo;Frontend&rdquo; qui accueuillera les VM (<code>10.1.0.0/24</code>, soit une plage d&rsquo;IP de <code>10.1.0.4</code> à <code>10.1.0.254</code>)</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nv">VNET_NAME</span><span class="o">=</span><span class="s2">&#34;VnetVPN&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">IPRANGE</span><span class="o">=</span><span class="s2">&#34;10.1.0.0/16&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">SUBNET_NAME</span><span class="o">=</span><span class="s2">&#34;Frontend&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">SUBNET</span><span class="o">=</span><span class="s2">&#34;10.1.0.0/24&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Créer le réseau virtuel avec la plage d&#39;IP souhaitée</span>
</span></span><span class="line"><span class="cl">az network vnet create --name <span class="nv">$VNET_NAME</span> --resource-group <span class="nv">$RESOURCE_GROUP</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --address-prefix <span class="nv">$IPRANGE</span> --location <span class="nv">$LOCATION</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --subnet-name <span class="nv">$SUBNET_NAME</span> --subnet-prefix <span class="nv">$SUBNET</span>
</span></span></code></pre>
<blockquote>
<p>On peut noter qu&rsquo;Azure réserve un total de 5 adresses IP par sous-réseau : par exemple pour la plage <code>10.1.0.0/24</code>, l&rsquo;adresse <code>10.1.0.0</code> est réservée pour le réseau, <code>10.1.0.1</code> pour la passerelle par défaut, <code>10.1.0.2</code> et <code>10.1.0.3</code> pour mapper les adresses IP Azure DNS à l’espace réseau virtuel, et enfin <code>10.1.0.255</code> pour le broadcast.</p>
</blockquote>

<p>Nous réservons dès maintenant une <a href="https://learn.microsoft.com/fr-fr/azure/virtual-network/ip-services/public-ip-addresses">adresse IP publique</a> que nous attribuerons plus tard à la passerelle VPN pour associer le réseau local et le réseau virtuel Azure.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nv">PUBLIC_IP</span><span class="o">=</span><span class="s2">&#34;VnetVPNGwIp&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Demander une IP publique pour la gateway Azure</span>
</span></span><span class="line"><span class="cl">az network public-ip create --name <span class="nv">$PUBLIC_IP</span> --resource-group <span class="nv">$RESOURCE_GROUP</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --allocation-method Static --sku Standard
</span></span></code></pre><h3 class="fw-bold mt-4 mb-4" id="mise-en-place-de-la-connexion-vpn-p2s-point-to-site"><span>Mise en place de la connexion VPN P2S (point-to-site) </span><a class="icon-link icon-link-hover text-secondary" href="#mise-en-place-de-la-connexion-vpn-p2s-point-to-site">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Nous allons ici créer la <a href="https://learn.microsoft.com/fr-fr/azure/vpn-gateway/vpn-gateway-about-vpngateways">passerelle VPN</a>, lui associer l&rsquo;adresse IP publique précédemment créée, et installer le client VPN Azure pour pouvoir établir la connexion &ldquo;point-to-site&rdquo; à partir de notre réseau local.</p>

<p>Tout d&rsquo;abord, nous exécutons les commandes CLI suivantes pour la création de la passerelle VPN et de son sous-réseau dédié.</p>

<blockquote>
<p>Il faut bien faire attention ici à ce que la <strong>plage d&rsquo;adresses IP</strong> du <strong>pool VPN client</strong> ne se superpose pas à celle du <strong>réseau virtuel</strong> dédié à l&rsquo;hébergement de l&rsquo;infrastructure cloud !</p>
</blockquote>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nv">GATEWAY_SUBNET</span><span class="o">=</span><span class="s2">&#34;10.1.255.0/27&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">GATEWAY_SUBNET_NAME</span><span class="o">=</span><span class="s2">&#34;GatewaySubnet&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">GATEWAY_NAME</span><span class="o">=</span><span class="s2">&#34;VnetVPNGwP2S&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">VPN_CLIENT_IP_POOL</span><span class="o">=</span><span class="s2">&#34;172.16.201.0/24&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Créer le sous-réseau de passerelle (Gateway subnet)</span>
</span></span><span class="line"><span class="cl">az network vnet subnet create --address-prefix <span class="nv">$GATEWAY_SUBNET</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --name <span class="nv">$GATEWAY_SUBNET_NAME</span> --resource-group <span class="nv">$RESOURCE_GROUP</span> --vnet-name <span class="nv">$VNET_NAME</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Créer la passerelle VPN</span>
</span></span><span class="line"><span class="cl">az network vnet-gateway create --name <span class="nv">$GATEWAY_NAME</span> --public-ip-address <span class="nv">$PUBLIC_IP</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --resource-group <span class="nv">$RESOURCE_GROUP</span> --vnet <span class="nv">$VNET_NAME</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --gateway-type Vpn --vpn-type RouteBased --sku VpnGw2 --no-wait <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --client-protocol IkeV2 OpenVPN <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --vpn-gateway-generation Generation2 <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --address-prefix <span class="nv">$VPN_CLIENT_IP_POOL</span>
</span></span></code></pre>
<p>Afin d&rsquo;assurer le chiffrement des communications entre le réseau local et le réseau virtuel Azure, nous allons générer un <strong>certificat racine</strong> qui servira à signer
le <strong>certificat client</strong> utilisé pour établir la connexion VPN P2S sécurisée.</p>

<p>Selon votre configuration, il est possible de générer les certificats racine et client avec <a href="https://learn.microsoft.com/fr-fr/azure/vpn-gateway/vpn-gateway-certificates-point-to-site">Powershell</a> ou <a href="https://learn.microsoft.com/fr-fr/azure/vpn-gateway/vpn-gateway-certificates-point-to-site-makecert">Makecert</a> sous Windows,
<a href="https://learn.microsoft.com/fr-fr/azure/vpn-gateway/point-to-site-certificates-linux-openssl">OpenSSL</a> ou <a href="https://learn.microsoft.com/fr-fr/azure/vpn-gateway/vpn-gateway-certificates-point-to-site-linux">strongSwan</a> pour Linux.</p>

<p>Pour notre cas, notre réseau local est hébergé sur un PC Windows 11 utilisant Windows Hyper-V donc nous avons utilisé les consignes <a href="https://learn.microsoft.com/fr-fr/azure/vpn-gateway/vpn-gateway-certificates-point-to-site">Powershell</a> pour générer les deux certificats ci-dessous.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/certs-windows.png" alt="Certificats pour VPN" width="100%" style="max-width: 700px;"/></p>

<p>Nous pouvons donc ajouter le certificat racine <code>P2SRootCert.cer</code> à la passerelle VPN en utilisant de nouveau Azure CLI.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">az network vnet-gateway root-cert create <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --resource-group <span class="nv">$RESOURCE_GROUP</span> --gateway-name <span class="nv">$GATEWAY_NAME</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --name P2SRootCert --public-cert-data P2SRootCert.cer
</span></span></code></pre>
<p>Nous allons maintenant nous rendre sur le portail Azure, chercher le nom de notre passerelle de réseau virtuel <code>VnetVPNGwP2S</code> pour accéder à sa page, et <a href="https://learn.microsoft.com/fr-fr/azure/vpn-gateway/vpn-gateway-howto-point-to-site-resource-manager-portal#azure-portal">télécharger la configuration pour client VPN</a>.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/azure-vpn-config.png" alt="Certificats pour VPN" width="100%" style="max-width: 700px;"/></p>

<p>Enfin, sur notre réseau local (ici un PC Windows), nous allons installer le <a href="https://install.appcenter.ms/users/user-microsoft/apps/azure-vpn-client-1/distribution_groups/publicgroup/releases/20">client VPN Azure</a> et le <a href="https://learn.microsoft.com/fr-fr/azure/vpn-gateway/point-to-site-vpn-client-certificate-windows-azure-vpn-client">configurer</a> à partir du fichier zip que nous venons de télécharger.</p>

<p>Nous pouvons donc voir la connexion VPN dans la liste et nous y connecter.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/vpn-client-config.png" alt="Certificats pour VPN" width="100%" style="max-width: 1200px;"/></p>
<h3 class="fw-bold mt-4 mb-4" id="creation-d-un-bastion-ssh"><span>Création d&rsquo;un bastion SSH </span><a class="icon-link icon-link-hover text-secondary" href="#creation-d-un-bastion-ssh">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>De façon à sécuriser l&rsquo;accès extérieur aux VM, une bonne pratique consiste à créer un <strong>bastion</strong> : il s&rsquo;agit d&rsquo;un serveur de rebond qui sera le seul à être exposé à internet via ssh. De la sorte, la centralisation du point d&rsquo;entrée à un réseau privé permet de mieux contrôler l&rsquo;accès externe à l&rsquo;infrastructure et d&rsquo;isoler une éventuelle intrusion sur le réseau.</p>

<p>Azure propose son propre <a href="https://learn.microsoft.com/fr-fr/azure/bastion/bastion-overview">service de bastion</a> qui offre de multiples avantages dont celui de gérer les connexions RDP; mais pour des raisons d&rsquo;économie (nous pouvons nous contenter d&rsquo;une VM de taille minimale en tant que bastion) et d&rsquo;apprentissage de l&rsquo;infrastructure Azure, nous allons <strong>créer un sous-réseau et une VM</strong> dédiés au bastion.</p>

<blockquote>
<p>Concernant les coûts, une VM Linux standard (2 vCPU, 8 GB RAM) coûtera environ 35 $/mois là où les frais d&rsquo;une instance Azure Bastion s&rsquo;élèveront à près de 140 $/mois sans même prendre en compte la tarification des données transférées.</p>
</blockquote>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/schema-bastion.png" alt="Bastion SSH" width="100%" style="max-width: 1150px;"/></p>

<p>Nous pouvons voir dans le schema précédent que nous appliquons des règles sur le trafic entrant par l&rsquo;intermédiaire d&rsquo;un <a href="https://learn.microsoft.com/fr-fr/azure/virtual-network/network-security-group-how-it-works">groupe de sécurité réseau</a> pour n&rsquo;autoriser le trafic que sur le port 22 (et éventuellement en provenance d&rsquo;une plage d&rsquo;adresses IP autorisées).</p>

<p>Voici maintenant les commandes Azure CLI permettant de créer le bastion SSH; nous pouvons remarquer que dans notre cas, nous n&rsquo;exposons pas le bastion à internet puisque nous ne nous y connectons que par lien VPN. Les commandes liées à un accès public sont donc commentées.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nv">BASTION_SUBNET_NAME</span><span class="o">=</span><span class="s2">&#34;Bastion&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">BASTION_SUBNET_RANGE</span><span class="o">=</span><span class="s2">&#34;10.1.1.0/24&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Pas besoin de créer une adresse publique comme on utilise le VPN</span>
</span></span><span class="line"><span class="cl"><span class="c1"># az network public-ip create --resource-group &#34;$RESOURCE_GROUP&#34; \</span>
</span></span><span class="line"><span class="cl"><span class="c1">#   --name BastionPublicIP --sku Standard --zone 1 2 3</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Créer le sous-réseau dédié</span>
</span></span><span class="line"><span class="cl">az network vnet subnet create <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --name <span class="nv">$BASTION_SUBNET_NAME</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --resource-group <span class="nv">$RESOURCE_GROUP</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --vnet-name <span class="nv">$VNET_NAME</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --address-prefixes <span class="s2">&#34;</span><span class="nv">$BASTION_SUBNET_RANGE</span><span class="s2">&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Créer un groupe de sécurité réseau</span>
</span></span><span class="line"><span class="cl">az network nsg create --resource-group <span class="s2">&#34;</span><span class="nv">$RESOURCE_GROUP</span><span class="s2">&#34;</span> --name BastionNSG
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Créer une règle de groupe de sécurité réseau n&#39;autorisant que</span>
</span></span><span class="line"><span class="cl"><span class="c1"># le trafic entrant sur le port 22 (ssh)</span>
</span></span><span class="line"><span class="cl">az network nsg rule create <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --resource-group <span class="s2">&#34;</span><span class="nv">$RESOURCE_GROUP</span><span class="s2">&#34;</span> --nsg-name BastionNSG --name BastionNSGRuleSSH <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --protocol <span class="s1">&#39;tcp&#39;</span> --direction inbound <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --source-address-prefix <span class="s1">&#39;*&#39;</span> --source-port-range <span class="s1">&#39;*&#39;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --destination-address-prefix <span class="s1">&#39;*&#39;</span> --destination-port-range <span class="m">22</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --access allow --priority <span class="m">200</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># On pourrait limiter la plage d&#39;IP source (pas nécessaire ici car bastion sans IP publique)</span>
</span></span><span class="line"><span class="cl"><span class="c1"># --source-address-prefix $VPN_CLIENT_IP_POOL</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Créer la VM Bastion SSH</span>
</span></span><span class="line"><span class="cl">az vm create <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --resource-group <span class="s2">&#34;</span><span class="nv">$RESOURCE_GROUP</span><span class="s2">&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --name <span class="s2">&#34;BastionSSHVM&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --image <span class="s2">&#34;Debian:debian-12:12:latest&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --size <span class="s2">&#34;Standard_B1s&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --location <span class="s2">&#34;</span><span class="nv">$LOCATION</span><span class="s2">&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --vnet-name <span class="s2">&#34;</span><span class="nv">$VNET_NAME</span><span class="s2">&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --subnet <span class="s2">&#34;</span><span class="nv">$BASTION_SUBNET_NAME</span><span class="s2">&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --public-ip-address <span class="s2">&#34;&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --nsg <span class="s2">&#34;BastionNSG&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --admin-username <span class="s2">&#34;azureuser&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --ssh-key-value ~/.ssh/id_ed25519_azure_bastion.pub <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --output json <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --verbose
</span></span><span class="line"><span class="cl">  <span class="c1"># --public-ip-address &#34;BastionPublicIP&#34; \</span>
</span></span></code></pre><h3 class="fw-bold mt-4 mb-4" id="configuration-du-sous-reseau-des-vm-azure"><span>Configuration du sous-réseau des VM Azure </span><a class="icon-link icon-link-hover text-secondary" href="#configuration-du-sous-reseau-des-vm-azure">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Après avoir créé le bastion, nous allons donc maintenant pouvoir définir des <strong>règles d&rsquo;accès</strong> au sous-réseau hébergeant les VM ainsi que leur accès internet sortant par l&rsquo;intermédiaire d&rsquo;une <strong>passerelle NAT</strong>.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c1">######################################</span>
</span></span><span class="line"><span class="cl"><span class="c1"># Configuration du sous-réseau des VM</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nv">FRONTEND_NSG_NAME</span><span class="o">=</span><span class="s2">&#34;FrontendNSG&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Créer un groupe de sécurité réseau</span>
</span></span><span class="line"><span class="cl">az network nsg create --resource-group <span class="s2">&#34;</span><span class="nv">$RESOURCE_GROUP</span><span class="s2">&#34;</span> --name <span class="nv">$FRONTEND_NSG_NAME</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Créer une règle de groupe de sécurité réseau n&#39;autorisant</span>
</span></span><span class="line"><span class="cl"><span class="c1"># le trafic entrant sur le port 22 (ssh) qu&#39;en provenance</span>
</span></span><span class="line"><span class="cl"><span class="c1"># du sous-réseau du Bastion SSH</span>
</span></span><span class="line"><span class="cl">az network nsg rule create <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --resource-group <span class="s2">&#34;</span><span class="nv">$RESOURCE_GROUP</span><span class="s2">&#34;</span> --nsg-name <span class="nv">$FRONTEND_NSG_NAME</span> --name AllowSSHFromBastion <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --protocol Tcp  --direction inbound <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --source-address-prefix <span class="nv">$BASTION_SUBNET_RANGE</span> --source-port-range <span class="s1">&#39;*&#39;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --destination-address-prefix <span class="s1">&#39;*&#39;</span> --destination-port-range <span class="m">22</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --access allow --priority <span class="m">100</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --description <span class="s2">&#34;Allow SSH from Bastion subnet&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">az network nsg rule create <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --resource-group <span class="nv">$RESOURCE_GROUP</span> --nsg-name <span class="nv">$FRONTEND_NSG_NAME</span> --name DenySSHFromOthers <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --priority <span class="m">200</span> --source-address-prefixes <span class="s1">&#39;*&#39;</span> --destination-port-ranges <span class="m">22</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --direction Inbound --access Deny --protocol Tcp <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --description <span class="s2">&#34;Deny SSH from all other sources&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Associer le NSG au sous-réseau &#34;Frontend&#34;</span>
</span></span><span class="line"><span class="cl">az network vnet subnet update <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --vnet-name <span class="nv">$VNET_NAME</span> --name <span class="nv">$SUBNET_NAME</span> --resource-group <span class="nv">$RESOURCE_GROUP</span> --network-security-group <span class="nv">$FRONTEND_NSG_NAME</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1">######################</span>
</span></span><span class="line"><span class="cl"><span class="c1"># Passerelle NAT</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Créer une adresse IP publique</span>
</span></span><span class="line"><span class="cl">az network public-ip create --resource-group <span class="s2">&#34;</span><span class="nv">$RESOURCE_GROUP</span><span class="s2">&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --name NATPublicIP --sku Standard --zone <span class="m">1</span> <span class="m">2</span> <span class="m">3</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Création de la passerelle NAT</span>
</span></span><span class="line"><span class="cl">az network nat gateway create <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --resource-group <span class="nv">$RESOURCE_GROUP</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --name NATGateway <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --public-ip-addresses NATPublicIP <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --idle-timeout <span class="m">10</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --location <span class="nv">$LOCATION</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Configurer le service NAT pour le sous-réseau $SUBNET_NAME</span>
</span></span><span class="line"><span class="cl">az network vnet subnet update <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --name <span class="nv">$SUBNET_NAME</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --resource-group <span class="nv">$RESOURCE_GROUP</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --vnet-name <span class="nv">$VNET_NAME</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --nat-gateway NATGateway
</span></span></code></pre>
<blockquote>
<p>Attention : le service <a href="https://learn.microsoft.com/fr-fr/azure/nat-gateway/nat-overview">Azure NAT Gateway</a> est payant dès son initialisation</p>
</blockquote>
<h3 class="fw-bold mt-4 mb-4" id="affichage-des-ressources-sur-le-portail-azure"><span>Affichage des ressources sur le portail Azure </span><a class="icon-link icon-link-hover text-secondary" href="#affichage-des-ressources-sur-le-portail-azure">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Toutes les ressources créées sont visibles dans le groupe de ressource <code>TPCloudHybrideVPN</code> que l&rsquo;on a créé au tout début :</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/resources-list.png" alt="Liste des ressources" width="100%" style="max-width: 1270px;"/></p>
<h2 id="repartition-de-charge-entre-le-reseau-local-et-le-cloud-azure" class="mt-5"><span>Répartition de charge entre le réseau local et le cloud Azure </span><a class="icon-link icon-link-hover text-secondary" href="#repartition-de-charge-entre-le-reseau-local-et-le-cloud-azure">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2><h3 class="fw-bold mt-4 mb-4" id="description-du-besoin"><span>Description du besoin </span><a class="icon-link icon-link-hover text-secondary" href="#description-du-besoin">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Pour rappel, l&rsquo;objectif du cloud hybride consiste à créer de une à deux VM sur l&rsquo;infrastructure Azure en cas de pic de charge, et nous avions proposé le schéma réseau suivant avec un load balancer dans le réseau local.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/schema-load-balancer.png" alt="Load balancer local" width="100%" style="max-width: 1200px;"/></p>

<p>Nous aurions pu choisir de placer le <strong>load balancer</strong> dans le réseau cloud Azure, d&rsquo;autant qu&rsquo;<a href="https://learn.microsoft.com/fr-fr/azure/load-balancer/load-balancer-overview">Azure Load Balancer</a> offre la possibilité d&rsquo;ajouter/supprimer dynamiquement des serveurs cibles, ce qui correspondait parfaitement à notre besoin.</p>

<p>Cependant, avec l&rsquo;architecture réseau <strong>VPN point-to-site</strong> que nous avons dû choisir, il n&rsquo;est pas possible à un load balancer situé dans le réseau Azure de joindre une VM du réseau local. De plus, il n&rsquo;aurait pas forcément été pertinent de contraindre chaque connexion à l&rsquo;application de transiter par le reseau distant Azure si, pour l&rsquo;essentiel du temps, elle n&rsquo;était déployée que sur la VM locale.</p>

<p>L&rsquo;enjeu consiste donc ici pour le load balancer local à prendre en compte dynamiquement les VM créées sur le cloud Azure en cas de pic de charge. Nous partons du principe que les VM disposeront toujours de la <strong>même adresse IP</strong> (10.1.0.100 et 10.1.0.101).</p>
<h3 class="fw-bold mt-4 mb-4" id="load-balancer-nginx-avec-health-check-passif"><span>Load balancer Nginx avec health check passif </span><a class="icon-link icon-link-hover text-secondary" href="#load-balancer-nginx-avec-health-check-passif">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Une première solution consiste à faire en sorte que le load balancer procède à la désactivation temporaire de la route vers un des serveurs si les requêtes qui lui sont envoyées échouent.</p>

<p>Nous pouvons utiliser pour cela la fonctionnalité de <a href="https://docs.nginx.com/nginx/admin-guide/load-balancer/http-health-check/">health check passif</a> proposée dans la version gratuite de Nginx.</p>

<p>Dans ce cas, il faut fournir les deux paramètres suivants dans la configuration du serveur cible du load balancer :</p>

<ul>
<li><code>fail_timeout</code> : définit le temps pendant lequel un certain nombre de tentatives infructueuses doivent se produire pour que le serveur soit marqué comme indisponible, ainsi que sa période d&rsquo;indisponibilité</li>
<li><code>max_fails</code> : définit le nombre de tentatives infructueuses qui doivent se produire pendant la période <code>fail_timeout</code> pour que le serveur soit marqué comme indisponible</li>
</ul>

<p>Afin d&rsquo;impacter le moins possible les utilisateurs avec des erreurs d&rsquo;affichage de la page web lorsqu&rsquo;une requête est envoyée à un serveur indisponible, nous allons limiter à une seule tentative le paramètre <code>max_fails</code> et définir une période d&rsquo;indisponibilité suffisamment longue (5 minutes par exemple).</p>

<p>Il suffit pour cela de créer le fichier de configuration suivant (que nous nommerons <code>load_balancer.conf</code>), puis de le monter comme volume du conteneur Nginx défini dans Docker Compose. Celui-ci contient également la définition du SSL avec un certificat et la redirection http vers https.</p>

<p><code>load_balancer.conf</code></p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">upstream myapp <span class="o">{</span>
</span></span><span class="line"><span class="cl">    <span class="c1"># Serveur principal de l&#39;application dans le réseau local</span>
</span></span><span class="line"><span class="cl">    server 192.168.10.5<span class="p">;</span>
</span></span><span class="line"><span class="cl">    <span class="c1"># VM créées sur Azure en cas de pic de charge</span>
</span></span><span class="line"><span class="cl">    server 10.1.0.100 <span class="nv">max_fails</span><span class="o">=</span><span class="m">1</span> <span class="nv">fail_timeout</span><span class="o">=</span>120s<span class="p">;</span>
</span></span><span class="line"><span class="cl">    server 10.1.0.101 <span class="nv">max_fails</span><span class="o">=</span><span class="m">1</span> <span class="nv">fail_timeout</span><span class="o">=</span>120s<span class="p">;</span>
</span></span><span class="line"><span class="cl"><span class="o">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">server <span class="o">{</span>
</span></span><span class="line"><span class="cl">  listen 80<span class="p">;</span>
</span></span><span class="line"><span class="cl">  listen <span class="o">[</span>::<span class="o">]</span>:80<span class="p">;</span>
</span></span><span class="line"><span class="cl">  server_name myapp.perso.com<span class="p">;</span>
</span></span><span class="line"><span class="cl">  <span class="k">return</span> <span class="m">301</span> https://<span class="nv">$server_name$request_uri</span><span class="p">;</span>
</span></span><span class="line"><span class="cl"><span class="o">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">server <span class="o">{</span>
</span></span><span class="line"><span class="cl">    listen <span class="m">443</span> ssl<span class="p">;</span>
</span></span><span class="line"><span class="cl">    listen <span class="o">[</span>::<span class="o">]</span>:443 ssl<span class="p">;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    client_max_body_size 100M<span class="p">;</span>
</span></span><span class="line"><span class="cl">    client_body_in_file_only on<span class="p">;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    server_name myapp.perso.com<span class="p">;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    ssl_certificate /etc/ssl/certs/myapp.crt<span class="p">;</span>
</span></span><span class="line"><span class="cl">    ssl_certificate_key /etc/ssl/private/myapp.key<span class="p">;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    access_log /var/log/nginx/myapp.access.log<span class="p">;</span>
</span></span><span class="line"><span class="cl">    error_log /var/log/nginx/myapp.error.log debug<span class="p">;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    location / <span class="o">{</span>
</span></span><span class="line"><span class="cl">        proxy_pass http://myapp<span class="p">;</span>
</span></span><span class="line"><span class="cl">    <span class="o">}</span>
</span></span><span class="line"><span class="cl"><span class="o">}</span>
</span></span></code></pre>
<p><code>docker-compose.yml</code></p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">services</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">load_balancer</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">nginx:1.27.0</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">load_balancer</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ports</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;80:80&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;443:443&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">frontend</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./nginx/conf.d/load_balancer.conf:/etc/nginx/conf.d/load_balancer.conf:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./certs/perso.com.crt:/etc/ssl/certs/myapp.crt:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./certs/perso.com.key:/etc/ssl/private/myapp.key:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./nginx/log:/var/log/nginx</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/etc/localtime:/etc/localtime:ro</span><span class="w">
</span></span></span></code></pre>
<p>De la sorte, tant que les deux VM Azure ne sont pas actives, elles sont retirées comme cibles du load balancer pendant une durée de 5 minutes à la première tentative infructueuse de connexion.</p>

<p>Ce comportement n&rsquo;est toutefois pas véritablement satisfaisant puisque certains utilisateurs auront une page d&rsquo;erreur lorsqu&rsquo;ils seront redirigés vers les VM Azure non existantes tant que le load balancer n&rsquo;aura pas désactivé la route correspondante.</p>

<p>C&rsquo;est pourquoi nous allos voir comment implémenter un <strong>health check actif</strong> avec Trafik.</p>

<blockquote>
<p>Nginx propose dans sa version payante Nginx Plus un <a href="https://docs.nginx.com/nginx/admin-guide/load-balancer/http-health-check/#active-health-checks">health check actif</a> lui aussi.</p>
</blockquote>
<h3 class="fw-bold mt-4 mb-4" id="health-check-actif-avec-le-load-balancer-traefik"><span>Health check actif avec le load balancer Traefik </span><a class="icon-link icon-link-hover text-secondary" href="#health-check-actif-avec-le-load-balancer-traefik">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Le <strong>health check actif</strong> consiste cette fois-ci pour le load balancer à initier lui-même des tentatives de connexion vers ses serveurs cibles afin de déterminer s&rsquo;il convient de les désactiver ou non.</p>

<p>De la sorte, l&rsquo;utilisateur n&rsquo;est plus impacté par la perte d&rsquo;un des serveurs puisque sa connexion sera toujours redirigée vers un des serveurs actifs (tant qu&rsquo;il y en a au moins un, bien sûr).</p>

<p><a href="https://doc.traefik.io/traefik/routing/services/#health-check">Traefik</a> propose une telle solution dans sa version gratuite.</p>

<blockquote>
<p>Notons cependant que contrairement à Nginx qui propose de multiples stratégies de répartition de charge, Traefik n&rsquo;offre quant à lui que le round robin.</p>
</blockquote>

<p>Le load balancer Traefik donne la possibilité de ne se configurer que dans Docker Compose lorsque le trafic est redirigé vers d&rsquo;autres conteneurs de la même instance Docker, en utilisant notamment les labels pour identifier les conteneurs.</p>

<p>Dans notre cas, le load balancer a pour cible des serveurs distants donc nous aurons recours à une <a href="https://doc.traefik.io/traefik/getting-started/configuration-overview/#the-dynamic-configuration">configuration dynamique</a> ayant pour <em>provider</em> le fichier que voici.</p>

<p><code>dynamic_config.yaml</code></p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">http</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">routers</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">my-router</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">rule</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;Host(`myapp.perso.com`)&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">service</span><span class="p">:</span><span class="w"> </span><span class="l">my-service</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">entryPoints</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">web</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">my-router-https</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">rule</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;Host(`myapp.perso.com`)&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">service</span><span class="p">:</span><span class="w"> </span><span class="l">my-service</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">entryPoints</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">websecure</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">tls</span><span class="p">:</span><span class="w"> </span>{}<span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">services</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">my-service</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">loadBalancer</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="nt">servers</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span>- <span class="nt">url</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;http://192.168.10.5&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span>- <span class="nt">url</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;http://10.1.0.100&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span>- <span class="nt">url</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;http://10.1.0.101&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="nt">healthCheck</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span><span class="nt">path</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;/&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span><span class="nt">interval</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;10s&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span><span class="nt">timeout</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;3s&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">tls</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">certificates</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">certFile</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;/etc/ssl/certs/perso.com.crt&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">keyFile</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;/etc/ssl/private/perso.com.key&#34;</span><span class="w">
</span></span></span></code></pre>
<p>Nous pouvons remarquer que :</p>

<ul>
<li>la configuration offre deux routes pour <strong>http</strong> et <strong>https</strong> à partir du nom d&rsquo;hôte <code>myapp.perso.com</code> qui dirigent le flux vers les points d&rsquo;entrée respectifs <code>web</code> et <code>websecure</code>. Nous verrons ensuite comment effectuer la redirection http -&gt; https.</li>
<li>la partie SSL et certificats est définie dans ce fichier</li>
<li>le <strong>load balancer</strong> est défini dans la partie <code>services</code> avec les 3 serveurs cibles et surtout le détail du <strong>health check</strong> où on indique l&rsquo;intervalle de test, le timeout et le chemin testé dans l&rsquo;URL</li>
</ul>

<p>Maintenant, nous allons détailler le service Docker Compose correspondant.</p>

<p><code>docker-compose.yml</code></p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">services</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">load_balancer</span><span class="p">:</span><span class="w"> 
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">traefik:v3.1</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">load_balancer</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ports</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;8000:80&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;4443:443&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;9080:8080&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">frontend</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">command</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- --<span class="l">entrypoints.web.address=:80</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- --<span class="l">entrypoints.web.http.redirections.entrypoint.to=:4443</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- --<span class="l">entrypoints.web.http.redirections.entrypoint.scheme=https</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- --<span class="l">entrypoints.websecure.address=:443</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- --<span class="l">providers.file.filename=/etc/traefik/dynamic_config.yaml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- --<span class="l">api.insecure=true</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./traefik/dynamic_config.yaml:/etc/traefik/dynamic_config.yaml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./certs/perso.com.crt:/etc/ssl/certs/perso.com.crt</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./certs/perso.com.key:/etc/ssl/private/perso.com.key</span><span class="w">
</span></span></span></code></pre>
<p>Quelques remarques :</p>

<ul>
<li>ports : dans notre cas, nous exposons des ports différents de 80 et 443 pour http et https afin de ne pas interférer avec d&rsquo;autres applications. Ceci nous oblige à expliciter le port https vers lequel est effectuée la redirection (4443 ici), sinon le paramètre de commande <code>- --entrypoints.web.http.redirections.entrypoint.to=:4443</code> ne serait pas nécessaire.</li>
<li>les points d&rsquo;entrée pour http et https sont définis</li>
<li>le <em>provider</em> est bien indiqué comme étant le fichier <code>dynamic_config.yaml</code> précédemment défini</li>
<li>nous exposons le dashboard Traefik sur le port externe 9080 sans https (donc avec le paramètre <code>--api.insecure=true</code>)</li>
<li>les certificats et le fichier de configuration dynamiques sont montés comme volumes</li>
</ul>

<p>Une fois l&rsquo;environnement Docker Compose démarré avec la commande <code>docker compose up -d</code>, nous pouvons voir la page de l&rsquo;application à l&rsquo;adresse <code>https://myapp.perso.com:4443</code> (avec une redirection vers cette URL si on indique <code>http://myapp.perso.com:8000</code>).</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/app-page.png" alt="Application web page" width="100%" style="max-width: 1000px;"/></p>

<p>Et cette fois-ci, nous n&rsquo;avons aucune erreur même si un seul des 3 serveurs fonctionne comme dans notre cas où les VM Azure ne sont pas activées. Le dashboard Traefik permet de constater que le load balancer a correctement retiré les VM Azure de sa configuration.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/traefik-dashboard.png" alt="Dashboard Traefik" width="100%" style="max-width: 1621px;"/></p>
