<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/autoscaling.png" alt="Scalabilité horizontale" width="100%"/></p>
<h2 id="introduction" class="mt-5"><span>Introduction </span><a class="icon-link icon-link-hover text-secondary" href="#introduction">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>Dans le <a href="https://gazerad.com/fr/article/mettre-a-lechelle-automatiquement-une-application-avec-un-cloud-hybride-azure-partie-1-linfrastructure">premier article</a>, nous avons décrit l&rsquo;infrastructure du cloud hybride destinée à assurer la <strong>mise à l&rsquo;échelle</strong> d&rsquo;une application déployée initialement sur une VM d&rsquo;un réseau local.</p>

<p>Nous abordons maintenant l&rsquo;implémentation de cette mise à l&rsquo;échelle (ou <em>scalabilité</em>) qui sera donc <strong>horizontale</strong>, c&rsquo;est à dire qui se fera en ajoutant de nouvelles instances afin d&rsquo;assurer la même tâche.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/vertical-horizontal-scaling.png" alt="Scalabilité horizontale vs verticale" width="100%" style="max-width: 1000px;"/></p>

<p>L&rsquo;enjeu détaillé dans cet article consiste à offrir un moyen simple et automatisé d&rsquo;adapter l&rsquo;infrastructure en l&rsquo;étendant sur le cloud public Azure afin de répondre à des pics de charge sur l&rsquo;infrastructure locale initiale.</p>
<h2 id="creation-du-mecanisme-de-mise-a-l-echelle-sur-azure" class="mt-5"><span>Création du mécanisme de mise à l&rsquo;échelle sur Azure </span><a class="icon-link icon-link-hover text-secondary" href="#creation-du-mecanisme-de-mise-a-l-echelle-sur-azure">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2><h3 class="fw-bold mt-4 mb-4" id="presentation-de-la-solution"><span>Présentation de la solution </span><a class="icon-link icon-link-hover text-secondary" href="#presentation-de-la-solution">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Rappelons l&rsquo;objectif de mise à l&rsquo;échelle automatique de notre application : <strong>créer de une à deux VM</strong> au maximum sur le <strong>cloud Azure</strong> lorsqu&rsquo;on atteint un <strong>pic de charge</strong> sur la VM locale, et répartir les connexions entrantes entre elles. Puis, lorsque la charge redevient &ldquo;normale&rdquo;, les ressources créées sur Azure doivent être <strong>supprimées</strong> et les connexions redirigées vers la VM locale uniquement.</p>

<p><a href="https://learn.microsoft.com/fr-fr/azure/azure-functions/functions-overview?pivots=programming-language-powershell">Azure Functions</a> est un service cloud serverless qui permet de mettre en place de façon immédiate une API exposant une application dont nous avons déployé le code. En bref, il s&rsquo;agit d&rsquo;un moyen direct d&rsquo;<strong>exécuter du code par le biais d&rsquo;une API</strong>, sans se soucier de l&rsquo;infrastrucure sous-jacente, avec de plus un accès au réseau cloud privé que nous avons créé.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/autoscaling-azure-functions.png" alt="Autoscaling avec Azure Functions" width="100%" style="max-width: 1000px;"/></p>

<p>Comme nous le verrons dans le prochain article, la <em>stack</em> de supervision utilise <strong>Alertmanager</strong> qui est configuré pour appeler une URL lorsque des alertes sont générées par <strong>Prometheus</strong>. La fonction Azure va donc nous permettre d&rsquo;assurer la chaîne de <strong>mise à l&rsquo;échelle automatique</strong> de l&rsquo;infrastructure cloud en réponse à des alertes de supervision puisqu&rsquo;elle proposera une API permettant de créer/supprimer des VM Azure sur laquelle pointeront les webhooks d&rsquo;Alertmanager.</p>
<h3 class="fw-bold mt-4 mb-4" id="explication-du-choix-d-azure-functions"><span>Explication du choix d&rsquo;Azure Functions </span><a class="icon-link icon-link-hover text-secondary" href="#explication-du-choix-d-azure-functions">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Azure propose des outils de mise à l&rsquo;échelle automatiquement gérée qui auraient pu correspondre à notre besoin, et plus particulièrement <a href="https://learn.microsoft.com/fr-fr/azure/virtual-machine-scale-sets/overview">Virtual Machine Scale Set (VMSS)</a>. Cette fonctionnalité permet en effet de définir un groupe de VM équipé d&rsquo;un load balancer dont on peut faire varier le nombre d&rsquo;unités en fonction d&rsquo;évènements de supervision.</p>

<p>De façon très simple comme détaillé dans ce <a href="https://learn.microsoft.com/fr-fr/azure/virtual-machine-scale-sets/tutorial-autoscale-cli?tabs=Ubuntu">tutoriel</a>, nous pouvons définir un nombre minimum et maximum de VM propre au groupe ainsi que des paramètres de supervision générant la création ou la suppression de VM.</p>

<p>Nous nous situons donc apparemment dans notre cas d&rsquo;utilisation sauf que nous souhaitons superviser uniquement la <strong>VM du réseau local</strong>. En l&rsquo;absence d&rsquo;une configuration <a href="https://learn.microsoft.com/fr-fr/azure/azure-arc/overview">Azure Arc</a> qui permette de gérer indentiquement une VM locale et une VM Azure, il est <strong>impossible de définir un VMSS</strong> incluant la VM principale pour laquelle des évènements de supervision déclencheraient la mise à l&rsquo;échelle horizontale sur Azure.</p>

<p>Par ailleurs, <strong>Azure Functions</strong> présente certains avantages correspondant à notre besoin :</p>

<ul>
<li><em>API prête à l&rsquo;emploi</em> : Azure Functions permet de créer une API déclenchable (via HTTP, webhook, etc.) sans avoir à développer ni héberger notre propre API.</li>
<li><em>Automatisation basée sur des événements</em> : une fonction Azure peut répondre automatiquement aux événements (comme des alertes de charge) et exécuter les actions nécessaires (création/suppression de VM) sans interaction manuelle.</li>
<li><em>Scalabilité automatique</em> : de par sa nature <strong>serverless</strong> Azure Functions s&rsquo;adapte à la charge sans avoir à gérer d&rsquo;infrastructure, contrairement à un script CLI qui nécessiterait un serveur.</li>
<li><em>Facturation à l&rsquo;usage</em> : on paie uniquement pour le temps d&rsquo;exécution, ce qui est plus rentable que maintenir un processus CLI actif en permanence.</li>
<li><em>Intégration simplifiée</em> : une fonction Azure s&rsquo;intègre facilement à d&rsquo;autres services Azure (monitoring, Event Grid, etc.) pour créer des workflows plus complexes et robustes.</li>
</ul>
<h3 class="fw-bold mt-4 mb-4" id="creation-des-ressources-azure"><span>Création des ressources Azure </span><a class="icon-link icon-link-hover text-secondary" href="#creation-des-ressources-azure">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Nous allons maintenant nous occuper de créer les ressources Azure qui nous permettront d&rsquo;assurer la scalabilité sur le cloud de notre application.</p>

<p>Nous avons tout d&rsquo;abord besoin de définir la configuration propre aux VM qui se caractérise par les éléments suivants :</p>

<ul>
<li>une règle autorisant le trafic HTTP (port 80) pour l&rsquo;application web déployée sur les VM</li>
<li>un <a href="https://learn.microsoft.com/fr-fr/azure/storage/common/storage-account-overview">compte de stockage</a> pour la sortie du diagnostic de démarrage de la VM</li>
</ul>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nv">RESOURCE_GROUP</span><span class="o">=</span><span class="s2">&#34;TpCloudHybrideVPN&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">LOCATION</span><span class="o">=</span><span class="s2">&#34;francecentral&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">VM_BOOT_STORAGE_ACCOUNT</span><span class="o">=</span><span class="s2">&#34;vmbootdiagstoragevpn&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Créer un groupe de sécurité réseau</span>
</span></span><span class="line"><span class="cl">az network nsg create --resource-group <span class="nv">$RESOURCE_GROUP</span> --name myNSG
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Créer une règle de groupe de sécurité réseau</span>
</span></span><span class="line"><span class="cl">az network nsg rule create <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --resource-group <span class="nv">$RESOURCE_GROUP</span> --nsg-name myNSG --name myNSGRuleHTTP <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --protocol <span class="s1">&#39;*&#39;</span> --direction inbound <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --source-address-prefix <span class="s1">&#39;*&#39;</span> --source-port-range <span class="s1">&#39;*&#39;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --destination-address-prefix <span class="s1">&#39;*&#39;</span> --destination-port-range <span class="m">80</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --access allow --priority <span class="m">200</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Créer un compte de stockage pour la sortie du diagnostic de démarrage</span>
</span></span><span class="line"><span class="cl">az storage account create --name <span class="nv">$VM_BOOT_STORAGE_ACCOUNT</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --location <span class="nv">$LOCATION</span> --resource-group <span class="nv">$RESOURCE_GROUP</span><span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --sku Standard_LRS <span class="c1"># --allow-blob-public-access false</span>
</span></span></code></pre>
<p>Nous allons également créer la fonction Azure et les ressources suivantes qui lui sont associées :</p>

<ul>
<li>un autre <a href="https://learn.microsoft.com/fr-fr/azure/storage/common/storage-account-overview">compte de stockage</a></li>
<li>un <a href="https://learn.microsoft.com/fr-fr/azure/storage/blobs/storage-blobs-introduction">conteneur de stockage blob</a> pour mettre à disposition le script d&rsquo;initialisation des VM déployant l&rsquo;application <code>init.sh</code> dont nous détaillerons le contenu dans la partie suivante.</li>
</ul>

<p>Nous remarquons dans les commandes CLI que la fonction est hébergée dans la région <code>germanywestcentral</code> puisque la région <code>francecentral</code> ne proposait pas une telle fonctionnalité (au moment où le TP a été réalisé).</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nv">FUNCTION_LOCATION</span><span class="o">=</span><span class="s2">&#34;germanywestcentral&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">FUNCTION_NAME</span><span class="o">=</span><span class="s2">&#34;tp-cloud-autoscale-vpn&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">FUNCTION_STORAGE_ACCOUNT</span><span class="o">=</span><span class="s2">&#34;tpcloudfuncvpnstorage&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Créer compte de stockage pour la fonction Azure</span>
</span></span><span class="line"><span class="cl">az storage account create --name <span class="nv">$FUNCTION_STORAGE_ACCOUNT</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --location <span class="nv">$FUNCTION_LOCATION</span> --resource-group <span class="nv">$RESOURCE_GROUP</span><span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --sku Standard_LRS <span class="c1"># --allow-blob-public-access false</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Créer la fonction (dans la région germanywestcentral car impossible dans $LOCATION)</span>
</span></span><span class="line"><span class="cl">az functionapp create --resource-group <span class="nv">$RESOURCE_GROUP</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --consumption-plan-location <span class="nv">$FUNCTION_LOCATION</span> --runtime powershell <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --functions-version <span class="m">4</span> --name <span class="nv">$FUNCTION_NAME</span> --storage-account <span class="nv">$FUNCTION_STORAGE_ACCOUNT</span>
</span></span><span class="line"><span class="cl"><span class="c1"># Sur l&#39;interface ensuite :</span>
</span></span><span class="line"><span class="cl"><span class="c1"># - Ajouter Microsoft comme identity provider (Settings -&gt; Authentication)</span>
</span></span><span class="line"><span class="cl"><span class="c1"># - Créer une identité system assigned (Settings -&gt; Identity) et ajouter un rôle</span>
</span></span><span class="line"><span class="cl"><span class="c1">#   avec des droits Contributor sur le groupe de ressources</span>
</span></span><span class="line"><span class="cl"><span class="c1"># - N&#39;autoriser que la plage d&#39;IP des clients du VPN dans Settings -&gt; Networking</span>
</span></span><span class="line"><span class="cl"><span class="c1"># - Créer les variables d&#39;environnements requises par la fonction dans Settings -&gt; Environment variables</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Créer un conteneur de stockage pour le script d&#39;initialisation des VM</span>
</span></span><span class="line"><span class="cl">az storage container create <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --account-name <span class="nv">$FUNCTION_STORAGE_ACCOUNT</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --name init-script-vm
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Ajouter le fichier init.sh que l&#39;on suppose présent ici</span>
</span></span><span class="line"><span class="cl">az storage blob upload <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --account-name <span class="nv">$FUNCTION_STORAGE_ACCOUNT</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --container-name init-script-vm <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --name init.sh <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --file init.sh
</span></span></code></pre><h3 class="fw-bold mt-4 mb-4" id="script-d-initialisation-des-vm"><span>Script d&rsquo;initialisation des VM </span><a class="icon-link icon-link-hover text-secondary" href="#script-d-initialisation-des-vm">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Assurer la création et suppression des VM sur Azure est au coeur du mécanisme de scalabilité automatique dont nous avons parlé, mais n&rsquo;est pas suffisant : il faut en effet <strong>configurer les VM</strong> pour l&rsquo;application que nous souhaitons faire fonctionner et évidemment <strong>lancer</strong> cette dernière.</p>

<p>Azure propose une fonctionnalité très intéressante pour cela avec la possiblité d&rsquo;utiliser <a href="https://learn.microsoft.com/en-us/azure/virtual-machines/linux/cloudinit-bash-script">cloud-init</a> pour lancer un script bash sur une VM.</p>

<p><a href="https://docs.cloud-init.io/en/latest/">cloud-init</a> permet de définir de façon déclarative en yaml les instructions que l&rsquo;on souhaite exécuter sur les serveurs cibles lors de leur création, un peu à l&rsquo;exemple d&rsquo;Ansible pour la gestion de configuration.</p>

<p>Azure CLI permet d&rsquo;exécuter un script issu d&rsquo;une définition cloud-init lors de la création d&rsquo;une VM :</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">az vm create <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --resource-group myResourceGroup <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --name vmName <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --image imageCIURN <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --custom-data config.yaml <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --generate-ssh-keys
</span></span></code></pre>
<p>Malheureusement, cette fonctionnalité n&rsquo;est pas disponible avec le module <code>Az</code>de Powershell que nous utilisons pour le script de la fonction Azure.</p>

<p>Ce n&rsquo;est cependant pas un problème puisque nous allons définir les instructions que nous souhaitons voir exécuter à la création de la VM par un <strong>script bash</strong> que nous appellerons <code>init.sh</code>. Nous aurons besoin à ce titre de :</p>

<ul>
<li><strong>installer Docker</strong> puisque notre application est conteneurisée</li>
<li><strong>initier Docker Compose</strong> avec un service comprenant notre application</li>
<li><strong>lancer l&rsquo;application</strong> en démarrant Docker Compose</li>
</ul>

<p><code>init.sh</code></p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="cp">#!/bin/bash
</span></span></span><span class="line"><span class="cl"><span class="cp"></span>
</span></span><span class="line"><span class="cl"><span class="c1"># Installation de Docker</span>
</span></span><span class="line"><span class="cl">sudo apt-get -y update
</span></span><span class="line"><span class="cl">sudo apt-get -y install ca-certificates curl
</span></span><span class="line"><span class="cl">sudo install -m <span class="m">0755</span> -d /etc/apt/keyrings
</span></span><span class="line"><span class="cl">sudo curl -fsSL https://download.docker.com/linux/debian/gpg -o /etc/apt/keyrings/docker.asc
</span></span><span class="line"><span class="cl">sudo chmod a+r /etc/apt/keyrings/docker.asc
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nb">echo</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  <span class="s2">&#34;deb [arch=</span><span class="k">$(</span>dpkg --print-architecture<span class="k">)</span><span class="s2"> signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/debian \
</span></span></span><span class="line"><span class="cl"><span class="s2">  </span><span class="k">$(</span>. /etc/os-release <span class="o">&amp;&amp;</span> <span class="nb">echo</span> <span class="s2">&#34;</span><span class="nv">$VERSION_CODENAME</span><span class="s2">&#34;</span><span class="k">)</span><span class="s2"> stable&#34;</span> <span class="p">|</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  sudo tee /etc/apt/sources.list.d/docker.list &gt; /dev/null
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">sudo apt-get -y update
</span></span><span class="line"><span class="cl">sudo apt-get -y install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
</span></span><span class="line"><span class="cl">sudo systemctl <span class="nb">enable</span> docker
</span></span><span class="line"><span class="cl">sudo systemctl start docker
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Démarrage de l&#39;application avec Docker Compose</span>
</span></span><span class="line"><span class="cl">mkdir -p /home/azureuser/myapp
</span></span><span class="line"><span class="cl"><span class="nb">cd</span> /home/azureuser/myapp
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">cat &gt;docker-compose.yml <span class="s">&lt;&lt;EOL
</span></span></span><span class="line"><span class="cl"><span class="s">services:
</span></span></span><span class="line"><span class="cl"><span class="s">  application:
</span></span></span><span class="line"><span class="cl"><span class="s">    image: crccheck/hello-world
</span></span></span><span class="line"><span class="cl"><span class="s">    container_name: application
</span></span></span><span class="line"><span class="cl"><span class="s">    ports:
</span></span></span><span class="line"><span class="cl"><span class="s">      - &#34;80:8000&#34;
</span></span></span><span class="line"><span class="cl"><span class="s">EOL</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">sudo docker compose up -d
</span></span></code></pre>
<p>Nous pouvons remarquer que nous utilisons l&rsquo;user <code>azureuser</code> qui est défini par défaut sur les VM crées sur Azure. Nous disposons donc maintenant de la configuration à appliquer aux VM créées automatiquement grâce à la fonction Azure dont nous allons maintenant détailler le contenu.</p>

<blockquote>
<p>On peut même aller plus loin et créer une <a href="https://learn.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-custom-images">image personnalisée</a> de VM en utilisant <a href="https://learn.microsoft.com/en-us/cli/azure/image?view=azure-cli-latest#az-image-create">Azure CLI</a>. De la sorte, nous n&rsquo;aurions plus besoin du script d&rsquo;initialisation puisque les VM seraient directement créées à partir de cette image.</p>
</blockquote>
<h2 id="definition-et-test-de-la-fonction-azure" class="mt-5"><span>Définition et test de la fonction Azure </span><a class="icon-link icon-link-hover text-secondary" href="#definition-et-test-de-la-fonction-azure">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2><h3 class="fw-bold mt-4 mb-4" id="choix-du-langage-et-preparation-de-l-environnement-de-developpement"><span>Choix du langage et préparation de l&rsquo;environnement de développement </span><a class="icon-link icon-link-hover text-secondary" href="#choix-du-langage-et-preparation-de-l-environnement-de-developpement">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Tout d&rsquo;abord, nous devons choisir le langage de programmation de la fonction parmi <a href="https://learn.microsoft.com/fr-fr/azure/azure-functions/supported-languages?tabs=isolated-process%2Cv4&amp;pivots=programming-language-powershell#language-support-details">ceux disponibles</a>.</p>

<p>Notre choix se porte sur <a href="https://learn.microsoft.com/fr-fr/azure/azure-functions/functions-reference-powershell?tabs=portal">Powershell</a> pour sa <strong>simplicité</strong> de mise en place (pas de packages supplémentaires à déployer) et une <strong>intégration native</strong> avec Azure grâce au module <code>Az</code> en particulier.</p>

<p>A titre de comparaison, la gestion des dépendances dans un autre langage nécessite de stocker les <strong>bibliothèques tierces</strong> soit dans le répertoire lui-même du projet, soit en montant un partage de fichiers sur Azure comme indiqué en <a href="https://learn.microsoft.com/fr-fr/azure/azure-functions/bring-dependency-to-functions?pivots=programming-language-python">Python</a> par exemple.</p>

<p>Pour développer le script Powershell appelé par la fonction Azure, nous allons utiliser <strong>Visual Studio Code</strong> qui propose un <a href="https://learn.microsoft.com/fr-fr/azure/azure-functions/functions-develop-vs-code?tabs=node-v4%2Cpython-v2%2Cisolated-process%2Cquick-create&amp;pivots=programming-language-powershell">environnement de développement</a> dédié aux fonctions Azure.</p>

<p>Nous pourrons donc accéder à la fonction Azure <code>tp-cloud-autoscale-vpn</code> définie précédemment et y déployer ce que nous aurons développé. Une fois Visual Studio Code configuré avec les consignes du lien précédent, nous disposerons d&rsquo;un <strong>modèle de projet</strong> basé sur un <strong>déclencheur HTTP</strong> (notre cas) qui créera localement une arborescence de ce type :</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">├── AutoscaleFunction
</span></span><span class="line"><span class="cl">    ├── autoscale
</span></span><span class="line"><span class="cl">    │   ├── <span class="k">function</span>.json
</span></span><span class="line"><span class="cl">    │   ├── run.ps1
</span></span><span class="line"><span class="cl">    │   └── sample.dat
</span></span><span class="line"><span class="cl">    ├── autoscale-vpn
</span></span><span class="line"><span class="cl">    │   ├── <span class="k">function</span>.json
</span></span><span class="line"><span class="cl">    │   ├── run.ps1
</span></span><span class="line"><span class="cl">    │   └── sample.dat
</span></span><span class="line"><span class="cl">    ├── host.json
</span></span><span class="line"><span class="cl">    ├── local.settings.json
</span></span><span class="line"><span class="cl">    ├── profile.ps1
</span></span><span class="line"><span class="cl">    └── requirements.psd1
</span></span></code></pre>
<p>Nous avons donc nommé notre projet <code>AutoscaleFunction</code> et nous avons défini dans celui-ci deux fonctions <code>autoscale</code> et <code>autoscale-vpn</code>. Celles-ci se basent sur la même configuration à la racine du projet se composant des fichiers :</p>

<ul>
<li><code>host.json</code> : initié par VSCode, il faut le modifier pour indiquer certains paramètres dont les versions de fonctions Azure supportées.</li>
</ul>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="p">{</span>
</span></span><span class="line"><span class="cl">  <span class="nt">&#34;version&#34;</span><span class="p">:</span> <span class="s2">&#34;2.0&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">  <span class="nt">&#34;logging&#34;</span><span class="p">:</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="nt">&#34;applicationInsights&#34;</span><span class="p">:</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">      <span class="nt">&#34;samplingSettings&#34;</span><span class="p">:</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nt">&#34;isEnabled&#34;</span><span class="p">:</span> <span class="kc">true</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">        <span class="nt">&#34;excludedTypes&#34;</span><span class="p">:</span> <span class="s2">&#34;Request&#34;</span>
</span></span><span class="line"><span class="cl">      <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">  <span class="p">},</span>
</span></span><span class="line"><span class="cl">  <span class="nt">&#34;extensionBundle&#34;</span><span class="p">:</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="nt">&#34;id&#34;</span><span class="p">:</span> <span class="s2">&#34;Microsoft.Azure.Functions.ExtensionBundle&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">    <span class="nt">&#34;version&#34;</span><span class="p">:</span> <span class="s2">&#34;[4.*, 5.0.0)&#34;</span>
</span></span><span class="line"><span class="cl">  <span class="p">},</span>
</span></span><span class="line"><span class="cl">  <span class="nt">&#34;managedDependency&#34;</span><span class="p">:</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="nt">&#34;enabled&#34;</span><span class="p">:</span> <span class="kc">true</span>
</span></span><span class="line"><span class="cl">  <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span></code></pre>
<ul>
<li><code>local.settings.json</code> : ici encore initié lors de la création du projet, il permet de conserver la définition de paramètres pour pouvoir exécuter localement les fonctions. Dans notre cas, il s&rsquo;agit essentiellement de variables d&rsquo;environnement utilisées par le script. Il n&rsquo;a pas vocation à être déployé dans la fonction Azure finale.</li>
</ul>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="o">{</span>
</span></span><span class="line"><span class="cl">  <span class="s2">&#34;IsEncrypted&#34;</span>: false,
</span></span><span class="line"><span class="cl">  <span class="s2">&#34;Values&#34;</span>: <span class="o">{</span>
</span></span><span class="line"><span class="cl">    <span class="s2">&#34;AzureWebJobsStorage&#34;</span>: <span class="s2">&#34;&#34;</span>,
</span></span><span class="line"><span class="cl">    <span class="s2">&#34;FUNCTIONS_WORKER_RUNTIME_VERSION&#34;</span>: <span class="s2">&#34;7.2&#34;</span>,
</span></span><span class="line"><span class="cl">    <span class="s2">&#34;FUNCTIONS_WORKER_RUNTIME&#34;</span>: <span class="s2">&#34;powershell&#34;</span>,
</span></span><span class="line"><span class="cl">    <span class="s2">&#34;MAX_NB_VM&#34;</span>: 2,
</span></span><span class="line"><span class="cl">    <span class="s2">&#34;RESOURCE_GROUP&#34;</span>: <span class="s2">&#34;TpCloudHybrideVPN&#34;</span>,
</span></span><span class="line"><span class="cl">    <span class="s2">&#34;LOCATION&#34;</span>: <span class="s2">&#34;francecentral&#34;</span>,
</span></span><span class="line"><span class="cl">    <span class="s2">&#34;VNET_NAME&#34;</span>: <span class="s2">&#34;VNetVPN&#34;</span>,
</span></span><span class="line"><span class="cl">    <span class="s2">&#34;SUBNET_NAME&#34;</span>: <span class="s2">&#34;Frontend&#34;</span>,
</span></span><span class="line"><span class="cl">    <span class="s2">&#34;NETWORK_SG_NAME&#34;</span>: <span class="s2">&#34;FrontendNSG&#34;</span>,
</span></span><span class="line"><span class="cl">    <span class="s2">&#34;STORAGE_ACCOUNT_NAME&#34;</span>: <span class="s2">&#34;tpcloudfuncvpnstorage&#34;</span>,
</span></span><span class="line"><span class="cl">    <span class="s2">&#34;BOOTDIAG_STORAGE_ACCOUNT_NAME&#34;</span>: <span class="s2">&#34;vmbootdiagstoragevpn&#34;</span>,
</span></span><span class="line"><span class="cl">    <span class="s2">&#34;SSH_PUBLIC_KEY&#34;</span>: <span class="s2">&#34;ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILMaFCF87N0L+YZkPuBpu6ikx68q+wFAA10/mSnrqnyS&#34;</span>,
</span></span><span class="line"><span class="cl">    <span class="s2">&#34;PASSWORD&#34;</span>: <span class="s2">&#34;XXXXXXXXXXXXXXXXXXXX&#34;</span>,
</span></span><span class="line"><span class="cl">    <span class="s2">&#34;INIT_SCRIPT_CONTAINER&#34;</span>: <span class="s2">&#34;init-script-vm&#34;</span>,
</span></span><span class="line"><span class="cl">    <span class="s2">&#34;INIT_SCRIPT_NAME&#34;</span>: <span class="s2">&#34;init.sh&#34;</span>,
</span></span><span class="line"><span class="cl">    <span class="s2">&#34;INIT_SCRIPT_URI&#34;</span>: <span class="s2">&#34;https://</span><span class="si">${</span><span class="nv">STORAGE_ACCOUNT_NAME</span><span class="si">}</span><span class="s2">.blob.core.windows.net/</span><span class="si">${</span><span class="nv">INIT_SCRIPT_CONTAINER</span><span class="si">}</span><span class="s2">/</span><span class="nv">$INIT_SCRIPT_NAME</span><span class="s2">&#34;</span>
</span></span><span class="line"><span class="cl">  <span class="o">}</span>
</span></span><span class="line"><span class="cl"><span class="o">}</span>
</span></span></code></pre>
<ul>
<li><code>profile.ps1</code> : ce fichier doit lui être créé manuellement. Il comporte dans notre cas la méthode d&rsquo;authentification à Azure qui sera utilisée dans le script.</li>
</ul>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c"># Azure Functions profile.ps1</span>
</span></span><span class="line"><span class="cl"><span class="c">#</span>
</span></span><span class="line"><span class="cl"><span class="c"># This profile.ps1 will get executed every &#34;cold start&#34; of your Function App.</span>
</span></span><span class="line"><span class="cl"><span class="c"># &#34;cold start&#34; occurs when:</span>
</span></span><span class="line"><span class="cl"><span class="c">#</span>
</span></span><span class="line"><span class="cl"><span class="c"># * A Function App starts up for the very first time</span>
</span></span><span class="line"><span class="cl"><span class="c"># * A Function App starts up after being de-allocated due to inactivity</span>
</span></span><span class="line"><span class="cl"><span class="c">#</span>
</span></span><span class="line"><span class="cl"><span class="c"># You can define helper functions, run commands, or specify environment variables</span>
</span></span><span class="line"><span class="cl"><span class="c"># NOTE: any variables defined that are not environment variables will get reset after the first execution</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Authenticate with Azure PowerShell using MSI.</span>
</span></span><span class="line"><span class="cl"><span class="c"># Remove this if you are not planning on using MSI or Azure PowerShell.</span>
</span></span><span class="line"><span class="cl"><span class="k">if</span> <span class="p">(</span><span class="nv">$env:MSI_SECRET</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="nb">Disable-AzContextAutosave</span> <span class="n">-Scope</span> <span class="k">Process</span> <span class="p">|</span> <span class="nb">Out-Null</span>
</span></span><span class="line"><span class="cl">    <span class="nb">Connect-AzAccount</span> <span class="n">-Identity</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Uncomment the next line to enable legacy AzureRm alias in Azure PowerShell.</span>
</span></span><span class="line"><span class="cl"><span class="c"># Enable-AzureRmAlias</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># You can also define functions or aliases that can be referenced in any of your PowerShell functions.</span>
</span></span></code></pre>
<ul>
<li><code>requirements.psd1</code> : là encore créé par l&rsquo;utilisateur, ce fichier rassemble les dépendances en modules Powershell du script appelé par la fonction Azure. Dans notre cas, il s&rsquo;agit de la version 5 du module <code>Az</code>.</li>
</ul>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c"># This file enables modules to be automatically managed by the Functions service.</span>
</span></span><span class="line"><span class="cl"><span class="c"># See https://aka.ms/functionsmanageddependency for additional information.</span>
</span></span><span class="line"><span class="cl"><span class="c">#</span>
</span></span><span class="line"><span class="cl"><span class="p">@{</span>
</span></span><span class="line"><span class="cl">    <span class="s1">&#39;Az&#39;</span><span class="p">=</span><span class="s1">&#39;5.*&#39;</span> 
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span></code></pre>
<p>Enfin, lors de la création d&rsquo;une fonction de <strong>déclenchement HTTP</strong> avec Visual Studio Code, un sous-répertoire est créé avec les fichiers suivants :</p>

<ul>
<li><code>function.json</code> : contient dans notre cas les paramètres de déclenchement http de la fonction Azure, pour les requêtes entrantes et les réponses fournies par la fonction.</li>
</ul>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="p">{</span>
</span></span><span class="line"><span class="cl">  <span class="nt">&#34;bindings&#34;</span><span class="p">:</span> <span class="p">[</span>
</span></span><span class="line"><span class="cl">    <span class="p">{</span>
</span></span><span class="line"><span class="cl">      <span class="nt">&#34;authLevel&#34;</span><span class="p">:</span> <span class="s2">&#34;anonymous&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">      <span class="nt">&#34;type&#34;</span><span class="p">:</span> <span class="s2">&#34;httpTrigger&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">      <span class="nt">&#34;direction&#34;</span><span class="p">:</span> <span class="s2">&#34;in&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">      <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Request&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">      <span class="nt">&#34;methods&#34;</span><span class="p">:</span> <span class="p">[</span>
</span></span><span class="line"><span class="cl">        <span class="s2">&#34;get&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">        <span class="s2">&#34;post&#34;</span>
</span></span><span class="line"><span class="cl">      <span class="p">]</span>
</span></span><span class="line"><span class="cl">    <span class="p">},</span>
</span></span><span class="line"><span class="cl">    <span class="p">{</span>
</span></span><span class="line"><span class="cl">      <span class="nt">&#34;type&#34;</span><span class="p">:</span> <span class="s2">&#34;http&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">      <span class="nt">&#34;direction&#34;</span><span class="p">:</span> <span class="s2">&#34;out&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">      <span class="nt">&#34;name&#34;</span><span class="p">:</span> <span class="s2">&#34;Response&#34;</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">  <span class="p">]</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span></code></pre>
<ul>
<li><code>run.ps1</code> : le gros morceau, le script Powershell assurant la création et suppression des VM que nous détaillerons juste après.</li>
<li><code>sample.dat</code> : fichier d&rsquo;exemple à des fins de test, non-utilisé dans notre cas.</li>
</ul>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="n">using</span> <span class="n">namespace</span> <span class="n">System</span><span class="p">.</span><span class="n">Net</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Récupération du contenu de la requête, par GET ou POST</span>
</span></span><span class="line"><span class="cl"><span class="k">param</span><span class="p">(</span><span class="nv">$Request</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nv">$action</span> <span class="p">=</span> <span class="nv">$Request</span><span class="p">.</span><span class="n">Query</span><span class="p">.</span><span class="n">action</span>
</span></span><span class="line"><span class="cl"><span class="k">if</span> <span class="p">(</span><span class="o">-not</span> <span class="nv">$action</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$action</span> <span class="p">=</span> <span class="nv">$Request</span><span class="p">.</span><span class="n">Body</span><span class="p">.</span><span class="n">action</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nb">Write-Output</span> <span class="s2">&#34;INFO - Action is : $action&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Utilisation des variables d&#39;environnement pour les autres paramètres</span>
</span></span><span class="line"><span class="cl"><span class="nv">$maxNbVm</span> <span class="p">=</span> <span class="nv">$env:MAX_NB_VM</span>
</span></span><span class="line"><span class="cl"><span class="nv">$resourceGroupName</span> <span class="p">=</span> <span class="nv">$env:RESOURCE_GROUP</span>
</span></span><span class="line"><span class="cl"><span class="nv">$location</span> <span class="p">=</span> <span class="nv">$env:LOCATION</span>
</span></span><span class="line"><span class="cl"><span class="nv">$vNetName</span> <span class="p">=</span> <span class="nv">$env:VNET_NAME</span>
</span></span><span class="line"><span class="cl"><span class="nv">$subnetName</span> <span class="p">=</span> <span class="nv">$env:SUBNET_NAME</span>
</span></span><span class="line"><span class="cl"><span class="nv">$nsgName</span> <span class="p">=</span> <span class="nv">$env:NETWORK_SG_NAME</span>
</span></span><span class="line"><span class="cl"><span class="nv">$storageAccountName</span> <span class="p">=</span> <span class="nv">$env:STORAGE_ACCOUNT_NAME</span>
</span></span><span class="line"><span class="cl"><span class="nv">$bootdiagStorageAccountName</span> <span class="p">=</span> <span class="nv">$env:BOOTDIAG_STORAGE_ACCOUNT_NAME</span>
</span></span><span class="line"><span class="cl"><span class="nv">$sshPublicKey</span> <span class="p">=</span> <span class="nv">$env:SSH_PUBLIC_KEY</span>
</span></span><span class="line"><span class="cl"><span class="nv">$password</span> <span class="p">=</span> <span class="nv">$env:PASSWORD</span>
</span></span><span class="line"><span class="cl"><span class="nv">$initScriptContainer</span> <span class="p">=</span> <span class="nv">$env:INIT_SCRIPT_CONTAINER</span>
</span></span><span class="line"><span class="cl"><span class="nv">$initScriptName</span> <span class="p">=</span> <span class="nv">$env:INIT_SCRIPT_NAME</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nb">Write-Output</span> <span class="s2">&#34;INFO - Resource group is : $resourceGroupName&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Connexion au compte Azure</span>
</span></span><span class="line"><span class="cl"><span class="nb">Connect-AzAccount</span> <span class="n">-Identity</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c">#############</span>
</span></span><span class="line"><span class="cl"><span class="c"># Fonctions #</span>
</span></span><span class="line"><span class="cl"><span class="c">#############</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Fonction pour créer une VM</span>
</span></span><span class="line"><span class="cl"><span class="k">function</span> <span class="nb">New-VM</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="c"># Génération automatique des noms de VM et NIC</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$randValue</span> <span class="p">=</span> <span class="nb">Get-Random</span> <span class="n">-Minimum</span> <span class="n">1000</span> <span class="n">-Maximum</span> <span class="n">9999</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$vmName</span> <span class="p">=</span> <span class="s2">&#34;AutoScaledVM&#34;</span> <span class="p">+</span> <span class="nv">$randValue</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$nicName</span> <span class="p">=</span> <span class="s2">&#34;AutoScaledNIC&#34;</span> <span class="p">+</span> <span class="nv">$randValue</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="c"># Vérifier le nombre de VM existantes avec le tag &#34;AutoScaled&#34;</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$vms</span> <span class="p">=</span> <span class="nb">Get-AzVM</span> <span class="n">-ResourceGroupName</span> <span class="nv">$resourceGroupName</span> <span class="p">|</span> <span class="nb">Where-Object</span> <span class="p">{</span> <span class="nv">$_</span><span class="p">.</span><span class="n">Tags</span><span class="p">[</span><span class="s2">&#34;AutoScaled&#34;</span><span class="p">]</span> <span class="o">-eq</span> <span class="s2">&#34;true&#34;</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="p">(</span><span class="nv">$vms</span><span class="p">.</span><span class="n">Count</span> <span class="o">-ge</span> <span class="nv">$maxNbVm</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$returnObj</span> <span class="p">=</span> <span class="s2">&#34;&#34;</span> <span class="p">|</span> <span class="nb">Select-Object</span> <span class="n">-Property</span> <span class="n">body</span><span class="p">,</span><span class="n">status</span><span class="p">,</span><span class="n">httpStatus</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$returnObj</span><span class="p">.</span><span class="n">body</span> <span class="p">=</span> <span class="s2">&#34;Maximum number of auto-scaled VMs reached&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$returnObj</span><span class="p">.</span><span class="n">status</span> <span class="p">=</span> <span class="s2">&#34;OK&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$returnObj</span><span class="p">.</span><span class="n">httpStatus</span> <span class="p">=</span> <span class="s2">&#34;OK&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="k">return</span> <span class="nv">$returnObj</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="nb">Write-Output</span> <span class="s2">&#34;INFO - There are currently </span><span class="p">$(</span><span class="nv">$vms</span><span class="p">.</span><span class="n">Count</span><span class="p">)</span><span class="s2"> autoscaled VM running over a maximum number of $maxNbVm.&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="c"># Placer le réseau virtuel dans une variable</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$net</span> <span class="p">=</span> <span class="p">@{</span>
</span></span><span class="line"><span class="cl">        <span class="n">Name</span>              <span class="p">=</span> <span class="nv">$vNetName</span>
</span></span><span class="line"><span class="cl">        <span class="n">ResourceGroupName</span> <span class="p">=</span> <span class="nv">$resourceGroupName</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$vnet</span> <span class="p">=</span> <span class="nb">Get-AzVirtualNetwork</span> <span class="nv">@net</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="c"># Récupérer le sous-réseau dans lequel on veut créer la VM</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$subnet</span> <span class="p">=</span> <span class="nb">Get-AzVirtualNetworkSubnetConfig</span> <span class="n">-Name</span> <span class="nv">$subnetName</span> <span class="n">-VirtualNetwork</span> <span class="nv">$vnet</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="c"># Placer le groupe de sécurité réseau dans une variable</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$ns</span> <span class="p">=</span> <span class="p">@{</span>
</span></span><span class="line"><span class="cl">        <span class="n">Name</span>              <span class="p">=</span> <span class="nv">$nsgName</span>
</span></span><span class="line"><span class="cl">        <span class="n">ResourceGroupName</span> <span class="p">=</span> <span class="nv">$resourceGroupName</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$nsg</span> <span class="p">=</span> <span class="nb">Get-AzNetworkSecurityGroup</span> <span class="nv">@ns</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="c"># Créer l&#39;interface réseau avec une adresse IP privée déterminée</span>
</span></span><span class="line"><span class="cl">    <span class="c"># à partir de la plage du sous-réseau et du nombre de VM créées</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$subnetIpRange</span> <span class="p">=</span> <span class="no">[System.Net.IPAddress]</span><span class="p">::</span><span class="n">Parse</span><span class="p">(</span><span class="nv">$subnet</span><span class="p">.</span><span class="n">AddressPrefix</span><span class="p">.</span><span class="n">Split</span><span class="p">(</span><span class="s1">&#39;/&#39;</span><span class="p">)[</span><span class="n">0</span><span class="p">])</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$newIp</span> <span class="p">=</span> <span class="nv">$subnetIpRange</span><span class="p">.</span><span class="n">GetAddressBytes</span><span class="p">()</span>
</span></span><span class="line"><span class="cl">    <span class="c"># Incrémenter l&#39;octet de fin pour chaque nouvelle VM à partir de 100</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$newIp</span><span class="p">[</span><span class="n">3</span><span class="p">]</span> <span class="p">=</span> <span class="nv">$newIp</span><span class="p">[</span><span class="n">3</span><span class="p">]</span> <span class="p">+</span> <span class="n">100</span> <span class="p">+</span> <span class="nv">$vms</span><span class="p">.</span><span class="n">Count</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$calculatedIp</span> <span class="p">=</span> <span class="no">[System.Net.IPAddress]</span><span class="p">::</span><span class="n">new</span><span class="p">(</span><span class="nv">$newIp</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="nb">Write-Output</span> <span class="s2">&#34;INFO - New VM static IP adress will be : $calculatedIp&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="nv">$ipConfig</span> <span class="p">=</span> <span class="nb">New-AzNetworkInterfaceIpConfig</span> <span class="n">-Name</span> <span class="s2">&#34;IpConfig$vmName&#34;</span> <span class="n">-Subnet</span> <span class="nv">$Subnet</span> <span class="n">-PrivateIpAddress</span> <span class="nv">$calculatedIp</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="nv">$nic</span> <span class="p">=</span> <span class="p">@{</span>
</span></span><span class="line"><span class="cl">        <span class="n">Name</span>                 <span class="p">=</span> <span class="nv">$nicName</span>
</span></span><span class="line"><span class="cl">        <span class="n">ResourceGroupName</span>    <span class="p">=</span> <span class="nv">$resourceGroupName</span>
</span></span><span class="line"><span class="cl">        <span class="n">Location</span>             <span class="p">=</span> <span class="nv">$location</span>
</span></span><span class="line"><span class="cl">        <span class="n">NetworkSecurityGroup</span> <span class="p">=</span> <span class="nv">$nsg</span>
</span></span><span class="line"><span class="cl">        <span class="n">IpConfiguration</span>      <span class="p">=</span> <span class="nv">$ipConfig</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$nicVM</span> <span class="p">=</span> <span class="nb">New-AzNetworkInterface</span> <span class="nv">@nic</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="c"># Configurer le type de VM</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$vmsz</span> <span class="p">=</span> <span class="p">@{</span>
</span></span><span class="line"><span class="cl">        <span class="n">VMName</span> <span class="p">=</span> <span class="nv">$vmName</span>
</span></span><span class="line"><span class="cl">        <span class="n">VMSize</span> <span class="p">=</span> <span class="s1">&#39;Standard_B1s&#39;</span>  
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="c"># Définition des credentials (azureuser / $password)</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$securePassword</span> <span class="p">=</span> <span class="nb">ConvertTo-SecureString</span> <span class="nv">$password</span> <span class="n">-AsPlainText</span> <span class="n">-Force</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$cred</span> <span class="p">=</span> <span class="nb">New-Object</span> <span class="n">System</span><span class="p">.</span><span class="n">Management</span><span class="p">.</span><span class="n">Automation</span><span class="p">.</span><span class="n">PSCredential</span> <span class="p">(</span><span class="s2">&#34;azureuser&#34;</span><span class="p">,</span> <span class="nv">$securePassword</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="c"># Définition d&#39;OS SSH pour Linux</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$vmos</span> <span class="p">=</span> <span class="p">@{</span>
</span></span><span class="line"><span class="cl">        <span class="n">ComputerName</span>                  <span class="p">=</span> <span class="nv">$vmName</span>
</span></span><span class="line"><span class="cl">        <span class="n">Credential</span>                    <span class="p">=</span> <span class="nv">$cred</span>
</span></span><span class="line"><span class="cl">        <span class="n">DisablePasswordAuthentication</span> <span class="p">=</span> <span class="nv">$true</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="nv">$vmimage</span> <span class="p">=</span> <span class="p">@{</span>
</span></span><span class="line"><span class="cl">        <span class="n">PublisherName</span> <span class="p">=</span> <span class="s1">&#39;Debian&#39;</span>
</span></span><span class="line"><span class="cl">        <span class="n">Offer</span>         <span class="p">=</span> <span class="s1">&#39;debian-12&#39;</span>
</span></span><span class="line"><span class="cl">        <span class="n">Skus</span>          <span class="p">=</span> <span class="s1">&#39;12&#39;</span>
</span></span><span class="line"><span class="cl">        <span class="n">Version</span>       <span class="p">=</span> <span class="s1">&#39;latest&#39;</span>    
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="c"># Boucle d&#39;attente que l&#39;interface réseau soit bien créée</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$nicExists</span> <span class="p">=</span> <span class="nv">$false</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$maxRetries</span> <span class="p">=</span> <span class="n">3</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$retryCount</span> <span class="p">=</span> <span class="n">0</span>
</span></span><span class="line"><span class="cl">    <span class="k">while</span> <span class="p">(</span><span class="o">-not</span> <span class="nv">$nicExists</span> <span class="o">-and</span> <span class="nv">$retryCount</span> <span class="o">-lt</span> <span class="nv">$maxRetries</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="k">try</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">            <span class="nv">$nic</span> <span class="p">=</span> <span class="nb">Get-AzNetworkInterface</span> <span class="n">-ResourceGroupName</span> <span class="nv">$resourceGroupName</span> <span class="n">-Name</span> <span class="nv">$nicName</span> <span class="n">-ErrorAction</span> <span class="n">Stop</span>
</span></span><span class="line"><span class="cl">            <span class="nv">$nicExists</span> <span class="p">=</span> <span class="nv">$true</span>
</span></span><span class="line"><span class="cl">        <span class="p">}</span> <span class="k">catch</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">            <span class="nb">Write-Host</span> <span class="s2">&#34;Network interface $nicName not yet created. Waiting during 2 seconds...&#34;</span>
</span></span><span class="line"><span class="cl">            <span class="nb">Start-Sleep</span> <span class="n">-Seconds</span> <span class="n">2</span>
</span></span><span class="line"><span class="cl">            <span class="nv">$retryCount</span><span class="p">++</span>
</span></span><span class="line"><span class="cl">        <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="nv">$vmConfig</span> <span class="p">=</span> <span class="nb">New-AzVMConfig</span> <span class="nv">@vmsz</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$vmConfig</span> <span class="p">=</span> <span class="nb">Set-AzVMOperatingSystem</span> <span class="n">-VM</span> <span class="nv">$vmConfig</span> <span class="nv">@vmos</span> <span class="n">-Linux</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$vmConfig</span> <span class="p">=</span> <span class="nb">Set-AzVMSourceImage</span> <span class="n">-VM</span> <span class="nv">$vmConfig</span> <span class="nv">@vmimage</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$vmConfig</span> <span class="p">=</span> <span class="nb">Add-AzVMNetworkInterface</span> <span class="n">-VM</span> <span class="nv">$vmConfig</span> <span class="n">-Id</span> <span class="nv">$nicVM</span><span class="p">.</span><span class="n">Id</span>
</span></span><span class="line"><span class="cl">    <span class="c"># Définition du compte de stockage pour le diagnostic de démarrage des VM</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$vmConfig</span> <span class="p">=</span> <span class="nb">Set-AzVMBootDiagnostic</span> <span class="n">-VM</span> <span class="nv">$vmConfig</span> <span class="n">-Enable</span> <span class="n">-ResourceGroupName</span> <span class="nv">$resourceGroupName</span> <span class="n">-StorageAccountName</span> <span class="nv">$bootdiagStorageAccountName</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="c"># Ajouter la clef SSH si Linux</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$vmssh</span> <span class="p">=</span> <span class="p">@{</span>
</span></span><span class="line"><span class="cl">        <span class="n">VM</span> <span class="p">=</span> <span class="nv">$vmConfig</span>
</span></span><span class="line"><span class="cl">        <span class="n">KeyData</span> <span class="p">=</span> <span class="nv">$sshPublicKey</span>
</span></span><span class="line"><span class="cl">        <span class="n">Path</span> <span class="p">=</span> <span class="s2">&#34;/home/azureuser/.ssh/authorized_keys&#34;</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="nb">Add-AzVMSshPublicKey</span> <span class="nv">@vmssh</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="c">## Créer la VM à partir de la configuration précédemment définie ##</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$tags</span> <span class="p">=</span> <span class="p">@{</span><span class="n">AutoScaled</span><span class="p">=</span><span class="s2">&#34;true&#34;</span><span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="nv">$vm</span> <span class="p">=</span> <span class="p">@{</span>
</span></span><span class="line"><span class="cl">        <span class="n">ResourceGroupName</span> <span class="p">=</span> <span class="nv">$resourceGroupName</span>
</span></span><span class="line"><span class="cl">        <span class="n">Location</span>          <span class="p">=</span> <span class="nv">$location</span>
</span></span><span class="line"><span class="cl">        <span class="n">Zone</span>              <span class="p">=</span> <span class="n">1</span>
</span></span><span class="line"><span class="cl">        <span class="n">Tag</span>               <span class="p">=</span> <span class="nv">$tags</span>
</span></span><span class="line"><span class="cl">        <span class="n">VM</span>                <span class="p">=</span> <span class="nv">$vmConfig</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="k">try</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$vmCreated</span> <span class="p">=</span> <span class="nb">New-AzVM</span> <span class="nv">@vm</span>
</span></span><span class="line"><span class="cl">        <span class="k">if</span> <span class="p">(</span><span class="nv">$vmCreated</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">            <span class="c"># Si la VM est créée, on lance le script qui va installer Docker</span>
</span></span><span class="line"><span class="cl">            <span class="c"># Et lancer l&#39;application avec docker compose</span>
</span></span><span class="line"><span class="cl">            <span class="nb">Write-Output</span> <span class="s2">&#34;INFO - New VM $vmName successfully created, now executing the init script.&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">            <span class="nv">$storageAccountKey</span> <span class="p">=</span> <span class="p">(</span><span class="nb">Get-AzStorageAccountKey</span> <span class="n">-ResourceGroupName</span> <span class="nv">$resourceGroupName</span> <span class="n">-AccountName</span> <span class="nv">$storageAccountName</span><span class="p">)[</span><span class="n">0</span><span class="p">].</span><span class="n">Value</span>
</span></span><span class="line"><span class="cl">            <span class="nv">$storageContext</span> <span class="p">=</span> <span class="nb">New-AzStorageContext</span> <span class="n">-StorageAccountName</span> <span class="nv">$storageAccountName</span> <span class="n">-StorageAccountKey</span> <span class="nv">$storageAccountKey</span>
</span></span><span class="line"><span class="cl">            <span class="nv">$blobUri</span> <span class="p">=</span> <span class="p">(</span><span class="nb">Get-AzStorageBlob</span> <span class="n">-Context</span> <span class="nv">$storageContext</span> <span class="n">-Container</span> <span class="nv">$initScriptContainer</span> <span class="n">-Blob</span> <span class="nv">$initScriptName</span><span class="p">).</span><span class="n">ICloudBlob</span><span class="p">.</span><span class="n">Uri</span><span class="p">.</span><span class="n">AbsoluteUri</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">            <span class="nv">$Params</span> <span class="p">=</span> <span class="p">@{</span>
</span></span><span class="line"><span class="cl">                <span class="n">ResourceGroupName</span>  <span class="p">=</span> <span class="nv">$resourceGroupName</span>
</span></span><span class="line"><span class="cl">                <span class="n">VMName</span>             <span class="p">=</span> <span class="nv">$vmName</span>
</span></span><span class="line"><span class="cl">                <span class="n">Location</span>           <span class="p">=</span> <span class="nv">$location</span>
</span></span><span class="line"><span class="cl">                <span class="n">Name</span>               <span class="p">=</span> <span class="s2">&#34;VMInitScript&#34;</span>
</span></span><span class="line"><span class="cl">                <span class="n">Publisher</span>          <span class="p">=</span> <span class="s1">&#39;Microsoft.Azure.Extensions&#39;</span>
</span></span><span class="line"><span class="cl">                <span class="n">ExtensionType</span>      <span class="p">=</span> <span class="s1">&#39;CustomScript&#39;</span>
</span></span><span class="line"><span class="cl">                <span class="n">TypeHandlerVersion</span> <span class="p">=</span> <span class="s1">&#39;2.1&#39;</span>
</span></span><span class="line"><span class="cl">                <span class="n">Settings</span>           <span class="p">=</span> <span class="p">@{</span><span class="n">fileUris</span> <span class="p">=</span> <span class="p">@(</span><span class="nv">$blobUri</span><span class="p">);</span> <span class="n">commandToExecute</span> <span class="p">=</span> <span class="s2">&#34;./$initScriptName&#34;</span><span class="p">}</span>
</span></span><span class="line"><span class="cl">                <span class="n">ProtectedSettings</span>  <span class="p">=</span> <span class="p">@{</span><span class="n">storageAccountName</span> <span class="p">=</span> <span class="nv">$storageAccountName</span><span class="p">;</span> <span class="n">storageAccountKey</span> <span class="p">=</span> <span class="nv">$storageAccountKey</span><span class="p">}</span>
</span></span><span class="line"><span class="cl">            <span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">            <span class="k">try</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">                <span class="nb">Set-AzVMExtension</span> <span class="nv">@Params</span>
</span></span><span class="line"><span class="cl">                <span class="nb">Write-Output</span> <span class="s2">&#34;INFO - Init script correctly executed&#34;</span>
</span></span><span class="line"><span class="cl">                <span class="nv">$body</span> <span class="p">=</span> <span class="s2">&#34;VM </span><span class="p">$(</span><span class="nv">$vmName</span><span class="p">)</span><span class="s2"> successfully created and init script correctly executed&#34;</span>
</span></span><span class="line"><span class="cl">                <span class="nv">$status</span> <span class="p">=</span> <span class="s2">&#34;OK&#34;</span>
</span></span><span class="line"><span class="cl">                <span class="nv">$httpStatus</span> <span class="p">=</span> <span class="s2">&#34;OK&#34;</span>
</span></span><span class="line"><span class="cl">            <span class="p">}</span> <span class="k">catch</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">                <span class="nb">Write-Output</span> <span class="s2">&#34;ERROR - An error occured during init script execution&#34;</span>
</span></span><span class="line"><span class="cl">                <span class="nb">Write-Output</span> <span class="nv">$_</span>
</span></span><span class="line"><span class="cl">                <span class="nv">$body</span> <span class="p">=</span> <span class="s2">&#34;VM </span><span class="p">$(</span><span class="nv">$vmName</span><span class="p">)</span><span class="s2"> successfully created but init script failed. Please execute it directly on the VM.&#34;</span>
</span></span><span class="line"><span class="cl">                <span class="nv">$status</span> <span class="p">=</span> <span class="s2">&#34;WARNING&#34;</span>
</span></span><span class="line"><span class="cl">                <span class="nv">$httpStatus</span> <span class="p">=</span> <span class="s2">&#34;OK&#34;</span>
</span></span><span class="line"><span class="cl">            <span class="p">}</span>
</span></span><span class="line"><span class="cl">        <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">            <span class="nv">$body</span> <span class="p">=</span> <span class="s2">&#34;ERROR : NIC </span><span class="p">$(</span><span class="nv">$nicVM</span><span class="p">.</span><span class="n">Name</span><span class="p">)</span><span class="s2"> created but VM </span><span class="p">$(</span><span class="nv">$vmName</span><span class="p">)</span><span class="s2"> failed to be created&#34;</span>
</span></span><span class="line"><span class="cl">            <span class="nv">$status</span> <span class="p">=</span> <span class="s2">&#34;KO&#34;</span>
</span></span><span class="line"><span class="cl">            <span class="nv">$httpStatus</span> <span class="p">=</span> <span class="s2">&#34;InternalServerError&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span> <span class="k">catch</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$body</span> <span class="p">=</span> <span class="s2">&#34;ERROR : NIC </span><span class="p">$(</span><span class="nv">$nicVM</span><span class="p">.</span><span class="n">Name</span><span class="p">)</span><span class="s2"> created but VM </span><span class="p">$(</span><span class="nv">$vmName</span><span class="p">)</span><span class="s2"> failed to be created&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$status</span> <span class="p">=</span> <span class="s2">&#34;KO&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$httpStatus</span> <span class="p">=</span> <span class="s2">&#34;InternalServerError&#34;</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="nv">$returnObj</span> <span class="p">=</span> <span class="s2">&#34;&#34;</span> <span class="p">|</span> <span class="nb">Select-Object</span> <span class="n">-Property</span> <span class="n">body</span><span class="p">,</span><span class="n">status</span><span class="p">,</span><span class="n">httpStatus</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$returnObj</span><span class="p">.</span><span class="n">body</span> <span class="p">=</span> <span class="nv">$body</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$returnObj</span><span class="p">.</span><span class="n">status</span> <span class="p">=</span> <span class="nv">$status</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$returnObj</span><span class="p">.</span><span class="n">httpStatus</span> <span class="p">=</span> <span class="nv">$httpStatus</span>
</span></span><span class="line"><span class="cl">    <span class="k">return</span> <span class="nv">$returnObj</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Fonction pour supprimer une VM</span>
</span></span><span class="line"><span class="cl"><span class="k">function</span> <span class="nb">Remove-VM</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="c"># Supprimer une VM auto-scalée aléatoire</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$vms</span> <span class="p">=</span> <span class="nb">Get-AzVM</span> <span class="n">-ResourceGroupName</span> <span class="nv">$resourceGroupName</span> <span class="p">|</span> <span class="nb">Where-Object</span> <span class="p">{</span> <span class="nv">$_</span><span class="p">.</span><span class="n">Tags</span><span class="p">[</span><span class="s2">&#34;AutoScaled&#34;</span><span class="p">]</span> <span class="o">-eq</span> <span class="s2">&#34;true&#34;</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="p">(</span><span class="nv">$vms</span><span class="p">.</span><span class="n">Count</span> <span class="o">-gt</span> <span class="n">0</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$vmToDelete</span> <span class="p">=</span> <span class="nv">$vms</span> <span class="p">|</span> <span class="nb">Get-Random</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$nicToDelete</span> <span class="p">=</span> <span class="nv">$vmToDelete</span><span class="p">.</span><span class="n">NetworkProfile</span><span class="p">.</span><span class="n">NetworkInterfaces</span><span class="p">.</span><span class="n">Id</span><span class="p">.</span><span class="n">Split</span><span class="p">(</span><span class="s1">&#39;/&#39;</span><span class="p">)[-</span><span class="n">1</span><span class="p">]</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$diskToDelete</span> <span class="p">=</span> <span class="nv">$vmToDelete</span><span class="p">.</span><span class="n">StorageProfile</span><span class="p">.</span><span class="n">OsDisk</span><span class="p">.</span><span class="n">Name</span>
</span></span><span class="line"><span class="cl">        
</span></span><span class="line"><span class="cl">        <span class="c"># Supprimer la VM</span>
</span></span><span class="line"><span class="cl">        <span class="nb">Remove-AzVM</span> <span class="n">-ResourceGroupName</span> <span class="nv">$resourceGroupName</span> <span class="n">-Name</span> <span class="nv">$vmToDelete</span><span class="p">.</span><span class="n">Name</span> <span class="n">-Force</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">        <span class="c"># Supprimer l&#39;interface réseau</span>
</span></span><span class="line"><span class="cl">        <span class="nb">Remove-AzNetworkInterface</span> <span class="n">-ResourceGroupName</span> <span class="nv">$resourceGroupName</span> <span class="n">-Name</span> <span class="nv">$nicToDelete</span> <span class="n">-Force</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">        <span class="c"># Supprimer le disque</span>
</span></span><span class="line"><span class="cl">        <span class="nb">Remove-AzDisk</span> <span class="n">-ResourceGroupName</span> <span class="nv">$resourceGroupName</span> <span class="n">-DiskName</span> <span class="nv">$diskToDelete</span> <span class="n">-Force</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">        <span class="nv">$body</span> <span class="p">=</span> <span class="s2">&#34;VM </span><span class="p">$(</span><span class="nv">$vmToDelete</span><span class="p">.</span><span class="n">Name</span><span class="p">)</span><span class="s2">, NIC </span><span class="p">$(</span><span class="nv">$nicToDelete</span><span class="p">)</span><span class="s2"> and disk </span><span class="p">$(</span><span class="nv">$diskToDelete</span><span class="p">)</span><span class="s2"> deleted&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$status</span> <span class="p">=</span> <span class="s2">&#34;OK&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$httpStatus</span> <span class="p">=</span> <span class="s2">&#34;OK&#34;</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$body</span> <span class="p">=</span> <span class="s2">&#34;No auto-scaled VMs to delete&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$status</span> <span class="p">=</span> <span class="s2">&#34;OK&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$httpStatus</span> <span class="p">=</span> <span class="s2">&#34;OK&#34;</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="nv">$returnObj</span> <span class="p">=</span> <span class="s2">&#34;&#34;</span> <span class="p">|</span> <span class="nb">Select-Object</span> <span class="n">-Property</span> <span class="n">body</span><span class="p">,</span><span class="n">status</span><span class="p">,</span><span class="n">httpStatus</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$returnObj</span><span class="p">.</span><span class="n">body</span> <span class="p">=</span> <span class="nv">$body</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$returnObj</span><span class="p">.</span><span class="n">status</span> <span class="p">=</span> <span class="nv">$status</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$returnObj</span><span class="p">.</span><span class="n">httpStatus</span> <span class="p">=</span> <span class="nv">$httpStatus</span>
</span></span><span class="line"><span class="cl">    <span class="k">return</span> <span class="nv">$returnObj</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c">########</span>
</span></span><span class="line"><span class="cl"><span class="c"># Main #</span>
</span></span><span class="line"><span class="cl"><span class="c">########</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Creation ou suppression de VM selon la valeur</span>
</span></span><span class="line"><span class="cl"><span class="c"># du champ &#34;action&#34; foruni dans la requête entrante</span>
</span></span><span class="line"><span class="cl"><span class="k">if</span> <span class="p">(</span><span class="nv">$action</span> <span class="o">-eq</span> <span class="s2">&#34;create&#34;</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="nb">Write-Output</span> <span class="s2">&#34;INFO - Creating a new VM&#34;</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$returnObj</span> <span class="p">=</span> <span class="nb">New-VM</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span> <span class="k">elseif</span> <span class="p">(</span><span class="nv">$action</span> <span class="o">-eq</span> <span class="s2">&#34;delete&#34;</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="nb">Write-Output</span> <span class="s2">&#34;INFO - Removing an existing VM&#34;</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$returnObj</span> <span class="p">=</span> <span class="nb">Remove-VM</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="nb">Write-Output</span> <span class="s2">&#34;ERROR - Invalid parameters in the request&#34;</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$returnObj</span> <span class="p">=</span> <span class="s2">&#34;&#34;</span> <span class="p">|</span> <span class="nb">Select-Object</span> <span class="n">-Property</span> <span class="n">body</span><span class="p">,</span><span class="n">status</span><span class="p">,</span><span class="n">httpcode</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$returnObj</span><span class="p">.</span><span class="n">body</span> <span class="p">=</span> <span class="s2">&#34;Invalid request&#34;</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$returnObj</span><span class="p">.</span><span class="n">status</span> <span class="p">=</span> <span class="s2">&#34;KO&#34;</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$returnObj</span><span class="p">.</span><span class="n">httpStatus</span> <span class="p">=</span> <span class="n">BadRequest</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Envoi de la réponse</span>
</span></span><span class="line"><span class="cl"><span class="nb">Push-OutputBinding</span> <span class="n">-Name</span> <span class="n">Response</span> <span class="n">-Value</span> <span class="p">(</span><span class="no">[HttpResponseContext]</span><span class="p">@{</span> 
</span></span><span class="line"><span class="cl">    <span class="n">StatusCode</span> <span class="p">=</span> <span class="nv">$returnObj</span><span class="p">.</span><span class="n">httpStatus</span>
</span></span><span class="line"><span class="cl">    <span class="n">Headers</span> <span class="p">=</span> <span class="p">@{</span>
</span></span><span class="line"><span class="cl">        <span class="s2">&#34;Content-type&#34;</span> <span class="p">=</span> <span class="s2">&#34;application/json&#34;</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="c"># Garde les données ordonnées comme indiqué dans la sortie json</span>
</span></span><span class="line"><span class="cl">    <span class="n">Body</span> <span class="p">=</span> <span class="no">[Ordered]</span><span class="p">@{</span>
</span></span><span class="line"><span class="cl">        <span class="s2">&#34;Status&#34;</span> <span class="p">=</span> <span class="nv">$returnObj</span><span class="p">.</span><span class="n">status</span>
</span></span><span class="line"><span class="cl">        <span class="s2">&#34;Msg&#34;</span> <span class="p">=</span> <span class="nv">$returnObj</span><span class="p">.</span><span class="n">body</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span> <span class="p">|</span> <span class="nb">ConvertTo-Json</span>
</span></span><span class="line"><span class="cl"><span class="p">})</span>
</span></span></code></pre><h3 class="fw-bold mt-4 mb-4" id="test-de-fonctionnement"><span>Test de fonctionnement </span><a class="icon-link icon-link-hover text-secondary" href="#test-de-fonctionnement">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>