<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/monitoring-article.jpg" alt="Supervision cloud hybride" width="100%"/></p>
<h2 id="introduction" class="mt-5"><span>Introduction </span><a class="icon-link icon-link-hover text-secondary" href="#introduction">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>Les deux premiers articles de la série sur le cloud hybride nous ont permis dans un premier temps de mettre en place <a href="https://gazerad.com/fr/article/mettre-a-lechelle-automatiquement-une-application-avec-un-cloud-hybride-azure-partie-1-linfrastructure">l&rsquo;infrastructure</a> associant le réseau privé et le cloud public Azure, puis d&rsquo;implémenter le mécanisme de scalabilité de l&rsquo;application basé sur une <a href="https://gazerad.com/fr/article/mettre-a-lechelle-automatiquement-une-application-avec-un-cloud-hybride-azure-partie-2-scalabilite-avec-une-fonction-azure">fonction Azure</a>.</p>

<p>Il reste maintenant à établir le <strong>déclenchement automatique</strong> des créations/suppressions de VM sur le cloud en fonction des évènements de supervision. C&rsquo;est ce que nous allons aborder ici en configurant une stack de supervision (<em>monitoring</em>) <strong>Grafana / Prometheus / Alertmanager</strong>.</p>
<h2 id="cas-d-utilisation" class="mt-5"><span>Cas d&rsquo;utilisation </span><a class="icon-link icon-link-hover text-secondary" href="#cas-d-utilisation">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>Rappelons les règles de supervision de la VM locale que nous nous étions fixées pour déterminer la création ou suppression de VM sur le cloud Azure :</p>

<ul>
<li><strong>CPU &gt; 70%</strong> sur les 5 dernières minutes =&gt; création de VM Azure (jusqu&rsquo;à deux maximum)</li>
<li><strong>CPU &lt; 30%</strong> sur la dernière heure avec présence d&rsquo;au moins un <strong>pic &gt; 70%</strong> (par pas de 5 minutes) =&gt; suppression de VM Azure</li>
</ul>

<p>D&rsquo;autre part, nous rappelons le mécanisme de scalabilité mis en place qui relie ces alertes de supervision aux actions de création/suppression de VM sur Azure.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/autoscaling-azure-functions.png" alt="Autoscaling avec Azure Functions" width="100%" style="max-width: 1000px;"/></p>

<p>Nous allons donc examiner comment générer les évènements de supervision et les faire interagir avec <a href="https://learn.microsoft.com/fr-fr/azure/azure-functions/functions-overview?pivots=programming-language-powershell">Azure Functions</a> pour assurer la scalabilité de notre application.</p>
<h2 id="installation-de-la-supervision-locale" class="mt-5"><span>Installation de la supervision locale </span><a class="icon-link icon-link-hover text-secondary" href="#installation-de-la-supervision-locale">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>Comme indiqué, nous allons choisir d&rsquo;installer une stack <strong>Grafana / Prometheus / Alertmanager</strong> pour la gestion de la supervision (Prometheus), la définition d&rsquo;alertes (Alertmanager) et l&rsquo;affichage graphique des données (Grafana). Les métriques systèmes du serveur où tourne l&rsquo;application sont fournies par <strong>Node exporter</strong> qui communique directement avec Prometheus pour leur traitement.</p>
<h3 class="fw-bold mt-4 mb-4" id="recolte-des-metriques-avec-node-exporter"><span>Récolte des métriques avec Node exporter </span><a class="icon-link icon-link-hover text-secondary" href="#recolte-des-metriques-avec-node-exporter">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Notre premier objectif est d&rsquo;effectuer la surveillance des ressources système (CPU, RAM, stockage, réseau, &hellip;) du <strong>serveur du réseau local</strong> sur lequel tourne notre application.</p>

<p><a href="https://github.com/prometheus/node_exporter">Node exporter</a> est un outil open source, principalement utilisé dans les environnements de surveillance de systèmes, pour collecter et exposer des métriques système sur des serveurs Linux. Il est spécifiquement conçu pour être utilisé avec Prometheus, une solution de monitoring et d&rsquo;alerting.</p>

<p>De façon très simple, Node exporter peut se déployer à l&rsquo;aide de <strong>Docker Compose</strong> et communiquer les données récoltées sur le port 9100 (par défaut). Nous remarquerons que dans notre cas, nous constituons un fichier <code>docker-compose.yml</code> commun avec l&rsquo;application tournant sur le serveur que nous souhaitons superviser.</p>

<p>Puisque nous utilisons une installation conteneurisée de Node exporter, nous devons définir avec attention les <strong>volumes</strong> en disposant de droits suffisants sur l&rsquo;hôte afin de superviser les métriques du serveur et non celles du conteneur lui-même.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">services</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="c"># Application web du serveur</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">application</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">crccheck/hello-world</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">application</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ports</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;80:8000&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="c"># Configuration du service Node exporter</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">node-exporter</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">prom/node-exporter:v1.8.1</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">node_exporter</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="c"># On expose le port 9100 qui sera accessible pour Prometheus</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="c"># déployé sur un autre serveur dédié à la supervision</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ports</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;9100:9100&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># Les volumes suivants définissent les répertoires systèmes</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># du serveur où seront récoltées les métriques</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/proc:/host/proc:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/sys:/host/sys:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/:/rootfs:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># Ce volume permet de corriger une erreur éventuelle de lancement</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/srv/app/node-exporter/textfile_collector:/var/lib/node_exporter/textfile_collector:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># On associe ici la date système du serveur et celle du conteneur</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/etc/localtime:/etc/localtime:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">command</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># Paramètres de lancement de node-exporter</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s1">&#39;--path.procfs=/host/proc&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s1">&#39;--path.sysfs=/host/sys&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s1">&#39;--path.rootfs=/rootfs&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s1">&#39;--collector.textfile.directory=/var/lib/node_exporter/textfile_collector&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s1">&#39;--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">restart</span><span class="p">:</span><span class="w"> </span><span class="l">always</span><span class="w">
</span></span></span></code></pre>
<p>Une fois l&rsquo;environnement lancé avec la commande <code>docker compose up -d</code>, nous avons accès à une page sur le port 9100 du serveur (ici d&rsquo;adresse IP <code>192.168.10.5</code>).</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/node-exporter-home.png" alt="Page d'accueil de Node exporter" width="100%" style="max-width: 1200px;"/>
<img src="/static/images/articles/hybrid-cloud-azure-autoscale/node-exporter-metrics.png" alt="Page des métriques" width="100%" style="max-width: 1200px;"/></p>
<h3 class="fw-bold mt-4 mb-4" id="deploiement-de-grafana-prometheus-alertmanager"><span>Déploiement de Grafana / Prometheus / Alertmanager </span><a class="icon-link icon-link-hover text-secondary" href="#deploiement-de-grafana-prometheus-alertmanager">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Le déploiement des services effectuant l&rsquo;analyse (tableau de bord, définition d&rsquo;alertes) des données système remontées par Node exporter se fait également avec Docker Compose sur <strong>un autre serveur</strong> dédié à la supervision.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">services</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">grafana</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">grafana/grafana:10.4.4</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">grafana</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ports</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;3000:3000&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">monitoring</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">grafana-data:/var/lib/grafana</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/etc/localtime:/etc/localtime:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># - /home/guaz/certs/perso/perso.com.key:/etc/grafana/grafana.key:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># - /home/guaz/certs/perso/perso.com.crt:/etc/grafana/grafana.crt:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">environment</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># Setting admin account credentials</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">GF_SECURITY_ADMIN_USER</span><span class="p">:</span><span class="w"> </span><span class="l">admin</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">GF_SECURITY_ADMIN_PASSWORD</span><span class="p">:</span><span class="w"> </span><span class="l">NV1lgz7ViL4xibQ8NtqV</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># Setting Grafana server URL</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># GF_SERVER_DOMAIN: &#34;grafana.perso.com&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># GF_SERVER_ROOT_URL: &#34;https://grafana.perso.com/&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">restart</span><span class="p">:</span><span class="w"> </span><span class="l">always</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">prometheus</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">prom/prometheus:v2.53.0</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">prometheus</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ports</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;9090:9090&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">monitoring</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./prometheus/alert.rules.yml:/etc/prometheus/alert.rules.yml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">prometheus-data:/prometheus</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/etc/localtime:/etc/localtime:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">command</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s1">&#39;--config.file=/etc/prometheus/prometheus.yml&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s1">&#39;--storage.tsdb.path=/prometheus&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s1">&#39;--web.console.libraries=/etc/prometheus/console_libraries&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s1">&#39;--web.console.templates=/etc/prometheus/consoles&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s1">&#39;--web.enable-lifecycle&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">restart</span><span class="p">:</span><span class="w"> </span><span class="l">always</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">alertmanager</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">prom/alertmanager:v0.27.0</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">alertmanager</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ports</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;9093:9093&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">monitoring</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">alertmanager-data:/data</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./alert-manager/alertmanager.yml:/config/alertmanager.yml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/etc/localtime:/etc/localtime:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">command</span><span class="p">:</span><span class="w"> </span>--<span class="l">config.file=/config/alertmanager.yml --log.level=debug</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">grafana-data</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">prometheus-data</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">alertmanager-data</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">monitoring</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">driver</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;bridge&#39;</span><span class="w">
</span></span></span></code></pre>
<p>Quelques remarques sur l&rsquo;installation :</p>

<ul>
<li>Les ports exposés pour chacun des services sont : <code>3000</code> pour Grafana, <code>9090</code> pour Prometheus et <code>9093</code> pour Alertmanager. Nous avons choisi
de les ouvrir directement vers l&rsquo;extérieur pour avoir accès à leurs interfaces respectives. Cela n&rsquo;est par contre pas nécessaire pour qu&rsquo;ils communiquent entre eux puis qu&rsquo;ils appartiennent au même <strong>réseau Docker</strong> <code>monitoring</code>.</li>
<li>Chaque service a besoin d&rsquo;un volume afin de conserver les données : <code>grafana-data</code>, <code>prometheus-data</code>, <code>alertmanager-data</code>.</li>
<li>La configuration de Grafana se gère par variables d&rsquo;environnement alors que Prometheus et Alertmanager nécessitent de créer des volumes <em>bind mount</em> pour leurs fichiers de configuration.</li>
<li>Le volume montant <code>/etc/localtime</code> n&rsquo;a d&rsquo;autre finalité que de faire en sorte que les conteneurs et l&rsquo;hôte partagent la même heure système.</li>
<li>Les paramètres de la commande de lancement de <strong>Prometheus</strong> permettent de s&rsquo;assurer des points suivants :

<ul>
<li><code>--config.file</code> : spécification du fichier de configuration dans un volume permettant sa modification de l&rsquo;extérieur</li>
<li><code>--storage.tsdb.path</code> : Le chemin de stockage des données est correctement assigné au volume persistant.</li>
<li><code>-web.enable-lifecycle</code> : Cette option permet de recharger la configuration sans redémarrer le conteneur, ce qui est utile pour appliquer des changements dynamiques.s</li>
</ul></li>
</ul>
<h2 id="mise-en-oeuvre-de-l-alerting" class="mt-5"><span>Mise en oeuvre de l&rsquo;alerting </span><a class="icon-link icon-link-hover text-secondary" href="#mise-en-oeuvre-de-l-alerting">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2><h3 class="fw-bold mt-4 mb-4" id="configuration-de-prometheus"><span>Configuration de Prometheus </span><a class="icon-link icon-link-hover text-secondary" href="#configuration-de-prometheus">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Nous avons vu précédemment que la configuration de Prometheus se compose de deux fichiers : <code>/etc/prometheus/prometheus.yml</code> et <code>/etc/prometheus/alert.rules.yml</code>
(soit <code>./prometheus/prometheus.yml</code> et <code>./prometheus/alert.rules.yml</code> sur le serveur de supervision à l&rsquo;emplacement de Docker Compose).</p>

<p><code>prometheus.yml</code></p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">global</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">scrape_interval</span><span class="p">:</span><span class="w"> </span><span class="l">1m</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">rule_files</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span>- <span class="l">/etc/prometheus/alert.rules.yml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">alerting</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">alertmanagers</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">scheme</span><span class="p">:</span><span class="w"> </span><span class="l">http</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">static_configs</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="nt">targets</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="s1">&#39;alertmanager:9093&#39;</span><span class="p">]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">scrape_configs</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span>- <span class="nt">job_name</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;node&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">static_configs</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="nt">targets</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="s1">&#39;vm-debian-3:9100&#39;</span><span class="p">]</span><span class="w">
</span></span></span></code></pre>
<p>La configuration générale de Prometheus définit les élements suivants:</p>

<ul>
<li><code>scrape_interval</code> : l&rsquo;intervalle de récupération des métriques (ici, une minute)</li>
<li><code>rule_files</code> : le fichier contenant les règles d&rsquo;alertes</li>
<li><code>alerting</code> : la partie définissant l&rsquo;envoi des alertes, ici vers le service <code>alertmanager</code> accessible sur le port 9093</li>
<li><code>scrape_configs</code> : la configuration des serveurs à superviser. Ici, nous n&rsquo;avons que la VM de notre application nommée <code>vm-debian-3</code> sur laquelle Node exporter est accessible par le port 9100</li>
</ul>

<p><code>alert.rules.yml</code></p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">groups</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span>- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="l">cpu_alerts</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">rules</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="nt">alert</span><span class="p">:</span><span class="w"> </span><span class="l">HighCPUUsage</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="nt">expr</span><span class="p">:</span><span class="w"> </span><span class="l">(1 - rate(node_cpu_seconds_total{instance=&#34;vm-debian-3:9100&#34;, mode=&#34;idle&#34;}[5m])) * 100 &gt; 70</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="nt">for</span><span class="p">:</span><span class="w"> </span><span class="l">5m</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="nt">labels</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span><span class="nt">severity</span><span class="p">:</span><span class="w"> </span><span class="l">critical</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="nt">annotations</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span><span class="nt">summary</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;High CPU usage detected on instance {{ $labels.instance }}&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span><span class="nt">description</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;The CPU usage on instance {{ $labels.instance }} has been over 70% for more than 5 minutes.&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="nt">alert</span><span class="p">:</span><span class="w"> </span><span class="l">NormalCPUUsage</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="nt">expr</span><span class="p">:</span><span class="w"> </span><span class="p">|</span><span class="sd">
</span></span></span><span class="line"><span class="cl"><span class="sd">          max_over_time((1 - rate(node_cpu_seconds_total{instance=&#34;vm-debian-3:9100&#34;,mode=&#34;idle&#34;}[5m]))[1h:5m]) * 100 &gt; 70 
</span></span></span><span class="line"><span class="cl"><span class="sd">          and (1 - rate(node_cpu_seconds_total{instance=&#34;vm-debian-3:9100&#34;, mode=&#34;idle&#34;}[1h])) * 100 &lt; 30</span><span class="w">          
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="nt">for</span><span class="p">:</span><span class="w"> </span><span class="l">1h</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="nt">labels</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span><span class="nt">severity</span><span class="p">:</span><span class="w"> </span><span class="l">none</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="nt">annotations</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span><span class="nt">summary</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;CPU back to normal usage on instance {{ $labels.instance }}&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span><span class="nt">description</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;The CPU usage on instance {{ $labels.instance }} has come down under 30% after a peak.&#34;</span><span class="w">
</span></span></span></code></pre>
<p>Ce fichier contient donc la définition des alertes d&rsquo;utilisations de CPU telles que précédemment définies :</p>

<ul>
<li>CPU &gt; 70% sur les 5 dernières minutes</li>
<li>CPU &lt; 30% sur la dernière heure avec présence d&rsquo;au moins un pic &gt; 70% (par pas de 5 minutes)</li>
</ul>

<p>Ces alertes sont définies sous le paramètre <code>expr</code> par des expressions <a href="https://prometheus.io/docs/prometheus/latest/querying/basics/">PromQL</a>.</p>

<p>Le paramètre de configuration suivant, <code>for</code>, définit un temps d&rsquo;attente pendant lequel l&rsquo;alerte doit rester active avant qu&rsquo;elle ne soit envoyée. Sans cette clause, les alertes
seraient immédiatement envoyées dès leur réception.</p>

<p>Enfin, nous indiquons la sévérité de l&rsquo;alerte dans les <code>labels</code>, et les annotations ajoutent une définition explicite des alertes.</p>

<p>Sur l&rsquo;interface de Prometheus (disponible dans notre cas à l&rsquo;URL <a href="http://localhost:9090">http://localhost:9090</a>), nous pouvons voir ces alertes et leur statut.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/prometheus-alerts.png" alt="Alertes de Prometheus" width="100%" style="max-width: 1200px;"/></p>

<p>Dans la partie Graph, il est possible de visualiser des métriques en indiquant des expressions PromQL.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/prometheus-high-cpu.png" alt="Prometheus: graphique" width="100%" style="max-width: 1200px;"/></p>
<h3 class="fw-bold mt-4 mb-4" id="detail-de-la-definition-des-alertes"><span>Détail de la définition des alertes </span><a class="icon-link icon-link-hover text-secondary" href="#detail-de-la-definition-des-alertes">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Les expressions <a href="https://prometheus.io/docs/prometheus/latest/querying/basics/">PromQL</a> définissant les <strong>alertes de supervision</strong> sont assez complexes à première vue. Nous allons en expliciter quelques éléments ici.</p>

<ul>
<li><p><code>HighCPUUsage</code></p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">expr: <span class="o">(</span><span class="m">1</span> - rate<span class="o">(</span>node_cpu_seconds_total<span class="o">{</span><span class="nv">instance</span><span class="o">=</span><span class="s2">&#34;vm-debian-3:9100&#34;</span>, <span class="nv">mode</span><span class="o">=</span><span class="s2">&#34;idle&#34;</span><span class="o">}[</span>5m<span class="o">]))</span> * <span class="m">100</span>
</span></span></code></pre>
<ul>
<li><code>rate(node_cpu_seconds_total{instance=&quot;vm-debian-3:9100&quot;, mode=&quot;idle&quot;}[5m]</code> : la fonction rate calcule le <strong>taux d&rsquo;inactivité</strong> (<code>idle</code>) moyen du CPU de la VM que nous
souhaitons superviser sur les 5 dernières minutes écoulées.</li>
<li><code>(1 - ...) * 100</code> : nous récupérons le <strong>taux d&rsquo;utilisation CPU</strong> en soustrayant le précédent résultat de 1, puis nous le multiplions par 100 pour obtenir un pourcentage</li>
<li><code>&gt; 70</code> : vérifie que ce taux d&rsquo;utilisation CPU dépasse le seuil de 70% afin de déclencher l&rsquo;alerte</li>
</ul></li>

<li><p><code>NormalCPUUsage</code></p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">expr: <span class="p">|</span>
</span></span><span class="line"><span class="cl"><span class="o">(</span>max_over_time<span class="o">((</span><span class="m">1</span> - rate<span class="o">(</span>node_cpu_seconds_total<span class="o">{</span><span class="nv">instance</span><span class="o">=</span><span class="s2">&#34;vm-debian-3:9100&#34;</span>,mode<span class="o">=</span><span class="s2">&#34;idle&#34;</span><span class="o">}[</span>5m<span class="o">]))[</span>1h:5m<span class="o">])</span> * 100<span class="o">)</span> &gt; 70<span class="o">)</span>
</span></span><span class="line"><span class="cl">and <span class="o">((</span><span class="m">1</span> - rate<span class="o">(</span>node_cpu_seconds_total<span class="o">{</span><span class="nv">instance</span><span class="o">=</span><span class="s2">&#34;vm-debian-3:9100&#34;</span>, <span class="nv">mode</span><span class="o">=</span><span class="s2">&#34;idle&#34;</span><span class="o">}[</span>1h<span class="o">]))</span> * 100<span class="o">)</span> &lt; 30<span class="o">)</span>
</span></span></code></pre>
<p>Ici, l&rsquo;expression se divise en deux parties :</p>

<ul>
<li>Détection d&rsquo;un <strong>pic d&rsquo;utilisation</strong> CPU supérieur à 70% dans la dernière heure

<ul>
<li><code>1 - rate(...)[5m]</code> : de même que précédemment, nous récupérons le <strong>taux d&rsquo;utilisation CPU</strong> moyen par période de 5 minutes</li>
<li><code>max_over_time((...[1h:5m])</code> : cette fonction capture le <strong>pic maximal d&rsquo;activité CPU</strong> observé au cours de la dernière heure
avec des intervalles de mesure de 5 minutes ([1h:5m])</li>
<li><code>* 100) &gt; 70</code> : nous nous assurons que ce pic d&rsquo;activité a été <strong>supérieur à 70%</strong></li>
</ul></li>
<li>Vérification que l&rsquo;utilisation CPU moyenne est <strong>retombée sous 30%</strong> sur la dernière heure : il s&rsquo;agit de la même
expression que pour l&rsquo;alerte <code>HighCPUUsage</code> mais avec le test <code>&lt; 30</code>.</li>
</ul></li>
</ul>

<blockquote>
<p>Pour une infrastructure supervisée comprenant plusieurs serveurs, on fait précéder le calcul du taux d&rsquo;utilisation des ressources en
PromQL par <code>avg by(instance)</code> afin d&rsquo;obtenir la moyenne par instance : <code>avg by(instance)(rate(node_cpu_seconds_total{instance=~&quot;server1|server2|server3&quot;, mode=&quot;idle&quot;}[5m]))</code></p>
</blockquote>

<p>De la sorte, l&rsquo;alerte <code>NormalCPUUsage</code> se déclenche lorsque nous nous assurons d&rsquo;un <strong>retour à la normale</strong> de l&rsquo;utilisation des ressources
de la VM locale sur laquelle est déployée notre application, et entraîne la <strong>suppression des VM</strong> créées sur le cloud grâce à Alertmanager.</p>

<p>Nous allons maintenant décrire la configuration d&rsquo;<strong>Alertmanager</strong> pour associer les tâches souhaitées lorsque les alertes de supervisions sont déclenchées.</p>
<h3 class="fw-bold mt-4 mb-4" id="gestion-des-alertes-avec-alertmanager"><span>Gestion des alertes avec Alertmanager </span><a class="icon-link icon-link-hover text-secondary" href="#gestion-des-alertes-avec-alertmanager">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Nous avons vu que Prometheus a la possibilité de récupérer des métriques système et de générer des alertes à partir d&rsquo;elles.</p>

<p>Maintenant, <strong>Alertmanager</strong> va permettre d&rsquo;exploiter ces alertes en leur associant une tâche. Dans notre cas, nous souhaitons créer/supprimer
des VM sur le cloud Azure afin d&rsquo;implémenter notre stratégie de cloud hybride. Cela sera fait par des appels API à la <a href="https://learn.microsoft.com/fr-fr/azure/azure-functions/">fonction Azure</a> que nous avons détaillée dans l&rsquo;<a href="https://gazerad.com/fr/article/mettre-a-lechelle-automatiquement-une-application-avec-un-cloud-hybride-azure-partie-2-scalabilite-avec-une-fonction-azure">article</a> qui lui est consacré.</p>

<p>Regardons maintenant le contenu du fichier de configuration <code>alertmanager.yml</code> :</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">route</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">group_by</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="s1">&#39;alertname&#39;</span><span class="p">]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">receiver</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;default&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">group_wait</span><span class="p">:</span><span class="w"> </span><span class="l">30s</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">group_interval</span><span class="p">:</span><span class="w"> </span><span class="l">5m</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">repeat_interval</span><span class="p">:</span><span class="w"> </span><span class="l">12h</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">routes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">receiver</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;create-vm&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">matchers</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">alertname = &#34;HighCPUUsage&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">receiver</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;delete-vm&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">matchers</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">alertname = &#34;NormalCPUUsage&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">receivers</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span>- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;default&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span>- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;create-vm&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">webhook_configs</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">url</span><span class="p">:</span><span class="w"> </span><span class="l">https://tp-cloud-autoscale-vpn.azurewebsites.net/api/autoscale-vpn?action=create</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span>- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;delete-vm&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">webhook_configs</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">url</span><span class="p">:</span><span class="w"> </span><span class="l">https://tp-cloud-autoscale-vpn.azurewebsites.net/api/autoscale-vpn?action=delete</span><span class="w">
</span></span></span></code></pre>
<p>Ce fichier configure la manière dont les alertes sont traitées et envoyées à des destinations spécifiques (receivers).</p>

<p>La section route définit la manière dont les alertes sont regroupées, attendues, et transmises à des destinations spécifiques appelées &ldquo;receivers&rdquo;.</p>

<ul>
<li><code>group_by: ['alertname']</code> : les alertes sont regroupées par nom (alertname).</li>
<li><code>receiver: 'default'</code> : si une alerte ne correspond à aucune route spécifique, elle est envoyée au receiver &lsquo;default&rsquo;.</li>
<li><code>group_wait: 30s</code>, <code>group_interval: 5m</code>, <code>repeat_interval: 12h</code> : définissent les délais pour l&rsquo;envoi et la répétition des alertes.</li>
</ul>

<p>Sous la clef <code>routes</code>, des routes spécifiques sont définies pour des types d&rsquo;alertes particuliers, chacune dirigée vers un receiver différent.</p>

<ul>
<li><code>create-vm</code> : envoie les alertes HighCPUUsage à un webhook pour créer une VM.</li>
<li><code>delete-vm</code> : envoie les alertes NormalCPUUsage à un webhook pour supprimer une VM.</li>
</ul>

<p>Enfin, la section <code>receivers</code> définit les URL des webhooks correspondant à chacune des routes.</p>

<p>Alertmanager offre aussi une page web disponible sur le port 9093 du serveur de monitoring.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/alert-manager-home.png" alt="Page d'accueil Alertmanager" width="100%" style="max-width: 1200px;"/></p>
<h2 id="test-de-la-mise-a-l-echelle-sur-alertes-de-supervision" class="mt-5"><span>Test de la mise à l&rsquo;échelle sur alertes de supervision </span><a class="icon-link icon-link-hover text-secondary" href="#test-de-la-mise-a-l-echelle-sur-alertes-de-supervision">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2><h3 class="fw-bold mt-4 mb-4" id="simulation-de-charge-cpu-sur-le-serveur-local"><span>Simulation de charge CPU sur le serveur local </span><a class="icon-link icon-link-hover text-secondary" href="#simulation-de-charge-cpu-sur-le-serveur-local">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Nous allons installer l&rsquo;outil <a href="https://github.com/ColinIanKing/stress-ng">stress-ng</a> qui permet, sur des systèmes Linux, de soumettre
à une charge déterminée le serveur cible.</p>

<p>Sous une distribution <strong>Debian</strong>, cela se fait très simplement avec la commande suivante :</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">sudo apt-get install stress-ng
</span></span></code></pre>
<p>Afin de déclencher l&rsquo;alerte de supervision <code>HighCPUUsage</code> précédemment définie, nous allons exécuter la commande ci-dessous qui va faire passer l&rsquo;<strong>utilisation de CPU à 75%</strong> pour un seul processeur (ce qui est suffisant car le serveur local de notre application est une VM à 1 vCPU).</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">$ stress-ng -c <span class="m">1</span> -l <span class="m">75</span>
</span></span><span class="line"><span class="cl">stress-ng: info:  <span class="o">[</span>948<span class="o">]</span> defaulting to a <span class="m">86400</span> second <span class="o">(</span><span class="m">1</span> day, 0.00 secs<span class="o">)</span> run per stressor
</span></span><span class="line"><span class="cl">stress-ng: info:  <span class="o">[</span>948<span class="o">]</span> dispatching hogs: <span class="m">1</span> cpu
</span></span></code></pre>
<p>Logiquement, nous pouvons voir dans <strong>Prometheus</strong> l&rsquo;utilisation de CPU moyennée par pas de 5 minutes passer rapidement au-dessus du seuil de 70% censé déclencher l&rsquo;alerte <code>HighCPUUsage</code>.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/test-prometheus-graph-high.png" alt="Prometheus test CPU élevé" width="100%" style="max-width: 1200px;"/></p>

<p>Nous pouvons alors constater que l&rsquo;alerte est bien émise sur l&rsquo;interface de Prometheus, et dans un premier temps en état <strong>Pending</strong> pendant la durée définie pour le paramètre <code>for</code> de la <a href="#configuration-de-prometheus">configuration de Prometheus</a>.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/test-prometheus-alert-pending-high.png" alt="Prometheus test alerte CPU élevé - pending" width="100%" style="max-width: 1200px;"/></p>

<p>Il faut donc dans notre cas attendre <strong>5 minutes</strong> avant que l&rsquo;alerte ne passe en état <strong>Firing</strong> signifiant son envoi à <strong>Alertmanager</strong>.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/test-prometheus-alert-firing-high.png" alt="Prometheus test alerte CPU élevé - firing" width="100%" style="max-width: 1200px;"/></p>

<p>L&rsquo;interface d&rsquo;<strong>Alertmanager</strong> nous permet de constater que l&rsquo;alerte <code>HighCPUUsage</code> a bien été reçue.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/test-alert-manager-high.png" alt="Alertmanager test alerte CPU élevé" width="100%" style="max-width: 1200px;"/></p>

<p>Observons maintenant les logs du conteneur <strong>Alertmanager</strong> et nous voyons que la récéptionde l&rsquo;alerte <code>HighCPUUsage</code> envoyée par Prometheus qui déclenche
l&rsquo;appel à l&rsquo;API <strong>Azure Functions</strong> (<code>receiver=create-vm</code>) pour créer une VM sur le <strong>cloud Azure</strong> (ici après un échec initial).</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">2024-07-18 09:02:46 <span class="nv">ts</span><span class="o">=</span>2024-07-18T07:02:46.332Z <span class="nv">caller</span><span class="o">=</span>dispatch.go:164 <span class="nv">level</span><span class="o">=</span>debug <span class="nv">component</span><span class="o">=</span>dispatcher <span class="nv">msg</span><span class="o">=</span><span class="s2">&#34;Received alert&#34;</span> <span class="nv">alert</span><span class="o">=</span>HighCPUUsage<span class="o">[</span>b709916<span class="o">][</span>active<span class="o">]</span>
</span></span><span class="line"><span class="cl">2024-07-18 09:02:46 <span class="nv">ts</span><span class="o">=</span>2024-07-18T07:02:46.334Z <span class="nv">caller</span><span class="o">=</span>dispatch.go:516 <span class="nv">level</span><span class="o">=</span>debug <span class="nv">component</span><span class="o">=</span>dispatcher <span class="nv">aggrGroup</span><span class="o">=</span><span class="s2">&#34;{}/{alertname=\&#34;HighCPUUsage\&#34;}:{alertname=\&#34;HighCPUUsage\&#34;}&#34;</span> <span class="nv">msg</span><span class="o">=</span>flushing <span class="nv">alerts</span><span class="o">=[</span>HighCPUUsage<span class="o">[</span>b709916<span class="o">][</span>active<span class="o">]]</span>
</span></span><span class="line"><span class="cl">2024-07-18 09:02:54 <span class="nv">ts</span><span class="o">=</span>2024-07-18T07:02:54.347Z <span class="nv">caller</span><span class="o">=</span>notify.go:848 <span class="nv">level</span><span class="o">=</span>warn <span class="nv">component</span><span class="o">=</span>dispatcher <span class="nv">receiver</span><span class="o">=</span>create-vm <span class="nv">integration</span><span class="o">=</span>webhook<span class="o">[</span>0<span class="o">]</span> <span class="nv">aggrGroup</span><span class="o">=</span><span class="s2">&#34;{}/{alertname=\&#34;HighCPUUsage\&#34;}:{alertname=\&#34;HighCPUUsage\&#34;}&#34;</span> <span class="nv">msg</span><span class="o">=</span><span class="s2">&#34;Notify attempt failed, will retry later&#34;</span> <span class="nv">attempts</span><span class="o">=</span><span class="m">1</span> <span class="nv">err</span><span class="o">=</span><span class="s2">&#34;Post \&#34;&lt;redacted&gt;\&#34;: dial tcp: lookup tp-cloud-autoscale-vpn.azurewebsites.net on 127.0.0.11:53: server misbehaving&#34;</span>
</span></span><span class="line"><span class="cl">2024-07-18 09:04:46 <span class="nv">ts</span><span class="o">=</span>2024-07-18T07:04:46.308Z <span class="nv">caller</span><span class="o">=</span>dispatch.go:164 <span class="nv">level</span><span class="o">=</span>debug <span class="nv">component</span><span class="o">=</span>dispatcher <span class="nv">msg</span><span class="o">=</span><span class="s2">&#34;Received alert&#34;</span> <span class="nv">alert</span><span class="o">=</span>HighCPUUsage<span class="o">[</span>b709916<span class="o">][</span>active<span class="o">]</span>
</span></span><span class="line"><span class="cl">2024-07-18 09:05:45 <span class="nv">ts</span><span class="o">=</span>2024-07-18T07:05:45.824Z <span class="nv">caller</span><span class="o">=</span>notify.go:860 <span class="nv">level</span><span class="o">=</span>info <span class="nv">component</span><span class="o">=</span>dispatcher <span class="nv">receiver</span><span class="o">=</span>create-vm <span class="nv">integration</span><span class="o">=</span>webhook<span class="o">[</span>0<span class="o">]</span> <span class="nv">aggrGroup</span><span class="o">=</span><span class="s2">&#34;{}/{alertname=\&#34;HighCPUUsage\&#34;}:{alertname=\&#34;HighCPUUsage\&#34;}&#34;</span> <span class="nv">msg</span><span class="o">=</span><span class="s2">&#34;Notify success&#34;</span> <span class="nv">attempts</span><span class="o">=</span><span class="m">2</span> <span class="nv">duration</span><span class="o">=</span>2m51.482925757s
</span></span></code></pre><h3 class="fw-bold mt-4 mb-4" id="retour-a-une-charge-cpu-normale-et-suppression-de-la-vm"><span>Retour à une charge CPU normale et suppression de la VM </span><a class="icon-link icon-link-hover text-secondary" href="#retour-a-une-charge-cpu-normale-et-suppression-de-la-vm">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Maintenant, nous <strong>interrompons</strong> le test de charge CPU lancé par la commande <code>stress-ng</code> sur le serveur local de notre application.</p>

<p>Nous pouvons constater sur <strong>Prometheus</strong> que la moyenne horaire de CPU n&rsquo;a jamais excédé 30% même pendant le pic d&rsquo;activité généré.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/test-prometheus-graph-normal-2.png" alt="Prometheus test CPU normal - moyenne" width="100%" style="max-width: 1200px;"/></p>

<p>De plus, nous voyons que le pic est bien pris en compte au cours de la dernière heure écoulée pendant une période donnée.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/test-prometheus-graph-normal-1.png" alt="Prometheus test CPU normal - pic" width="100%" style="max-width: 1200px;"/></p>

<p>Nous nous retrouvons bien dans les conditions où l&rsquo;alerte de <strong>retour à la normale</strong> <code>NormalCPUUsage</code> peut être générée, ce que nous pouvons d&rsquo;abord constater sur Prometheus.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/test-prometheus-alert-pending-normal.png" alt="Prometheus test CPU normal - alerte pending" width="100%" style="max-width: 1200px;"/></p>

<p>En raison du paramètre <code>for</code> de la configuration Prometheus placé à la valeur <code>1h</code>, il faut donc attendre cette fois une heure avant que l&rsquo;alerte ne soit effectivement lancée. Ce délai a été choisi de façon à ne pas surréagir aux variations de CPU et permettre une transition plus fluide entre les différents états.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/test-prometheus-alert-firing-normal.png" alt="Prometheus test CPU normal - alerte firing" width="100%" style="max-width: 1200px;"/></p>

<p>De même que tout à l&rsquo;heure, l&rsquo;alerte est bien reçue du côté d&rsquo;Alertmanager et aboutit à un appel à l&rsquo;API <strong>Azure Functions</strong> pour supprimer la VM créée sur Azure (endpoint <code>delete-vm</code>).</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/test-alert-manager-normal.png" alt="Alertmanager test CPU normal" width="100%" style="max-width: 1200px;"/></p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">2024-07-18 12:13:01 <span class="nv">ts</span><span class="o">=</span>2024-07-18T10:13:01.283Z <span class="nv">caller</span><span class="o">=</span>dispatch.go:164 <span class="nv">level</span><span class="o">=</span>debug <span class="nv">component</span><span class="o">=</span>dispatcher <span class="nv">msg</span><span class="o">=</span><span class="s2">&#34;Received alert&#34;</span> <span class="nv">alert</span><span class="o">=</span>NormalCPUUsage<span class="o">[</span>ccec9d5<span class="o">][</span>active<span class="o">]</span>
</span></span><span class="line"><span class="cl">2024-07-18 12:13:01 <span class="nv">ts</span><span class="o">=</span>2024-07-18T10:13:01.286Z <span class="nv">caller</span><span class="o">=</span>dispatch.go:516 <span class="nv">level</span><span class="o">=</span>debug <span class="nv">component</span><span class="o">=</span>dispatcher <span class="nv">aggrGroup</span><span class="o">=</span><span class="s2">&#34;{}/{alertname=\&#34;NormalCPUUsage\&#34;}:{alertname=\&#34;NormalCPUUsage\&#34;}&#34;</span> <span class="nv">msg</span><span class="o">=</span>flushing <span class="nv">alerts</span><span class="o">=[</span>NormalCPUUsage<span class="o">[</span>ccec9d5<span class="o">][</span>active<span class="o">]]</span>
</span></span><span class="line"><span class="cl">2024-07-18 12:13:09 <span class="nv">ts</span><span class="o">=</span>2024-07-18T10:13:09.298Z <span class="nv">caller</span><span class="o">=</span>notify.go:848 <span class="nv">level</span><span class="o">=</span>warn <span class="nv">component</span><span class="o">=</span>dispatcher <span class="nv">receiver</span><span class="o">=</span>delete-vm <span class="nv">integration</span><span class="o">=</span>webhook<span class="o">[</span>0<span class="o">]</span> <span class="nv">aggrGroup</span><span class="o">=</span><span class="s2">&#34;{}/{alertname=\&#34;NormalCPUUsage\&#34;}:{alertname=\&#34;NormalCPUUsage\&#34;}&#34;</span> <span class="nv">msg</span><span class="o">=</span><span class="s2">&#34;Notify attempt failed, will retry later&#34;</span> <span class="nv">attempts</span><span class="o">=</span><span class="m">1</span> <span class="nv">err</span><span class="o">=</span><span class="s2">&#34;Post \&#34;&lt;redacted&gt;\&#34;: dial tcp: lookup tp-cloud-autoscale-vpn.azurewebsites.net on 127.0.0.11:53: server misbehaving&#34;</span>
</span></span><span class="line"><span class="cl">2024-07-18 12:14:35 <span class="nv">ts</span><span class="o">=</span>2024-07-18T10:14:35.741Z <span class="nv">caller</span><span class="o">=</span>notify.go:860 <span class="nv">level</span><span class="o">=</span>info <span class="nv">component</span><span class="o">=</span>dispatcher <span class="nv">receiver</span><span class="o">=</span>delete-vm <span class="nv">integration</span><span class="o">=</span>webhook<span class="o">[</span>0<span class="o">]</span> <span class="nv">aggrGroup</span><span class="o">=</span><span class="s2">&#34;{}/{alertname=\&#34;NormalCPUUsage\&#34;}:{alertname=\&#34;NormalCPUUsage\&#34;}&#34;</span> <span class="nv">msg</span><span class="o">=</span><span class="s2">&#34;Notify success&#34;</span> <span class="nv">attempts</span><span class="o">=</span><span class="m">2</span> <span class="nv">duration</span><span class="o">=</span>1m26.446343094s
</span></span></code></pre>