<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/hybrid-cloud.png" alt="Hybrid cloud" width="100%"/></p>
<h2 id="introduction" class="mt-5"><span>Introduction </span><a class="icon-link icon-link-hover text-secondary" href="#introduction">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>When deploying an application (e.g. web and public) on a <strong>private infrastructure</strong>, the question of scaling immediately arises:
What will we do in the event of a peak load? Statically sizing our infrastructure to support the load poses an obvious cost problem,
with unused/underused resources most of the time.</p>

<p>The <strong>public cloud</strong> offers the possibility to make resources available on demand, thus enabling elastic <strong>scaling</strong>
of the infrastructure to adapt to the needs of the application.</p>

<p>However, we may be reluctant to move the entire deployment of one&rsquo;s application to a public cloud: for example, if the load peaks are very occasional,
private infrastructure does the job very well most of the time and at possibly lower cost.
This is where the concept of <strong>hybrid cloud</strong> comes in: interfacing an on-premise infrastructure with a public cloud infrastructure that is only activated during
application activity peaks.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/hybrid-cloud-peak-load.png" alt="Hybrid cloud - peak load" width="100%" style="max-width: 900px;"/></p>

<p>In this article, we will see how to detect activity peaks using <strong>monitoring</strong>, then trigger the creation of resources on the <strong>Azure</strong> cloud.
associated with the on-premise infrastructure in the same <strong>VPN</strong>, with a distributed load thanks to a <strong>load balancer</strong>. For the first in the series, it is the creation of the hybrid cloud infrastructure that we will detail and the load distribution.</p>
<h2 id="use-cases" class="mt-5"><span>Use cases </span><a class="icon-link icon-link-hover text-secondary" href="#use-cases">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>Here we consider the case of a web application deployed on a VM on the local network. For our example, we will choose the very simple <code>crccheck/hello-world</code> application available on Docker Hub and which only displays one page at the root URL, configurable in this way with Docker Compose.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">service</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">application</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">crccheck/hello-world</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">application</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ports</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;80:8000&#34;</span><span class="w">
</span></span></span></code></pre>
<p>Below is the initial local infrastructure:</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/schema-initial.png" alt="Initial infrastructure" width="100%" style="max-width: 450px;"/></p>

<p>Users are in the private network since for convenience we have not exposed the application to the internet, but that could very well be the case.</p>

<p>The goal here is to <strong>create one to two VMs</strong> at most on the <strong>Azure cloud</strong> when a <strong>load peak</strong> is reached on the local VM, and to distribute the incoming connections between them. Conversely, when the load returns to &ldquo;normal&rdquo;, the resources created on Azure should be <strong>deleted</strong> and the connections redirected to the local VM only.</p>

<p>This way, we only use cloud resources when we need them, which is one of the advantages of implementing a <strong>hybrid cloud</strong>.</p>

<p>Regarding the load assessment on the local VM, we will consider <strong>CPU usage</strong>:</p>

<ul>
<li><strong>CPU &gt; 70%</strong> over the last 5 minutes =&gt; creation of Azure VM (up to two maximum)</li>
<li><strong>CPU &lt; 30%</strong> over the last hour with presence of at least one <strong>peak &gt; 70%</strong> (in 5 minute steps) =&gt; deletion of Azure VM</li>
</ul>

<p>So we will see how to implement a solution allowing:</p>

<ul>
<li><strong>connect</strong> the two networks (private and Azure)</li>
<li><strong>monitor</strong> local VM system metrics and detect CPU spikes</li>
<li><strong>scale</strong> by automatically creating/deleting resources on the Azure cloud</li>
<li><strong>distribute the load</strong> using a load balancer</li>
</ul>

<p>In this article, we will describe the network architecture to meet these objectives, the hybrid Azure infrastructure associated with the initial network, and the load balancing between the two.</p>
<h2 id="network-architecture" class="mt-5"><span>Network architecture </span><a class="icon-link icon-link-hover text-secondary" href="#network-architecture">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>A first solution is to create an Azure <a href="https://learn.microsoft.com/en-us/azure/virtual-network/virtual-networks-overview">virtual network</a> with a <a href="https://learn.microsoft.com/en-us/azure/virtual-network/ip-services/public-ip-addresses">public IP address</a> which will serve as an internet gateway in order to be interconnected to the private network.</p>

<p>Traffic is distributed using two <strong>load balancers</strong>: one in the private network that routes to the on-premises VM or the internet gateway accessing Azure, the other in the Azure virtual network to distribute the load between the created VMs.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/schema-internet.png" alt="Hybrid cloud over the internet" width="100%" style="max-width: 1200px;"/></p>

<p>This proposal is quite functional but using an internet link can be problematic, especially because of the non-encryption of the transferred data. This is why it is preferable to set up a <strong>VPN link</strong> between the two sites: the data is <strong>encrypted</strong> (via a shared key), the two networks (private and cloud) are now united so it is possible to access the Azure VMs as if they were on the local network. You just have to be careful that the IP address ranges of the local network and the Azure network do not overlap.</p>

<blockquote>
<p>Azure offers the <a href="https://learn.microsoft.com/en-us/azure/expressroute/expressroute-introduction">ExpressRoute</a> service to manage an optimized VPN link between an on-premises network and an Azure virtual private network. This of course comes at a cost: Metered Data for 200 Mbps bandwidth in Europe costs around $500 to $700 per month. Unlimited Data for 500 Mbps bandwidth in Europe costs around $2000 to $3000 per month.</p>
</blockquote>

<p>Ideally, it would be relevant to set up a <a href="https://learn.microsoft.com/en-us/azure/vpn-gateway/tutorial-site-to-site-portal">Site-to-Site (S2S) VPN connection</a> if you wanted to deploy a hybrid cloud, so as to give yourself the possibility of administering your local VMs in the same way as Azure VMs thanks to <a href="https://learn.microsoft.com/en-us/azure/azure-arc/overview">Azure Arc</a>.</p>

<p>We would then obtain the following architecture:</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/schema-vpn-s2s.png" alt="Hybrid cloud over the internet" width="100%" style="max-width: 1200px;"/></p>

<p>It can be noticed that, since the two networks have direct access to each other, there is only one <strong>load balancer</strong> needed.</p>

<p>This could also be moved into the Azure network, which would provide more flexibility since it would be possible to dynamically change its configuration when creating/deleting VMs.</p>

<p>The disadvantage in our case would be to perform a systematic <strong>round trip</strong> between the two networks to connect to the application when it is only deployed in the local network (most common case, outside peak load).</p>

<p>Additionally, the constraints of our test environment (my home network) make it impossible to create a VPN gateway exposing the private network with a public IP address.</p>

<p>This is why in the rest of the article, we will consider a <a href="https://learn.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-point-to-site-resource-manager-portal">Point-to-Site (P2S) VPN connection</a>.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/schema-vpn.png" alt="Hybrid cloud over the internet" width="100%" style="max-width: 1200px;"/>
<img src="/static/images/articles/hybrid-cloud-azure-autoscale/schema-vpn-autoscale.png" alt="Hybrid Cloud by VPN" width="100%" style="max-width: 1200px;"/></p>

<p>With this setup, it is not possible to move the load balancer within the Azure Virtual Network since it does not have knowledge of the local VM IP address to redirect traffic to it.</p>

<p>For the rest, the architecture is similar to the S2S case since the local load balancer will have direct access to the VMs created on Azure.</p>

<p>In both cases we notice the presence of a <strong>NAT gateway</strong> in the Azure network: this allows Azure VMs to access the internet while being in a strictly private subnet.</p>
<h2 id="building-the-azure-cloud-infrastructure" class="mt-5"><span>Building the Azure Cloud Infrastructure </span><a class="icon-link icon-link-hover text-secondary" href="#building-the-azure-cloud-infrastructure">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2><h3 class="fw-bold mt-4 mb-4" id="creating-the-cloud-virtual-network"><span>Creating the cloud virtual network </span><a class="icon-link icon-link-hover text-secondary" href="#creating-the-cloud-virtual-network">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>As a reminder, here is the network infrastructure that we previously defined for our hybrid cloud:</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/schema-vpn-autoscale.png" alt="Hybrid Cloud by VPN" width="100%" style="max-width: 1200px;"/></p>

<p>The cloud part of the infrastructure therefore consists of an <a href="https://learn.microsoft.com/en-us/azure/virtual-network/virtual-networks-overview">Azure Virtual Network</a>
which will be exposed with a public IP address to be able to connect it to our local network via a VPN link.</p>

<p>If this is not already done, you must <a href="https://www.acronis.com/en-us/blog/posts/create-microsoft-azure-account/">Create an Azure account</a> possibly linked to
your Windows 365 account.</p>

<p>We also assume that <a href="https://learn.microsoft.com/en-us/cli/azure/what-is-azure-cli">Azure CLI</a> is <a href="https://learn.microsoft.com/en-us/cli/azure/install-azure-cli">installed</a> in order to run Azure Virtual Network administration commands.</p>

<p>We can now log in to our Azure account via the command line. There are several <a href="https://learn.microsoft.com/en-us/cli/azure/authenticate-azure-cli">authentication methods</a> that will be offered to us at the command line prompt.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">az login
</span></span></code></pre>
<p>We assume that we are running the commands in a Linux environment (possibly WSL or Git Bash), and we define as we go the variables that we will use.</p>

<p>To make sure that we are connected to the subscription we want, we can list the subscriptions linked to our account and choose the appropriate one.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">az account list --all
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Indicate your Azure subscription ID</span>
</span></span><span class="line"><span class="cl"><span class="nv">SUBSCR_ID</span><span class="o">=</span><span class="s2">&#34;xxxx-xxx-xxxx-xxxxxx-xxxxxxx&#34;</span> <span class="c1"># your Azure subscription id</span>
</span></span><span class="line"><span class="cl">az account <span class="nb">set</span> --subscription <span class="s2">&#34;</span><span class="nv">$SUBSCR_ID</span><span class="s2">&#34;</span>
</span></span></code></pre>
<p>We will now create a <a href="https://learn.microsoft.com/en-us/azure/azure-resource-manager/management/manage-resource-groups-portal">resource group</a> which
will allow you to associate all the elements related to our cloud infrastructure. We assign it the <code>francecentral</code> region here, but it is entirely possible to choose another one depending on the need as well as the costs and options offered (which may therefore differ from one region to another).</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nv">RESOURCE_GROUP</span><span class="o">=</span><span class="s2">&#34;TpCloudHybrideVPN&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">LOCATION</span><span class="o">=</span><span class="s2">&#34;francecentral&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Create a resource group for VPN</span>
</span></span><span class="line"><span class="cl">az group create --name <span class="nv">$RESOURCE_GROUP</span> --location <span class="nv">$LOCATION</span>
</span></span></code></pre>
<p>We can then create a <strong>virtual network</strong> that will host our entire cloud infrastructure. We need to associate an IP address range with it (here <code>10.1.0.0/16</code>, i.e. all the IP addresses from <code>10.1.0.0</code> to <code>10.1.255.255</code>) and we can already proceed to create the <strong>subnet</strong> &ldquo;Frontend&rdquo; that will host the VMs (<code>10.1.0.0/24</code>, i.e. an IP range from <code>10.1.0.4</code> to <code>10.1.0.254</code>)</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nv">VNET_NAME</span><span class="o">=</span><span class="s2">&#34;VnetVPN&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">IPRANGE</span><span class="o">=</span><span class="s2">&#34;10.1.0.0/16&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">SUBNET_NAME</span><span class="o">=</span><span class="s2">&#34;Frontend&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">SUBNET</span><span class="o">=</span><span class="s2">&#34;10.1.0.0/24&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Create the virtual network with the desired IP range</span>
</span></span><span class="line"><span class="cl">az network vnet create --name <span class="nv">$VNET_NAME</span> --resource-group <span class="nv">$RESOURCE_GROUP</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --address-prefix <span class="nv">$IPRANGE</span> --location <span class="nv">$LOCATION</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --subnet-name <span class="nv">$SUBNET_NAME</span> --subnet-prefix <span class="nv">$SUBNET</span>
</span></span></code></pre>
<blockquote>
<p>It can be noted that Azure reserves a total of 5 IP addresses per subnet: for example for the range <code>10.1.0.0/24</code>, the address <code>10.1.0.0</code> is reserved for the network, <code>10.1.0.1</code> for the default gateway, <code>10.1.0.2</code> and <code>10.1.0.3</code> to map Azure DNS IP addresses to the virtual network space, and finally <code>10.1.0.255</code> for broadcast.</p>
</blockquote>

<p>We now reserve a <a href="https://learn.microsoft.com/en-us/azure/virtual-network/ip-services/public-ip-addresses">public IP address</a> that we will later assign to the VPN gateway to associate the on-premises network and the Azure virtual network.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nv">PUBLIC_IP</span><span class="o">=</span><span class="s2">&#34;VnetVPNGwIp&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Request a public IP for the Azure gateway</span>
</span></span><span class="line"><span class="cl">az network public-ip create --name <span class="nv">$PUBLIC_IP</span> --resource-group <span class="nv">$RESOURCE_GROUP</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --allocation-method Static --sku Standard
</span></span></code></pre><h3 class="fw-bold mt-4 mb-4" id="setting-up-the-p2s-point-to-site-vpn-connection"><span>Setting up the P2S (point-to-site) VPN connection </span><a class="icon-link icon-link-hover text-secondary" href="#setting-up-the-p2s-point-to-site-vpn-connection">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Here we will create the <a href="https://learn.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpngateways">VPN walkways</a>, associate the previously created public IP address with it, and install the Azure VPN client to be able to establish the &ldquo;point-to-site&rdquo; connection from our local network.</p>

<p>First, we run the following CLI commands for creating the VPN gateway and its dedicated subnet.</p>

<blockquote>
<p>You have to be careful here that the <strong>IP address range</strong> of the <strong>client VPN pool</strong> does not overlap with that of the <strong>virtual network</strong> dedicated to hosting the cloud infrastructure!</p>
</blockquote>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nv">GATEWAY_SUBNET</span><span class="o">=</span><span class="s2">&#34;10.1.255.0/27&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">GATEWAY_SUBNET_NAME</span><span class="o">=</span><span class="s2">&#34;GatewaySubnet&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">GATEWAY_NAME</span><span class="o">=</span><span class="s2">&#34;VnetVPNGwP2S&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">VPN_CLIENT_IP_POOL</span><span class="o">=</span><span class="s2">&#34;172.16.201.0/24&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Create the Gateway subnet</span>
</span></span><span class="line"><span class="cl">az network vnet subnet create --address-prefix <span class="nv">$GATEWAY_SUBNET</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --name <span class="nv">$GATEWAY_SUBNET_NAME</span> --resource-group <span class="nv">$RESOURCE_GROUP</span> --vnet-name <span class="nv">$VNET_NAME</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Create the VPN Gateway</span>
</span></span><span class="line"><span class="cl">az network vnet-gateway create --name <span class="nv">$GATEWAY_NAME</span> --public-ip-address <span class="nv">$PUBLIC_IP</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --resource-group <span class="nv">$RESOURCE_GROUP</span> --vnet <span class="nv">$VNET_NAME</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --gateway-type Vpn --vpn-type RouteBased --sku VpnGw2 --no-wait <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --client-protocol IkeV2 OpenVPN <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --vpn-gateway-generation Generation2 <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --address-prefix <span class="nv">$VPN_CLIENT_IP_POOL</span>
</span></span></code></pre>
<p>In order to ensure the encryption of communications between the local network and the Azure virtual network, we will generate a <strong>root certificate</strong> which will be used to sign
the <strong>client certificate</strong> used to establish the secure P2S VPN connection.</p>

<p>Depending on your configuration, it is possible to generate the root and client certificates with <a href="https://learn.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-certificates-point-to-site">Powershell</a> or <a href="https://learn.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-certificates-point-to-site-makecert">Makecert</a> on Windows,
<a href="https://learn.microsoft.com/fr-fr/azure/vpn-gateway/point-to-site-certificates-linux-openssl">OpenSSL</a> ou <a href="https://learn.microsoft.com/fr-fr/azure/vpn-gateway/vpn-gateway-certificates-point-to-site-linux">strongSwan</a> pour Linux.</p>

<p>For our case, our local network is hosted on a Windows 11 PC using Windows Hyper-V so we used the <a href="https://learn.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-certificates-point-to-site">Powershell</a> instructions to generate the two certificates below.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/certs-windows.png" alt="Certificates for VPN" width="100%" style="max-width: 700px;"/></p>

<p>So we can add the root certificate <code>P2SRootCert.cer</code> to the VPN gateway using Azure CLI again.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">az network vnet-gateway root-cert create <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --resource-group <span class="nv">$RESOURCE_GROUP</span> --gateway-name <span class="nv">$GATEWAY_NAME</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --name P2SRootCert --public-cert-data P2SRootCert.cer
</span></span></code></pre>
<p>Now we will go to the Azure portal, search for the name of our virtual network gateway <code>VnetVPNGwP2S</code> to access its page, and <a href="https://learn.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-point-to-site-resource-manager-portal#azure-portal">download vpn client configuration</a>.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/azure-vpn-config.png" alt="Certificates for VPN" width="100%" style="max-width: 700px;"/></p>

<p>Finally, on our local network (here a Windows PC), we will install the <a href="https://install.appcenter.ms/users/user-microsoft/apps/azure-vpn-client-1/distribution_groups/publicgroup/releases/20">Azure VPN client</a> and the <a href="https://learn.microsoft.com/en-us/azure/vpn-gateway/point-to-site-vpn-client-certificate-windows-azure-vpn-client">configure</a> from the zip file we just downloaded.</p>

<p>So we can see the VPN connection in the list and connect to it.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/vpn-client-config.png" alt="Certificates for VPN" width="100%" style="max-width: 1200px;"/></p>
<h3 class="fw-bold mt-4 mb-4" id="creating-an-ssh-bastion"><span>Creating an SSH bastion </span><a class="icon-link icon-link-hover text-secondary" href="#creating-an-ssh-bastion">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>In order to secure external access to VMs, a good practice is to create a <strong>bastion</strong>: this is a bounce server that will be the only one exposed to the internet via ssh. In this way, centralizing the entry point to a private network allows better control of external access to the infrastructure and isolation of a possible intrusion on the network.</p>

<p>Azure offers its own <a href="https://learn.microsoft.com/en-us/azure/bastion/bastion-overview">bastion service</a> which offers multiple advantages including managing RDP connections; but for reasons of economy (we can get by with a minimally sized VM as a bastion) and learning the Azure infrastructure, we will <strong>create a subnet and a VM</strong> dedicated to the bastion.</p>

<blockquote>
<p>Regarding costs, a standard Linux VM (2 vCPU, 8 GB RAM) will cost around $35/month where the costs of an Azure Bastion instance will amount to almost $140/month without even taking into account the pricing of the transferred data.</p>
</blockquote>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/schema-bastion.png" alt="Bastion SSH" width="100%" style="max-width: 1150px;"/></p>

<p>We can see in the previous diagram that we are applying rules on incoming traffic through a <a href="https://learn.microsoft.com/en-us/azure/virtual-network/network-security-group-how-it-works">network security group</a> to only allow traffic on port 22 (and possibly from a range of allowed IP addresses).</p>

<p>Now here are the Azure CLI commands to create the SSH bastion; we can notice that in our case, we do not expose the bastion to the internet since we only connect to it via VPN link. The commands related to public access are therefore commented.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nv">BASTION_SUBNET_NAME</span><span class="o">=</span><span class="s2">&#34;Bastion&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">BASTION_SUBNET_RANGE</span><span class="o">=</span><span class="s2">&#34;10.1.1.0/24&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># No need to create a public address like using VPN</span>
</span></span><span class="line"><span class="cl"><span class="c1"># az network public-ip create --resource-group &#34;$RESOURCE_GROUP&#34; \</span>
</span></span><span class="line"><span class="cl"><span class="c1">#   --name BastionPublicIP --sku Standard --zone 1 2 3</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Create the dedicated subnet</span>
</span></span><span class="line"><span class="cl">az network vnet subnet create <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --name <span class="nv">$BASTION_SUBNET_NAME</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --resource-group <span class="nv">$RESOURCE_GROUP</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --vnet-name <span class="nv">$VNET_NAME</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --address-prefixes <span class="s2">&#34;</span><span class="nv">$BASTION_SUBNET_RANGE</span><span class="s2">&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Create a Network Security Group</span>
</span></span><span class="line"><span class="cl">az network nsg create --resource-group <span class="s2">&#34;</span><span class="nv">$RESOURCE_GROUP</span><span class="s2">&#34;</span> --name BastionNSG
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Create a network security group rule that only allows</span>
</span></span><span class="line"><span class="cl"><span class="c1"># incoming traffic on port 22 (ssh)</span>
</span></span><span class="line"><span class="cl">az network nsg rule create <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --resource-group <span class="s2">&#34;</span><span class="nv">$RESOURCE_GROUP</span><span class="s2">&#34;</span> --nsg-name BastionNSG --name BastionNSGRuleSSH <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --protocol <span class="s1">&#39;tcp&#39;</span> --direction inbound <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --source-address-prefix <span class="s1">&#39;*&#39;</span> --source-port-range <span class="s1">&#39;*&#39;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --destination-address-prefix <span class="s1">&#39;*&#39;</span> --destination-port-range <span class="m">22</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --access allow --priority <span class="m">200</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># We could limit the source IP range (not necessary here because bastion without public IP)</span>
</span></span><span class="line"><span class="cl"><span class="c1"># --source-address-prefix $VPN_CLIENT_IP_POOL</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Create the SSH Bastion VM</span>
</span></span><span class="line"><span class="cl">az vm create <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --resource-group <span class="s2">&#34;</span><span class="nv">$RESOURCE_GROUP</span><span class="s2">&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --name <span class="s2">&#34;BastionSSHVM&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --image <span class="s2">&#34;Debian:debian-12:12:latest&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --size <span class="s2">&#34;Standard_B1s&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --location <span class="s2">&#34;</span><span class="nv">$LOCATION</span><span class="s2">&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --vnet-name <span class="s2">&#34;</span><span class="nv">$VNET_NAME</span><span class="s2">&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --subnet <span class="s2">&#34;</span><span class="nv">$BASTION_SUBNET_NAME</span><span class="s2">&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --public-ip-address <span class="s2">&#34;&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --nsg <span class="s2">&#34;BastionNSG&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --admin-username <span class="s2">&#34;azureuser&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --ssh-key-value ~/.ssh/id_ed25519_azure_bastion.pub <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --output json <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --verbose
</span></span><span class="line"><span class="cl">  <span class="c1"># --public-ip-address &#34;BastionPublicIP&#34; \</span>
</span></span></code></pre><h3 class="fw-bold mt-4 mb-4" id="azure-vm-subnet-configuration"><span>Azure VM Subnet Configuration </span><a class="icon-link icon-link-hover text-secondary" href="#azure-vm-subnet-configuration">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>After creating the bastion, we will now be able to define <strong>access rules</strong> to the subnet hosting the VMs as well as their outgoing internet access via a <strong>NAT gateway</strong>.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c1">######################################</span>
</span></span><span class="line"><span class="cl"><span class="c1"># Configuring the VM Subnet</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nv">FRONTEND_NSG_NAME</span><span class="o">=</span><span class="s2">&#34;FrontendNSG&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Create a Network Security Group</span>
</span></span><span class="line"><span class="cl">az network nsg create --resource-group <span class="s2">&#34;</span><span class="nv">$RESOURCE_GROUP</span><span class="s2">&#34;</span> --name <span class="nv">$FRONTEND_NSG_NAME</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Create a network security group rule that does not allow</span>
</span></span><span class="line"><span class="cl"><span class="c1"># incoming traffic on port 22 (ssh) as well as from</span>
</span></span><span class="line"><span class="cl"><span class="c1"># from the SSH Bastion subnet</span>
</span></span><span class="line"><span class="cl">az network nsg rule create <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --resource-group <span class="s2">&#34;</span><span class="nv">$RESOURCE_GROUP</span><span class="s2">&#34;</span> --nsg-name <span class="nv">$FRONTEND_NSG_NAME</span> --name AllowSSHFromBastion <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --protocol Tcp  --direction inbound <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --source-address-prefix <span class="nv">$BASTION_SUBNET_RANGE</span> --source-port-range <span class="s1">&#39;*&#39;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --destination-address-prefix <span class="s1">&#39;*&#39;</span> --destination-port-range <span class="m">22</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --access allow --priority <span class="m">100</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --description <span class="s2">&#34;Allow SSH from Bastion subnet&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">az network nsg rule create <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --resource-group <span class="nv">$RESOURCE_GROUP</span> --nsg-name <span class="nv">$FRONTEND_NSG_NAME</span> --name DenySSHFromOthers <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --priority <span class="m">200</span> --source-address-prefixes <span class="s1">&#39;*&#39;</span> --destination-port-ranges <span class="m">22</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --direction Inbound --access Deny --protocol Tcp <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --description <span class="s2">&#34;Deny SSH from all other sources&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Associate the NSG to the &amp;quot;Frontend&amp;quot; subnet</span>
</span></span><span class="line"><span class="cl">az network vnet subnet update <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --vnet-name <span class="nv">$VNET_NAME</span> --name <span class="nv">$SUBNET_NAME</span> --resource-group <span class="nv">$RESOURCE_GROUP</span> --network-security-group <span class="nv">$FRONTEND_NSG_NAME</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1">######################</span>
</span></span><span class="line"><span class="cl"><span class="c1"># NAT Gateway</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Create a public IP address</span>
</span></span><span class="line"><span class="cl">az network public-ip create --resource-group <span class="s2">&#34;</span><span class="nv">$RESOURCE_GROUP</span><span class="s2">&#34;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>  --name NATPublicIP --sku Standard --zone <span class="m">1</span> <span class="m">2</span> <span class="m">3</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Creating the NAT Gateway</span>
</span></span><span class="line"><span class="cl">az network nat gateway create <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --resource-group <span class="nv">$RESOURCE_GROUP</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --name NATGateway <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --public-ip-addresses NATPublicIP <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --idle-timeout <span class="m">10</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --location <span class="nv">$LOCATION</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Configure NAT service for subnet $SUBNET_NAME</span>
</span></span><span class="line"><span class="cl">az network vnet subnet update <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --name <span class="nv">$SUBNET_NAME</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --resource-group <span class="nv">$RESOURCE_GROUP</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --vnet-name <span class="nv">$VNET_NAME</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    --nat-gateway NATGateway
</span></span></code></pre>
<blockquote>
<p>Please note: the <a href="https://learn.microsoft.com/en-us/azure/nat-gateway/nat-overview">Azure NAT Gateway</a> service is chargeable from the moment it is initialized</p>
</blockquote>
<h3 class="fw-bold mt-4 mb-4" id="viewing-resources-on-the-azure-portal"><span>Viewing resources on the Azure portal </span><a class="icon-link icon-link-hover text-secondary" href="#viewing-resources-on-the-azure-portal">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>All created resources are visible in the <code>TPCloudHybrideVPN</code> resource group that we created at the very beginning:</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/resources-list.png" alt="List of resources" width="100%" style="max-width: 1270px;"/></p>
<h2 id="load-balancing-between-on-premises-network-and-azure-cloud" class="mt-5"><span>Load balancing between on-premises network and Azure cloud </span><a class="icon-link icon-link-hover text-secondary" href="#load-balancing-between-on-premises-network-and-azure-cloud">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2><h3 class="fw-bold mt-4 mb-4" id="description-of-the-need"><span>Description of the need </span><a class="icon-link icon-link-hover text-secondary" href="#description-of-the-need">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>As a reminder, the objective of the hybrid cloud is to create one to two VMs on the Azure infrastructure in the event of a load peak, and we proposed the following network diagram with a load balancer in the local network.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/schema-load-balancer.png" alt="Load balancer local" width="100%" style="max-width: 1200px;"/></p>

<p>We could have chosen to place the <strong>load balancer</strong> in the Azure cloud network, especially since <a href="https://learn.microsoft.com/en-us/azure/load-balancer/load-balancer-overview">Azure Load Balancer</a> offers the possibility to dynamically add/remove target servers, which perfectly suited our needs.</p>

<p>However, with the <strong>VPN point-to-site</strong> network architecture that we had to choose, it is not possible for a load balancer located in the Azure network to reach a VM on the local network. Furthermore, it would not necessarily have been relevant to force each connection to the application to go through the remote Azure network if, for the most part, it was only deployed on the local VM.</p>

<p>The challenge here is for the local load balancer to dynamically take into account the VMs created on the Azure cloud in the event of a load peak. We assume that the VMs will always have the <strong>same IP address</strong> (10.1.0.100 and 10.1.0.101).</p>
<h3 class="fw-bold mt-4 mb-4" id="nginx-load-balancer-with-passive-health-check"><span>Nginx load balancer with passive health check </span><a class="icon-link icon-link-hover text-secondary" href="#nginx-load-balancer-with-passive-health-check">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>A first solution is to have the load balancer temporarily deactivate the route to one of the servers if the requests sent to it fail.</p>

<p>For this we can use the <a href="https://docs.nginx.com/nginx/admin-guide/load-balancer/http-health-check/">passive health check</a> functionality offered in the free version of Nginx.</p>

<p>In this case, the following two parameters must be provided in the load balancer&rsquo;s target server configuration:</p>

<ul>
<li><code>fail_timeout</code>: Sets the time within which a certain number of failed attempts must occur for the server to be marked as unavailable, as well as its downtime period</li>
<li><code>max_fails</code>: Sets the number of failed attempts that must occur during the <code>fail_timeout</code> period for the server to be marked as unavailable</li>
</ul>

<p>In order to impact users as little as possible with web page display errors when a request is sent to an unavailable server, we will limit the <code>max_fails</code> parameter to a single attempt and define a sufficiently long unavailability period (5 minutes for example).</p>

<p>To do this, simply create the following configuration file (which we will call <code>load_balancer.conf</code>), then mount it as a volume of the Nginx container defined in Docker Compose. This also contains the SSL definition with a certificate and the http to https redirection.</p>

<p><code>load_balancer.conf</code></p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">upstream myapp <span class="o">{</span>
</span></span><span class="line"><span class="cl">    <span class="c1"># Main application server in the local network</span>
</span></span><span class="line"><span class="cl">    server 192.168.10.5<span class="p">;</span>
</span></span><span class="line"><span class="cl">    <span class="c1"># VMs created on Azure during peak load</span>
</span></span><span class="line"><span class="cl">    server 10.1.0.100 <span class="nv">max_fails</span><span class="o">=</span><span class="m">1</span> <span class="nv">fail_timeout</span><span class="o">=</span>120s<span class="p">;</span>
</span></span><span class="line"><span class="cl">    server 10.1.0.101 <span class="nv">max_fails</span><span class="o">=</span><span class="m">1</span> <span class="nv">fail_timeout</span><span class="o">=</span>120s<span class="p">;</span>
</span></span><span class="line"><span class="cl"><span class="o">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">server <span class="o">{</span>
</span></span><span class="line"><span class="cl">  listen 80<span class="p">;</span>
</span></span><span class="line"><span class="cl">  listen <span class="o">[</span>::<span class="o">]</span>:80<span class="p">;</span>
</span></span><span class="line"><span class="cl">  server_name myapp.perso.com<span class="p">;</span>
</span></span><span class="line"><span class="cl">  <span class="k">return</span> <span class="m">301</span> https://<span class="nv">$server_name$request_uri</span><span class="p">;</span>
</span></span><span class="line"><span class="cl"><span class="o">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">server <span class="o">{</span>
</span></span><span class="line"><span class="cl">    listen <span class="m">443</span> ssl<span class="p">;</span>
</span></span><span class="line"><span class="cl">    listen <span class="o">[</span>::<span class="o">]</span>:443 ssl<span class="p">;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    client_max_body_size 100M<span class="p">;</span>
</span></span><span class="line"><span class="cl">    client_body_in_file_only on<span class="p">;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    server_name myapp.perso.com<span class="p">;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    ssl_certificate /etc/ssl/certs/myapp.crt<span class="p">;</span>
</span></span><span class="line"><span class="cl">    ssl_certificate_key /etc/ssl/private/myapp.key<span class="p">;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    access_log /var/log/nginx/myapp.access.log<span class="p">;</span>
</span></span><span class="line"><span class="cl">    error_log /var/log/nginx/myapp.error.log debug<span class="p">;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    location / <span class="o">{</span>
</span></span><span class="line"><span class="cl">        proxy_pass http://myapp<span class="p">;</span>
</span></span><span class="line"><span class="cl">    <span class="o">}</span>
</span></span><span class="line"><span class="cl"><span class="o">}</span>
</span></span></code></pre>
<p><code>docker-compose.yml</code></p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">services</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">load_balancer</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">nginx:1.27.0</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">load_balancer</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ports</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;80:80&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;443:443&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">frontend</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./nginx/conf.d/load_balancer.conf:/etc/nginx/conf.d/load_balancer.conf:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./certs/perso.com.crt:/etc/ssl/certs/myapp.crt:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./certs/perso.com.key:/etc/ssl/private/myapp.key:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./nginx/log:/var/log/nginx</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/etc/localtime:/etc/localtime:ro</span><span class="w">
</span></span></span></code></pre>
<p>This way, as long as both Azure VMs are not active, they are removed as targets from the load balancer for a period of 5 minutes at the first unsuccessful connection attempt.</p>

<p>This behavior is not really satisfactory however since some users will get an error page when redirected to non-existing Azure VMs until the load balancer disables the corresponding route.</p>

<p>This is why we are going to see how to implement an <strong>active health check</strong> with Trafik.</p>

<blockquote>
<p>Nginx also offers an active health check in its paid version Nginx Plus.</p>
</blockquote>
<h3 class="fw-bold mt-4 mb-4" id="active-health-check-with-traefik-load-balancer"><span>Active health check with Traefik load balancer </span><a class="icon-link icon-link-hover text-secondary" href="#active-health-check-with-traefik-load-balancer">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>The <strong>active health check</strong> this time consists of the load balancer initiating connection attempts to its target servers itself in order to determine whether or not to deactivate them.</p>

<p>This way, the user is no longer impacted by the loss of one of the servers since his connection will always be redirected to one of the active servers (as long as there is at least one, of course).</p>

<p><a href="https://doc.traefik.io/traefik/routing/services/#health-check">Traefik</a> offers such a solution in its free version.</p>

<blockquote>
<p>Note however that unlike Nginx which offers multiple load distribution strategies, Traefik only provides round robin.</p>
</blockquote>

<p>The Traefik load balancer provides the ability to configure only in Docker Compose when traffic is redirected to other containers in the same Docker instance, notably using labels to identify containers.</p>

<p>In our case, the load balancer targets remote servers so we will use a <a href="https://doc.traefik.io/traefik/getting-started/configuration-overview/#the-dynamic-configuration">dynamic configuration</a> with the following file as <em>provider</em>.</p>

<p><code>dynamic_config.yaml</code></p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">http</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">routers</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">my-router</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">rule</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;Host(`myapp.perso.com`)&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">service</span><span class="p">:</span><span class="w"> </span><span class="l">my-service</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">entryPoints</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">web</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">my-router-https</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">rule</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;Host(`myapp.perso.com`)&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">service</span><span class="p">:</span><span class="w"> </span><span class="l">my-service</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">entryPoints</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">websecure</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">tls</span><span class="p">:</span><span class="w"> </span>{}<span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">services</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">my-service</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">loadBalancer</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="nt">servers</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span>- <span class="nt">url</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;http://192.168.10.5&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span>- <span class="nt">url</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;http://10.1.0.100&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span>- <span class="nt">url</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;http://10.1.0.101&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="nt">healthCheck</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span><span class="nt">path</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;/&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span><span class="nt">interval</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;10s&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span><span class="nt">timeout</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;3s&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">tls</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">certificates</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">certFile</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;/etc/ssl/certs/perso.com.crt&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">keyFile</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;/etc/ssl/private/perso.com.key&#34;</span><span class="w">
</span></span></span></code></pre>
<p>We can notice that:</p>

<ul>
<li>the configuration provides two routes for <strong>http</strong> and <strong>https</strong> from the hostname <code>myapp.perso.com</code> which direct the flow to the respective entry points <code>web</code> and <code>websecure</code>. We will then see how to perform the http -&gt; https redirection.</li>
<li>the SSL and certificates part is defined in this file</li>
<li>the <strong>load balancer</strong> is defined in the <code>services</code> section with the 3 target servers and especially the details of the <strong>health check</strong> where we indicate the test interval, the timeout and the path tested in the URL</li>
</ul>

<p>Now, we will detail the corresponding Docker Compose service.</p>

<p><code>docker-compose.yml</code></p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">services</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">load_balancer</span><span class="p">:</span><span class="w"> 
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">traefik:v3.1</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">load_balancer</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ports</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;8000:80&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;4443:443&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;9080:8080&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">frontend</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">command</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- --<span class="l">entrypoints.web.address=:80</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- --<span class="l">entrypoints.web.http.redirections.entrypoint.to=:4443</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- --<span class="l">entrypoints.web.http.redirections.entrypoint.scheme=https</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- --<span class="l">entrypoints.websecure.address=:443</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- --<span class="l">providers.file.filename=/etc/traefik/dynamic_config.yaml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- --<span class="l">api.insecure=true</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./traefik/dynamic_config.yaml:/etc/traefik/dynamic_config.yaml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./certs/perso.com.crt:/etc/ssl/certs/perso.com.crt</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./certs/perso.com.key:/etc/ssl/private/perso.com.key</span><span class="w">
</span></span></span></code></pre>
<p>Some remarks:</p>

<ul>
<li>ports: in our case, we expose different ports than 80 and 443 for http and https in order not to interfere with other applications. This requires us to explicitly specify the https port to which the redirection is made (4443 here), otherwise the command parameter <code>- --entrypoints.web.http.redirections.entrypoint.to=:4443</code> would not be necessary.</li>
<li>entry points for http and https are defined</li>
<li>the <em>provider</em> is correctly indicated as being the previously defined <code>dynamic_config.yaml</code> file</li>
<li>we expose the Traefik dashboard on the external port 9080 without https (therefore with the parameter <code>--api.insecure=true</code>)</li>
<li>dynamic certificates and configuration file are mounted as volumes</li>
</ul>

<p>Once the Docker Compose environment is started with the command <code>docker compose up -d</code>, we can see the application page at the address <code>https://myapp.perso.com:4443</code> (with a redirection to this URL if we indicate <code>http://myapp.perso.com:8000</code>).</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/app-page.png" alt="Application web page" width="100%" style="max-width: 1000px;"/></p>

<p>And this time, we have no errors even if only one of the 3 servers works as in our case where the Azure VMs are not enabled. The Traefik dashboard allows us to see that the load balancer has correctly removed the Azure VMs from its configuration.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/traefik-dashboard.png" alt="Dashboard Traefik" width="100%" style="max-width: 1621px;"/></p>
