<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/monitoring-article.jpg" alt="Hybrid cloud monitoring" width="100%"/></p>
<h2 id="introduction" class="mt-5"><span>Introduction </span><a class="icon-link icon-link-hover text-secondary" href="#introduction">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>The first two articles in the hybrid cloud series allowed us to first set up the <a href="https://gazerad.com/fr/article/mettre-a-lechelle-automatiquement-une-application-avec-un-cloud-hybride-azure-partie-1-linfrastructure">infrastructure</a> combining the private network and the Azure public cloud, then to implement the application scalability mechanism based on an <a href="https://gazerad.com/fr/article/mettre-a-lechelle-automatiquement-une-application-avec-un-cloud-hybride-azure-partie-2-scalabilite-avec-une-fonction-azure">Azure function</a>.</p>

<p>Now it remains to establish the <strong>automatic triggering</strong> of VM creations/deletions on the cloud based on monitoring events. This is what we will address here by configuring a <strong>Grafana / Prometheus / Alertmanager</strong> monitoring stack.</p>
<h2 id="use-cases" class="mt-5"><span>Use cases </span><a class="icon-link icon-link-hover text-secondary" href="#use-cases">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>Let&rsquo;s recall the local VM monitoring rules that we set for ourselves to determine the creation or deletion of VMs on the Azure cloud:</p>

<ul>
<li><strong>CPU &gt; 70%</strong> over the last 5 minutes =&gt; creation of Azure VM (up to two maximum)</li>
<li><strong>CPU &lt; 30%</strong> over the last hour with presence of at least one <strong>peak &gt; 70%</strong> (in 5 minute steps) =&gt; deletion of Azure VM</li>
</ul>

<p>On the other hand, we recall the scalability mechanism put in place which links these monitoring alerts to the VM creation/deletion actions on Azure.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/autoscaling-azure-functions.png" alt="Autoscaling with Azure Functions" width="100%" style="max-width: 1000px;"/></p>

<p>So we will look at how to generate monitoring events and make them interact with <a href="https://learn.microsoft.com/en-us/azure/azure-functions/functions-overview?pivots=programming-language-powershell">Azure Functions</a> to ensure the scalability of our application.</p>
<h2 id="installation-of-local-monitoring" class="mt-5"><span>Installation of local monitoring </span><a class="icon-link icon-link-hover text-secondary" href="#installation-of-local-monitoring">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>As mentioned, we will choose to install a <strong>Grafana / Prometheus / Alertmanager</strong> stack for monitoring management (Prometheus), alert definition (Alertmanager) and graphical display of data (Grafana). The system metrics of the server where the application runs are provided by <strong>Node exporter</strong> which communicates directly with Prometheus for their processing.</p>
<h3 class="fw-bold mt-4 mb-4" id="harvesting-metrics-with-node-exporter"><span>Harvesting metrics with Node exporter </span><a class="icon-link icon-link-hover text-secondary" href="#harvesting-metrics-with-node-exporter">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Our first goal is to monitor the system resources (CPU, RAM, storage, network, &hellip;) of the <strong>local network server</strong> on which our application runs.</p>

<p><a href="https://github.com/prometheus/node_exporter">Node exporter</a> is an open source tool, primarily used in system monitoring environments, to collect and expose system metrics on Linux servers. It is specifically designed to be used with Prometheus, a monitoring and alerting solution.</p>

<p>In a very simple way, Node exporter can be deployed using <strong>Docker Compose</strong> and communicate the collected data on port 9100 (by default). We will notice that in our case, we constitute a common <code>docker-compose.yml</code> file with the application running on the server that we wish to monitor.</p>

<p>Since we are using a containerized Node exporter installation, we need to carefully define the <strong>volumes</strong> with sufficient rights on the host to monitor the server metrics and not the container itself.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">services</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="c"># Server Web Application</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">application</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">crccheck/hello-world</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">application</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ports</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;80:8000&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="c"># Service Node Exporter</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">node-exporter</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">prom/node-exporter:v1.8.1</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">node_exporter</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="c"># We expose port 9100 which will be accessible for Prometheus</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="c"># deployed on another server dedicated to monitoring</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ports</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;9100:9100&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># The following volumes define the system directories</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># from the server where the metrics will be collected</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/proc:/host/proc:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/sys:/host/sys:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/:/rootfs:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># This volume allows to correct a possible launch error</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/srv/app/node-exporter/textfile_collector:/var/lib/node_exporter/textfile_collector:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># Here we associate the system date of the server and that of the container</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/etc/localtime:/etc/localtime:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">command</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># node-exporter launch parameters</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s1">&#39;--path.procfs=/host/proc&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s1">&#39;--path.sysfs=/host/sys&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s1">&#39;--path.rootfs=/rootfs&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s1">&#39;--collector.textfile.directory=/var/lib/node_exporter/textfile_collector&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s1">&#39;--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">restart</span><span class="p">:</span><span class="w"> </span><span class="l">always</span><span class="w">
</span></span></span></code></pre>
<p>Once the environment is launched with the command <code>docker compose up -d</code>, we have access to a page on port 9100 of the server (here IP address <code>192.168.10.5</code>).</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/node-exporter-home.png" alt="Node exporter home page" width="100%" style="max-width: 1200px;"/>
<img src="/static/images/articles/hybrid-cloud-azure-autoscale/node-exporter-metrics.png" alt="Metrics Page" width="100%" style="max-width: 1200px;"/></p>
<h3 class="fw-bold mt-4 mb-4" id="deploying-grafana-prometheus-alertmanager"><span>Deploying Grafana / Prometheus / Alertmanager </span><a class="icon-link icon-link-hover text-secondary" href="#deploying-grafana-prometheus-alertmanager">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>The deployment of services performing the analysis (dashboard, definition of alerts) of the system data sent back by Node exporter is also done with Docker Compose on <strong>another server</strong> dedicated to monitoring.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">services</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">grafana</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">grafana/grafana:10.4.4</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">grafana</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ports</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;3000:3000&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">monitoring</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">grafana-data:/var/lib/grafana</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/etc/localtime:/etc/localtime:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># - /home/guaz/certs/perso/perso.com.key:/etc/grafana/grafana.key:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># - /home/guaz/certs/perso/perso.com.crt:/etc/grafana/grafana.crt:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">environment</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># Setting admin account credentials</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">GF_SECURITY_ADMIN_USER</span><span class="p">:</span><span class="w"> </span><span class="l">admin</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">GF_SECURITY_ADMIN_PASSWORD</span><span class="p">:</span><span class="w"> </span><span class="l">NV1lgz7ViL4xibQ8NtqV</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># Setting Grafana server URL</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># GF_SERVER_DOMAIN: &#34;grafana.perso.com&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># GF_SERVER_ROOT_URL: &#34;https://grafana.perso.com/&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">restart</span><span class="p">:</span><span class="w"> </span><span class="l">always</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">prometheus</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">prom/prometheus:v2.53.0</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">prometheus</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ports</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;9090:9090&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">monitoring</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./prometheus/alert.rules.yml:/etc/prometheus/alert.rules.yml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">prometheus-data:/prometheus</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/etc/localtime:/etc/localtime:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">command</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s1">&#39;--config.file=/etc/prometheus/prometheus.yml&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s1">&#39;--storage.tsdb.path=/prometheus&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s1">&#39;--web.console.libraries=/etc/prometheus/console_libraries&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s1">&#39;--web.console.templates=/etc/prometheus/consoles&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s1">&#39;--web.enable-lifecycle&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">restart</span><span class="p">:</span><span class="w"> </span><span class="l">always</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">alertmanager</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">prom/alertmanager:v0.27.0</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">alertmanager</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ports</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;9093:9093&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">monitoring</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">alertmanager-data:/data</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./alert-manager/alertmanager.yml:/config/alertmanager.yml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/etc/localtime:/etc/localtime:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">command</span><span class="p">:</span><span class="w"> </span>--<span class="l">config.file=/config/alertmanager.yml --log.level=debug</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">grafana-data</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">prometheus-data</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">alertmanager-data</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">monitoring</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">driver</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;bridge&#39;</span><span class="w">
</span></span></span></code></pre>
<p>Some notes on the installation:</p>

<ul>
<li>The ports exposed for each of the services are: <code>3000</code> for Grafana, <code>9090</code> for Prometheus and <code>9093</code> for Alertmanager. We have chosen
to open them directly to the outside to have access to their respective interfaces. This is not necessary for them to communicate with each other since they belong to the same <strong>Docker network</strong> <code>monitoring</code>.</li>
<li>Each service needs a volume to store data: <code>grafana-data</code>, <code>prometheus-data</code>, <code>alertmanager-data</code>.</li>
<li>Grafana configuration is managed by environment variables while Prometheus and Alertmanager require creating <em>bind mount</em> volumes for their configuration files.</li>
<li>The <code>/etc/localtime</code> mounting volume has no other purpose than to ensure that containers and the host share the same system time.</li>
<li>The <strong>Prometheus</strong> launch command parameters ensure the following:

<ul>
<li><code>--config.file</code>: specification of the configuration file in a volume allowing its modification from the outside</li>
<li><code>--storage.tsdb.path</code>: The data storage path is correctly assigned to the persistent volume.</li>
<li><code>-web.enable-lifecycle</code>: This option allows to reload the configuration without restarting the container, which is useful for applying dynamic changes.</li>
</ul></li>
</ul>
<h2 id="implementing-alerting" class="mt-5"><span>Implementing alerting </span><a class="icon-link icon-link-hover text-secondary" href="#implementing-alerting">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2><h3 class="fw-bold mt-4 mb-4" id="configuration-de-prometheus"><span>Configuration de Prometheus </span><a class="icon-link icon-link-hover text-secondary" href="#configuration-de-prometheus">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>We have seen previously that the Prometheus configuration consists of two files: <code>/etc/prometheus/prometheus.yml</code> and <code>/etc/prometheus/alert.rules.yml</code>
(i.e. <code>./prometheus/prometheus.yml</code> and <code>./prometheus/alert.rules.yml</code> on the monitoring server where Docker Compose is located).</p>

<p><code>prometheus.yml</code></p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">global</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">scrape_interval</span><span class="p">:</span><span class="w"> </span><span class="l">1m</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">rule_files</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span>- <span class="l">/etc/prometheus/alert.rules.yml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">alerting</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">alertmanagers</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">scheme</span><span class="p">:</span><span class="w"> </span><span class="l">http</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">static_configs</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="nt">targets</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="s1">&#39;alertmanager:9093&#39;</span><span class="p">]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">scrape_configs</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span>- <span class="nt">job_name</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;node&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">static_configs</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="nt">targets</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="s1">&#39;vm-debian-3:9100&#39;</span><span class="p">]</span><span class="w">
</span></span></span></code></pre>
<p>The general Prometheus configuration defines the following:</p>

<ul>
<li><code>scrape_interval</code>: the interval for retrieving metrics (here, one minute)</li>
<li><code>rule_files</code>: the file containing the alert rules</li>
<li><code>alerting</code>: the part defining the sending of alerts, here to the <code>alertmanager</code> service accessible on port 9093</li>
<li><code>scrape_configs</code>: the configuration of the servers to monitor. Here, we only have the VM of our application named <code>vm-debian-3</code> on which Node exporter is accessible by port 9100</li>
</ul>

<p><code>alert.rules.yml</code></p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">groups</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span>- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="l">cpu_alerts</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">rules</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="nt">alert</span><span class="p">:</span><span class="w"> </span><span class="l">HighCPUUsage</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="nt">expr</span><span class="p">:</span><span class="w"> </span><span class="l">(1 - rate(node_cpu_seconds_total{instance=&#34;vm-debian-3:9100&#34;, mode=&#34;idle&#34;}[5m])) * 100 &gt; 70</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="nt">for</span><span class="p">:</span><span class="w"> </span><span class="l">5m</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="nt">labels</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span><span class="nt">severity</span><span class="p">:</span><span class="w"> </span><span class="l">critical</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="nt">annotations</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span><span class="nt">summary</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;High CPU usage detected on instance {{ $labels.instance }}&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span><span class="nt">description</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;The CPU usage on instance {{ $labels.instance }} has been over 70% for more than 5 minutes.&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="nt">alert</span><span class="p">:</span><span class="w"> </span><span class="l">NormalCPUUsage</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="nt">expr</span><span class="p">:</span><span class="w"> </span><span class="p">|</span><span class="sd">
</span></span></span><span class="line"><span class="cl"><span class="sd">          max_over_time((1 - rate(node_cpu_seconds_total{instance=&#34;vm-debian-3:9100&#34;,mode=&#34;idle&#34;}[5m]))[1h:5m]) * 100 &gt; 70 
</span></span></span><span class="line"><span class="cl"><span class="sd">          and (1 - rate(node_cpu_seconds_total{instance=&#34;vm-debian-3:9100&#34;, mode=&#34;idle&#34;}[1h])) * 100 &lt; 30</span><span class="w">          
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="nt">for</span><span class="p">:</span><span class="w"> </span><span class="l">1h</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="nt">labels</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span><span class="nt">severity</span><span class="p">:</span><span class="w"> </span><span class="l">none</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="nt">annotations</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span><span class="nt">summary</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;CPU back to normal usage on instance {{ $labels.instance }}&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">          </span><span class="nt">description</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;The CPU usage on instance {{ $labels.instance }} has come down under 30% after a peak.&#34;</span><span class="w">
</span></span></span></code></pre>
<p>This file therefore contains the definition of CPU usage alerts as previously defined:</p>

<ul>
<li>CPU &gt; 70% over the last 5 minutes</li>
<li>CPU &lt; 30% over the last hour with presence of at least one peak &gt; 70% (in 5 minute steps)</li>
</ul>

<p>These alerts are defined under the <code>expr</code> parameter by <a href="https://prometheus.io/docs/prometheus/latest/querying/basics/">PromQL</a> expressions.</p>

<p>The next configuration parameter, <code>for</code>, defines a wait time for which the alert must remain active before it is sent. Without this clause, alerts
would be sent immediately upon receipt.</p>

<p>Finally, we indicate the severity of the alert in the <code>labels</code>, and the annotations add an explicit definition of the alerts.</p>

<p>On the Prometheus interface (available in our case at the URL <a href="http://localhost:9090">http://localhost:9090</a>) we can see these alerts and their status.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/prometheus-alerts.png" alt="Prometheus Alerts" width="100%" style="max-width: 1200px;"/></p>

<p>In the Graph part, it is possible to visualize metrics by indicating PromQL expressions.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/prometheus-high-cpu.png" alt="Prometheus: graphic" width="100%" style="max-width: 1200px;"/></p>
<h3 class="fw-bold mt-4 mb-4" id="alert-definition-details"><span>Alert definition details </span><a class="icon-link icon-link-hover text-secondary" href="#alert-definition-details">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>The <a href="https://prometheus.io/docs/prometheus/latest/querying/basics/">PromQL</a> expressions defining <strong>monitoring alerts</strong> are quite complex at first glance. We will explain some elements of them here.</p>

<ul>
<li><p><code>HighCPUUsage</code></p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">expr: <span class="o">(</span><span class="m">1</span> - rate<span class="o">(</span>node_cpu_seconds_total<span class="o">{</span><span class="nv">instance</span><span class="o">=</span><span class="s2">&#34;vm-debian-3:9100&#34;</span>, <span class="nv">mode</span><span class="o">=</span><span class="s2">&#34;idle&#34;</span><span class="o">}[</span>5m<span class="o">]))</span> * <span class="m">100</span>
</span></span></code></pre>
<ul>
<li><code>rate(node_cpu_seconds_total{instance=&quot;vm-debian-3:9100&quot;, mode=&quot;idle&quot;}[5m]</code>: the rate function calculates the average <strong>idle rate</strong> of the CPU of the VM that we
wish to monitor over the last 5 minutes elapsed.</li>
<li><code>(1 - ...) * 100</code>: we get the <strong>CPU usage rate</strong> by subtracting the previous result from 1, then multiplying it by 100 to get a percentage</li>
<li><code>&gt; 70</code>: checks that this CPU usage rate exceeds the 70% threshold in order to trigger the alert</li>
</ul></li>

<li><p><code>NormalCPUUsage</code></p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">expr: <span class="p">|</span>
</span></span><span class="line"><span class="cl"><span class="o">(</span>max_over_time<span class="o">((</span><span class="m">1</span> - rate<span class="o">(</span>node_cpu_seconds_total<span class="o">{</span><span class="nv">instance</span><span class="o">=</span><span class="s2">&#34;vm-debian-3:9100&#34;</span>,mode<span class="o">=</span><span class="s2">&#34;idle&#34;</span><span class="o">}[</span>5m<span class="o">]))[</span>1h:5m<span class="o">])</span> * 100<span class="o">)</span> &gt; 70<span class="o">)</span>
</span></span><span class="line"><span class="cl">and <span class="o">((</span><span class="m">1</span> - rate<span class="o">(</span>node_cpu_seconds_total<span class="o">{</span><span class="nv">instance</span><span class="o">=</span><span class="s2">&#34;vm-debian-3:9100&#34;</span>, <span class="nv">mode</span><span class="o">=</span><span class="s2">&#34;idle&#34;</span><span class="o">}[</span>1h<span class="o">]))</span> * 100<span class="o">)</span> &lt; 30<span class="o">)</span>
</span></span></code></pre>
<p>Here, the expression is divided into two parts:</p>

<ul>
<li>Detection of a <strong>usage peak</strong> CPU greater than 70% in the last hour

<ul>
<li><code>1 - rate(...)[5m]</code>: as before, we get the average <strong>CPU usage rate</strong> per 5 minute period</li>
<li><code>max_over_time((...[1h:5m])</code> : this function captures the <strong>maximum CPU activity peak</strong> observed over the last hour
with 5 minute measurement intervals ([1h:5m])</li>
<li><code>* 100) &gt; 70</code> : we ensure that this peak activity was <strong>greater than 70%</strong></li>
</ul></li>
<li>Check that the average CPU usage has <strong>fallen below 30%</strong> over the last hour: this is the same
expression as for the <code>HighCPUUsage</code> alert but with the <code>&lt; 30</code> test.</li>
</ul></li>
</ul>

<blockquote>
<p>For a monitored infrastructure made of several servers, we precede the calculation of the resource utilization rate by
PromQL by <code>avg by(instance)</code> to get the average per instance: <code>avg by(instance)(rate(node_cpu_seconds_total{instance=~&quot;server1|server2|server3&quot;, mode=&quot;idle&quot;}[5m]))</code></p>
</blockquote>

<p>This way, the <code>NormalCPUUsage</code> alert is triggered when we ensure that resource usage has <strong>returned to normal</strong>.
of the local VM on which our application is deployed, and causes the <strong>deletion of VMs</strong> created on the cloud using Alertmanager.</p>

<p>We will now describe how to configure <strong>Alertmanager</strong> to associate the desired tasks when monitoring alerts are triggered.</p>
<h3 class="fw-bold mt-4 mb-4" id="managing-alerts-with-alertmanager"><span>Managing alerts with Alertmanager </span><a class="icon-link icon-link-hover text-secondary" href="#managing-alerts-with-alertmanager">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>We have seen that Prometheus has the ability to retrieve system metrics and generate alerts from them.</p>

<p>Now, <strong>Alertmanager</strong> will allow you to exploit these alerts by associating a task with them. In our case, we want to create/delete
VMs on the Azure cloud in order to implement our hybrid cloud strategy. This will be done by API calls to the <a href="https://learn.microsoft.com/en-us/azure/azure-functions/">Azure function</a> that we detailed in the <a href="https://gazerad.com/en-us/article/automatically-scaling-an-application-with-an-azure-hybrid-cloud-part-2-scalability-with-an-azure-function">article</a> dedicated to it.</p>

<p>Now let&rsquo;s look at the contents of the <code>alertmanager.yml</code> configuration file:</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">route</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">group_by</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="s1">&#39;alertname&#39;</span><span class="p">]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">receiver</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;default&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">group_wait</span><span class="p">:</span><span class="w"> </span><span class="l">30s</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">group_interval</span><span class="p">:</span><span class="w"> </span><span class="l">5m</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">repeat_interval</span><span class="p">:</span><span class="w"> </span><span class="l">12h</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">routes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">receiver</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;create-vm&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">matchers</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">alertname = &#34;HighCPUUsage&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">receiver</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;delete-vm&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">matchers</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">alertname = &#34;NormalCPUUsage&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">receivers</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span>- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;default&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span>- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;create-vm&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">webhook_configs</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">url</span><span class="p">:</span><span class="w"> </span><span class="l">https://tp-cloud-autoscale-vpn.azurewebsites.net/api/autoscale-vpn?action=create</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span>- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;delete-vm&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">webhook_configs</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">url</span><span class="p">:</span><span class="w"> </span><span class="l">https://tp-cloud-autoscale-vpn.azurewebsites.net/api/autoscale-vpn?action=delete</span><span class="w">
</span></span></span></code></pre>
<p>This file configures how alerts are processed and sent to specific destinations (receivers).</p>

<p>The route section defines how alerts are grouped, waited for, and forwarded to specific destinations called &ldquo;receivers&rdquo;.</p>

<ul>
<li><code>group_by: ['alertname']</code>: alerts are grouped by name (alertname).</li>
<li><code>receiver: 'default'</code>: if an alert does not match any specific route, it is sent to the &lsquo;default&rsquo; receiver.</li>
<li><code>group_wait: 30s</code>, <code>group_interval: 5m</code>, <code>repeat_interval: 12h</code>: define the delays for sending and repeating alerts.</li>
</ul>

<p>Under the <code>routes</code> key, specific routes are defined for particular alert types, each directed to a different receiver.</p>

<ul>
<li><code>create-vm</code>: sends HighCPUUsage alerts to a webhook to create a VM.</li>
<li><code>delete-vm</code>: sends NormalCPUUsage alerts to a webhook to delete a VM.</li>
</ul>

<p>Finally, the <code>receivers</code> section defines the webhook URLs corresponding to each of the routes.</p>

<p>Alertmanager also offers a web page available on port 9093 of the monitoring server.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/alert-manager-home.png" alt="Alertmanager Home Page" width="100%" style="max-width: 1200px;"/></p>
<h2 id="testing-scaling-on-monitoring-alerts" class="mt-5"><span>Testing scaling on monitoring alerts </span><a class="icon-link icon-link-hover text-secondary" href="#testing-scaling-on-monitoring-alerts">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2><h3 class="fw-bold mt-4 mb-4" id="cpu-load-simulation-on-local-server"><span>CPU load simulation on local server </span><a class="icon-link icon-link-hover text-secondary" href="#cpu-load-simulation-on-local-server">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>We will install the <a href="https://github.com/ColinIanKing/stress-ng">stress-of</a> tool which allows, on Linux systems, to submit
at a given load the target server.</p>

<p>On a <strong>Debian</strong> distribution, this is done very simply with the following command:</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">sudo apt-get install stress-ng
</span></span></code></pre>
<p>In order to trigger the previously defined <code>HighCPUUsage</code> monitoring alert, we will run the command below which will increase the <strong>CPU usage to 75%</strong> for a single processor (which is sufficient since our application&rsquo;s local server is a 1 vCPU VM).</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">$ stress-ng -c <span class="m">1</span> -l <span class="m">75</span>
</span></span><span class="line"><span class="cl">stress-ng: info:  <span class="o">[</span>948<span class="o">]</span> defaulting to a <span class="m">86400</span> second <span class="o">(</span><span class="m">1</span> day, 0.00 secs<span class="o">)</span> run per stressor
</span></span><span class="line"><span class="cl">stress-ng: info:  <span class="o">[</span>948<span class="o">]</span> dispatching hogs: <span class="m">1</span> cpu
</span></span></code></pre>
<p>Logically, we can see in <strong>Prometheus</strong> the CPU usage averaged in 5 minute steps quickly going above the 70% threshold that is supposed to trigger the <code>HighCPUUsage</code> alert.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/test-prometheus-graph-high.png" alt="Prometheus high CPU test" width="100%" style="max-width: 1200px;"/></p>

<p>We can then see that the alert is indeed emitted on the Prometheus interface, and initially in <strong>Pending</strong> state for the duration defined for the <code>for</code> parameter of the <a href="#prometheus-configuration">Prometheus configuration</a>.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/test-prometheus-alert-pending-high.png" alt="Prometheus test high CPU alert - pending" width="100%" style="max-width: 1200px;"/></p>

<p>In our case, we must therefore wait <strong>5 minutes</strong> before the alert goes into <strong>Firing</strong> status, meaning it has been sent to <strong>Alertmanager</strong>.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/test-prometheus-alert-firing-high.png" alt="Prometheus test high CPU alert - firing" width="100%" style="max-width: 1200px;"/></p>

<p>The <strong>Alertmanager</strong> interface allows us to see that the <code>HighCPUUsage</code> alert has been received.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/test-alert-manager-high.png" alt="Alertmanager test high CPU alert" width="100%" style="max-width: 1200px;"/></p>

<p>Now let&rsquo;s look at the logs of the <strong>Alertmanager</strong> container and we see that the reception of the <code>HighCPUUsage</code> alert sent by Prometheus which triggers
the call to the <strong>Azure Functions</strong> API (<code>receiver=create-vm</code>) to create a VM on the <strong>Azure cloud</strong> (here after an initial failure).</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">2024-07-18 09:02:46 <span class="nv">ts</span><span class="o">=</span>2024-07-18T07:02:46.332Z <span class="nv">caller</span><span class="o">=</span>dispatch.go:164 <span class="nv">level</span><span class="o">=</span>debug <span class="nv">component</span><span class="o">=</span>dispatcher <span class="nv">msg</span><span class="o">=</span><span class="s2">&#34;Received alert&#34;</span> <span class="nv">alert</span><span class="o">=</span>HighCPUUsage<span class="o">[</span>b709916<span class="o">][</span>active<span class="o">]</span>
</span></span><span class="line"><span class="cl">2024-07-18 09:02:46 <span class="nv">ts</span><span class="o">=</span>2024-07-18T07:02:46.334Z <span class="nv">caller</span><span class="o">=</span>dispatch.go:516 <span class="nv">level</span><span class="o">=</span>debug <span class="nv">component</span><span class="o">=</span>dispatcher <span class="nv">aggrGroup</span><span class="o">=</span><span class="s2">&#34;{}/{alertname=\&#34;HighCPUUsage\&#34;}:{alertname=\&#34;HighCPUUsage\&#34;}&#34;</span> <span class="nv">msg</span><span class="o">=</span>flushing <span class="nv">alerts</span><span class="o">=[</span>HighCPUUsage<span class="o">[</span>b709916<span class="o">][</span>active<span class="o">]]</span>
</span></span><span class="line"><span class="cl">2024-07-18 09:02:54 <span class="nv">ts</span><span class="o">=</span>2024-07-18T07:02:54.347Z <span class="nv">caller</span><span class="o">=</span>notify.go:848 <span class="nv">level</span><span class="o">=</span>warn <span class="nv">component</span><span class="o">=</span>dispatcher <span class="nv">receiver</span><span class="o">=</span>create-vm <span class="nv">integration</span><span class="o">=</span>webhook<span class="o">[</span>0<span class="o">]</span> <span class="nv">aggrGroup</span><span class="o">=</span><span class="s2">&#34;{}/{alertname=\&#34;HighCPUUsage\&#34;}:{alertname=\&#34;HighCPUUsage\&#34;}&#34;</span> <span class="nv">msg</span><span class="o">=</span><span class="s2">&#34;Notify attempt failed, will retry later&#34;</span> <span class="nv">attempts</span><span class="o">=</span><span class="m">1</span> <span class="nv">err</span><span class="o">=</span><span class="s2">&#34;Post \&#34;&lt;redacted&gt;\&#34;: dial tcp: lookup tp-cloud-autoscale-vpn.azurewebsites.net on 127.0.0.11:53: server misbehaving&#34;</span>
</span></span><span class="line"><span class="cl">2024-07-18 09:04:46 <span class="nv">ts</span><span class="o">=</span>2024-07-18T07:04:46.308Z <span class="nv">caller</span><span class="o">=</span>dispatch.go:164 <span class="nv">level</span><span class="o">=</span>debug <span class="nv">component</span><span class="o">=</span>dispatcher <span class="nv">msg</span><span class="o">=</span><span class="s2">&#34;Received alert&#34;</span> <span class="nv">alert</span><span class="o">=</span>HighCPUUsage<span class="o">[</span>b709916<span class="o">][</span>active<span class="o">]</span>
</span></span><span class="line"><span class="cl">2024-07-18 09:05:45 <span class="nv">ts</span><span class="o">=</span>2024-07-18T07:05:45.824Z <span class="nv">caller</span><span class="o">=</span>notify.go:860 <span class="nv">level</span><span class="o">=</span>info <span class="nv">component</span><span class="o">=</span>dispatcher <span class="nv">receiver</span><span class="o">=</span>create-vm <span class="nv">integration</span><span class="o">=</span>webhook<span class="o">[</span>0<span class="o">]</span> <span class="nv">aggrGroup</span><span class="o">=</span><span class="s2">&#34;{}/{alertname=\&#34;HighCPUUsage\&#34;}:{alertname=\&#34;HighCPUUsage\&#34;}&#34;</span> <span class="nv">msg</span><span class="o">=</span><span class="s2">&#34;Notify success&#34;</span> <span class="nv">attempts</span><span class="o">=</span><span class="m">2</span> <span class="nv">duration</span><span class="o">=</span>2m51.482925757s
</span></span></code></pre><h3 class="fw-bold mt-4 mb-4" id="return-to-normal-cpu-load-and-delete-the-vm"><span>Return to normal CPU load and delete the VM </span><a class="icon-link icon-link-hover text-secondary" href="#return-to-normal-cpu-load-and-delete-the-vm">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Now we <strong>interrupt</strong> the CPU load test launched by the <code>stress-ng</code> command on our application&rsquo;s local server.</p>

<p>We can see on <strong>Prometheus</strong> that the hourly CPU average never exceeded 30% even during the peak activity generated.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/test-prometheus-graph-normal-2.png" alt="Prometheus CPU test normal - average" width="100%" style="max-width: 1200px;"/></p>

<p>Additionally, we see that the peak is well captured over the last hour elapsed during a given period.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/test-prometheus-graph-normal-1.png" alt="Prometheus test CPU normal - pic" width="100%" style="max-width: 1200px;"/></p>

<p>We are indeed in the conditions where the <strong>return to normal</strong> <code>NormalCPUUsage</code> alert can be generated, which we can first see on Prometheus.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/test-prometheus-alert-pending-normal.png" alt="Prometheus test CPU normal - alerte pending" width="100%" style="max-width: 1200px;"/></p>

<p>Due to the Prometheus configuration <code>for</code> parameter set to <code>1h</code>, this time you have to wait an hour before the alert is actually launched. This delay was chosen so as not to overreact to CPU variations and allow a smoother transition between the different states.</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/test-prometheus-alert-firing-normal.png" alt="Prometheus test CPU normal - alerte firing" width="100%" style="max-width: 1200px;"/></p>

<p>As before, the alert is received on the Alertmanager side and results in a call to the <strong>Azure Functions</strong> API to delete the VM created on Azure (endpoint <code>delete-vm</code>).</p>

<p><img src="/static/images/articles/hybrid-cloud-azure-autoscale/test-alert-manager-normal.png" alt="Alertmanager test CPU normal" width="100%" style="max-width: 1200px;"/></p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">2024-07-18 12:13:01 <span class="nv">ts</span><span class="o">=</span>2024-07-18T10:13:01.283Z <span class="nv">caller</span><span class="o">=</span>dispatch.go:164 <span class="nv">level</span><span class="o">=</span>debug <span class="nv">component</span><span class="o">=</span>dispatcher <span class="nv">msg</span><span class="o">=</span><span class="s2">&#34;Received alert&#34;</span> <span class="nv">alert</span><span class="o">=</span>NormalCPUUsage<span class="o">[</span>ccec9d5<span class="o">][</span>active<span class="o">]</span>
</span></span><span class="line"><span class="cl">2024-07-18 12:13:01 <span class="nv">ts</span><span class="o">=</span>2024-07-18T10:13:01.286Z <span class="nv">caller</span><span class="o">=</span>dispatch.go:516 <span class="nv">level</span><span class="o">=</span>debug <span class="nv">component</span><span class="o">=</span>dispatcher <span class="nv">aggrGroup</span><span class="o">=</span><span class="s2">&#34;{}/{alertname=\&#34;NormalCPUUsage\&#34;}:{alertname=\&#34;NormalCPUUsage\&#34;}&#34;</span> <span class="nv">msg</span><span class="o">=</span>flushing <span class="nv">alerts</span><span class="o">=[</span>NormalCPUUsage<span class="o">[</span>ccec9d5<span class="o">][</span>active<span class="o">]]</span>
</span></span><span class="line"><span class="cl">2024-07-18 12:13:09 <span class="nv">ts</span><span class="o">=</span>2024-07-18T10:13:09.298Z <span class="nv">caller</span><span class="o">=</span>notify.go:848 <span class="nv">level</span><span class="o">=</span>warn <span class="nv">component</span><span class="o">=</span>dispatcher <span class="nv">receiver</span><span class="o">=</span>delete-vm <span class="nv">integration</span><span class="o">=</span>webhook<span class="o">[</span>0<span class="o">]</span> <span class="nv">aggrGroup</span><span class="o">=</span><span class="s2">&#34;{}/{alertname=\&#34;NormalCPUUsage\&#34;}:{alertname=\&#34;NormalCPUUsage\&#34;}&#34;</span> <span class="nv">msg</span><span class="o">=</span><span class="s2">&#34;Notify attempt failed, will retry later&#34;</span> <span class="nv">attempts</span><span class="o">=</span><span class="m">1</span> <span class="nv">err</span><span class="o">=</span><span class="s2">&#34;Post \&#34;&lt;redacted&gt;\&#34;: dial tcp: lookup tp-cloud-autoscale-vpn.azurewebsites.net on 127.0.0.11:53: server misbehaving&#34;</span>
</span></span><span class="line"><span class="cl">2024-07-18 12:14:35 <span class="nv">ts</span><span class="o">=</span>2024-07-18T10:14:35.741Z <span class="nv">caller</span><span class="o">=</span>notify.go:860 <span class="nv">level</span><span class="o">=</span>info <span class="nv">component</span><span class="o">=</span>dispatcher <span class="nv">receiver</span><span class="o">=</span>delete-vm <span class="nv">integration</span><span class="o">=</span>webhook<span class="o">[</span>0<span class="o">]</span> <span class="nv">aggrGroup</span><span class="o">=</span><span class="s2">&#34;{}/{alertname=\&#34;NormalCPUUsage\&#34;}:{alertname=\&#34;NormalCPUUsage\&#34;}&#34;</span> <span class="nv">msg</span><span class="o">=</span><span class="s2">&#34;Notify success&#34;</span> <span class="nv">attempts</span><span class="o">=</span><span class="m">2</span> <span class="nv">duration</span><span class="o">=</span>1m26.446343094s
</span></span></code></pre>