<p><img src="/static/images/articles/aws-security-group-ip/ssh-ec2.png" alt="SSH connectio to EC2 instance" width="100%"/></p>
<h2 id="introduction" class="mt-5"><span>Introduction </span><a class="icon-link icon-link-hover text-secondary" href="#introduction">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>When publicly exposing <strong>AWS resources</strong> (like an EC2 instance), the <a href="https://docs.aws.amazon.com/vpc/latest/userguide/vpc-security-groups.html">security groups</a> allow you to control incoming and outgoing traffic.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-security-group.png" alt="AWS security groups" width="100%" style="max-width: 600px;"/></p>

<p>This is especially required to control <strong>incoming SSH connections</strong> if we expose an EC2 instance (therefore a VM) on which can for example run a website.</p>

<p>Indeed, even if the access to the instance is already controlled by the <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html">key pairs</a> ,
it remains a <strong>very bad practice</strong> to <strong>expose a too wide ssh access</strong>, even to the entire web.</p>

<blockquote>
<p>Recent news has offered a reminder on this subject with the <a href="https://gist.github.com/thesamesam/223949d5a074ebc3dce9ee78baad9e27">backdoor flaw in the <code>xz-utils</code> library</a> which has showed that we cannot rely solely on ssh to secure access to a resource.</p>
</blockquote>

<p>The logical solution if you work alone on this AWS resource is to only authorize SSH access to the <strong>public IP address of your PC</strong>.
However, this IP may constantly change (rebooting the router, using the PC in different locations).</p>

<p>This is why we will see in this article how to <strong>dynamically update</strong> this <strong>IP address</strong> using a <strong>Powershell</strong> script
that you can schedule on your Windows PC.</p>
<h2 id="use-case" class="mt-5"><span>Use case </span><a class="icon-link icon-link-hover text-secondary" href="#use-case">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>We will study the following case:</p>

<ul>
<li><a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/concepts.html">AWS EC2 instance</a> Linux with a <strong>public IP</strong> (with <a href="https ://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html">Elastic IP</a>)</li>
<li>Expose <strong>ports 80 and 443</strong> (http and https) of the instance to the entire web</li>
<li>Expose <strong>ssh port 22</strong> only to the user&rsquo;s PC</li>
<li><strong>Dynamically change</strong> the IP defined in the AWS EC2 instance configuration for ssh access when the user opened their <strong>Windows session</strong></li>
</ul>

<p>We will therefore see how to use the <a href="https://docs.aws.amazon.com/powershell/latest/userguide/pstools-welcome.html">AWS tools for Powershell</a> which allow you to perform administration tasks on AWS resources, including EC2 instances.</p>

<p>In our case, we will have to work with the <a href="https://docs.aws.amazon.com/vpc/latest/userguide/vpc-security-groups.html">security groups</a> which allow us to control incoming and outgoing flows to our EC2 instance.</p>

<p>It will therefore be necessary to create a <strong>Powershell script</strong> which will modify the security rule of <strong>ssh port 22</strong> for the security group to which our EC2 instance is attached, and <strong>schedule</strong> it to be executed when the user logs on to Windows.</p>

<p>We will not detail here the creation of the EC2 instance or of the security group. So we consider the latter created with <strong>incoming rules</strong> as below.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-security-group-2.png" alt="Security group inbound rules" width="100%" style="max-width: 850px;"/></p>
<h2 id="iam-user-creation" class="mt-5"><span>IAM user creation </span><a class="icon-link icon-link-hover text-secondary" href="#iam-user-creation">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>The script will need access to the AWS account used to manage the EC2 instance, with sufficient rights to make changes to the security groups. This is provided by the account <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/introduction.html">IAM</a> (Identity and Access Management) interface.</p>

<blockquote>
<p>We will not use the <a href="https://docs.aws.amazon.com/singlesignon/latest/userguide/what-is.html">IAM Identity Center</a> functionality here, which is aimed at human users (activation by e-mail address, etc.).</p>
</blockquote>
<h3 class="fw-bold mt-4 mb-4" id="creating-the-user-group"><span>Creating the user group </span><a class="icon-link icon-link-hover text-secondary" href="#creating-the-user-group">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>In accordance with AWS best practice, we will create a <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/id_groups_create.html">user group</a> to which we will grant sufficient rights rather than defining them directly for the user.</p>

<p>This is done very simply on the AWS account IAM interface from the <code>Access management -&gt; User groups</code> menu available on the left panel of the page.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-user-group-1.png" alt="Creating an IAM user group" width="100%" style="max-width: 750px;"/></p>

<p>We will only indicate the name of the group when it is created in the following menu.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-user-group-2.png" alt="User group creation menu" width="100%" style="max-width: 750px;"/></p>

<p>And that&rsquo;s all, the created group appears in the list on the <code>Access management -&gt; User groups</code> page.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-user-group-3.png" alt="User group list" width="100%" style="max-width: 750px;"/></p>
<h3 class="fw-bold mt-4 mb-4" id="adding-a-permissions-policy-to-the-group"><span>Adding a permissions policy to the group </span><a class="icon-link icon-link-hover text-secondary" href="#adding-a-permissions-policy-to-the-group">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Now we are going to grant sufficient rights to the group we have created so that we can make the security group changes we want.</p>

<p>To do so, select the group from the list on the <code>Access management -&gt; User groups</code> page, choose the <code>Permissions</code> tab and click <code>Create inline policy</code> in the <code>Add permissions</code> drop-down menu.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-permissions-1.png" alt="Group permissions" width="100%" style="max-width: 750px;"/></p>

<p>We&rsquo;re going to add the following permissions policy in json format.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="nt">&#34;Version&#34;</span><span class="p">:</span> <span class="s2">&#34;2012-10-17&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">    <span class="nt">&#34;Statement&#34;</span><span class="p">:</span> <span class="p">[</span>
</span></span><span class="line"><span class="cl">        <span class="p">{</span>
</span></span><span class="line"><span class="cl">            <span class="nt">&#34;Effect&#34;</span><span class="p">:</span> <span class="s2">&#34;Allow&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">            <span class="nt">&#34;Action&#34;</span><span class="p">:</span> <span class="p">[</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:DescribeInstanceAttribute&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:DescribeInstanceStatus&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:DescribeInstances&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:DescribeNetworkAcls&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:DescribeSecurityGroups&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:DescribeSecurityGroupRules&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:ModifySecurityGroupRules&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:CreateSecurityGroup&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:DeleteSecurityGroup&#34;</span>
</span></span><span class="line"><span class="cl">            <span class="p">],</span>
</span></span><span class="line"><span class="cl">            <span class="nt">&#34;Resource&#34;</span><span class="p">:</span> <span class="s2">&#34;*&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="p">},</span>
</span></span><span class="line"><span class="cl">        <span class="p">{</span>
</span></span><span class="line"><span class="cl">            <span class="nt">&#34;Effect&#34;</span><span class="p">:</span> <span class="s2">&#34;Allow&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">            <span class="nt">&#34;Action&#34;</span><span class="p">:</span> <span class="p">[</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:RevokeSecurityGroupEgress&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:RevokeSecurityGroupIngress&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:AuthorizeSecurityGroupEgress&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:AuthorizeSecurityGroupIngress&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:UpdateSecurityGroupRuleDescriptionsEgress&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="s2">&#34;ec2:UpdateSecurityGroupRuleDescriptionsIngress&#34;</span>
</span></span><span class="line"><span class="cl">            <span class="p">],</span>
</span></span><span class="line"><span class="cl">            <span class="nt">&#34;Resource&#34;</span><span class="p">:</span> <span class="s2">&#34;arn:aws:ec2:*:*:security-group/*&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="p">]</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span></code></pre>
<p>In particular, we will use the <code>ec2:RevokeSecurityGroupIngress</code> and <code>ec2:AuthorizeSecurityGroupIngress</code> rights to make the changes we want to the security groups of the EC2 instance (available in the <code>arn:aws:ec2:*:*:security-group/*</code> resource).</p>

<p>Finally, the permissions policy appears in the user group definition.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-permissions-2.png" alt="Group permissions defined" width="100%" style="max-width: 750px;"/></p>
<h3 class="fw-bold mt-4 mb-4" id="adding-an-iam-user-to-the-aws-account"><span>Adding an IAM user to the AWS account </span><a class="icon-link icon-link-hover text-secondary" href="#adding-an-iam-user-to-the-aws-account">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Now we can <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/id_users_create.html">create an IAM user</a> who will have the desired rights.</p>

<p>Simply go to the <code>Access management -&gt; Users</code> menu available on the left panel of the IAM interface, then create the user from this page.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-user-1.png" alt="IAM user creation" width="100%" style="max-width: 750px;"/></p>

<p>We can then first define its name.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-user-2.png" alt="IAM user creation - step 1" width="100%" style="max-width: 750px;"/></p>

<p>And then we will attach it to the group we have created so that it has the rights we want.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-user-3.png" alt="IAM user creation - step 2" width="100%" style="max-width: 750px;"/></p>

<p>Finally, after validating the last verification step, we will be able to select the user and create an <strong>access key</strong> in the <code>Security credentials</code> tab.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-user-4.png" alt="IAM user creation - security credentials" width="100%" style="max-width: 850px;"/></p>

<p>First we need to define the use case as <code>Command Line Interface (CLI)</code> and <strong>check the confirmation box</strong> at the bottom.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-user-5.png" alt="IAM user creation - access key" width="100%" style="max-width: 750px;"/></p>

<p>Finally, in step 3 we obtain the access key and its password to <strong>save</strong> in a secure location to be used later by the script.</p>

<p><img src="/static/images/articles/aws-security-group-ip/aws-iam-user-6.png" alt="IAM user creation - access key final" width="100%" style="max-width: 750px;"/></p>
<h3 class="fw-bold mt-4 mb-4" id="add-the-access-key-to-windows-credential-manager"><span>Add the access key to Windows Credential Manager </span><a class="icon-link icon-link-hover text-secondary" href="#add-the-access-key-to-windows-credential-manager">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>We are going to securely store the generated access key in <a href="https://support.microsoft.com/en-us/windows/accessing-credential-manager-1b5c916a-6a16-889f-8581-fc16e8165ac0">Windows Credential Manager</a>, which will also allow it to be easily retrieved in the Powershell script.</p>

<p>This is very easy to do in Powershell after installing the <a href="https://github.com/echalone/PowerShell_Credential_Manager">Powershell Credential Manager</a> module. We will give the name <code>aws-editor-key</code> to the Windows Credential Manager entry corresponding to this key.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nb">Install-Module</span> <span class="n">CredentialManager</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Récupérer la clef précédente et son mot de pass</span>
</span></span><span class="line"><span class="cl"><span class="nv">$awsAccessKeyName</span> <span class="p">=</span> <span class="s2">&#34;XXXXXXXXXXXXX&#34;</span>
</span></span><span class="line"><span class="cl"><span class="nv">$awsAccessKeyPass</span> <span class="p">=</span> <span class="s2">&#34;XXXXXXXXXXXXX&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nb">New-StoredCredential</span> <span class="n">-Target</span> <span class="s1">&#39;aws-editor-key&#39;</span> <span class="n">-Type</span> <span class="n">Generic</span> <span class="n">-UserName</span> <span class="nv">$awsAccessKeyName</span> <span class="n">-Password</span> <span class="nv">$awsAccessKeyPass</span> <span class="n">-Persist</span> <span class="s1">&#39;LocalMachine&#39;</span>
</span></span></code></pre><h2 id="automating-ip-renewal" class="mt-5"><span>Automating IP renewal </span><a class="icon-link icon-link-hover text-secondary" href="#automating-ip-renewal">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>We are now going to look at how to automatically renew the IP address defined in the incoming ssh rule for the EC2 instance.</p>
<h3 class="fw-bold mt-4 mb-4" id="powershell-script"><span>Powershell script </span><a class="icon-link icon-link-hover text-secondary" href="#powershell-script">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Having created an IAM user with sufficient rights to <strong>modify the security groups</strong> on our instance, we can now produce a Powershell script that will automate the <strong>change of the IP address</strong> authorized to connect to the EC2 instance via ssh.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c"># Dependencies : install the following PS modules</span>
</span></span><span class="line"><span class="cl"><span class="c"># Install-Module -Name AWS.Tools.Installer</span>
</span></span><span class="line"><span class="cl"><span class="c"># Install-AWSToolsModule AWS.Tools.EC2</span>
</span></span><span class="line"><span class="cl"><span class="c"># Install-Module -Name TUN.CredentialManager</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Prerequisites : </span>
</span></span><span class="line"><span class="cl"><span class="c"># - aws user credentials saved into Windows Credential Manager</span>
</span></span><span class="line"><span class="cl"><span class="c"># - on aws : usern rattached to policy with enough rights</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c">#############</span>
</span></span><span class="line"><span class="cl"><span class="c"># Variables #</span>
</span></span><span class="line"><span class="cl"><span class="c">#############</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># AWS configuration</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Regions can be an array (like @(&#34;eu-west-3&#34;, &#34;eu-west-1&#34;)) to match the security groups</span>
</span></span><span class="line"><span class="cl"><span class="c"># or a string to apply the value to all security groups</span>
</span></span><span class="line"><span class="cl"><span class="nv">$regions</span> <span class="p">=</span> <span class="s2">&#34;eu-west-3&#34;</span>
</span></span><span class="line"><span class="cl"><span class="c"># Security group names array</span>
</span></span><span class="line"><span class="cl"><span class="nv">$securityGroupNames</span> <span class="p">=</span> <span class="p">@(</span><span class="s2">&#34;launch-wizard-3&#34;</span><span class="p">)</span>
</span></span><span class="line"><span class="cl"><span class="c"># Aws profile name where credentials are stored</span>
</span></span><span class="line"><span class="cl"><span class="nv">$awsProfileName</span> <span class="p">=</span> <span class="s2">&#34;editor&#34;</span>
</span></span><span class="line"><span class="cl"><span class="c"># In case of other value for ssh port; otherwise, default value is 22</span>
</span></span><span class="line"><span class="cl"><span class="c"># $sshPorts = @(22, 22)</span>
</span></span><span class="line"><span class="cl"><span class="c"># Same for cidrMask with default value 32</span>
</span></span><span class="line"><span class="cl"><span class="c"># $cidrMasks = @(&#34;32&#34;, &#34;32&#34;)</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Windows Credential Manager target</span>
</span></span><span class="line"><span class="cl"><span class="nv">$wcmAwsTarget</span> <span class="p">=</span> <span class="s2">&#34;aws-editor-key&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c">##########</span>
</span></span><span class="line"><span class="cl"><span class="c"># Script #</span>
</span></span><span class="line"><span class="cl"><span class="c">##########</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Get current public IP address</span>
</span></span><span class="line"><span class="cl"><span class="nv">$ipAddress</span> <span class="p">=</span> <span class="p">(</span><span class="nb">Invoke-WebRequest</span> <span class="n">ifconfig</span><span class="p">.</span><span class="n">me</span><span class="p">/</span><span class="n">ip</span><span class="p">).</span><span class="n">Content</span><span class="p">.</span><span class="n">Trim</span><span class="p">()</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Set AWS credentials from profile, create profile if not done</span>
</span></span><span class="line"><span class="cl"><span class="nv">$credentials</span> <span class="p">=</span> <span class="p">(</span><span class="nb">Get-AWSCredential</span> <span class="n">-ProfileName</span> <span class="nv">$awsProfileName</span><span class="p">)</span>
</span></span><span class="line"><span class="cl"><span class="k">if</span> <span class="p">(!</span><span class="nv">$credentials</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="c"># AWS credentials from Windows Credential Manager</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$awsCredentials</span> <span class="p">=</span> <span class="nb">Get-StoredCredential</span> <span class="n">-Target</span> <span class="nv">$wcmAwsTarget</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$accessKeyId</span> <span class="p">=</span> <span class="nv">$awsCredentials</span><span class="p">.</span><span class="n">UserName</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$secretAccessKey</span> <span class="p">=</span> <span class="p">(</span><span class="nb">New-Object</span> <span class="n">PSCredential</span> <span class="n">0</span><span class="p">,</span> <span class="nv">$awsCredentials</span><span class="p">.</span><span class="n">Password</span><span class="p">).</span><span class="n">GetNetworkCredential</span><span class="p">().</span><span class="n">Password</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="nb">Set-AWSCredential</span> <span class="n">-StoreAs</span> <span class="nv">$awsProfileName</span> <span class="n">-AccessKey</span> <span class="nv">$accessKeyId</span> <span class="n">-SecretKey</span> <span class="nv">$secretAccessKey</span>
</span></span><span class="line"><span class="cl">    <span class="nb">Write-Output</span> <span class="s2">&#34;INFO - AWS credential profile &#39;$awsProfileName&#39; created&#34;</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="nb">Set-AWSCredential</span> <span class="n">-ProfileName</span> <span class="nv">$awsProfileName</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c"># Set default region for all following commands if $regions is a string</span>
</span></span><span class="line"><span class="cl"><span class="k">if</span> <span class="p">(</span><span class="nv">$regions</span><span class="p">.</span><span class="n">GetType</span><span class="p">().</span><span class="n">Name</span> <span class="o">-eq</span> <span class="s2">&#34;String&#34;</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="nb">Set-DefaultAWSRegion</span> <span class="n">-Region</span> <span class="nv">$regions</span>
</span></span><span class="line"><span class="cl">    <span class="nb">Write-Output</span> <span class="s2">&#34;INFO - Region set to $regions for all security groups&#34;</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nv">$i</span> <span class="p">=</span> <span class="n">0</span>
</span></span><span class="line"><span class="cl"><span class="k">foreach</span> <span class="p">(</span><span class="nv">$securityGroupName</span> <span class="k">in</span> <span class="nv">$securityGroupNames</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="c"># Setting the region if $regions is an array</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="p">(</span><span class="nv">$regions</span><span class="p">.</span><span class="n">GetType</span><span class="p">().</span><span class="n">Name</span> <span class="o">-eq</span> <span class="s2">&#34;Object[]&#34;</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nb">Set-DefaultAWSRegion</span> <span class="n">-Region</span> <span class="nv">$regions</span><span class="p">[</span><span class="nv">$i</span><span class="p">]</span>
</span></span><span class="line"><span class="cl">        <span class="nb">Write-Output</span> <span class="s2">&#34;INFO - Region set to $regions[$i] for &#39;$securityGroupName&#39; security group&#34;</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">    
</span></span><span class="line"><span class="cl">    <span class="nv">$securityGroup</span> <span class="p">=</span> <span class="p">(</span><span class="nb">Get-EC2SecurityGroup</span> <span class="n">-GroupName</span> <span class="nv">$securityGroupName</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="p">(!$?)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nb">Write-Output</span> <span class="s2">&#34;ERROR - &#39;$securityGroupName&#39; security group is not available on the AWS instance&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="k">continue</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$securityGroupId</span> <span class="p">=</span> <span class="nv">$securityGroup</span><span class="p">.</span><span class="n">GroupId</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="c"># Setting ssh port and IP range CIDR mask</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="p">(</span><span class="nb">Test-Path</span> <span class="n">variable</span>:</span><span class="k">global:</span><span class="n">sshPorts</span><span class="p">)</span> <span class="p">{
</span></span><span class="line"><span class="cl">        <span class="nv">$sshPort</span> <span class="p">=</span> <span class="nv">$sshPorts</span><span class="p">[</span><span class="nv">$i</span><span class="p">]</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$sshPort</span> <span class="p">=</span> <span class="n">22</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="p">(</span><span class="nb">Test-Path</span> <span class="n">variable</span>:</span><span class="k">global:</span><span class="n">cidrMasks</span><span class="p">)</span> <span class="p">{
</span></span><span class="line"><span class="cl">        <span class="nv">$cidrMask</span> <span class="p">=</span> <span class="nv">$cidrMask</span><span class="p">[</span><span class="nv">$i</span><span class="p">]</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$cidrMask</span> <span class="p">=</span> <span class="n">32</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$newIpRange</span> <span class="p">=</span> <span class="s2">&#34;$ipAddress/$cidrMask&#34;</span>
</span></span><span class="line"><span class="cl">    <span class="nb">Write-Output</span> <span class="s2">&#34;INFO - Setting $newIpRange IP range for ssh, &#39;$securityGroupName&#39; security group&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="c"># Get security group IP range set for ssh inbound rule</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$securityGroupIpRange</span> <span class="p">=</span> <span class="p">(</span><span class="nv">$securityGroup</span><span class="p">.</span><span class="n">IpPermissions</span> <span class="p">|</span> <span class="nb">Where-Object</span> <span class="p">{</span> <span class="nv">$_</span><span class="p">.</span><span class="n">FromPort</span> <span class="o">-eq</span> <span class="nv">$sshPort</span> <span class="p">}</span> <span class="p">|</span> <span class="nb">Select-Object</span> <span class="n">-ExpandProperty</span> <span class="n">Ipv4Ranges</span><span class="p">).</span><span class="n">CidrIp</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="p">(</span><span class="nv">$newIpRange</span> <span class="o">-eq</span> <span class="nv">$securityGroupIpRange</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nb">Write-Output</span> <span class="s2">&#34;INFO - $newIpRange ssh IP range was already set. Nothing to do for &#39;$securityGroupName&#39; security group&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="k">continue</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="c"># Revoke current security group ingress rule for SSH</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$ipPermissionOld</span> <span class="p">=</span> <span class="nb">New-Object</span> <span class="n">Amazon</span><span class="p">.</span><span class="n">EC2</span><span class="p">.</span><span class="n">Model</span><span class="p">.</span><span class="n">IpPermission</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$ipPermissionOld</span><span class="p">.</span><span class="n">IpProtocol</span> <span class="p">=</span> <span class="s2">&#34;tcp&#34;</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$ipPermissionOld</span><span class="p">.</span><span class="n">FromPort</span> <span class="p">=</span> <span class="nv">$sshPort</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$ipPermissionOld</span><span class="p">.</span><span class="n">ToPort</span> <span class="p">=</span> <span class="nv">$sshPort</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$ipPermissionOld</span><span class="p">.</span><span class="n">IpRanges</span><span class="p">.</span><span class="n">Add</span><span class="p">(</span><span class="nv">$securityGroupIpRange</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="nb">Revoke-EC2SecurityGroupIngress</span> <span class="n">-GroupId</span> <span class="nv">$securityGroupId</span> <span class="n">-IpPermission</span> <span class="nv">$ipPermissionOld</span>
</span></span><span class="line"><span class="cl">    <span class="nb">Write-Output</span> <span class="s2">&#34;INFO - $securityGroupIpRange ssh IP range removed for &#39;$securityGroupName&#39; security group&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="c"># Add the security group ingress rule to allow SSH from current IP address</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$IpRange</span> <span class="p">=</span> <span class="nb">New-Object</span> <span class="n">-TypeName</span> <span class="n">Amazon</span><span class="p">.</span><span class="n">EC2</span><span class="p">.</span><span class="n">Model</span><span class="p">.</span><span class="n">IpRange</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$IpRange</span><span class="p">.</span><span class="n">CidrIp</span> <span class="p">=</span> <span class="nv">$newIpRange</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$IpRange</span><span class="p">.</span><span class="n">Description</span> <span class="p">=</span> <span class="s2">&#34;SSH from Home&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="nv">$ipPermission</span> <span class="p">=</span> <span class="nb">new-object</span> <span class="n">Amazon</span><span class="p">.</span><span class="n">EC2</span><span class="p">.</span><span class="n">Model</span><span class="p">.</span><span class="n">IpPermission</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$ipPermission</span><span class="p">.</span><span class="n">IpProtocol</span> <span class="p">=</span> <span class="s2">&#34;tcp&#34;</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$ipPermission</span><span class="p">.</span><span class="n">FromPort</span> <span class="p">=</span> <span class="nv">$sshPort</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$ipPermission</span><span class="p">.</span><span class="n">ToPort</span> <span class="p">=</span> <span class="nv">$sshPort</span>
</span></span><span class="line"><span class="cl">    <span class="nv">$ipPermission</span><span class="p">.</span><span class="n">Ipv4Ranges</span> <span class="p">=</span> <span class="nv">$IpRange</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="nb">Grant-EC2SecurityGroupIngress</span> <span class="n">-GroupId</span> <span class="nv">$securityGroupId</span> <span class="n">-IpPermissions</span> <span class="nv">$ipPermission</span>
</span></span><span class="line"><span class="cl">    <span class="nb">Write-Output</span> <span class="s2">&#34;INFO - $newIpRange ssh IP range successfully set for &#39;$securityGroupName&#39; security group&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="p">(++</span><span class="nv">$i</span><span class="p">)</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span></code></pre>
<p>Please find a few comments on the script:</p>

<ul>
<li><p>The Powershell module dependencies are: <code>AWS.Tools.Installer</code> then <code>AWS.Tools.EC2</code>, and <code>TUN.CredentialManager</code> for access to Windows Credential Manager.</p></li>

<li><p>The script supports <strong>several security groups</strong> if required in the <code>$securityGroupNames</code> array.</p></li>

<li><p>The user can either set a unique <strong>AWS region</strong> for all security groups as <code>$regions</code> variable, or giving them as an array for each group defined into <code>$securityGroupNames</code>.</p></li>

<li><p>It is possible to define for each security group the <strong>ssh port</strong> and the <strong>CIDR mask</strong> of the allowed IP range (<code>$sshPorts</code> and <code>$cidrMasks</code> arrays), otherwise the default values <code>22</code> and <code>32</code> will be respectively applied. For CIDR masks, it does not make sense here to choose another value, as you only want to apply the rule to a <strong>unique IP</strong>, but this leaves the door open to modifications to apply it to a range of IPs.</p></li>

<li><p>The public IP of the PC is retrieved using the command <code>(Invoke-WebRequest ifconfig.me/ip).Content.Trim()</code>.</p></li>

<li><p>The IAM user credentials are retrieved from <strong>Windows Credential Manager</strong> and then applied to the AWS configuration by defining a profile <code>$awsProfileName</code> with the command <code>Set-AWSCredential -ProfileName $awsProfileName</code>. Similarly, the AWS region is defined with the command <code>Set-DefaultAWSRegion -Region $region</code>.</p></li>

<li><p>Next, in the loop over the various <strong>security groups</strong>, the following tasks are performed:</p>

<ul>
<li>Comparison of the new IP range with that retrieved from AWS</li>
<li>If identical, do nothing.</li>
<li>If different, we <strong>remove the current ssh security rule</strong> from the security group, and <strong>create a new one</strong> based on the PC IP address.</li>
</ul></li>
</ul>

<p>And that&rsquo;s it! When the script is run, you can then check whether the changes have been applied to the <strong>security groups of the EC2 instance</strong>.</p>
<h3 class="fw-bold mt-4 mb-4" id="scheduling-the-script"><span>Scheduling the script </span><a class="icon-link icon-link-hover text-secondary" href="#scheduling-the-script">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Now we are going to schedule the script using the Windows <strong>Task Scheduler</strong>.</p>

<p><img src="/static/images/articles/aws-security-group-ip/task-scheduler-1.png" alt="Task Scheduler" width="100%" style="max-width: 600px;"/></p>

<p>Simply go to the <code>Action -&gt; Create a task</code> menu first.</p>

<p><img src="/static/images/articles/aws-security-group-ip/task-scheduler-2.png" alt="Creating a task" width="100%" style="max-width: 600px;"/></p>

<p>After filling in the fields in the &ldquo;General&rdquo; tab as required, we&rsquo;re going to define the conditions for triggering the script in the <strong>&ldquo;Triggers &ldquo;</strong> tab by clicking on <code>New</code>.</p>

<p><img src="/static/images/articles/aws-security-group-ip/task-scheduler-3.png" alt="Creating a task" width="100%" style="max-width: 1000px;"/></p>

<p>We are going to define the following fields:</p>

<ul>
<li><code>Start task</code> with the value <code>At the time of connection to a user session</code>.</li>
<li><code>Connection from local computer</code> just below.</li>
</ul>

<p>This way, we ensure that the script is launched each time the user logs on to his session, which was our initial objective.</p>

<p>We can also set the retry on failure policy and other execution parameters in the <code>Parameters</code> tab.</p>

<p>We can then check whether the script has successfully run by looking at the scheduled tasks table.</p>

<p><img src="/static/images/articles/aws-security-group-ip/task-scheduler-4.png" alt="Scheduled task table" width="100%" style="max-width: 1000px;"/></p>
