<p><img src="/static/images/articles/containerize-application/containers.png" alt="Conteneurisation" width="100%"/></p>
<h2 id="introduction" class="mt-5"><span>Introduction </span><a class="icon-link icon-link-hover text-secondary" href="#introduction">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>That&rsquo;s it! We are at the beginning of a project and we have just managed to develop a program that works and meets the requirements.
Perfect then, <strong><em>all that&rsquo;s left to do is</em></strong> deliver to production&hellip;</p>

<p>Yes, but&hellip; questions immediately arise:</p>

<ul>
<li><p><strong>Environmental compatibility</strong>: Does the program work the same in different environments? For example, it might work on development, but what about the production server? Differences in configurations, dependency versions, or even the operating system can cause unexpected malfunctions.</p></li>

<li><p><strong>Dependency Management</strong>: How will we manage the program&rsquo;s dependencies? If the program depends on specific libraries, how do we ensure that these libraries will be available and compatible on the production server?</p></li>

<li><p><strong>Portability</strong>: how to ensure that our application is easily deployable on different infrastructures, whether locally, on on-site servers or in the cloud?</p></li>

<li><p><strong>Isolation</strong>: How can we ensure that our program will not cause conflicts with other applications or services on the same server? Isolation of runtime environments is crucial to avoid interference issues.</p></li>

<li><p><strong>Scalability</strong>: Is our program ready to scale? If we need more power or have to handle an increase in the number of users, how will we adapt our deployment?</p></li>

<li><p><strong>Maintenance and updates</strong>: How will we manage program updates? Is it possible to update or patch our application without causing service interruptions?</p></li>

<li><p><strong>Security</strong>: What are the security implications when deploying our application? How will we protect our application from vulnerabilities, unauthorized access, and other threats?</p></li>
</ul>

<p>To answer these questions and facilitate the deployment of our application, an effective solution is <strong>containerization</strong>.</p>

<p><img src="/static/images/articles/containerize-application/virtual-machine-versus-container.png" alt="VM vs Conteneur" width="100%" style="max-width: 636px;"/></p>

<p>Containerization is a method of encapsulating an application and all its dependencies in a lightweight, portable, and self-sufficient container. This approach offers several advantages:</p>

<ul>
<li><strong>Uniformity</strong>: Containers help ensure that the program works the same way regardless of the environment by encapsulating all necessary dependencies.</li>
<li><strong>Isolation</strong>: each container is isolated from the others, which avoids dependency conflicts and interference between applications.</li>
<li><strong>Portability</strong>: Containers can be easily deployed on different platforms, whether on local machines, on-premises servers or in the cloud.</li>
<li><strong>Scalability</strong>: Containers can be easily replicated and orchestrated to meet scalability needs.</li>
</ul>

<p>By adopting containerization, we can make our application more <strong>robust, flexible, and easy to manage</strong>. In the following sections, we will start from the case study of this website delivered in containerized form and propose an automated build process in Gitlab CI.</p>
<h2 id="use-case" class="mt-5"><span>Use case </span><a class="icon-link icon-link-hover text-secondary" href="#use-case">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>We will consider the case of this site which consists of:</p>

<ul>
<li>an <strong>executable</strong> compiled in Go language (back-end)</li>
<li><strong>static</strong> files (HTML pages, scripts, CSS, media) and <strong>dynamic</strong> files (HTML templates) served by the web server</li>
<li>a Sqlite <strong>database</strong> containing the definition of articles and tags</li>
</ul>

<p>Due to their different <strong>lifecycle</strong>, we have chosen to separate the actual website from the articles into two different Gitlab projects: <a href="https://gitlab.com/gazerad/website-core">Website Core</a> for the <em>engine</em> of the site and <a href="https://gitlab.com/gazerad/website-data">Website Data</a> for the management of the articles as well as the Sqlite database.</p>

<p>Since the website only uses the HTTP protocol (to keep the code simple), it will run behind a reverse proxy which will manage the SSL part with the certificates.</p>

<p>We thus perceive all the interest of containerization which allows the reverse proxy and the site to communicate in a sealed network exposing only port 443 dedicated to https communications to the outside.</p>

<p><img src="/static/images/articles/containerize-application/website-network.png" alt="VM vs Conteneur" width="100%" style="max-width: 606px;"/></p>

<p>It is also obvious that the different services of the application as a whole (here the reverse proxy and the website) will each have their own environment in complete <strong>autonomy</strong>, without dependency conflicts.</p>

<p>The containerization challenge that we are going to detail therefore consists of:</p>

<ul>
<li>generate a secure and most economical Docker image possible for the website</li>
<li>integrate the generation of this image and the deployment of the container into the CI/CD process (here with Gitlab)</li>
</ul>
<h2 id="containerize-the-application-with-docker" class="mt-5"><span>Containerize the application with Docker </span><a class="icon-link icon-link-hover text-secondary" href="#containerize-the-application-with-docker">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>We consider as prerequisite the installation of <a href="https://docs.docker.com/engine/install/">Docker Engine</a> or <a href="https://docs.docker.com/desktop/">Docker Desktop</a> on the environment where the website is developed.</p>

<blockquote>
<p>There are alternatives to Docker as a container execution system: Podman, LXC, rkt, CRI-O, containerd which may have characteristics more suited to the application that one wishes to containerize.</p>
</blockquote>
<h3 class="fw-bold mt-4 mb-4" id="analyze-the-code-and-its-dependencies"><span>Analyze the code and its dependencies </span><a class="icon-link icon-link-hover text-secondary" href="#analyze-the-code-and-its-dependencies">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>The first question to ask is: what does my application <strong>absolutely</strong> need to run?</p>

<p>The <a href="https://gitlab.com/gazerad/website-core">Website Core</a> project consists of a <strong>back-end</strong> developed in Go language and <strong>static or dynamic files</strong> (i.e. with content edited by the Go program). The website generated by the previous project will have to serve articles in the form of HTML pages and a <strong>Sqlite database</strong> composed of a file from the <a href="https://gitlab.com/gazerad/website-data">Website Data</a> project.</p>

<p>We can already notice that:</p>

<ul>
<li>the Go language is a compiled language: there is no need to deploy the code but simply the <strong>executable</strong> generated by the compilation.</li>
<li>no need either for the dependencies that allowed this compilation: you just have to make sure that the <strong>OS</strong> that was used for it and that of the container in which the application will run are identical.</li>
<li>to work, the application only needs the static/dynamic files of the <a href="https://gitlab.com/gazerad/website-core/-/tree/main/web?ref_type=heads">Website Core</a> project. Articles and database can be associated with it later.</li>
</ul>
<h3 class="fw-bold mt-4 mb-4" id="determine-persistent-data"><span>Determine persistent data </span><a class="icon-link icon-link-hover text-secondary" href="#determine-persistent-data">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>As we have just discussed, a distinction must be made between what constitutes the <strong>core</strong> of the application ensuring its essential functioning which will constitute the container itself, and the <strong>data</strong> which must be stored and/or modified from the outside (configuration, database or data files).</p>

<p>The <a href="https://docs.docker.com/storage/storagedriver/#container-and-layers">official documentation</a> explains that the Docker storage system is based on:</p>

<ul>
<li>write-only and persistent layers that contain the image</li>
<li>a read-write layer for each running container</li>
</ul>

<p><img src="/static/images/articles/containerize-application/docker-layers.png" alt="VM vs Conteneur" width="100%" style="max-width: 600px;"/></p>

<p>This way, all data modified in a container is modified in the ephemeral read-write layer which is therefore deleted when the container is stopped.</p>

<p>Fortunately, Docker offers the notion of <a href="https://docs.docker.com/storage/">volume</a> which allows to mount directories/files shared between the container and its host in order to keep <strong>persistent or externally modifiable data</strong>. This also has the advantage of <strong>limiting the size</strong> of the Docker image by keeping only what is necessary to run the corresponding container.</p>

<blockquote>
<p>The use of the term <em>volume</em> is an abuse of language that groups together different elements adapted to this or that use case: the <a href="https://docs.docker.com/storage/volumes/">volumes</a> themselves stored on the host in a directory managed by Docker Engine dedicated to persistent data (database, &hellip;), the <a href="https://docs.docker.com/storage/bind-mounts/">bind mounts</a> which mount a file/folder location defined by the user on the host in the container (preferable if you want to easily modify/read these contents) and the <a href="https://docs.docker.com/storage/tmpfs/">tmpfs mounts</a> which create a temporary filesystem in memory to allow containers to share data without writing to disk, as for a cache system.</p>
</blockquote>

<p>For our case, we will need to store the following data on the host:</p>

<ul>
<li><strong>Database</strong>: this is a Sqlite file stored in the <a href="https://gitlab.com/gazerad/website-data/-/tree/main/data/db">Website Data</a> project. As it is not modified by the application itself which only makes read requests but only delivered from the Gitlab project, it will be relevant to set up a <strong>bind mount</strong> in order to be able to access the file in the container and replace it.</li>
<li><strong>Articles</strong>: as for the database, a <strong>bind mount</strong> must be provided in order to be able to regularly update the <a href="https://gitlab.com/gazerad/website-data/-/tree/main/data/articles">articles</a> (HTML pages and images) without delivering a new Docker image of the application.</li>
<li><strong>Logs</strong>: here too a <strong>bind mount</strong> is required to be able to directly read the logs without entering the container, and store the history on the host.</li>
</ul>
<h3 class="fw-bold mt-4 mb-4" id="create-the-dockerfile"><span>Create the Dockerfile </span><a class="icon-link icon-link-hover text-secondary" href="#create-the-dockerfile">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Armed with all this information, we will now be able to create the <a href="https://docs.docker.com/reference/dockerfile/">Dockerfile</a> which contains the instructions for generating the Docker image of the application.</p>

<p>The first question to ask is to determine which <strong>base image</strong> we start from to initiate our environment. It seems relevant to use the <a href="https://hub.docker.com/_/alpine">Alpine Linux</a> image for its lightness (only a little over 3 Mb in compressed format!) while providing the essential libraries to run an application.</p>

<blockquote>
<p>Warning! The Alpine Docker image contains some <a href="https://dev.to/kakisoft/dockeralpine-why-you-should-avoid-alpine-linux-44he">limitations</a> that may cause problems depending on your use case. Beyond the limited number of packages available, it is for example impossible to create users longer than 8 characters.</p>
</blockquote>

<p>We can therefore propose the following Dockerfile:</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c1"># Parameters provided during build with a default value</span>
</span></span><span class="line"><span class="cl">ARG <span class="nv">ALPINE_VERSION</span><span class="o">=</span>3.20.0
</span></span><span class="line"><span class="cl"><span class="c1"># Base image used to generate ours</span>
</span></span><span class="line"><span class="cl">FROM alpine:<span class="si">${</span><span class="nv">ALPINE_VERSION</span><span class="si">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Environment variables required by the application</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">SITE_PORT</span><span class="o">=</span><span class="m">8080</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">SITE_LANGUAGES</span><span class="o">=</span><span class="s2">&#34;fr,en&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">MYWEBSITE_PATH</span><span class="o">=</span><span class="s2">&#34;/srv/mywebsite&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">STATIC_ASSETS_PATH</span><span class="o">=</span><span class="s2">&#34;</span><span class="si">${</span><span class="nv">MYWEBSITE_PATH</span><span class="si">}</span><span class="s2">/web/static&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">TEMPLATES_PATH</span><span class="o">=</span><span class="s2">&#34;</span><span class="si">${</span><span class="nv">MYWEBSITE_PATH</span><span class="si">}</span><span class="s2">/web/template&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">DATA_PATH</span><span class="o">=</span><span class="s2">&#34;</span><span class="si">${</span><span class="nv">MYWEBSITE_PATH</span><span class="si">}</span><span class="s2">/data&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">DATABASE_NAME</span><span class="o">=</span><span class="s2">&#34;mywebsite.db&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">LOG_PATH</span><span class="o">=</span><span class="s2">&#34;/var/log/mywebsite&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">CONFIG_PATH</span><span class="o">=</span><span class="s2">&#34;/etc/mywebsite&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Files/directories copied from host to image</span>
</span></span><span class="line"><span class="cl">ADD package.tgz /tmp
</span></span><span class="line"><span class="cl">COPY deployments/docker/entrypoint.sh /
</span></span><span class="line"><span class="cl">COPY deployments/docker/logrotate.d /tmp/logrotate.d/
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Image build commands</span>
</span></span><span class="line"><span class="cl">RUN <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Extracting and installing the application</span>
</span></span><span class="line"><span class="cl">    <span class="c1"># We do not copy the package/data directory because it will be full</span>
</span></span><span class="line"><span class="cl">    <span class="c1"># later by a bind mount with the website-data project package</span>
</span></span><span class="line"><span class="cl">    <span class="nb">cd</span> /tmp <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    mkdir -p <span class="si">${</span><span class="nv">MYWEBSITE_PATH</span><span class="si">}</span> <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    mv package/web <span class="si">${</span><span class="nv">MYWEBSITE_PATH</span><span class="si">}</span> <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    mv package/bin/mywebsite /usr/local/bin/ <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Create symbolic link ${STATIC_ASSETS_PATH}/images/articles</span>
</span></span><span class="line"><span class="cl">    <span class="c1"># vers ${DATA_PATH}/articles/images</span>
</span></span><span class="line"><span class="cl">    ln -sf <span class="si">${</span><span class="nv">DATA_PATH</span><span class="si">}</span>/articles/images <span class="si">${</span><span class="nv">STATIC_ASSETS_PATH</span><span class="si">}</span>/images/articles <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Give execution rights to the entrypoint.sh script</span>
</span></span><span class="line"><span class="cl">    chmod +x /entrypoint.sh <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Create the application log directory</span>
</span></span><span class="line"><span class="cl">    mkdir -p <span class="si">${</span><span class="nv">LOG_PATH</span><span class="si">}</span> <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Install curl for healthcheck</span>
</span></span><span class="line"><span class="cl">    apk update <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    apk --no-cache add curl <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Configure the container timezone</span>
</span></span><span class="line"><span class="cl">    apk --no-cache add tzdata <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Install and configure logrotate</span>
</span></span><span class="line"><span class="cl">    apk --no-cache add logrotate <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    mkdir -p /etc/logrotate.d <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    mv /tmp/logrotate.d/* /etc/logrotate.d/ <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    logrotate -f /etc/logrotate.conf <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Purge the installation directory</span>
</span></span><span class="line"><span class="cl">    rm -rf /tmp/*
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Expose the tcp port the application is listening on</span>
</span></span><span class="line"><span class="cl">EXPOSE <span class="si">${</span><span class="nv">SITE_PORT</span><span class="si">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Entrypoint script that will be executed when</span>
</span></span><span class="line"><span class="cl"><span class="c1"># the container will be created</span>
</span></span><span class="line"><span class="cl">ENTRYPOINT <span class="o">[</span><span class="s2">&#34;/entrypoint.sh&#34;</span><span class="o">]</span>
</span></span></code></pre>
<p>Some remarks on the contents of the Dockerfile:</p>

<ul>
<li>the <code>ALPINE_VERSION</code> argument can be provided like this when building the image, otherwise it will be initialized to the value indicated in its declaration: <code>docker build --build-arg ALPINE_VERSION=3.20.0 .</code></li>
<li><code>ENV</code> environment variables will also be available in the container, and can be overridden at launch with the <a href="https://docs.docker.com/reference/cli/docker/container/run/#env">docker run</a> command</li>
<li>the <code>ADD</code> command was chosen for the <code>package.tgz</code> archive because it automatically <strong>extracts</strong> it into the target directory; otherwise it is recommended to use the <code>COPY</code> command to make a copy.</li>
<li>the contents of the <code>RUN</code> command must be indicated on a single line, hence the use of <code>&amp;&amp; \</code> at the end of each line of code in the Dockerfile</li>
<li>the application is launched by the <code>entrypoint.sh</code> script in the <code>ENTRYPOINT</code> directive which specifies a command always executed at <strong>startup</strong> of the container. The same result could have been obtained with the <code>CMD</code> directive which specifies arguments provided to the <code>ENTRYPOINT</code> (which is <code>/bin/sh -c</code> by default).</li>
</ul>

<blockquote>
<p>Writing the Dockerfile should follow some <a href="https://docs.docker.com/develop/develop-images/guidelines/">good practices</a>, the main one being to limit the number of <code>RUN</code> commands to the bare minimum in order to avoid creating too many layers to keep the image lightweight.</p>
</blockquote>

<p>One point should be noted though: the user who will run the application inside the container will be <code>root</code>, and this can have <a href="https://collabnix.com/running-docker-containers-as-root/">security</a> implications. That&rsquo;s why we&rsquo;ll see how to modify the Dockerfile so that the container is run with a different user.</p>

<blockquote>
<p>In the case of our application, running the container with <code>root</code> is not a problem because we use <a href="https://docs.docker.com/engine/security/rootless/">Docker rootless</a> which makes the Docker daemon run with a user without special rights on the host.</p>
</blockquote>

<p>Dockerfile with non-root user:</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">ARG <span class="nv">ALPINE_VERSION</span><span class="o">=</span>3.20.0
</span></span><span class="line"><span class="cl">FROM alpine:<span class="si">${</span><span class="nv">ALPINE_VERSION</span><span class="si">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># User and group id of the user who will run the application</span>
</span></span><span class="line"><span class="cl">ARG <span class="nv">USER_ID</span><span class="o">=</span><span class="m">1000</span>
</span></span><span class="line"><span class="cl">ARG <span class="nv">GROUP_ID</span><span class="o">=</span><span class="m">1000</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">COPY deployments/docker/logrotate.d /tmp/logrotate.d/
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">RUN <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Creation of the website user and assignment of its rights</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="o">[</span> <span class="si">${</span><span class="nv">USER_ID</span><span class="k">:-</span><span class="nv">0</span><span class="si">}</span> -ne <span class="m">0</span> <span class="o">]</span> <span class="o">&amp;&amp;</span> <span class="o">[</span> <span class="si">${</span><span class="nv">GROUP_ID</span><span class="k">:-</span><span class="nv">0</span><span class="si">}</span> -ne <span class="m">0</span> <span class="o">]</span><span class="p">;</span> <span class="k">then</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    addgroup -S -g <span class="nv">$GROUP_ID</span> website <span class="o">&amp;&amp;</span> adduser -S -s /bin/sh -u <span class="nv">$USER_ID</span> website -G website<span class="p">;</span> <span class="k">else</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    addgroup -S website <span class="o">&amp;&amp;</span> adduser -S -s /bin/sh website -G website<span class="p">;</span> <span class="k">fi</span> <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    mkdir -p /home/website/bin <span class="o">&amp;&amp;</span> chown -R website:website /home/website/bin <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Install curl for healthcheck</span>
</span></span><span class="line"><span class="cl">    apk update <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    apk --no-cache add curl <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Configure the container timezone</span>
</span></span><span class="line"><span class="cl">    apk --no-cache add tzdata <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Install and configure logrotate</span>
</span></span><span class="line"><span class="cl">    apk --no-cache add logrotate <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    mkdir -p /etc/logrotate.d <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    mv /tmp/logrotate.d/* /etc/logrotate.d/ <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    logrotate -f /etc/logrotate.conf <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Purge the installation directory</span>
</span></span><span class="line"><span class="cl">    rm -rf /tmp/*
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Change user to deploy the application</span>
</span></span><span class="line"><span class="cl"><span class="c1"># and launch it in the container</span>
</span></span><span class="line"><span class="cl">USER website
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># User environment variables website</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">PATH</span><span class="o">=</span><span class="s2">&#34;</span><span class="si">${</span><span class="nv">PATH</span><span class="si">}</span><span class="s2">:/home/website/bin&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">SITE_PORT</span><span class="o">=</span><span class="m">8080</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">SITE_LANGUAGES</span><span class="o">=</span><span class="s2">&#34;fr,en&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">WEBSITE_SRV_PATH</span><span class="o">=</span><span class="s2">&#34;/home/website/srv&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">STATIC_ASSETS_PATH</span><span class="o">=</span><span class="s2">&#34;</span><span class="si">${</span><span class="nv">WEBSITE_SRV_PATH</span><span class="si">}</span><span class="s2">/web/static&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">TEMPLATES_PATH</span><span class="o">=</span><span class="s2">&#34;</span><span class="si">${</span><span class="nv">WEBSITE_SRV_PATH</span><span class="si">}</span><span class="s2">/web/template&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">DATA_PATH</span><span class="o">=</span><span class="s2">&#34;</span><span class="si">${</span><span class="nv">WEBSITE_SRV_PATH</span><span class="si">}</span><span class="s2">/data&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">DATABASE_NAME</span><span class="o">=</span><span class="s2">&#34;mywebsite.db&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">LOG_PATH</span><span class="o">=</span><span class="s2">&#34;</span><span class="si">${</span><span class="nv">WEBSITE_SRV_PATH</span><span class="si">}</span><span class="s2">/log&#34;</span>
</span></span><span class="line"><span class="cl">ENV <span class="nv">CONFIG_PATH</span><span class="o">=</span><span class="s2">&#34;</span><span class="si">${</span><span class="nv">WEBSITE_SRV_PATH</span><span class="si">}</span><span class="s2">/conf&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Define the base directory in which will be</span>
</span></span><span class="line"><span class="cl"><span class="c1"># executed the RUN commands</span>
</span></span><span class="line"><span class="cl">WORKDIR /home/website
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Copy specifying the rights assignment in the container</span>
</span></span><span class="line"><span class="cl">COPY --chown<span class="o">=</span>website:website package.tgz /home/website
</span></span><span class="line"><span class="cl">COPY --chown<span class="o">=</span>website:website --chmod<span class="o">=</span><span class="m">755</span> deployments/docker/entrypoint.sh /home/website/bin
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">RUN <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Extracting and installing the application</span>
</span></span><span class="line"><span class="cl">    <span class="c1"># We do not copy the package/data directory because it will be full</span>
</span></span><span class="line"><span class="cl">    <span class="c1"># later by a bind mount with the website-data project package</span>
</span></span><span class="line"><span class="cl">    tar xzf package.tgz <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    mkdir -p <span class="nv">$WEBSITE_SRV_PATH</span> <span class="o">&amp;&amp;</span> mv package/web <span class="nv">$WEBSITE_SRV_PATH</span> <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    mv package/bin/mywebsite ~/bin/ <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>     <span class="c1"># Create symbolic link ${STATIC_ASSETS_PATH}/images/articles</span>
</span></span><span class="line"><span class="cl">    <span class="c1"># vers ${DATA_PATH}/articles/images</span>
</span></span><span class="line"><span class="cl">    ln -sf <span class="si">${</span><span class="nv">DATA_PATH</span><span class="si">}</span>/articles/images <span class="si">${</span><span class="nv">STATIC_ASSETS_PATH</span><span class="si">}</span>/images/articles <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Create the application log directory</span>
</span></span><span class="line"><span class="cl">    mkdir -p <span class="si">${</span><span class="nv">LOG_PATH</span><span class="si">}</span> <span class="o">&amp;&amp;</span> <span class="se">\
</span></span></span><span class="line"><span class="cl"><span class="se"></span>    <span class="c1"># Purge the installation directory</span>
</span></span><span class="line"><span class="cl">    rm -rf package*
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Entrypoint script that will be executed when</span>
</span></span><span class="line"><span class="cl"><span class="c1"># the container will be created</span>
</span></span><span class="line"><span class="cl">ENTRYPOINT <span class="o">[</span><span class="s2">&#34;entrypoint.sh&#34;</span><span class="o">]</span>
</span></span></code></pre>
<p>Some points to note;</p>

<ul>
<li><code>ARG USER_ID/GROUP_ID=1000</code>: we leave it to the user to determine the <strong>user/group id</strong> of the user that is created (with a default value of <code>1000</code>). It is indeed preferable that these values correspond to those of the user who will launch the container on the host, in particular for reasons of <strong>rights</strong> on bind mounts.</li>
<li>Environment variables have logically been transferred to the <code>website</code> user.</li>
<li><code>COPY --chown=website:website --chmod=755 ...</code>: copy commands must contain the rights assignment if they are to be returned to a user other than root, even after specifying <code>USER website</code>.</li>
</ul>

<p>And there you have it! We are now able to test running our application in a container.</p>
<h3 class="fw-bold mt-4 mb-4" id="define-the-entrypoint-sh-script"><span>Define the <code>entrypoint.sh</code> script </span><a class="icon-link icon-link-hover text-secondary" href="#define-the-entrypoint-sh-script">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>We had defined it in our Dockerfile with the <code>ENTRYPOINT</code> command which executes it when the container is launched, we will now see the content of the <code>entrypoint.sh</code> script.</p>

<p>Its objective is to:</p>

<ul>
<li>run the application in the background</li>
<li>retrieve standard and error output to a log file</li>
<li>pass the application exit code to the container</li>
</ul>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="cp">#!/bin/sh
</span></span></span><span class="line"><span class="cl"><span class="cp"></span><span class="nb">set</span> -e
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Catch the SIGTERM signal and pass it to the child process</span>
</span></span><span class="line"><span class="cl"><span class="nb">trap</span> <span class="s1">&#39;kill -TERM $PID&#39;</span> TERM
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Run the Go application in the background and get the PID</span>
</span></span><span class="line"><span class="cl">mywebsite 2&gt;<span class="p">&amp;</span><span class="m">1</span> <span class="p">|</span> tee -a <span class="si">${</span><span class="nv">LOG_PATH</span><span class="si">}</span>/mywebsite.log <span class="p">&amp;</span>
</span></span><span class="line"><span class="cl"><span class="nv">PID</span><span class="o">=</span><span class="nv">$!</span>
</span></span><span class="line"><span class="cl"><span class="nb">wait</span> <span class="nv">$PID</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Exit with the same execution code as the child process</span>
</span></span><span class="line"><span class="cl"><span class="nb">exit</span> <span class="nv">$?</span>
</span></span></code></pre><h2 id="test-the-build-and-execution-of-the-docker-image" class="mt-5"><span>Test the build and execution of the Docker image </span><a class="icon-link icon-link-hover text-secondary" href="#test-the-build-and-execution-of-the-docker-image">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2><h3 class="fw-bold mt-4 mb-4" id="build-the-docker-image-and-run-the-container"><span>Build the Docker image and run the container </span><a class="icon-link icon-link-hover text-secondary" href="#build-the-docker-image-and-run-the-container">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Generally speaking, it is best to place the Dockerfile at the <strong>root</strong> of the project it is to build, so that you have access to the files/folders it will need to copy into the container.</p>

<p>Indeed, it is impossible to indicate a path of type <code>../target</code> or absolute such as <code>/path/to/target</code> in the <code>COPY</code> or <code>ADD</code> instructions of the Dockerfile.</p>

<p>Once we have placed the Dockerfile at the root of the project, we can launch the build of our application image:</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">$ docker build -t mywebsite .
</span></span></code></pre>
<ul>
<li><code>-t</code> indicates the name of the image with which it will be tagged (a <code>latest</code> tag will be assigned to it by default). Even if we don&rsquo;t publish it yet, this will be useful to identify it in our Docker instance</li>
<li><code>.</code> defines the context of the build which is therefore the current directory.</li>
</ul>

<p>We get an output similar to this:</p>

<p><img src="/static/images/articles/containerize-application/docker-build.png" alt="docker build" width="100%" style="max-width: 932px;"/></p>

<p>If we use Docker Desktop, we can see the image in the list of those available in the Docker instance:</p>

<p><img src="/static/images/articles/containerize-application/docker-desktop.png" alt="Docker Desktop" width="100%" style="max-width: 932px;"/></p>

<p>We can now launch the container with the <code>docker run</code> command:</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">$ docker run -d -p 8080:8080 --name mywebsite mywebsite:latest
</span></span></code></pre>
<ul>
<li><code>-d</code> : the container is executed in <em>detached</em> mode, this means that it runs in the background and that the terminal can be used</li>
<li><code>-p 8080:8080</code>: This option associates the host&rsquo;s port 8080 with the container&rsquo;s port 8080, which allows external access to the application running in the container</li>
<li><code>--name mywebsite</code>: we assign a name to the container so that we can identify it more easily, otherwise it receives a random name.</li>
<li><code>mywebsite:latest</code>: this is the name of the previously generated image and the tag assigned to it</li>
</ul>

<p>The application can then be accessed by connecting to the URL <code>http://localhost:8080</code> if Docker has been launched on the local machine.</p>

<p><img src="/static/images/articles/containerize-application/docker-run.png" alt="Docker Desktop" width="100%" style="max-width: 756px;"/></p>

<p>To stop the container and then delete it, you need to run the following two commands:</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">$ docker stop mywebsite
</span></span></code></pre><pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">$ docker rm mywebsite
</span></span></code></pre><h3 class="fw-bold mt-4 mb-4" id="create-a-complete-test-environment-with-docker-compose"><span>Create a complete test environment with Docker Compose </span><a class="icon-link icon-link-hover text-secondary" href="#create-a-complete-test-environment-with-docker-compose">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>The <a href="https://gitlab.com/gazerad/website-core/-/tree/main/deployments/docker/sample">sample</a> repository of the Website Core project provides a test environment where the mywebsite application is executed behind an Nginx reverse proxy that serves it on the URL <code>https://mywebsite.perso.com</code> (provided that <code>mywebsite.perso.com</code> is associated with the corresponding server IP in its <code>hosts</code> file).</p>

<p>The corresponding <code>docker-compose.yml</code> file ensures the build of the mywebsite docker image from the context of the project root directory (defined relatively with <code>../../..</code>) and the launch of the corresponding container behind the reverse proxy.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">services</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">mywebsite</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="c">#image: mywebsite:latest</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">build</span><span class="p">:</span><span class="w"> </span><span class="l">../../..</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">restart</span><span class="p">:</span><span class="w"> </span><span class="l">always</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">frontend</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">expose</span><span class="p">:</span><span class="w"> 
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;8080&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./mywebsite/log:/var/log/mywebsite</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./mywebsite/data:/srv/mywebsite/data:rw</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">reverse_proxy</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">nginx:1.26</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">reverse_proxy</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">restart</span><span class="p">:</span><span class="w"> </span><span class="l">always</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">frontend</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ports</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="m">80</span><span class="p">:</span><span class="m">80</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="m">443</span><span class="p">:</span><span class="m">443</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./nginx/conf/nginx.conf:/etc/nginx/conf.d/default.conf</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./nginx/certs/mywebsite.crt:/etc/ssl/certs/mywebsite.crt</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./nginx/certs/mywebsite.key:/etc/ssl/private/mywebsite.key</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./nginx/log:/var/log/nginx</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">frontend</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">driver</span><span class="p">:</span><span class="w"> </span><span class="l">bridge</span><span class="w">
</span></span></span></code></pre>
<p>We note that we have introduced here the notion of <strong>volume</strong>:</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./mywebsite/log:/var/log/mywebsite</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">./mywebsite/data:/srv/mywebsite/data:rw</span><span class="w">
</span></span></span></code></pre>
<p>Defined this way, by mounting a directory on the host with one inside the container, these are actually <strong>bind mounts</strong>, and they correspond to the directories identified in the <a href="#determine-persistent-data">Determine persistent data</a> section.</p>

<p>We launch this environment by placing ourselves at the level of the <code>docker-compose.yml</code> file and executing the following command:</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">$ docker compose up -d
</span></span></code></pre>
<p>And we stop it like this:</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">$ docker compose down
</span></span></code></pre><h2 id="continuous-integration-and-deployment-with-gitlab-ci" class="mt-5"><span>Continuous Integration and Deployment with Gitlab CI </span><a class="icon-link icon-link-hover text-secondary" href="#continuous-integration-and-deployment-with-gitlab-ci">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>The purpose of this section is to define the jobs of a Gitlab CI/CD pipeline in order to perform the following tasks:</p>

<ul>
<li>generate the Docker image of the application and publish it on Docker Hub</li>
<li>deploy the corresponding container on our environments where the application runs</li>
</ul>

<blockquote>
<p>Gitlab provides a <a href="https://docs.gitlab.com/ee/user/packages/container_registry/">container registry</a> that allows you to publish Docker images for each project. However, we are not using it here since our image must be accessible outside the private network on which our Gitlab instance runs.</p>
</blockquote>
<h3 class="fw-bold mt-4 mb-4" id="building-the-docker-image-and-publishing-it-to-docker-hub"><span>Building the Docker image and publishing it to Docker Hub </span><a class="icon-link icon-link-hover text-secondary" href="#building-the-docker-image-and-publishing-it-to-docker-hub">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Here we consider that our Gitlab instance runs its jobs with a <a href="https://docs.gitlab.com/runner/executors/docker.html">Docker runner</a>, which is generally <a href="https://docs.gitlab.com/runner/executors/#selecting-the-executor">recommended</a>.</p>

<p>The challenge here is to be able to run Docker commands (such as <code>docker build</code> or <code>docker push</code>) inside the container in which the job is running.</p>

<p>The first <a href="https://docs.gitlab.com/ee/ci/docker/using_docker_build.html">options offered</a> are:</p>

<ul>
<li>Finally choose to run the job with a <a href="https://docs.gitlab.com/runner/executors/shell.html">runner shell</a>, which would require creating an additional runner.</li>
<li>Use <a href="https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#use-docker-in-docker">Docker-in-Docker (dind)</a> but this requires privilege escalation for containers created by runners.</li>
<li>Use <a href="https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#use-docker-in-docker">socket binding</a> to access the host&rsquo;s Docker daemon inside containers.</li>
</ul>

<p>Unfortunately, each of them introduces complexity, security issues and limitations; that&rsquo;s why we&rsquo;ll choose <a href="https://docs.gitlab.com/ee/ci/docker/using_kaniko.html">Kaniko</a> to build our Docker images in Gitlab CI jobs.</p>

<p>Very simply (no special configuration of the Gitlab runner is required), the build/publish job of the Docker image is defined as follows in the <a href="https://gitlab.com/gazerad/website-core/-/blob/main/.gitlab-ci.yml">.gitlab-in.yml</a> file of the <a href="https://gitlab.com/gazerad/website-core/">Website Core</a> project:</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">publish-docker</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">stage</span><span class="p">:</span><span class="w"> </span><span class="l">publish</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">image</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="l">gcr.io/kaniko-project/executor:$KANIKO_VERSION</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">entrypoint</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="s2">&#34;&#34;</span><span class="p">]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">rules</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">if</span><span class="p">:</span><span class="w"> </span><span class="l">$DEPLOY_MODE == &#34;Y&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">when</span><span class="p">:</span><span class="w"> </span><span class="l">never</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- !<span class="l">reference [.rules, tag_release_candidate]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- !<span class="l">reference [.rules, tag_release]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">if</span><span class="p">:</span><span class="w"> </span>!<span class="l">reference [.rules, latest]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">script</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">if [ X&#34;$CI_COMMIT_TAG&#34; == &#34;X&#34; ]; then IMAGE_TAG=&#34;latest&#34;; else IMAGE_TAG=$CI_COMMIT_TAG; fi</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">echo &#34;Info - the image will be pushed with &#39;$IMAGE_TAG&#39; tag&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="p">|-</span><span class="sd">
</span></span></span><span class="line"><span class="cl"><span class="sd">      echo &#34;
</span></span></span><span class="line"><span class="cl"><span class="sd">      {
</span></span></span><span class="line"><span class="cl"><span class="sd">        \&#34;auths\&#34;:{
</span></span></span><span class="line"><span class="cl"><span class="sd">          \&#34;${DOCKERHUB_REGISTRY}\&#34;:{
</span></span></span><span class="line"><span class="cl"><span class="sd">            \&#34;auth\&#34;:\&#34;$(printf &#34;%s:%s&#34; &#34;${DOCKERHUB_USER}&#34; &#34;${DOCKERHUB_PASSWORD}&#34; | base64 | tr -d &#39;\n&#39;)\&#34;
</span></span></span><span class="line"><span class="cl"><span class="sd">          }
</span></span></span><span class="line"><span class="cl"><span class="sd">        }
</span></span></span><span class="line"><span class="cl"><span class="sd">      }&#34; &gt; /kaniko/.docker/config.json</span><span class="w">      
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">/kaniko/executor</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>--<span class="l">context &#34;$CI_PROJECT_DIR&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>--<span class="l">build-arg ALPINE_VERSION=$ALPINE_VERSION</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>--<span class="l">dockerfile &#34;${CI_PROJECT_DIR}/Dockerfile&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>--<span class="l">destination &#34;${DOCKERHUB_USER}/mywebsite:${IMAGE_TAG}&#34;</span><span class="w">
</span></span></span></code></pre>
<p>You just need to define the following <a href="https://docs.gitlab.com/ee/ci/variables/">CI/CD variables</a>, either in the <code>.gitlab-ci.yml</code> file or in the Gitlab UI (at the project/group/instance level):</p>

<ul>
<li><code>DOCKERHUB_REGISTRY</code>: the URL for publishing images on Docker Hub. Here you must specify the value <code>https://index.docker.io/v1/</code> and not that of the repository on which the image will be published.</li>
<li><code>DOCKERHUB_USER</code>: the account name used to publish the image to Docker Hub</li>
<li><code>DOCKERHUB_PASSWORD</code>: the corresponding password</li>
</ul>

<p>These variables are therefore indicated in <strong>json</strong> format in the Kaniko configuration file <code>/kaniko/.docker/config.json</code>.</p>

<p>The image build command receives the following parameters here:</p>

<ul>
<li><code>--context &quot;\$CI_PROJECT_DIR&quot;</code>: the context similar to that of the <code>docker build</code> command and which corresponds to the root of the project where the Dockerfile is located</li>
<li><code>--build-arg ALPINE_VERSION=\$ALPINE_VERSION</code>: the arguments that will enrich the variables defined by the <code>ARG</code> keyword in the <a href="#create-the-dockerfile">Dockerfile</a>.</li>
<li><code>--dockerfile &quot;\${CI_PROJECT_DIR}/Dockerfile&quot;</code>: we precisely define the location of the Dockerfile here.</li>
<li><code>--destination &quot;\${DOCKERHUB_USER}/mywebsite:\${IMAGE_TAG}&quot;</code>: the publication destination of the Docker image where the repository, the name of the image and its tag are indicated.</li>
</ul>

<p>We then get the following output in the Gitlab pipeline log:</p>

<p><img src="/static/images/articles/containerize-application/gitlab-publish.png" alt="Jobs de build sur Gitlab" width="100%" style="max-width: 924px;"/></p>

<p>The Docker image is successfully generated and published in the <a href="https://hub.docker.com/repository/docker/gazerad/mywebsite/general">gazerad/mywebsite</a> repository on Docker Hub.</p>
<h3 class="fw-bold mt-4 mb-4" id="deploying-the-application-container"><span>Deploying the application container </span><a class="icon-link icon-link-hover text-secondary" href="#deploying-the-application-container">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>The application deployment, based on Gitlab CI/Ansible/Docker, is detailed in the article <a href="https://gazerad.com/fr/article/deploiement-continu-avec-gitlab-et-ansible">Continuous Deployment with Gitlab and Ansible</a>.</p>

<p>In summary, we have a job in the CI/CD pipeline that will execute an <strong>Ansible playbook</strong> ensuring the deployment and launch of the application as well as the reverse proxy associated with it.</p>

<p>Here we will focus on the Ansible <a href="https://gitlab.com/gazerad/website-core/-/tree/main/deployments/ansible/roles/application">application</a> role of the deployments defined in the Website Core project.</p>

<p>The <a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/roles/application/tasks/main.yml">tasks</a> of the role consist first of all, after having correctly configured the environment, in deploying the Docker Compose file where the service that will execute the application is defined:</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c"># roles/application/tasks/main.yml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span>- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="l">Deploy docker-compose file</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">template</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">src</span><span class="p">:</span><span class="w"> </span><span class="l">templates/docker-compose.yml.j2</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">dest</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;{{ application_dir }}/docker-compose.yml&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">mode</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;600&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">owner</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">group</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite</span><span class="w">
</span></span></span></code></pre>
<p>The <code>docker-compose.yml</code> file is defined as a <a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/roles/application/templates/docker-compose.yml.j2">template</a> containing variables enriched by the Ansible playbook:</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c"># {{ ansible_managed | comment }}</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">services</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">mywebsite</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="c"># mywebsite_version variable is set from environment variable MYWEBSITE_VERSION</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">gazerad/mywebsite:{{ mywebsite_version }}</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">restart</span><span class="p">:</span><span class="w"> </span><span class="l">always</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">frontend</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">expose</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;8080&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;{{ mywebsite_dir }}/log:/var/log/mywebsite&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;{{ mywebsite_dir }}/data:/srv/mywebsite/data&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/etc/localtime:/etc/localtime:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">healthcheck</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">test</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="s2">&#34;CMD&#34;</span><span class="p">,</span><span class="w"> </span><span class="s2">&#34;curl&#34;</span><span class="p">,</span><span class="w"> </span><span class="s2">&#34;-f&#34;</span><span class="p">,</span><span class="w"> </span><span class="s2">&#34;http://localhost:8080/fr&#34;</span><span class="p">]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">interval</span><span class="p">:</span><span class="w"> </span><span class="l">30s</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">timeout</span><span class="p">:</span><span class="w"> </span><span class="l">10s</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">retries</span><span class="p">:</span><span class="w"> </span><span class="m">3</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">labels</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">autoheal</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">autoheal</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="c"># To restart the unhealthy containers with label &#39;autoheal: true&#39; defined</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="c"># https://github.com/willfarrell/docker-autoheal</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">willfarrell/autoheal:{{ versions.autoheal }}</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">autoheal</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">restart</span><span class="p">:</span><span class="w"> </span><span class="l">always</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">frontend</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="c"># Still XDG_RUNTIME_DIR depends from the docker rootless user definition</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="s2">&#34;{{ xdg_runtime_dir }}/docker.sock:/var/run/docker.sock:ro&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span>- <span class="l">/etc/localtime:/etc/localtime:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">environment</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">AUTOHEAL_INTERVAL</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;30&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">AUTOHEAL_DEFAULT_STOP_TIMEOUT</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;10&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">AUTOHEAL_CONTAINER_LABEL</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;autoheal&#39;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">CURL_TIMEOUT</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;10&#39;</span><span class="w">
</span></span></span></code></pre>
<p>The <code>autoheal</code> service, optional in absolute terms, is intended to monitor the <code>mywebsite</code> service of the application and its restart under the conditions defined in its <code>environment</code> section.</p>

<p>Then, as we identified in <a href="#analyser-le-code-et-ses-dependances">analysis of the content to be deployed</a>, the <em>application</em> role <a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/roles/application/tasks/website_data.yml">import tasks</a> which allows to modify the bind mount containing the database and the articles by <strong>deploying the package</strong> of the <a href="https://gitlab.com/gazerad/website-data">Website Data</a> project.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c"># roles/application/tasks/main.yml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span>- <span class="nt">import_tasks</span><span class="p">:</span><span class="w"> </span><span class="l">website_data.yml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">tags</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">website-data</span><span class="w">
</span></span></span></code></pre><pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c"># roles/application/tasks/website_data.yml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span>- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="l">Set website data package version</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">set_fact</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">website_data_pkg_ref</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;{{ lookup(&#39;env&#39;, &#39;WEBSITE_DATA_PKG_REF&#39;) }}&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">become_user</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span>- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="l">Download and extract website data package to target</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">unarchive</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">src</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;{{ external_gitlab_api_v4_url }}/projects/{{ external_website_data_id }}/packages/generic/data/{{ website_data_pkg_ref }}/data.tgz&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">dest</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;{{ mywebsite_dir }}&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">remote_src</span><span class="p">:</span><span class="w"> </span><span class="kc">yes</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">become_user</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite</span><span class="w">
</span></span></span></code></pre>
<p>Finally, the <a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/roles/reverse_proxy/handlers/main.yml">handlers</a> ensuring the restart of Docker Compose are called at the end of the tasks of the <em>application</em> role:</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c"># roles/application/tasks/main.yml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span>- <span class="nt">debug</span><span class="p">:</span><span class="w"> 
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">msg</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;Trigger docker compose stop&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">notify</span><span class="p">:</span><span class="w"> </span><span class="l">Stop docker compose</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">changed_when</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span>- <span class="nt">debug</span><span class="p">:</span><span class="w"> 
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">msg</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;Trigger docker compose start&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">notify</span><span class="p">:</span><span class="w"> </span><span class="l">Start docker compose</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">changed_when</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
</span></span></span></code></pre>