<h2 id="introduction" class="mt-4"><span>Introduction </span><a class="icon-link icon-link-hover text-secondary" href="#introduction">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2><p>Installing an application, especially a third-party application, is not usually a major problem, and updating can be made easier by choosing a <strong>containerized installation</strong> and using Docker Compose, for example. But sticking to <strong>manual tasks</strong> for deployments, updates and configuration changes can become <strong>burdensome and error-prone</strong>, especially if a rollback is required from an unversioned configuration.</p>

<p>On the other hand, when we only have to manage a handful of containers for an application deployed <strong><em>on premise</em></strong> (which happens more often than we think :-) ), we don&rsquo;t really need to push a Kubernetes configuration that will essentially increase maintenance costs and the learning curve for newcomers.</p>

<p><strong>Ansible</strong> offers the possibility of controlling the <strong>configuration</strong> of an application on a given infrastructure and several environments, while Gitlab** is a source code management (SCM) interface that lets you configure the <strong>CI/CD</strong> part (continuous integration/continuous deployment).</p>

<p>We will take a look at the deployment use case for this site to see how to make precise use of both tools to achieve deployments that are both <strong>safe and fast</strong>.</p>
<h2 id="defining-the-use-case" class="mt-4"><span>Defining the use case </span><a class="icon-link icon-link-hover text-secondary" href="#defining-the-use-case">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>In this article, we will consider the <strong>deployment of this site</strong>, delivered as a <a href="https://hub.docker.com/r/gazerad/mywebsite">gazerad/mywebsite</a> container on Docker hub, along with an accompanying Grafana/Prometheus/Node exporter monitoring solution, all behind a Nginx reverse Proxy handling certificates and incoming traffic.</p>

<p><img src="/static/images/articles/deploy-gitlab-ansible/schema_application.png" alt="Schema application" /></p>

<p>This deployment is to be carried out on two environments:</p>

<ul>
<li><strong>INT</strong>: a server deployed on the local network, using self-signed certificates.</li>
<li><strong>PROD</strong>: an AWS EC2 server, using certificates provided by <em>let&rsquo;s encrypt</em>.</li>
</ul>

<p>We&rsquo;d like to get an installation process where :</p>

<ul>
<li>Configuration is managed <strong><em>as code</em></strong> in a project published on an SCM.</li>
<li>Configuration is generated <strong>dynamically</strong> for a set of environments (here INT and PROD).</li>
<li>Deployments are triggered by <strong>push/tag events</strong> on the SCM tool, then launched manually from the SCM interface for the production environment.</li>
<li>No user access** is required on the infrastructure to be deployed, since no <strong>manual commands</strong> need be executed.</li>
</ul>

<p>This is the ideal situation for using <strong>Ansible</strong> to manage configuration, statically and dynamically, for deployment across a range of servers/environments. <strong>Gitlab</strong> is also a logical choice as an SCM tool that can also automate tasks triggered by SCM events by defining pipelines.</p>

<p><img src="/static/images/articles/deploy-gitlab-ansible/image-2023-3-10_13-10-48.png" alt="Architecture de déploiement continu" width="650"/></p>

<p>In this way, we can :</p>

<ul>
<li>ensure that the configuration is <strong>saved and versioned</strong>, making the previous configuration immediately available and deployable in the event of a roll-back</li>
<li>minimize <strong>user access</strong> to the infrastructure for manual tasks.</li>
</ul>

<p>As a result, we can improve the <strong>security and efficiency</strong> of CI/CD processes by being able to rapidly deploy precisely what we want.</p>

<p>In the remainder of this article, we will consider the <a href="https://gitlab.com/gazerad/website-core">Website Core</a> project corresponding to the backend/frontend code of this site, where the Ansible deployment is defined in the <a href="https://gitlab.com/gazerad/website-core/-/tree/main/deployments/ansible?ref_type=heads">deployments/ansible</a> directory.</p>

<p>We won&rsquo;t describe how to install Ansible or Docker on the target servers - that&rsquo;s the subject of another article.</p>
<h2 id="configuring-ansible-in-the-gitlab-project" class="mt-4"><span>Configuring Ansible in the Gitlab project </span><a class="icon-link icon-link-hover text-secondary" href="#configuring-ansible-in-the-gitlab-project">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2><h3 class="fw-bold mt-4 mb-3" id="generate-the-ssh-key-pair-used-by-ansible"><span>Generate the SSH key pair used by Ansible </span><a class="icon-link icon-link-hover text-secondary" href="#generate-the-ssh-key-pair-used-by-ansible">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>Ansible relies on SSH to perform deployments on the servers associated with each environment of a given application.
Therefore, for each of these servers, we need to generate an SSH key pair that will be recognized by the Ansible user to perform the deployment.</p>

<p>It doesn&rsquo;t matter which server the SSH key pair is located on. For practical purposes, we&rsquo;ll name each key as follows:</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">ansible_<span class="o">[</span>application name<span class="o">]</span>_<span class="o">[</span>environment<span class="o">]</span>
</span></span></code></pre>
<p>Below are the commands to be run on any server to generate the SSH key.
We&rsquo;ve chosen an empty passphrase because it makes deployment harder to automate if there is one, and requires manual entry of a sensitive password.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">ssh-keygen -t ed25519
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">Generating public/private ed25519 key pair.
</span></span><span class="line"><span class="cl">Enter file in which to save the key <span class="o">(</span>~/.ssh/id_ed25519<span class="o">)</span>: ~/.ssh/ansible_<span class="o">[</span>application name<span class="o">]</span>_<span class="o">[</span>environment<span class="o">]</span>
</span></span><span class="line"><span class="cl">Enter passphrase <span class="o">(</span>empty <span class="k">for</span> no passphrase<span class="o">)</span>:
</span></span><span class="line"><span class="cl">Enter same passphrase again:
</span></span><span class="line"><span class="cl">Your identification has been saved in ~/.ssh/ansible_app_env.
</span></span><span class="line"><span class="cl">Your public key has been saved in ~/.ssh/ansible_app_env.pub.
</span></span><span class="line"><span class="cl">The key fingerprint is:
</span></span><span class="line"><span class="cl">SHA256:/dBKUd8TExQDWoxpNTKt8xesipzAbscR9wtINJg2t9I root@SR-F1-GITRUN2
</span></span><span class="line"><span class="cl">The key's randomart image is:
</span></span><span class="line"><span class="cl">+--<span class="o">[</span>ED25519 256<span class="o">]</span>--+
</span></span><span class="line"><span class="cl"><span class="p">|</span>        o  <span class="nv">oB</span><span class="o">=</span>oBo<span class="p">|</span>
</span></span><span class="line"><span class="cl"><span class="p">|</span>       <span class="o">=</span> + <span class="o">==</span>+..+<span class="p">|</span>
</span></span><span class="line"><span class="cl"><span class="p">|</span>      . <span class="o">=</span> <span class="o">=</span>.. o..<span class="p">|</span>
</span></span><span class="line"><span class="cl"><span class="p">|</span>       . E *   o.<span class="p">|</span>
</span></span><span class="line"><span class="cl"><span class="p">|</span>      . S <span class="nv">B</span> <span class="o">=</span> . .<span class="p">|</span>
</span></span><span class="line"><span class="cl"><span class="p">|</span>       o + <span class="o">=</span> + . <span class="p">|</span>
</span></span><span class="line"><span class="cl"><span class="p">|</span>      . + <span class="o">=</span> + o  <span class="p">|</span>
</span></span><span class="line"><span class="cl"><span class="p">|</span>       o * . .   <span class="p">|</span>
</span></span><span class="line"><span class="cl"><span class="p">|</span>      . .        <span class="p">|</span>
</span></span><span class="line"><span class="cl">+----<span class="o">[</span>SHA256<span class="o">]</span>-----+
</span></span></code></pre>
<p>Now we have the private/public SSH key pair available:</p>

<ul>
<li><code>~/.ssh/ansible_[application name]_[environment]</code></li>
<li><code>~/.ssh/ansible_[application name]_[environment].pub</code></li>
</ul>

<p>For example, for our case and the integration environment :</p>

<ul>
<li><code>~/.ssh/ansible_mywebsite_int</code></li>
<li><code>~/.ssh/ansible_mywebsite_int.pub</code></li>
</ul>
<h3 class="fw-bold mt-4 mb-3" id="convert-ssh-key-pair-to-base64-format"><span>Convert SSH key pair to base64 format </span><a class="icon-link icon-link-hover text-secondary" href="#convert-ssh-key-pair-to-base64-format">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>In order to be added as Gitlab project variables, we need to convert the keys to a one-line string, so we use base64 encoding for this.</p>

<p>From the previously generated key pair :</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nv">APPLICATION</span><span class="o">=</span><span class="s2">&#34;&#34;</span> <span class="c1"># Put application name here</span>
</span></span><span class="line"><span class="cl"><span class="nv">ENVIRONMENT</span><span class="o">=</span><span class="s2">&#34;&#34;</span> <span class="c1"># Name of the environment</span>
</span></span><span class="line"><span class="cl"> 
</span></span><span class="line"><span class="cl"><span class="c1"># Each time, we save the generated string</span>
</span></span><span class="line"><span class="cl">cat ~/.ssh/ansible_<span class="si">${</span><span class="nv">APPLICATION</span><span class="si">}</span>_<span class="si">${</span><span class="nv">ENVIRONMENT</span><span class="si">}</span> <span class="p">|</span> base64 -w <span class="m">0</span>
</span></span><span class="line"><span class="cl">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
</span></span><span class="line"><span class="cl"> 
</span></span><span class="line"><span class="cl">cat ~/.ssh/ansible_<span class="si">${</span><span class="nv">APPLICATION</span><span class="si">}</span>_<span class="si">${</span><span class="nv">ENVIRONMENT</span><span class="si">}</span>.pub <span class="p">|</span> base64 -w <span class="m">0</span>
</span></span><span class="line"><span class="cl">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
</span></span></code></pre><h3 class="fw-bold mt-4 mb-3" id="add-encoded-ssh-keys-to-gitlab-project-variables"><span>Add encoded SSH keys to Gitlab project variables </span><a class="icon-link icon-link-hover text-secondary" href="#add-encoded-ssh-keys-to-gitlab-project-variables">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>We will now need to edit the CI/CD parameters of our <a href="https://gitlab.com/gazerad/website-core">Gitlab project</a> in order to add the encoded keys as variables.</p>

<p>Please first note that in our case, variable names must follow the following rule, for a given <code>APPLICATION</code> application and <code>ENVIRONMENT</code> environment (each in <strong>upper case</strong>):</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c1"># private key</span>
</span></span><span class="line"><span class="cl"><span class="o">[</span>APPLICATION<span class="o">]</span>_<span class="o">[</span>ENVIRONMENT<span class="o">]</span>_SSH_PRIVATE_KEY_BASE64
</span></span><span class="line"><span class="cl"> 
</span></span><span class="line"><span class="cl"><span class="c1"># public key</span>
</span></span><span class="line"><span class="cl"><span class="o">[</span>APPLICATION<span class="o">]</span>_<span class="o">[</span>ENVIRONMENT<span class="o">]</span>_SSH_PUBLIC_KEY_BASE64
</span></span></code></pre>
<p>For example, with <code>Mywebsite</code> application and <code>int</code> environment:</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">Private key: MYWEBSITE_INT_SSH_PRIVATE_KEY_BASE64
</span></span><span class="line"><span class="cl">Public key: MYWEBSITE_INT_SSH_PUBLIC_KEY_BASE64
</span></span></code></pre>
<p>Next, we fill these variables with the following characteristics (described <a href="https://docs.gitlab.com/ee/ci/variables/#for-a-project">here</a>), depending on the environment:</p>

<ul>
<li><strong>prod</strong>: protects and hides the variable</li>
<li><strong>int</strong>: hides only the variable</li>
</ul>
<h3 class="fw-bold mt-4 mb-3" id="set-ansible-vault-passwords-as-gitlab-variables"><span>Set Ansible Vault passwords as Gitlab variables </span><a class="icon-link icon-link-hover text-secondary" href="#set-ansible-vault-passwords-as-gitlab-variables">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p><a href="https://docs.ansible.com/ansible/latest/vault_guide/vault.html">Ansible Vault</a> is used to <strong>encrypt sensitive content</strong> (passwords, SSH private keys)
so that it can be safely stored in collaborative tools such as a SCM (in our case, the Gitlab project).</p>

<p>To do this, we need a <strong>master password</strong>* that will allow us to decrypt the vaulted content. In our case, as we have two environments,
we will choose two Vault passwords to encrypt sensitive variables in each of the two environments. Logically, these cannot be published directly in the <a href="https://gitlab.com/gazerad/website-core">Gitlab project</a>.</p>

<p>We don&rsquo;t really need to juggle between these Vault passwords since their use will be limited to the Gitlab CI/CD pipelines, so there will be no need to use the <a href="https://docs.ansible.com/ansible/latest/vault_guide/vault_managing_passwords.html#managing-multiple-passwords-with-vault-ids">Vault IDs</a> feature.</p>

<p>We will therefore define <strong>two Vault passwords</strong> that will be stored as <strong>Gitlab variables</strong> of the <a href="https://gitlab.com/gazerad/website-core">project</a>:</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">INT : ANSIBLE_VAULT_PASSWORD_INT
</span></span><span class="line"><span class="cl">PROD : ANSIBLE_VAULT_PASSWORD_PROD
</span></span></code></pre>
<p>In the same way as above, these variables will have the following characteristics:</p>

<ul>
<li><strong>prod</strong> : protects and hides the variable</li>
<li><strong>int</strong> : only hides the variable</li>
</ul>
<h2 id="definition-of-the-ansible-deployment-playbook" class="mt-4"><span>Definition of the Ansible deployment playbook </span><a class="icon-link icon-link-hover text-secondary" href="#definition-of-the-ansible-deployment-playbook">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>The aim of the playbook is to deploy the site and the monitoring solution behind a Nginx reverse proxy.</p>
<h3 class="fw-bold mt-4 mb-3" id="organization-of-playbook-content"><span>Organization of playbook content </span><a class="icon-link icon-link-hover text-secondary" href="#organization-of-playbook-content">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>In accordance with Ansible <a href="https://docs.ansible.com/ansible/2.8/user_guide/playbooks_best_practices.html#alternative-directory-layout">best practices</a>, we have defined the contents of the deployment playbook in the <a href="https://gitlab.com/gazerad/website-core/-/tree/main/deployments/ansible?ref_type=heads">deployments/ansible</a> directory of the Gitlab project as follows.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">├── inventories
</span></span><span class="line"><span class="cl">│   ├── 000_cross_env_vars.yml
</span></span><span class="line"><span class="cl">│   ├── 001_versions.yml
</span></span><span class="line"><span class="cl">│   ├── int
</span></span><span class="line"><span class="cl">│   │   ├── group_vars
</span></span><span class="line"><span class="cl">│   │   │   └── all
</span></span><span class="line"><span class="cl">│   │   │       ├── 000_cross_env_vars.yml -&gt; ../../../000_cross_env_vars.yml
</span></span><span class="line"><span class="cl">│   │   │       ├── 001_versions.yml -&gt; ../../../001_versions.yml
</span></span><span class="line"><span class="cl">│   │   │       ├── vars.yml
</span></span><span class="line"><span class="cl">│   │   │       └── vault.yml
</span></span><span class="line"><span class="cl">│   │   └── hosts
</span></span><span class="line"><span class="cl">│   └── prod
</span></span><span class="line"><span class="cl">│       ├── group_vars
</span></span><span class="line"><span class="cl">│       │   └── all
</span></span><span class="line"><span class="cl">│       │       ├── 000_cross_env_vars.yml -&gt; ../../../000_cross_env_vars.yml
</span></span><span class="line"><span class="cl">│       │       ├── 001_versions.yml -&gt; ../../../001_versions.yml
</span></span><span class="line"><span class="cl">│       │       ├── vars.yml
</span></span><span class="line"><span class="cl">│       │       └── vault.yml
</span></span><span class="line"><span class="cl">│       └── hosts
</span></span><span class="line"><span class="cl">├── roles
</span></span><span class="line"><span class="cl">│  ├── application
</span></span><span class="line"><span class="cl">│  │   ├── defaults
</span></span><span class="line"><span class="cl">│  │   ├── files
</span></span><span class="line"><span class="cl">│  │   ├── handlers
</span></span><span class="line"><span class="cl">│  │   ├── meta
</span></span><span class="line"><span class="cl">│  │   ├── tasks
</span></span><span class="line"><span class="cl">│  │   ├── templates
</span></span><span class="line"><span class="cl">│  │   └── vars
</span></span><span class="line"><span class="cl">│  ├── monitoring
</span></span><span class="line"><span class="cl">│  │   ├── defaults
</span></span><span class="line"><span class="cl">│  │   ├── files
</span></span><span class="line"><span class="cl">│  │   ├── handlers
</span></span><span class="line"><span class="cl">│  │   ├── meta
</span></span><span class="line"><span class="cl">│  │   ├── tasks
</span></span><span class="line"><span class="cl">│  │   ├── templates
</span></span><span class="line"><span class="cl">│  │   └── vars
</span></span><span class="line"><span class="cl">│  ├── reverse_proxy
</span></span><span class="line"><span class="cl">│  │   ├── defaults
</span></span><span class="line"><span class="cl">│  │   ├── files
</span></span><span class="line"><span class="cl">│  │   ├── handlers
</span></span><span class="line"><span class="cl">│  │   ├── meta
</span></span><span class="line"><span class="cl">│  │   ├── tasks
</span></span><span class="line"><span class="cl">│  │   ├── templates
</span></span><span class="line"><span class="cl">│  │   └── vars
</span></span><span class="line"><span class="cl">│  └── server
</span></span><span class="line"><span class="cl">│      ├── defaults
</span></span><span class="line"><span class="cl">│      ├── files
</span></span><span class="line"><span class="cl">│      ├── handlers
</span></span><span class="line"><span class="cl">│      ├── meta
</span></span><span class="line"><span class="cl">│      ├── tasks
</span></span><span class="line"><span class="cl">│      ├── templates
</span></span><span class="line"><span class="cl">│      └── vars
</span></span><span class="line"><span class="cl">├── playbook-deploy.yml
</span></span><span class="line"><span class="cl">└── playbook-setup.yml
</span></span></code></pre>
<p>There are 3 main categories, which we will detail later:</p>

<ul>
<li><strong><a href="https://docs.ansible.com/ansible/latest/inventory_guide/intro_inventory.html">inventories</a></strong>: under the <code>inventories</code> directory, define the contents of the <code>int</code> and <code>prod</code> environments in our case, such as the list of target servers (hosts), variables common or specific to each inventory etc.</li>
<li><strong><a href="https://docs.ansible.com/ansible/latest/playbook_guide/playbooks_reuse_roles.html">roles</a></strong>: under the <code>roles</code> directory are grouped by logical configuration element (application, server, reverse proxy, &hellip;) everything that will enable the execution of related tasks in a playbook, i.e. files/templates to be deployed, task definitions, specific variables, etc.</li>
<li><strong><a href="https://docs.ansible.com/ansible/latest/playbook_guide/playbooks_intro.html">playbooks</a></strong>: located at the root of the directory, these are files that group together the tasks/roles to be executed according to the desired case.</li>
</ul>
<h3 class="fw-bold mt-4 mb-3" id="inventories-general-variable-configuration"><span>Inventories: general variable configuration </span><a class="icon-link icon-link-hover text-secondary" href="#inventories-general-variable-configuration">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3><pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">├── inventories
</span></span><span class="line"><span class="cl">│   ├── 000_cross_env_vars.yml
</span></span><span class="line"><span class="cl">│   ├── 001_versions.yml
</span></span><span class="line"><span class="cl">│   ├── int
</span></span><span class="line"><span class="cl">│   │   ├── group_vars
</span></span><span class="line"><span class="cl">│   │   │   └── all
</span></span><span class="line"><span class="cl">│   │   │       ├── 000_cross_env_vars.yml -&gt; ../../../000_cross_env_vars.yml
</span></span><span class="line"><span class="cl">│   │   │       ├── 001_versions.yml -&gt; ../../../001_versions.yml
</span></span><span class="line"><span class="cl">│   │   │       ├── vars.yml
</span></span><span class="line"><span class="cl">│   │   │       └── vault.yml
</span></span><span class="line"><span class="cl">│   │   └── hosts
</span></span><span class="line"><span class="cl">│   └── prod
</span></span><span class="line"><span class="cl">│       ├── group_vars
</span></span><span class="line"><span class="cl">│       │   └── all
</span></span><span class="line"><span class="cl">│       │       ├── 000_cross_env_vars.yml -&gt; ../../../000_cross_env_vars.yml
</span></span><span class="line"><span class="cl">│       │       ├── 001_versions.yml -&gt; ../../../001_versions.yml
</span></span><span class="line"><span class="cl">│       │       ├── vars.yml
</span></span><span class="line"><span class="cl">│       │       └── vault.yml
</span></span><span class="line"><span class="cl">│       └── hosts
</span></span></code></pre>
<p>So that the playbook code can run on different host/variable sets depending on the chosen environment, we need to define an <a href="https://docs.ansible.com/ansible/latest/inventory_guide/intro_inventory.html">inventory</a>.</p>

<p>The inventory is defined by a set of folders/subfolders in the <code>inventories</code> folder.</p>
<h5 class="fw-bold mt-4 mb-3" id="environment-configuration"><span>Environment configuration</h5>
<p>Both environments, <code>int</code> and <code>prod</code>, have the same tree structure which follows the <a href="https://www.digitalocean.com/community/tutorials/how-to-manage-multistage-environments-with-ansible#ansible-recommended-strategy-using-groups-and-multiple-inventories">suggested practices</a>.</p>

<ul>
<li><p><a href="https://gitlab.com/gazerad/website-core/-/tree/main/deployments/ansible/inventories/prod/group_vars/all">group_vars/all</a>: contains the definition of variables required by the environment.
The name of the <code>all/</code> folder indicates that these variables apply to each group of hosts defined in the <code>hosts</code> file, which we will expose later.
Here, we can see that we have the following contents:</p>

<ul>
<li><a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/inventories/prod/group_vars/all/vars.yml">vars.yml</a> : contains environment-specific variables.</li>
</ul>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c"># Websites fqdn</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">mywebsite_fqdn</span><span class="p">:</span><span class="w"> </span><span class="l">gazerad.com</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">mywebsite_fr_fqdn</span><span class="p">:</span><span class="w"> </span><span class="l">gazerad.fr</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">grafana_fqdn</span><span class="p">:</span><span class="w"> </span><span class="l">grafana.mywebsite.com</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">prometheus_fqdn</span><span class="p">:</span><span class="w"> </span><span class="l">prometheus.mywebsite.com</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="c"># Certificates configuration</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">monitoring_cert_name</span><span class="p">:</span><span class="w"> </span><span class="l">monitoring</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="c"># let&#39;s encrypt variables</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">lets_encrypt_use</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">mywebsite_email</span><span class="p">:</span><span class="w"> </span><span class="l">guillaume.azerad@gap-cs.com</span><span class="w">
</span></span></span></code></pre>
<ul>
<li><a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/inventories/prod/group_vars/all/vault.yml">vault.yml</a>: contains &ldquo;vaulted&rdquo; variables, which are passwords encrypted with <a href="https://docs.ansible.com/ansible/latest/vault_guide/index.html">Ansible vault</a>. The data can thus be published on Gitlab, as they are indeed encrypted.</li>
</ul>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">vault_mywebsite_password</span><span class="p">:</span><span class="w"> </span>!<span class="l">vault |</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="l">$ANSIBLE_VAULT;1.1;AES256          30386565656261343265343138663433643837366132616566653239396635323565643931373035          3261386338353031323633663835313332346466386162660a383761393130633562633132313839          64613162373531643064646233613062316336616632356162623536386437396538306136616136          3035396131353636350a376338353461643136363135613762623039623031313562623365336265          30656464316461313638326636646563306464663962626432316631626130353765316231626566          6463306337623163306339303438653163366331343439626534</span><span class="w">
</span></span></span></code></pre></li>
</ul>

<p>To encrypt a password, proceed as follows, using the Vault password for the environment in question (INT or PROD).</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="sb">```</span>sh
</span></span><span class="line"><span class="cl"><span class="c1"># Open the .vault_pass file and enter the vault password</span>
</span></span><span class="line"><span class="cl">vi .vault_pass
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Set environment variable ANSIBLE_VAULT_PASSWORD_FILE</span>
</span></span><span class="line"><span class="cl"><span class="nb">export</span> <span class="nv">ANSIBLE_VAULT_PASSWORD_FILE</span><span class="o">=</span>./.vault_pass
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Password encryption</span>
</span></span><span class="line"><span class="cl">ansible-vault encrypt_string <span class="s1">&#39;mon_mot_de_passe&#39;</span>
</span></span><span class="line"><span class="cl">Encryption successful
</span></span><span class="line"><span class="cl">!vault <span class="p">|</span>
</span></span><span class="line"><span class="cl">        <span class="nv">$ANSIBLE_VAULT</span><span class="p">;</span>1.1<span class="p">;</span>AES256            <span class="m">30386565656261343265343138663433643837366132616566653239396635323565643931373035</span>            3261386338353031323633663835313332346466386162660a383761393130633562633132313839            <span class="m">64613162373531643064646233613062316336616632356162623536386437396538306136616136</span>            3035396131353636350a376338353461643136363135613762623039623031313562623365336265            <span class="m">30656464316461313638326636646563306464663962626432316631626130353765316231626566</span>            <span class="m">6463306337623163306339303438653163366331343439626534</span>
</span></span><span class="line"><span class="cl"><span class="sb">```</span>
</span></span></code></pre>
<ul>
<li><p><strong>symbolic links</strong>: these refer to files containing variables which have the same values in all environments.</p></li>

<li><p><a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/inventories/prod/hosts?ref_type=heads">hosts</a>: this file contains the definition of servers (hosts) for the selected application and environment.
First, you must indicate the name of the server group (<code>[application]</code> here), then list on the same line :</p>

<ul>
<li>the application name (<code>mywebsite</code>)</li>
<li>the name of the remote host (variable <code>ansible_host</code>)</li>
<li>the user name Ansible will use to connect to the server and run the playbook (variable <code>ansible_user</code>)</li>
</ul></li>
</ul>

<p>There may be several servers linked to an environment, but in our case, we have only one server defined, for example for the prod environment:</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">  <span class="k">[application]</span>
</span></span><span class="line"><span class="cl">  <span class="na">mywebsite ansible_host</span><span class="o">=</span><span class="s">ec2-13-39-55-42.eu-west-3.compute.amazonaws.com ansible_user=ansible</span>
</span></span></code></pre>
<p><strong>NB</strong>: we have chosen the <code>.ini</code> format for this file, but it could have been written in YAML, as Ansible accepts both formats for defining playbook configuration.</p>
<h5 class="fw-bold mt-4 mb-3" id="global-configuration"><span>Global configuration</h5>
<p>We also have two files containing identical variable definitions for all environments. As explained above, they are replicated in each environment configuration by a <strong>symbolic link</strong>.</p>

<ul>
<li><a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/inventories/000_cross_env_vars.yml?ref_type=heads">000_cross_env_vars.yml</a>: simply contains <strong>variable definitions</strong> that apply to all environments. Ideally, this should be limited to general data defining specific values (FQDN, URL, user name, etc.). Other variables more specific to each configuration item should be defined in the corresponding roles.</li>
</ul>

<p><strong>IMPORTANT</strong>: there&rsquo;s a section that applies &ldquo;vaulted&rdquo; variables to another variable name. This was done to avoid filling this file with &ldquo;vaulted&rdquo; passwords, which would have made it difficult to read.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="c"># Passwords and keys</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">mywebsite_password</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;{{ vault_mywebsite_password }}&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">grafana_admin_password</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;{{ vault_grafana_admin_password }}&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">external_website_data_access_token</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;{{ vault_external_projet_access_token }}&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="c"># gitlab.com website-data project configuration</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">external_gitlab_api_v4_url</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;https://gitlab.com/api/v4&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">external_website_data_id</span><span class="p">:</span><span class="w"> </span><span class="m">55398930</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="c"># General paths on the server</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">application_dir</span><span class="p">:</span><span class="w"> </span><span class="l">/srv/web</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">reverse_proxy_dir</span><span class="p">:</span><span class="w"> </span><span class="l">/srv/reverse_proxy</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">monitoring_dir</span><span class="p">:</span><span class="w"> </span><span class="l">/srv/monitoring</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="c"># Usernames for applications</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">grafana_user</span><span class="p">:</span><span class="w"> </span><span class="l">gazerad</span><span class="w">
</span></span></span></code></pre>
<ul>
<li><a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/inventories/001_versions.yml?ref_type=heads">001_versions.yml</a>: essentially contains the versions of the <strong>services</strong> defined in the docker compose files. This is the file that needs to be modified for a service version update. It also contains versions of packages to be installed on servers (here: <code>docker: 26.0.0</code>).</li>
</ul>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">versions</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">docker</span><span class="p">:</span><span class="w"> </span><span class="m">26.0.0</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">nginx</span><span class="p">:</span><span class="w"> </span><span class="m">1.25.4</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">certbot</span><span class="p">:</span><span class="w"> </span><span class="l">v2.10.0</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">autoheal</span><span class="p">:</span><span class="w"> </span><span class="m">1.2.0</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">grafana</span><span class="p">:</span><span class="w"> </span><span class="m">10.4.1</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">prometheus</span><span class="p">:</span><span class="w"> </span><span class="l">v2.51.0</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">node_exporter</span><span class="p">:</span><span class="w"> </span><span class="l">v1.7.0</span><span class="w">
</span></span></span></code></pre><h3 class="fw-bold mt-4 mb-3" id="role-definition"><span>Role definition </span><a class="icon-link icon-link-hover text-secondary" href="#role-definition">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3><pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">├── roles
</span></span><span class="line"><span class="cl">│  ├── application
</span></span><span class="line"><span class="cl">│  │   ├── defaults
</span></span><span class="line"><span class="cl">│  │   ├── files
</span></span><span class="line"><span class="cl">│  │   ├── handlers
</span></span><span class="line"><span class="cl">│  │   ├── meta
</span></span><span class="line"><span class="cl">│  │   ├── tasks
</span></span><span class="line"><span class="cl">│  │   ├── templates
</span></span><span class="line"><span class="cl">│  │   └── vars
</span></span><span class="line"><span class="cl">│  ├── monitoring
</span></span><span class="line"><span class="cl">│  │   ├── defaults
</span></span><span class="line"><span class="cl">│  │   ├── files
</span></span><span class="line"><span class="cl">│  │   ├── handlers
</span></span><span class="line"><span class="cl">│  │   ├── meta
</span></span><span class="line"><span class="cl">│  │   ├── tasks
</span></span><span class="line"><span class="cl">│  │   ├── templates
</span></span><span class="line"><span class="cl">│  │   └── vars
</span></span><span class="line"><span class="cl">│  ├── reverse_proxy
</span></span><span class="line"><span class="cl">│  │   ├── defaults
</span></span><span class="line"><span class="cl">│  │   ├── files
</span></span><span class="line"><span class="cl">│  │   ├── handlers
</span></span><span class="line"><span class="cl">│  │   ├── meta
</span></span><span class="line"><span class="cl">│  │   ├── tasks
</span></span><span class="line"><span class="cl">│  │   ├── templates
</span></span><span class="line"><span class="cl">│  │   └── vars
</span></span><span class="line"><span class="cl">│  └── server
</span></span><span class="line"><span class="cl">│      ├── defaults
</span></span><span class="line"><span class="cl">│      ├── files
</span></span><span class="line"><span class="cl">│      ├── handlers
</span></span><span class="line"><span class="cl">│      ├── meta
</span></span><span class="line"><span class="cl">│      ├── tasks
</span></span><span class="line"><span class="cl">│      ├── templates
</span></span><span class="line"><span class="cl">│      └── vars
</span></span></code></pre>
<p>As explained above, each role corresponds to an element of the configuration deployed by <a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/playbook-deploy.yml">playbook-deploy.yml</a> playbook.</p>

<ul>
<li><strong><a href="https://gitlab.com/gazerad/website-core/-/tree/main/deployments/ansible/roles/application">application</a></strong> : the containerized website</li>
<li><strong><a href="https://gitlab.com/gazerad/website-core/-/tree/main/deployments/ansible/roles/monitoring">monitoring</a></strong> : the Grafana-Prometheus-Node monitoring solution.</li>
<li><strong><a href="https://gitlab.com/gazerad/website-core/-/tree/main/deployments/ansible/roles/reverse_proxy">reverse_proxy</a></strong> : the Nginx reverse proxy, which manages certificates and routes incoming traffic to the desired endpoint.</li>
</ul>

<p>In each case, we are going to deploy a <strong>Docker Compose</strong> environment that will run the services making up the deployed application in the background.</p>

<p>The <a href="https://gitlab.com/gazerad/website-core/-/tree/main/deployments/ansible/roles/server">server</a> role is used by the <a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/playbook-setup.yml">playbook-setup.yml</a> playbook, which handles the configuration of target servers (installation of Debian packages, Docker, etc.).
which we will not detail here.</p>

<p>Since all roles have the same structure, we&rsquo;ll focus on the <strong><a href="https://gitlab.com/gazerad/website-core/-/tree/main/deployments/ansible/roles/reverse_proxy">reverse_proxy</a></strong> role to describe its contents.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">    ├── reverse_proxy
</span></span><span class="line"><span class="cl">    │   ├── defaults
</span></span><span class="line"><span class="cl">    │   │   └── main.yml
</span></span><span class="line"><span class="cl">    │   ├── files
</span></span><span class="line"><span class="cl">    │   │   └── certs
</span></span><span class="line"><span class="cl">    │   │       ├── application
</span></span><span class="line"><span class="cl">    │   │       │   ├── gazerad.crt
</span></span><span class="line"><span class="cl">    │   │       │   ├── gazerad-int.crt
</span></span><span class="line"><span class="cl">    │   │       │   ├── gazerad-int.key.vault
</span></span><span class="line"><span class="cl">    │   │       │   └── gazerad.key.vault
</span></span><span class="line"><span class="cl">    │   │       └── monitoring
</span></span><span class="line"><span class="cl">    │   │           ├── monitoring.crt
</span></span><span class="line"><span class="cl">    │   │           ├── monitoring-int.crt
</span></span><span class="line"><span class="cl">    │   │           ├── monitoring-int.key.vault
</span></span><span class="line"><span class="cl">    │   │           └── monitoring.key.vault
</span></span><span class="line"><span class="cl">    │   ├── handlers
</span></span><span class="line"><span class="cl">    │   │   └── main.yml
</span></span><span class="line"><span class="cl">    │   ├── meta
</span></span><span class="line"><span class="cl">    │   │   └── main.yml
</span></span><span class="line"><span class="cl">    │   ├── tasks
</span></span><span class="line"><span class="cl">    │   │   ├── common_certs.yml
</span></span><span class="line"><span class="cl">    │   │   ├── le_certs.yml
</span></span><span class="line"><span class="cl">    │   │   └── main.yml
</span></span><span class="line"><span class="cl">    │   ├── templates
</span></span><span class="line"><span class="cl">    │   │   ├── docker-compose-le-init.yml.j2
</span></span><span class="line"><span class="cl">    │   │   ├── docker-compose-le.yml.j2
</span></span><span class="line"><span class="cl">    │   │   ├── docker-compose-with-le.yml.j2
</span></span><span class="line"><span class="cl">    │   │   ├── docker-compose-without-le.yml.j2
</span></span><span class="line"><span class="cl">    │   │   ├── nginx
</span></span><span class="line"><span class="cl">    │   │   │   ├── application
</span></span><span class="line"><span class="cl">    │   │   │   │   └── nginx.conf.j2
</span></span><span class="line"><span class="cl">    │   │   │   └── monitoring
</span></span><span class="line"><span class="cl">    │   │   │       └── nginx.conf.j2
</span></span><span class="line"><span class="cl">    │   │   └── systemd
</span></span><span class="line"><span class="cl">    │   │       ├── renew-certs.service.j2
</span></span><span class="line"><span class="cl">    │   │       └── renew-certs.timer.j2
</span></span><span class="line"><span class="cl">    │   └── vars
</span></span><span class="line"><span class="cl">    │       ├── common_certs.yml
</span></span><span class="line"><span class="cl">    │       └── le_certs.yml
</span></span></code></pre>
<ul>
<li><strong><a href="https://gitlab.com/gazerad/website-core/-/tree/main/deployments/ansible/roles/reverse_proxy/defaults">defaults</a></strong>: this directory contains the definition of <strong>default values</strong> for role-specific variables. Its contents are automatically read by Ansible when a playbook is run, so there is no need to specifically include the component files. Note the use of the <strong>Jinja2</strong> <code>{{ varname }}</code> structure to retrieve the value of a previously defined variable.</li>
</ul>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="w">  </span><span class="c"># Nginx configuration</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">nginx_dir</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;{{ reverse_proxy_dir }}/nginx&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">nginx_conf_dir</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;{{ reverse_proxy_dir }}/nginx/conf&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">nginx_mywebsite_path</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;{{ nginx_conf_dir }}/mywebsite.conf&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">nginx_monitoring_path</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;{{ nginx_conf_dir }}/monitoring.conf&#34;</span><span class="w">
</span></span></span></code></pre>
<ul>
<li><p><strong><a href="https://gitlab.com/gazerad/website-core/-/tree/main/deployments/ansible/roles/reverse_proxy/files">files</a></strong>: this directory contains files (configuration or other) that will be deployed as is, without modification, by the playbook.</p></li>

<li><p><strong><a href="https://gitlab.com/gazerad/website-core/-/tree/main/deployments/ansible/roles/reverse_proxy/handlers">handlers</a></strong>: here we have the <a href="https://docs.ansible.com/ansible/latest/playbook_guide/playbooks_handlers.html">handlers</a> used to trigger events after a task has reached <code>changed</code> status. By default, handlers are executed at the end of the playbook, but it is possible to force them to be launched immediately after a task. It is generally useful to define service stop-start events, which can also be called by other roles in the event of dependency.</p></li>
</ul>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="w">  </span>- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="l">Stop reverse proxy docker compose</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">docker_compose_v2</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">project_src</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;{{ reverse_proxy_dir }}&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">docker_host</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;{{ docker_host }}&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">state</span><span class="p">:</span><span class="w"> </span><span class="l">absent</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">become_user</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  
</span></span></span><span class="line"><span class="cl"><span class="w">  </span>- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="l">Start reverse proxy docker compose</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">docker_compose_v2</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">project_src</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;{{ reverse_proxy_dir }}&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">docker_host</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;{{ docker_host }}&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">state</span><span class="p">:</span><span class="w"> </span><span class="l">present</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">become_user</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite</span><span class="w">
</span></span></span></code></pre>
<ul>
<li><strong><a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/roles/reverse_proxy/meta">meta</a></strong>: this section is dedicated to the role&rsquo;s metadata. It is especially useful to fill it in when we wish to publish the role on <a href="https://galaxy.ansible.com">Ansible Galaxy</a>. In our case, we will just indicate dependencies on Ansible Galaxy modules.</li>
</ul>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="w">  </span><span class="nt">collections</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">ansible.builtin</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">community.docker</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">community.general</span><span class="w">
</span></span></span></code></pre>
<ul>
<li><p><strong><a href="https://gitlab.com/gazerad/website-core/-/tree/main/deployments/ansible/roles/reverse_proxy/tasks">tasks</a></strong>: this directory contains the <strong>definition of tasks</strong> that will be executed by the playbook into which the role is imported. The file <a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/roles/reverse_proxy/tasks/main.yml">main.yml</a> is automatically read when the role is imported; we also see two files <a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/roles/reverse_proxy/tasks/common_certs.yml">common_certs.yml</a> and <a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/roles/reverse_proxy/tasks/common_certs.yml">le_certs.yml</a> which are directly mentioned in the <a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/roles/reverse_proxy/tasks/main.yml">main.yml</a> with the <code>import_tasks</code> directive.</p></li>

<li><p><strong><a href="https://gitlab.com/gazerad/website-core/-/tree/main/deployments/ansible/roles/reverse_proxy/templates">templates</a></strong>: here we have files deployed on the target servers, but unlike the <a href="https://gitlab.com/gazerad/website-core/-/tree/main/deployments/ansible/roles/reverse_proxy/files">files</a> directory, they contain <strong>variabilized parts</strong> in <strong>Jinja2</strong> <code>{ varname }}</code> form, which will be filled in during task execution. For example, for the <strong>Docker Compose</strong> file below:</p></li>
</ul>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="w">  </span><span class="c"># {{ ansible_managed | comment }}</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">services</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">reverse_proxy</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">nginx:{{ versions.nginx }}</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l">reverse_proxy</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">restart</span><span class="p">:</span><span class="w"> </span><span class="l">always</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">frontend</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">monitoring</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">ports</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="m">80</span><span class="p">:</span><span class="m">80</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="m">443</span><span class="p">:</span><span class="m">443</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="s2">&#34;{{ nginx_mywebsite_path }}:/etc/nginx/conf.d/mywebsite.conf:ro&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="s2">&#34;{{ nginx_monitoring_path }}:/etc/nginx/conf.d/monitoring.conf:ro&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span><span class="c"># - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="s2">&#34;{{ nginx_certs_dir }}:{{ nginx_container_certs_dir }}:ro&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">certs:/etc/letsencrypt</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="s2">&#34;{{ nginx_log_dir }}:/var/log/nginx&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">networks</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">frontend</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite-frontend</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">external</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">monitoring</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite-monitoring</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">external</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">volumes</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">certs</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="l">letsencrypt</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">external</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
</span></span></span></code></pre>
<ul>
<li><strong><a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/roles/reverse_proxy/vars">vars</a></strong>: this section contains definitions of <strong>variables that are more specific</strong> than those in the <a href="https://gitlab.com/gazerad/website-core/-/tree/main/deployments/ansible/roles/reverse_proxy/defaults">defaults</a> section, and which might overload these ones. In our case, we needed to <strong>conditionally</strong> define variables (which in this case depend on the value of a variable defined in the inventory), so we created two files that will be included in tasks in this way:</li>
</ul>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="w">  </span>- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="l">Include related variables</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">include_vars</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">file</span><span class="p">:</span><span class="w"> </span><span class="l">le_certs.yml</span><span class="w">
</span></span></span></code></pre><h3 class="fw-bold mt-4 mb-3" id="playbook-definition"><span>Playbook definition </span><a class="icon-link icon-link-hover text-secondary" href="#playbook-definition">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3><pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">├── playbook-deploy.yml
</span></span></code></pre>
<p>Finally, the playbook <strong>orchestrates the roles</strong> in order to execute the application deployment on the selected inventory.</p>

<p>In our case, we have defined three &ldquo;sub-playbooks&rdquo; so that we can trigger their corresponding <strong>handlers</strong> at the end of each one.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="l">Deploy application playbook</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">hosts</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">become</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">gather_facts</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">roles</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">role</span><span class="p">:</span><span class="w"> </span><span class="l">application</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">tags</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">application</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span>- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="l">Deploy monitoring playbook</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">hosts</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">become</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">gather_facts</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">roles</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">role</span><span class="p">:</span><span class="w"> </span><span class="l">monitoring</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">tags</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">monitoring</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span>- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="l">Deploy reverse proxy playbook</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">hosts</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">become</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">gather_facts</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">roles</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">role</span><span class="p">:</span><span class="w"> </span><span class="l">reverse_proxy</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">tags</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">application</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">monitoring</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">reverse_proxy</span><span class="w">
</span></span></span></code></pre>
<p>If we had chosen to define a single playbook executing the roles in succession, we would have done so (but then, the handlers would only have been executed at the end of the complete playbook):</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl">- <span class="nt">name</span><span class="p">:</span><span class="w"> </span><span class="l">Applicative deployment playbook</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">hosts</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">become</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">gather_facts</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">roles</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">role</span><span class="p">:</span><span class="w"> </span><span class="l">application</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">tags</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">application</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">role</span><span class="p">:</span><span class="w"> </span><span class="l">monitoring</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">tags</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">monitoring</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="nt">role</span><span class="p">:</span><span class="w"> </span><span class="l">reverse_proxy</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">      </span><span class="nt">tags</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">application</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">monitoring</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">        </span>- <span class="l">reverse_proxy</span><span class="w">
</span></span></span></code></pre>
<p>Let&rsquo;s note a few points:</p>

<ul>
<li><code>tags</code>: roles are assigned a list of tags, allowing the playbook to be run for <strong>only certain tasks</strong> and not all of them. For example, if I only want to deploy the integration application, I&rsquo;ll add the <code>application</code> tag to the playbook execution command, which will run the <code>application</code> and <code>reverse_proxy</code> roles.</li>
</ul>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="w">  </span><span class="l">ansible-playbook -i inventories/int --tags application playbook-deploy.yml</span><span class="w">
</span></span></span></code></pre>
<ul>
<li><p><code>hosts</code>: here we refer to the <a href="https://gitlab.com/gazerad/website-core/-/blob/main/deployments/ansible/inventories/prod/hosts?ref_type=heads">hosts</a> file of the <strong>inventory</strong>, giving the name of the list of servers on which the playbook will be run.</p></li>

<li><p><code>become: true</code>: this indicates that the <code>ansible</code> user who will run the playbook on the target servers will have <code>sudo</code> rights, which will be useful for &ldquo;becoming&rdquo; another user on the server (in our case, the <code>mywebsite</code> user).</p></li>

<li><p><code>gather_facts: true</code>: this is the default value for determining whether the playbook retrieves <a href="https://docs.ansible.com/ansible/latest/playbook_guide/playbooks_vars_facts.html">facts</a>. We&rsquo;ve specified the directive so that we can easily change it to <code>false</code> if we feel we no longer need the facts.</p></li>
</ul>
<h2 id="gitlab-ci-deployment-pipeline" class="mt-4"><span>Gitlab CI deployment pipeline </span><a class="icon-link icon-link-hover text-secondary" href="#gitlab-ci-deployment-pipeline">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a><hr></h2>
<p>We will now describe how to use Gitlab CI and its automatically triggered pipelines to deploy our application using the Ansible playbook described above.</p>
<h3 class="fw-bold mt-4 mb-3" id="pipeline-execution-workflow"><span>Pipeline execution workflow </span><a class="icon-link icon-link-hover text-secondary" href="#pipeline-execution-workflow">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>The Gitlab <a href="https://gitlab.com/gazerad/website-core">Website Core</a> project has a CI/CD pipeline that builds the application and publishes the Docker image to <a href="https://hub.docker.com/r/gazerad/mywebsite">Docker Hub</a>.</p>

<p>We will simply add a <code>deploy</code> step at the end of the pipeline to ensure deployment on the integration and production environments, following these guidelines:</p>

<ul>
<li>A job will be defined in the <code>deploy</code> step for each environment: <code>deploy-server-int</code> and <code>deploy-server-prod</code>.</li>
<li>The <code>deploy-server-int</code> job will be run <strong>automatically</strong>, while <code>deploy-server-prod</code> will be run <strong>manually</strong>.</li>
<li><code>deploy-server-prod</code> depends on the <strong>proper execution</strong> of <code>deploy-server-int</code>. In the event of an error, its launch will be blocked.</li>
<li>The <strong>trigger</strong> events that will add these jobs to the pipeline are :

<ul>
<li><code>deploy-server-int</code>: a <em>release candidate</em> tag (<code>X.X.X-rcX</code> where X is a native integer) or a <em>release</em> tag (<code>X.X.X</code>)</li>
<li><code>deploy-server-prod</code>: a <em>release</em> tag (<code>X.X.X</code>), and execution will be manual.</li>
</ul></li>
</ul>

<p>When the conditions have been met to add the deployment to the pipeline, the <code>deploy</code> step will be displayed in the Gitlab pipelines menu as follows:</p>

<p><img src="/static/images/articles/deploy-gitlab-ansible/pipeline_deploy_1.png" alt="Gitlab CI pipleline" width="225"/></p>
<h3 class="fw-bold mt-4 mb-3" id="gitlab-ci-code"><span>Gitlab CI code </span><a class="icon-link icon-link-hover text-secondary" href="#gitlab-ci-code">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>The <a href="https://gitlab.com/gazerad/website-core/-/blob/main/.gitlab-ci.yml">.gitlab-ci.yml</a> file in the <a href="https://gitlab.com/gazerad/website-core">Website Core</a> project applies the previous execution flow in the <code>deploy</code> step.</p>

<p>Below, we will describe the contents of the deployment jobs that run the Ansible playbook.</p>
<pre tabindex="0" class="chroma"><code><span class="line"><span class="cl"><span class="nt">variables</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="l">...</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">ANSIBLE_VERSION</span><span class="p">:</span><span class="w"> </span>!<span class="l">reference [ .dependencies, images, ansible ]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">stages</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="l">...</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span>- <span class="l">deploy</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nn">...</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="c"># Job to manage the deployment of the application to a Linux server with Ansible</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">deploy-server-int</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">stage</span><span class="p">:</span><span class="w"> </span><span class="l">deploy</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l">${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/cytopia/ansible:$ANSIBLE_VERSION</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">rules</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- !<span class="l">reference [.rules, tag_release_candidate]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- !<span class="l">reference [.rules, tag_release]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- !<span class="l">reference [.rules, deploy_release_candidate]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- !<span class="l">reference [.rules, deploy_release]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">variables</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ANSIBLE_FORCE_COLOR</span><span class="p">:</span><span class="w"> </span><span class="s1">&#39;true&#39;</span><span class="w"> </span><span class="c"># get Ansible colors displayed on Gitlab UI</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">APP_NAME</span><span class="p">:</span><span class="w"> </span><span class="l">mywebsite</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ENV</span><span class="p">:</span><span class="w"> </span><span class="l">int</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">MYWEBSITE_VERSION</span><span class="p">:</span><span class="w"> </span><span class="l">$CI_COMMIT_TAG</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">before_script</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="c"># To resolve potential timeouts on my home network</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">echo -e &#34;\nnameserver 1.1.1.1&#34; &gt;&gt; /etc/resolv.conf</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">script</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">echo &#34;INFO - Application to be deployed is $APP_NAME&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">if [ &#34;X$ENV&#34; == &#34;X&#34; ]; then ENV=$(echo &#34;$CI_JOB_NAME&#34; | awk -F &#34;_|-&#34; &#39;{print $NF}&#39;); fi</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">echo &#34;INFO - Environment is $ENV&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="c"># We expect SSH key variables to match the following name : ${APP_NAME}_${ENV}_SSH_(PRIVATE|PUBLIC)_KEY_BASE64</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">SSH_PRIVATE_KEY_BASE64_VARNAME=$(echo &#34;${APP_NAME}_${ENV}_SSH_PRIVATE_KEY_BASE64&#34; | tr &#39;[:lower:]&#39; &#39;[:upper:]&#39;)</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">eval &#34;SSH_PRIVATE_KEY_BASE64=\${$SSH_PRIVATE_KEY_BASE64_VARNAME}&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">SSH_PUBLIC_KEY_BASE64_VARNAME=$(echo &#34;${APP_NAME}_${ENV}_SSH_PUBLIC_KEY_BASE64&#34; | tr &#39;[:lower:]&#39; &#39;[:upper:]&#39;)</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">eval &#34;SSH_PUBLIC_KEY_BASE64=\${$SSH_PUBLIC_KEY_BASE64_VARNAME}&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="c"># Test if required variables are filled</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="p">|-</span><span class="sd">
</span></span></span><span class="line"><span class="cl"><span class="sd">      if [ &#34;X$APP_NAME&#34; == &#34;X&#34; ] || [ &#34;X$ENV&#34; == &#34;X&#34; ] || [ &#34;X$SSH_PRIVATE_KEY_BASE64&#34; == &#34;X&#34; ] || [ &#34;X$SSH_PUBLIC_KEY_BASE64&#34; == &#34;X&#34; ]
</span></span></span><span class="line"><span class="cl"><span class="sd">      then
</span></span></span><span class="line"><span class="cl"><span class="sd">        echo &#34;ERROR - One of the required variable was missing. Please check your configuration.&#34;
</span></span></span><span class="line"><span class="cl"><span class="sd">        exit 1
</span></span></span><span class="line"><span class="cl"><span class="sd">      fi      </span><span class="w">      
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="c"># Setup SSH key pair that will be used to authenticate against target server</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">echo &#34;INFO - Adding SSH key pair provided by Gitlab project variables to local SSH configuration&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">mkdir -p ~/.ssh</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">echo &#34;$SSH_PRIVATE_KEY_BASE64&#34; | base64 -d &gt; ~/.ssh/id_ed25519</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">chmod 600 ~/.ssh/id_ed25519</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">echo &#34;$SSH_PUBLIC_KEY_BASE64&#34; | base64 -d &gt; ~/.ssh/id_ed25519.pub</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="c"># Add target host fingerprint to local known_hosts</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="c"># We consider here potentially multiple hosts related to the application (not the current use case though)</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">APPLICATION_SERVER_FQDN_LIST=$(grep $APP_NAME deployments/ansible/inventories/${ENV}/hosts | awk &#39;BEGIN{RS=&#34; &#34;; FS=&#34;ansible_host=&#34;}NF&gt;1{print $NF}&#39;)</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">echo &#34;INFO - Adding host fingerprints to local known_host for $APP_NAME application servers FQDN list ($ENV environment) - $(echo $APPLICATION_SERVER_FQDN_LIST)&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="p">|-</span><span class="sd">
</span></span></span><span class="line"><span class="cl"><span class="sd">      for APPLICATION_SERVER_FQDN in $APPLICATION_SERVER_FQDN_LIST; do
</span></span></span><span class="line"><span class="cl"><span class="sd">        # If we are in integration, we edit /etc/hosts to add the IP address of the target server
</span></span></span><span class="line"><span class="cl"><span class="sd">        if [ &#34;$ENV&#34; == &#34;int&#34; ]; then
</span></span></span><span class="line"><span class="cl"><span class="sd">          IP_ADDR_VARNAME=$(echo &#34;${APP_NAME}_${ENV}_IP_ADDR&#34; | tr &#39;[:lower:]&#39; &#39;[:upper:]&#39;)
</span></span></span><span class="line"><span class="cl"><span class="sd">          eval &#34;IP_ADDR=\${$IP_ADDR_VARNAME}&#34;
</span></span></span><span class="line"><span class="cl"><span class="sd">          echo -e &#34;\n$IP_ADDR $APPLICATION_SERVER_FQDN&#34; &gt;&gt; /etc/hosts
</span></span></span><span class="line"><span class="cl"><span class="sd">        fi
</span></span></span><span class="line"><span class="cl"><span class="sd">        ssh-keyscan -H $APPLICATION_SERVER_FQDN &gt;&gt; ~/.ssh/known_hosts
</span></span></span><span class="line"><span class="cl"><span class="sd">      done</span><span class="w">      
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="c"># Go to ansible deployments folder</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">cd $CI_PROJECT_DIR/deployments/ansible</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="c"># Setup Ansible vault configuration</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">echo &#34;INFO - Setting up Ansible vault configuration&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">ANSIBLE_VAULT_PASSWORD_VARNAME=$(echo &#34;ANSIBLE_VAULT_PASSWORD_${ENV}&#34; | tr &#39;[:lower:]&#39; &#39;[:upper:]&#39;)</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">eval &#34;ANSIBLE_VAULT_PASSWORD=\${$ANSIBLE_VAULT_PASSWORD_VARNAME}&#34;</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">echo &#34;$ANSIBLE_VAULT_PASSWORD&#34; &gt; .vault_pass</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">export ANSIBLE_VAULT_PASSWORD_FILE=./.vault_pass</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="c"># Launch the Ansible playbook</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- <span class="l">ansible-playbook -i inventories/$ENV playbook-deploy.yml</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="c"># Deployment to prod server</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">deploy-server-prod</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">extends</span><span class="p">:</span><span class="w"> </span><span class="l">deploy-server-int</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">rules</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- !<span class="l">reference [.rules, tag_release]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span>- !<span class="l">reference [.rules, deploy_release]</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">variables</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">    </span><span class="nt">ENV</span><span class="p">:</span><span class="w"> </span><span class="l">prod</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">when</span><span class="p">:</span><span class="w"> </span><span class="l">manual</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">needs</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w"> </span><span class="s2">&#34;deploy-server-int&#34;</span><span class="w"> </span><span class="p">]</span><span class="w">
</span></span></span></code></pre>
<p>To summarize, the steps in the deployment job are as follows:</p>

<ul>
<li>Retrieve the <strong>SSH keys</strong> from the Gitlab <strong>project variables</strong> and according to the application/environment pairing (<code>mywebsite/int</code> or <code>mywebsite/prod</code> here)</li>
<li>Modification of the <strong>ssh configuration</strong> of the container in which the job is run, so that the keys can be used directly.</li>
<li>Adding the <strong>fingerprint</strong> of the server(s) on which you&rsquo;re deploying. This is essential so that no confirmation is requested when the playbook is run.</li>
<li>Installation of the <strong>Ansible Vault configuration</strong>: this involves retrieving the Vault password corresponding to the given environment from the Gitlab project variables, and writing it to a <code>.vault_pass</code> file in the playbook location.</li>
<li>Running the <code>playbook-deploy.yml</code> playbook with the inventory of the given environment</li>
</ul>

<p>We can also see that :</p>

<ul>
<li>Jobs are run in a <strong>container</strong> created from the image <a href="https://hub.docker.com/r/cytopia/ansible">cytopia/ansible</a>, which provides a containerized version of Ansible.</li>
<li>The <code>ANSIBLE_FORCE_COLOR: 'true'</code> variable is used to display &ldquo;Ansible&rdquo; colors in the job execution log.</li>
<li>The <code>deploy-server-prod</code> job is simply an <strong>extension</strong> of the <code>deploy-server-int</code> job, with the redefinition of a few variables.</li>
<li>This same <code>deploy-server-prod</code> job <strong>depends</strong> on the <code>deploy-server-int</code> job, even though it belongs to the same <code>deploy</code> step, thanks to the use of <code>needs</code> keywords in its parameters.</li>
</ul>
<h3 class="fw-bold mt-4 mb-3" id="pipeline-output"><span>Pipeline output </span><a class="icon-link icon-link-hover text-secondary" href="#pipeline-output">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
	<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
	<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
</svg>		
		</a></h3>
<p>When a pipeline is executed, the output will look like below on the Gitlab interface (with Ansible colors).</p>

<p><img src="/static/images/articles/deploy-gitlab-ansible/pipeline_deploy_2.png" alt="Gitlab CI pipleline" width="100%"/></p>

<p>We can notice some keywords that indicate the Ansible status for each task:</p>

<ul>
<li><code>ok</code>: indicates that the task has not produced any changes on the server (e.g. copying an identical file)</li>
<li><code>changed</code>: the task has produced changes on the servers (file modification, docker compose startup, &hellip;)</li>
<li><code>skipping</code>: the task was not executed because the conditions (when) were not met</li>
<li><code>fatal</code>: task execution resulted in an error; stops the entire playbook by default, or use <code>ignore_errors : true</code> to bypass the error</li>
</ul>
